<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>17.3365</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>10.0843</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>8.3041</td>
    </tr>
  </tbody>
</table>