<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>7.8074</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>11.6754</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>19.1514</td>
    </tr>
  </tbody>
</table>