<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>7.7340</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>12.6342</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>16.2130</td>
    </tr>
  </tbody>
</table>