<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>-4.4845</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-11.5443</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>-12.8961</td>
    </tr>
  </tbody>
</table>