<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>10.2292</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>3.6278</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>5.3864</td>
    </tr>
  </tbody>
</table>