<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>12.7974</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>6.5396</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>7.5748</td>
    </tr>
  </tbody>
</table>