<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.8258</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>11.7260</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>15.3048</td>
    </tr>
  </tbody>
</table>