<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.1172</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-0.5142</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>-2.6518</td>
    </tr>
  </tbody>
</table>