<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>3.4372</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-2.6804</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>-6.9910</td>
    </tr>
  </tbody>
</table>