<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.5816</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.5454</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>21.7410</td>
    </tr>
  </tbody>
</table>