<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>8.8175</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.8687</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>19.7905</td>
    </tr>
  </tbody>
</table>