<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>3.9909</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-1.6501</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>1.7179</td>
    </tr>
  </tbody>
</table>