<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>9.5563</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>2.1655</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>5.4421</td>
    </tr>
  </tbody>
</table>