<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>15.9346</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.5390</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>7.4318</td>
    </tr>
  </tbody>
</table>