<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>7.3801</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.6933</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>18.6401</td>
    </tr>
  </tbody>
</table>