<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>0.3317</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>0.3795</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>0.7607</td>
    </tr>
  </tbody>
</table>