<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>13.9648</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>9.1398</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>8.5534</td>
    </tr>
  </tbody>
</table>