<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>11.4955</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>13.1391</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>18.5007</td>
    </tr>
  </tbody>
</table>