<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.8616</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-2.3992</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>4.1580</td>
    </tr>
  </tbody>
</table>