<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>model</th>
      <th>effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Long Only</td>
      <td>6.6951</td>
    </tr>
    <tr>
      <td>Linear Regression</td>
      <td>-2.3247</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>4.2325</td>
    </tr>
  </tbody>
</table>