<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>slope2</th>
      <th>slope3</th>
      <th>slope4</th>
      <th>slope5</th>
      <th>slope6</th>
      <th>slope7</th>
      <th>slope8</th>
      <th>slope9</th>
      <th>dow</th>
      <th>moy</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2017-01-03</td>
      <td>2257.8301</td>
      <td>0.5722</td>
      <td>0.1906</td>
      <td>0.1173</td>
      <td>-0.1228</td>
      <td>-0.0529</td>
      <td>-0.0231</td>
      <td>-0.0465</td>
      <td>-0.0716</td>
      <td>-0.0231</td>
      <td>0.02</td>
      <td>0.01</td>
      <td>0.005890</td>
      <td>0.510538</td>
      <td>0.5722</td>
      <td>0.5722</td>
    </tr>
    <tr>
      <td>2017-01-04</td>
      <td>2270.7500</td>
      <td>-0.0771</td>
      <td>0.7049</td>
      <td>0.3176</td>
      <td>0.2310</td>
      <td>0.0166</td>
      <td>0.0514</td>
      <td>0.0620</td>
      <td>0.0308</td>
      <td>-0.0000</td>
      <td>0.03</td>
      <td>0.01</td>
      <td>-0.025076</td>
      <td>0.500295</td>
      <td>0.0771</td>
      <td>-0.0771</td>
    </tr>
    <tr>
      <td>2017-01-05</td>
      <td>2269.0000</td>
      <td>0.3517</td>
      <td>0.2460</td>
      <td>0.4438</td>
      <td>0.2184</td>
      <td>0.1691</td>
      <td>0.0009</td>
      <td>0.0330</td>
      <td>0.0445</td>
      <td>0.0188</td>
      <td>0.04</td>
      <td>0.01</td>
      <td>-0.014786</td>
      <td>0.511717</td>
      <td>-0.3517</td>
      <td>0.3517</td>
    </tr>
    <tr>
      <td>2017-01-06</td>
      <td>2276.9800</td>
      <td>-0.3549</td>
      <td>0.1370</td>
      <td>0.2809</td>
      <td>0.4204</td>
      <td>0.2450</td>
      <td>0.1995</td>
      <td>0.0512</td>
      <td>0.0729</td>
      <td>0.0787</td>
      <td>0.05</td>
      <td>0.01</td>
      <td>0.017161</td>
      <td>0.525161</td>
      <td>-0.3549</td>
      <td>-0.3549</td>
    </tr>
    <tr>
      <td>2017-01-09</td>
      <td>2268.8999</td>
      <td>0.0000</td>
      <td>-0.0022</td>
      <td>-0.0271</td>
      <td>0.1218</td>
      <td>0.2651</td>
      <td>0.1446</td>
      <td>0.1199</td>
      <td>0.0001</td>
      <td>0.0251</td>
      <td>0.01</td>
      <td>0.01</td>
      <td>-0.025334</td>
      <td>0.508191</td>
      <td>-0.0000</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <td>2017-01-10</td>
      <td>2268.8999</td>
      <td>0.2830</td>
      <td>-0.1781</td>
      <td>-0.0015</td>
      <td>-0.0204</td>
      <td>0.0975</td>
      <td>0.2209</td>
      <td>0.1239</td>
      <td>0.1049</td>
      <td>0.0001</td>
      <td>0.02</td>
      <td>0.01</td>
      <td>0.037855</td>
      <td>0.518037</td>
      <td>0.2830</td>
      <td>0.2830</td>
    </tr>
    <tr>
      <td>2017-01-11</td>
      <td>2275.3201</td>
      <td>-0.2145</td>
      <td>0.1413</td>
      <td>-0.0244</td>
      <td>0.0695</td>
      <td>0.0402</td>
      <td>0.1283</td>
      <td>0.2297</td>
      <td>0.1438</td>
      <td>0.1247</td>
      <td>0.03</td>
      <td>0.01</td>
      <td>-0.038161</td>
      <td>0.494868</td>
      <td>0.2145</td>
      <td>0.2145</td>
    </tr>
    <tr>
      <td>2017-01-12</td>
      <td>2270.4399</td>
      <td>0.1850</td>
      <td>0.0339</td>
      <td>0.0226</td>
      <td>-0.0720</td>
      <td>0.0127</td>
      <td>-0.0023</td>
      <td>0.0793</td>
      <td>0.1741</td>
      <td>0.1038</td>
      <td>0.04</td>
      <td>0.01</td>
      <td>-0.013383</td>
      <td>0.504193</td>
      <td>-0.1850</td>
      <td>0.1850</td>
    </tr>
    <tr>
      <td>2017-01-13</td>
      <td>2274.6399</td>
      <td>-0.2968</td>
      <td>-0.0150</td>
      <td>0.0842</td>
      <td>0.0632</td>
      <td>-0.0206</td>
      <td>0.0414</td>
      <td>0.0245</td>
      <td>0.0925</td>
      <td>0.1753</td>
      <td>0.05</td>
      <td>0.01</td>
      <td>0.012077</td>
      <td>0.514165</td>
      <td>-0.2968</td>
      <td>-0.2968</td>
    </tr>
    <tr>
      <td>2017-01-17</td>
      <td>2267.8899</td>
      <td>0.0000</td>
      <td>-0.0561</td>
      <td>-0.1091</td>
      <td>-0.0111</td>
      <td>-0.0089</td>
      <td>-0.0667</td>
      <td>-0.0070</td>
      <td>-0.0157</td>
      <td>0.0492</td>
      <td>0.02</td>
      <td>0.01</td>
      <td>0.011114</td>
      <td>0.509534</td>
      <td>0.0000</td>
      <td>0.0000</td>
    </tr>
  </tbody>
</table>