<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2292.9391</td>
      <td>0.012317</td>
      <td>0.514663</td>
    </tr>
    <tr>
      <td>2297.5713</td>
      <td>0.000112</td>
      <td>0.511703</td>
    </tr>
    <tr>
      <td>2302.2035</td>
      <td>-0.012050</td>
      <td>0.508753</td>
    </tr>
    <tr>
      <td>2306.8357</td>
      <td>-0.024136</td>
      <td>0.505814</td>
    </tr>
    <tr>
      <td>2311.4679</td>
      <td>-0.036272</td>
      <td>0.502870</td>
    </tr>
    <tr>
      <td>2316.1001</td>
      <td>-0.048348</td>
      <td>0.499934</td>
    </tr>
    <tr>
      <td>2320.7323</td>
      <td>-0.060455</td>
      <td>0.496993</td>
    </tr>
    <tr>
      <td>2325.3645</td>
      <td>-0.072475</td>
      <td>0.494073</td>
    </tr>
    <tr>
      <td>2329.9967</td>
      <td>-0.084547</td>
      <td>0.491142</td>
    </tr>
    <tr>
      <td>2334.6289</td>
      <td>-0.096550</td>
      <td>0.488224</td>
    </tr>
    <tr>
      <td>2339.2611</td>
      <td>-0.108577</td>
      <td>0.485307</td>
    </tr>
  </tbody>
</table>