<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2105.750</td>
      <td>0.225</td>
      <td>0.551</td>
    </tr>
    <tr>
      <td>2110.004</td>
      <td>0.213</td>
      <td>0.548</td>
    </tr>
    <tr>
      <td>2114.258</td>
      <td>0.202</td>
      <td>0.545</td>
    </tr>
    <tr>
      <td>2118.512</td>
      <td>0.190</td>
      <td>0.542</td>
    </tr>
    <tr>
      <td>2122.766</td>
      <td>0.179</td>
      <td>0.539</td>
    </tr>
    <tr>
      <td>2127.020</td>
      <td>0.167</td>
      <td>0.536</td>
    </tr>
    <tr>
      <td>2131.274</td>
      <td>0.156</td>
      <td>0.533</td>
    </tr>
    <tr>
      <td>2135.528</td>
      <td>0.144</td>
      <td>0.530</td>
    </tr>
    <tr>
      <td>2139.782</td>
      <td>0.132</td>
      <td>0.527</td>
    </tr>
    <tr>
      <td>2144.036</td>
      <td>0.121</td>
      <td>0.524</td>
    </tr>
    <tr>
      <td>2148.290</td>
      <td>0.110</td>
      <td>0.521</td>
    </tr>
  </tbody>
</table>