<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2111.2245</td>
      <td>0.126852</td>
      <td>0.532819</td>
    </tr>
    <tr>
      <td>2115.4896</td>
      <td>0.115295</td>
      <td>0.529829</td>
    </tr>
    <tr>
      <td>2119.7547</td>
      <td>0.103714</td>
      <td>0.526832</td>
    </tr>
    <tr>
      <td>2124.0198</td>
      <td>0.092122</td>
      <td>0.523837</td>
    </tr>
    <tr>
      <td>2128.2849</td>
      <td>0.080562</td>
      <td>0.520843</td>
    </tr>
    <tr>
      <td>2132.5500</td>
      <td>0.069060</td>
      <td>0.517858</td>
    </tr>
    <tr>
      <td>2136.8151</td>
      <td>0.057518</td>
      <td>0.514873</td>
    </tr>
    <tr>
      <td>2141.0802</td>
      <td>0.046045</td>
      <td>0.511891</td>
    </tr>
    <tr>
      <td>2145.3453</td>
      <td>0.034575</td>
      <td>0.508919</td>
    </tr>
    <tr>
      <td>2149.6104</td>
      <td>0.023089</td>
      <td>0.505938</td>
    </tr>
    <tr>
      <td>2153.8755</td>
      <td>0.011659</td>
      <td>0.502972</td>
    </tr>
  </tbody>
</table>