<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2636.2216</td>
      <td>0.085838</td>
      <td>0.520345</td>
    </tr>
    <tr>
      <td>2641.5473</td>
      <td>0.073669</td>
      <td>0.517385</td>
    </tr>
    <tr>
      <td>2646.8730</td>
      <td>0.061500</td>
      <td>0.514432</td>
    </tr>
    <tr>
      <td>2652.1987</td>
      <td>0.049388</td>
      <td>0.511487</td>
    </tr>
    <tr>
      <td>2657.5244</td>
      <td>0.037241</td>
      <td>0.508532</td>
    </tr>
    <tr>
      <td>2662.8501</td>
      <td>0.025164</td>
      <td>0.505596</td>
    </tr>
    <tr>
      <td>2668.1758</td>
      <td>0.013043</td>
      <td>0.502642</td>
    </tr>
    <tr>
      <td>2673.5015</td>
      <td>0.000972</td>
      <td>0.499708</td>
    </tr>
    <tr>
      <td>2678.8272</td>
      <td>-0.011050</td>
      <td>0.496777</td>
    </tr>
    <tr>
      <td>2684.1529</td>
      <td>-0.023063</td>
      <td>0.493859</td>
    </tr>
    <tr>
      <td>2689.4786</td>
      <td>-0.035075</td>
      <td>0.490932</td>
    </tr>
  </tbody>
</table>