<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2404.0864</td>
      <td>0.125873</td>
      <td>0.517873</td>
    </tr>
    <tr>
      <td>2408.9432</td>
      <td>0.113753</td>
      <td>0.514940</td>
    </tr>
    <tr>
      <td>2413.7999</td>
      <td>0.101690</td>
      <td>0.512017</td>
    </tr>
    <tr>
      <td>2418.6566</td>
      <td>0.089601</td>
      <td>0.509087</td>
    </tr>
    <tr>
      <td>2423.5134</td>
      <td>0.077557</td>
      <td>0.506168</td>
    </tr>
    <tr>
      <td>2428.3701</td>
      <td>0.065527</td>
      <td>0.503249</td>
    </tr>
    <tr>
      <td>2433.2269</td>
      <td>0.053544</td>
      <td>0.500342</td>
    </tr>
    <tr>
      <td>2438.0836</td>
      <td>0.041525</td>
      <td>0.497426</td>
    </tr>
    <tr>
      <td>2442.9403</td>
      <td>0.029550</td>
      <td>0.494521</td>
    </tr>
    <tr>
      <td>2447.7971</td>
      <td>0.017626</td>
      <td>0.491630</td>
    </tr>
    <tr>
      <td>2452.6538</td>
      <td>0.005712</td>
      <td>0.488739</td>
    </tr>
  </tbody>
</table>