<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2645.9036</td>
      <td>0.145757</td>
      <td>0.534437</td>
    </tr>
    <tr>
      <td>2651.2488</td>
      <td>0.133488</td>
      <td>0.531323</td>
    </tr>
    <tr>
      <td>2656.5941</td>
      <td>0.121239</td>
      <td>0.528207</td>
    </tr>
    <tr>
      <td>2661.9394</td>
      <td>0.109015</td>
      <td>0.525096</td>
    </tr>
    <tr>
      <td>2667.2846</td>
      <td>0.096760</td>
      <td>0.521982</td>
    </tr>
    <tr>
      <td>2672.6299</td>
      <td>0.084600</td>
      <td>0.518882</td>
    </tr>
    <tr>
      <td>2677.9751</td>
      <td>0.072416</td>
      <td>0.515778</td>
    </tr>
    <tr>
      <td>2683.3204</td>
      <td>0.060279</td>
      <td>0.512685</td>
    </tr>
    <tr>
      <td>2688.6657</td>
      <td>0.048110</td>
      <td>0.509581</td>
    </tr>
    <tr>
      <td>2694.0109</td>
      <td>0.036011</td>
      <td>0.506497</td>
    </tr>
    <tr>
      <td>2699.3562</td>
      <td>0.023901</td>
      <td>0.503411</td>
    </tr>
  </tbody>
</table>