<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2339.1919</td>
      <td>0.069001</td>
      <td>0.517295</td>
    </tr>
    <tr>
      <td>2343.9175</td>
      <td>0.056800</td>
      <td>0.514338</td>
    </tr>
    <tr>
      <td>2348.6431</td>
      <td>0.044599</td>
      <td>0.511375</td>
    </tr>
    <tr>
      <td>2353.3688</td>
      <td>0.032450</td>
      <td>0.508430</td>
    </tr>
    <tr>
      <td>2358.0944</td>
      <td>0.020274</td>
      <td>0.505472</td>
    </tr>
    <tr>
      <td>2362.8201</td>
      <td>0.008189</td>
      <td>0.502535</td>
    </tr>
    <tr>
      <td>2367.5457</td>
      <td>-0.003903</td>
      <td>0.499599</td>
    </tr>
    <tr>
      <td>2372.2713</td>
      <td>-0.015992</td>
      <td>0.496661</td>
    </tr>
    <tr>
      <td>2376.9970</td>
      <td>-0.028078</td>
      <td>0.493727</td>
    </tr>
    <tr>
      <td>2381.7226</td>
      <td>-0.040134</td>
      <td>0.490798</td>
    </tr>
    <tr>
      <td>2386.4483</td>
      <td>-0.052135</td>
      <td>0.487886</td>
    </tr>
  </tbody>
</table>