<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2333.5883</td>
      <td>0.116645</td>
      <td>0.528983</td>
    </tr>
    <tr>
      <td>2338.3026</td>
      <td>0.104494</td>
      <td>0.526045</td>
    </tr>
    <tr>
      <td>2343.0170</td>
      <td>0.092330</td>
      <td>0.523098</td>
    </tr>
    <tr>
      <td>2347.7313</td>
      <td>0.080219</td>
      <td>0.520162</td>
    </tr>
    <tr>
      <td>2352.4456</td>
      <td>0.068095</td>
      <td>0.517226</td>
    </tr>
    <tr>
      <td>2357.1599</td>
      <td>0.056008</td>
      <td>0.514292</td>
    </tr>
    <tr>
      <td>2361.8742</td>
      <td>0.043927</td>
      <td>0.511360</td>
    </tr>
    <tr>
      <td>2366.5886</td>
      <td>0.031897</td>
      <td>0.508443</td>
    </tr>
    <tr>
      <td>2371.3029</td>
      <td>0.019824</td>
      <td>0.505511</td>
    </tr>
    <tr>
      <td>2376.0172</td>
      <td>0.007819</td>
      <td>0.502598</td>
    </tr>
    <tr>
      <td>2380.7315</td>
      <td>-0.004153</td>
      <td>0.499691</td>
    </tr>
  </tbody>
</table>