<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2895.3442</td>
      <td>0.128246</td>
      <td>0.525277</td>
    </tr>
    <tr>
      <td>2901.1934</td>
      <td>0.115997</td>
      <td>0.522156</td>
    </tr>
    <tr>
      <td>2907.0425</td>
      <td>0.103804</td>
      <td>0.519050</td>
    </tr>
    <tr>
      <td>2912.8917</td>
      <td>0.091599</td>
      <td>0.515940</td>
    </tr>
    <tr>
      <td>2918.7409</td>
      <td>0.079428</td>
      <td>0.512833</td>
    </tr>
    <tr>
      <td>2924.5901</td>
      <td>0.067299</td>
      <td>0.509741</td>
    </tr>
    <tr>
      <td>2930.4393</td>
      <td>0.055142</td>
      <td>0.506640</td>
    </tr>
    <tr>
      <td>2936.2884</td>
      <td>0.043059</td>
      <td>0.503555</td>
    </tr>
    <tr>
      <td>2942.1376</td>
      <td>0.030971</td>
      <td>0.500471</td>
    </tr>
    <tr>
      <td>2947.9868</td>
      <td>0.018902</td>
      <td>0.497391</td>
    </tr>
    <tr>
      <td>2953.8360</td>
      <td>0.006857</td>
      <td>0.494315</td>
    </tr>
  </tbody>
</table>