<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2578.4253</td>
      <td>0.105171</td>
      <td>0.553796</td>
    </tr>
    <tr>
      <td>2583.6342</td>
      <td>0.092880</td>
      <td>0.550680</td>
    </tr>
    <tr>
      <td>2588.8432</td>
      <td>0.080602</td>
      <td>0.547563</td>
    </tr>
    <tr>
      <td>2594.0521</td>
      <td>0.068350</td>
      <td>0.544451</td>
    </tr>
    <tr>
      <td>2599.2610</td>
      <td>0.056125</td>
      <td>0.541339</td>
    </tr>
    <tr>
      <td>2604.4700</td>
      <td>0.043908</td>
      <td>0.538225</td>
    </tr>
    <tr>
      <td>2609.6789</td>
      <td>0.031734</td>
      <td>0.535121</td>
    </tr>
    <tr>
      <td>2614.8879</td>
      <td>0.019554</td>
      <td>0.532018</td>
    </tr>
    <tr>
      <td>2620.0968</td>
      <td>0.007353</td>
      <td>0.528901</td>
    </tr>
    <tr>
      <td>2625.3057</td>
      <td>-0.004752</td>
      <td>0.525807</td>
    </tr>
    <tr>
      <td>2630.5147</td>
      <td>-0.016875</td>
      <td>0.522709</td>
    </tr>
  </tbody>
</table>