<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2896.2549</td>
      <td>0.118291</td>
      <td>0.530131</td>
    </tr>
    <tr>
      <td>2902.1059</td>
      <td>0.106023</td>
      <td>0.527007</td>
    </tr>
    <tr>
      <td>2907.9569</td>
      <td>0.093794</td>
      <td>0.523890</td>
    </tr>
    <tr>
      <td>2913.8080</td>
      <td>0.081625</td>
      <td>0.520787</td>
    </tr>
    <tr>
      <td>2919.6590</td>
      <td>0.069437</td>
      <td>0.517675</td>
    </tr>
    <tr>
      <td>2925.5100</td>
      <td>0.057281</td>
      <td>0.514575</td>
    </tr>
    <tr>
      <td>2931.3610</td>
      <td>0.045138</td>
      <td>0.511477</td>
    </tr>
    <tr>
      <td>2937.2121</td>
      <td>0.033037</td>
      <td>0.508381</td>
    </tr>
    <tr>
      <td>2943.0631</td>
      <td>0.020929</td>
      <td>0.505288</td>
    </tr>
    <tr>
      <td>2948.9141</td>
      <td>0.008876</td>
      <td>0.502210</td>
    </tr>
    <tr>
      <td>2954.7651</td>
      <td>-0.003222</td>
      <td>0.499121</td>
    </tr>
  </tbody>
</table>