<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2534.7959</td>
      <td>0.113248</td>
      <td>0.525437</td>
    </tr>
    <tr>
      <td>2539.9167</td>
      <td>0.101073</td>
      <td>0.522491</td>
    </tr>
    <tr>
      <td>2545.0375</td>
      <td>0.088975</td>
      <td>0.519561</td>
    </tr>
    <tr>
      <td>2550.1583</td>
      <td>0.076833</td>
      <td>0.516618</td>
    </tr>
    <tr>
      <td>2555.2791</td>
      <td>0.064738</td>
      <td>0.513686</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.052673</td>
      <td>0.510758</td>
    </tr>
    <tr>
      <td>2565.5207</td>
      <td>0.040602</td>
      <td>0.507830</td>
    </tr>
    <tr>
      <td>2570.6415</td>
      <td>0.028586</td>
      <td>0.504914</td>
    </tr>
    <tr>
      <td>2575.7623</td>
      <td>0.016549</td>
      <td>0.501991</td>
    </tr>
    <tr>
      <td>2580.8831</td>
      <td>0.004531</td>
      <td>0.499074</td>
    </tr>
    <tr>
      <td>2586.0039</td>
      <td>-0.007472</td>
      <td>0.496161</td>
    </tr>
  </tbody>
</table>