<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2320.5798</td>
      <td>0.185043</td>
      <td>0.546440</td>
    </tr>
    <tr>
      <td>2325.2679</td>
      <td>0.172852</td>
      <td>0.543506</td>
    </tr>
    <tr>
      <td>2329.9559</td>
      <td>0.160672</td>
      <td>0.540572</td>
    </tr>
    <tr>
      <td>2334.6439</td>
      <td>0.148532</td>
      <td>0.537641</td>
    </tr>
    <tr>
      <td>2339.3320</td>
      <td>0.136406</td>
      <td>0.534713</td>
    </tr>
    <tr>
      <td>2344.0200</td>
      <td>0.124275</td>
      <td>0.531784</td>
    </tr>
    <tr>
      <td>2348.7081</td>
      <td>0.112190</td>
      <td>0.528861</td>
    </tr>
    <tr>
      <td>2353.3961</td>
      <td>0.100089</td>
      <td>0.525934</td>
    </tr>
    <tr>
      <td>2358.0841</td>
      <td>0.088035</td>
      <td>0.523015</td>
    </tr>
    <tr>
      <td>2362.7722</td>
      <td>0.076004</td>
      <td>0.520098</td>
    </tr>
    <tr>
      <td>2367.4602</td>
      <td>0.063977</td>
      <td>0.517180</td>
    </tr>
  </tbody>
</table>