<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2125.787</td>
      <td>0.014</td>
      <td>0.527</td>
    </tr>
    <tr>
      <td>2130.082</td>
      <td>0.002</td>
      <td>0.524</td>
    </tr>
    <tr>
      <td>2134.376</td>
      <td>-0.009</td>
      <td>0.521</td>
    </tr>
    <tr>
      <td>2138.671</td>
      <td>-0.021</td>
      <td>0.518</td>
    </tr>
    <tr>
      <td>2142.965</td>
      <td>-0.032</td>
      <td>0.515</td>
    </tr>
    <tr>
      <td>2147.260</td>
      <td>-0.043</td>
      <td>0.512</td>
    </tr>
    <tr>
      <td>2151.555</td>
      <td>-0.055</td>
      <td>0.509</td>
    </tr>
    <tr>
      <td>2155.849</td>
      <td>-0.066</td>
      <td>0.506</td>
    </tr>
    <tr>
      <td>2160.144</td>
      <td>-0.078</td>
      <td>0.503</td>
    </tr>
    <tr>
      <td>2164.438</td>
      <td>-0.089</td>
      <td>0.500</td>
    </tr>
    <tr>
      <td>2168.733</td>
      <td>-0.100</td>
      <td>0.497</td>
    </tr>
  </tbody>
</table>