<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2886.4045</td>
      <td>0.065760</td>
      <td>0.514912</td>
    </tr>
    <tr>
      <td>2892.2356</td>
      <td>0.053583</td>
      <td>0.511801</td>
    </tr>
    <tr>
      <td>2898.0667</td>
      <td>0.041376</td>
      <td>0.508678</td>
    </tr>
    <tr>
      <td>2903.8978</td>
      <td>0.029240</td>
      <td>0.505569</td>
    </tr>
    <tr>
      <td>2909.7289</td>
      <td>0.017078</td>
      <td>0.502461</td>
    </tr>
    <tr>
      <td>2915.5601</td>
      <td>0.004981</td>
      <td>0.499366</td>
    </tr>
    <tr>
      <td>2921.3912</td>
      <td>-0.007113</td>
      <td>0.496274</td>
    </tr>
    <tr>
      <td>2927.2223</td>
      <td>-0.019206</td>
      <td>0.493177</td>
    </tr>
    <tr>
      <td>2933.0534</td>
      <td>-0.031287</td>
      <td>0.490088</td>
    </tr>
    <tr>
      <td>2938.8845</td>
      <td>-0.043335</td>
      <td>0.487007</td>
    </tr>
    <tr>
      <td>2944.7157</td>
      <td>-0.055324</td>
      <td>0.483943</td>
    </tr>
  </tbody>
</table>