<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2440.8846</td>
      <td>0.054058</td>
      <td>0.513031</td>
    </tr>
    <tr>
      <td>2445.8157</td>
      <td>0.041929</td>
      <td>0.510084</td>
    </tr>
    <tr>
      <td>2450.7468</td>
      <td>0.029782</td>
      <td>0.507134</td>
    </tr>
    <tr>
      <td>2455.6779</td>
      <td>0.017693</td>
      <td>0.504192</td>
    </tr>
    <tr>
      <td>2460.6090</td>
      <td>0.005606</td>
      <td>0.501253</td>
    </tr>
    <tr>
      <td>2465.5400</td>
      <td>-0.006409</td>
      <td>0.498328</td>
    </tr>
    <tr>
      <td>2470.4711</td>
      <td>-0.018454</td>
      <td>0.495398</td>
    </tr>
    <tr>
      <td>2475.4022</td>
      <td>-0.030461</td>
      <td>0.492479</td>
    </tr>
    <tr>
      <td>2480.3333</td>
      <td>-0.042473</td>
      <td>0.489552</td>
    </tr>
    <tr>
      <td>2485.2644</td>
      <td>-0.054480</td>
      <td>0.486639</td>
    </tr>
    <tr>
      <td>2490.1954</td>
      <td>-0.066435</td>
      <td>0.483731</td>
    </tr>
  </tbody>
</table>