<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2325.7575</td>
      <td>0.017143</td>
      <td>0.511723</td>
    </tr>
    <tr>
      <td>2330.4560</td>
      <td>0.004951</td>
      <td>0.508762</td>
    </tr>
    <tr>
      <td>2335.1545</td>
      <td>-0.007202</td>
      <td>0.505804</td>
    </tr>
    <tr>
      <td>2339.8530</td>
      <td>-0.019358</td>
      <td>0.502845</td>
    </tr>
    <tr>
      <td>2344.5515</td>
      <td>-0.031489</td>
      <td>0.499893</td>
    </tr>
    <tr>
      <td>2349.2500</td>
      <td>-0.043619</td>
      <td>0.496941</td>
    </tr>
    <tr>
      <td>2353.9485</td>
      <td>-0.055674</td>
      <td>0.494005</td>
    </tr>
    <tr>
      <td>2358.6470</td>
      <td>-0.067754</td>
      <td>0.491070</td>
    </tr>
    <tr>
      <td>2363.3455</td>
      <td>-0.079815</td>
      <td>0.488133</td>
    </tr>
    <tr>
      <td>2368.0440</td>
      <td>-0.091863</td>
      <td>0.485201</td>
    </tr>
    <tr>
      <td>2372.7425</td>
      <td>-0.103853</td>
      <td>0.482288</td>
    </tr>
  </tbody>
</table>