<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2587.0283</td>
      <td>0.119254</td>
      <td>0.532905</td>
    </tr>
    <tr>
      <td>2592.2546</td>
      <td>0.107099</td>
      <td>0.529803</td>
    </tr>
    <tr>
      <td>2597.4810</td>
      <td>0.094919</td>
      <td>0.526696</td>
    </tr>
    <tr>
      <td>2602.7073</td>
      <td>0.082797</td>
      <td>0.523602</td>
    </tr>
    <tr>
      <td>2607.9336</td>
      <td>0.070670</td>
      <td>0.520501</td>
    </tr>
    <tr>
      <td>2613.1599</td>
      <td>0.058541</td>
      <td>0.517401</td>
    </tr>
    <tr>
      <td>2618.3862</td>
      <td>0.046502</td>
      <td>0.514319</td>
    </tr>
    <tr>
      <td>2623.6126</td>
      <td>0.034403</td>
      <td>0.511228</td>
    </tr>
    <tr>
      <td>2628.8389</td>
      <td>0.022381</td>
      <td>0.508150</td>
    </tr>
    <tr>
      <td>2634.0652</td>
      <td>0.010323</td>
      <td>0.505067</td>
    </tr>
    <tr>
      <td>2639.2915</td>
      <td>-0.001667</td>
      <td>0.501996</td>
    </tr>
  </tbody>
</table>