<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2254.2102</td>
      <td>-0.023142</td>
      <td>0.522516</td>
    </tr>
    <tr>
      <td>2258.7641</td>
      <td>-0.035304</td>
      <td>0.519559</td>
    </tr>
    <tr>
      <td>2263.3181</td>
      <td>-0.047473</td>
      <td>0.516601</td>
    </tr>
    <tr>
      <td>2267.8721</td>
      <td>-0.059559</td>
      <td>0.513659</td>
    </tr>
    <tr>
      <td>2272.4260</td>
      <td>-0.071638</td>
      <td>0.510722</td>
    </tr>
    <tr>
      <td>2276.9800</td>
      <td>-0.083701</td>
      <td>0.507785</td>
    </tr>
    <tr>
      <td>2281.5339</td>
      <td>-0.095772</td>
      <td>0.504846</td>
    </tr>
    <tr>
      <td>2286.0879</td>
      <td>-0.107826</td>
      <td>0.501911</td>
    </tr>
    <tr>
      <td>2290.6419</td>
      <td>-0.119846</td>
      <td>0.498983</td>
    </tr>
    <tr>
      <td>2295.1958</td>
      <td>-0.131834</td>
      <td>0.496067</td>
    </tr>
    <tr>
      <td>2299.7498</td>
      <td>-0.143819</td>
      <td>0.493147</td>
    </tr>
  </tbody>
</table>