<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2110.2048</td>
      <td>0.054581</td>
      <td>0.504853</td>
    </tr>
    <tr>
      <td>2114.4679</td>
      <td>0.043016</td>
      <td>0.501850</td>
    </tr>
    <tr>
      <td>2118.7309</td>
      <td>0.031477</td>
      <td>0.498857</td>
    </tr>
    <tr>
      <td>2122.9939</td>
      <td>0.019935</td>
      <td>0.495867</td>
    </tr>
    <tr>
      <td>2127.2570</td>
      <td>0.008483</td>
      <td>0.492895</td>
    </tr>
    <tr>
      <td>2131.5200</td>
      <td>-0.003030</td>
      <td>0.489911</td>
    </tr>
    <tr>
      <td>2135.7831</td>
      <td>-0.014514</td>
      <td>0.486937</td>
    </tr>
    <tr>
      <td>2140.0461</td>
      <td>-0.026003</td>
      <td>0.483961</td>
    </tr>
    <tr>
      <td>2144.3091</td>
      <td>-0.037444</td>
      <td>0.480997</td>
    </tr>
    <tr>
      <td>2148.5722</td>
      <td>-0.048804</td>
      <td>0.478052</td>
    </tr>
    <tr>
      <td>2152.8352</td>
      <td>-0.060220</td>
      <td>0.475098</td>
    </tr>
  </tbody>
</table>