<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2275.3864</td>
      <td>0.004138</td>
      <td>0.514420</td>
    </tr>
    <tr>
      <td>2279.9832</td>
      <td>-0.007977</td>
      <td>0.511477</td>
    </tr>
    <tr>
      <td>2284.5799</td>
      <td>-0.020130</td>
      <td>0.508527</td>
    </tr>
    <tr>
      <td>2289.1766</td>
      <td>-0.032248</td>
      <td>0.505583</td>
    </tr>
    <tr>
      <td>2293.7734</td>
      <td>-0.044327</td>
      <td>0.502645</td>
    </tr>
    <tr>
      <td>2298.3701</td>
      <td>-0.056426</td>
      <td>0.499704</td>
    </tr>
    <tr>
      <td>2302.9669</td>
      <td>-0.068494</td>
      <td>0.496767</td>
    </tr>
    <tr>
      <td>2307.5636</td>
      <td>-0.080515</td>
      <td>0.493848</td>
    </tr>
    <tr>
      <td>2312.1603</td>
      <td>-0.092546</td>
      <td>0.490923</td>
    </tr>
    <tr>
      <td>2316.7571</td>
      <td>-0.104522</td>
      <td>0.488011</td>
    </tr>
    <tr>
      <td>2321.3538</td>
      <td>-0.116510</td>
      <td>0.485099</td>
    </tr>
  </tbody>
</table>