<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2337.5186</td>
      <td>0.066166</td>
      <td>0.529034</td>
    </tr>
    <tr>
      <td>2342.2408</td>
      <td>0.053975</td>
      <td>0.526080</td>
    </tr>
    <tr>
      <td>2346.9631</td>
      <td>0.041808</td>
      <td>0.523135</td>
    </tr>
    <tr>
      <td>2351.6854</td>
      <td>0.029670</td>
      <td>0.520191</td>
    </tr>
    <tr>
      <td>2356.4076</td>
      <td>0.017544</td>
      <td>0.517250</td>
    </tr>
    <tr>
      <td>2361.1299</td>
      <td>0.005457</td>
      <td>0.514315</td>
    </tr>
    <tr>
      <td>2365.8521</td>
      <td>-0.006647</td>
      <td>0.511379</td>
    </tr>
    <tr>
      <td>2370.5744</td>
      <td>-0.018681</td>
      <td>0.508454</td>
    </tr>
    <tr>
      <td>2375.2967</td>
      <td>-0.030728</td>
      <td>0.505527</td>
    </tr>
    <tr>
      <td>2380.0189</td>
      <td>-0.042753</td>
      <td>0.502607</td>
    </tr>
    <tr>
      <td>2384.7412</td>
      <td>-0.054754</td>
      <td>0.499687</td>
    </tr>
  </tbody>
</table>