<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2471.8717</td>
      <td>0.130039</td>
      <td>0.525389</td>
    </tr>
    <tr>
      <td>2476.8654</td>
      <td>0.117866</td>
      <td>0.522446</td>
    </tr>
    <tr>
      <td>2481.8590</td>
      <td>0.105734</td>
      <td>0.519506</td>
    </tr>
    <tr>
      <td>2486.8527</td>
      <td>0.093624</td>
      <td>0.516572</td>
    </tr>
    <tr>
      <td>2491.8464</td>
      <td>0.081536</td>
      <td>0.513638</td>
    </tr>
    <tr>
      <td>2496.8401</td>
      <td>0.069448</td>
      <td>0.510709</td>
    </tr>
    <tr>
      <td>2501.8338</td>
      <td>0.057357</td>
      <td>0.507774</td>
    </tr>
    <tr>
      <td>2506.8274</td>
      <td>0.045328</td>
      <td>0.504853</td>
    </tr>
    <tr>
      <td>2511.8211</td>
      <td>0.033289</td>
      <td>0.501932</td>
    </tr>
    <tr>
      <td>2516.8148</td>
      <td>0.021273</td>
      <td>0.499016</td>
    </tr>
    <tr>
      <td>2521.8085</td>
      <td>0.009302</td>
      <td>0.496113</td>
    </tr>
  </tbody>
</table>