<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2559.7835</td>
      <td>0.078157</td>
      <td>0.523124</td>
    </tr>
    <tr>
      <td>2564.9548</td>
      <td>0.066036</td>
      <td>0.520185</td>
    </tr>
    <tr>
      <td>2570.1261</td>
      <td>0.053915</td>
      <td>0.517249</td>
    </tr>
    <tr>
      <td>2575.2973</td>
      <td>0.041817</td>
      <td>0.514313</td>
    </tr>
    <tr>
      <td>2580.4686</td>
      <td>0.029771</td>
      <td>0.511387</td>
    </tr>
    <tr>
      <td>2585.6399</td>
      <td>0.017728</td>
      <td>0.508465</td>
    </tr>
    <tr>
      <td>2590.8112</td>
      <td>0.005673</td>
      <td>0.505539</td>
    </tr>
    <tr>
      <td>2595.9825</td>
      <td>-0.006356</td>
      <td>0.502616</td>
    </tr>
    <tr>
      <td>2601.1537</td>
      <td>-0.018335</td>
      <td>0.499707</td>
    </tr>
    <tr>
      <td>2606.3250</td>
      <td>-0.030258</td>
      <td>0.496807</td>
    </tr>
    <tr>
      <td>2611.4963</td>
      <td>-0.042235</td>
      <td>0.493900</td>
    </tr>
  </tbody>
</table>