<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2452.7944</td>
      <td>0.114324</td>
      <td>0.527511</td>
    </tr>
    <tr>
      <td>2457.7495</td>
      <td>0.102176</td>
      <td>0.524576</td>
    </tr>
    <tr>
      <td>2462.7046</td>
      <td>0.090015</td>
      <td>0.521625</td>
    </tr>
    <tr>
      <td>2467.6598</td>
      <td>0.077887</td>
      <td>0.518689</td>
    </tr>
    <tr>
      <td>2472.6149</td>
      <td>0.065806</td>
      <td>0.515759</td>
    </tr>
    <tr>
      <td>2477.5701</td>
      <td>0.053667</td>
      <td>0.512817</td>
    </tr>
    <tr>
      <td>2482.5252</td>
      <td>0.041602</td>
      <td>0.509889</td>
    </tr>
    <tr>
      <td>2487.4803</td>
      <td>0.029537</td>
      <td>0.506959</td>
    </tr>
    <tr>
      <td>2492.4355</td>
      <td>0.017516</td>
      <td>0.504037</td>
    </tr>
    <tr>
      <td>2497.3906</td>
      <td>0.005473</td>
      <td>0.501120</td>
    </tr>
    <tr>
      <td>2502.3458</td>
      <td>-0.006527</td>
      <td>0.498204</td>
    </tr>
  </tbody>
</table>