<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2408.8085</td>
      <td>0.067783</td>
      <td>0.519237</td>
    </tr>
    <tr>
      <td>2413.6748</td>
      <td>0.055542</td>
      <td>0.516270</td>
    </tr>
    <tr>
      <td>2418.5411</td>
      <td>0.043364</td>
      <td>0.513303</td>
    </tr>
    <tr>
      <td>2423.4073</td>
      <td>0.031203</td>
      <td>0.510344</td>
    </tr>
    <tr>
      <td>2428.2736</td>
      <td>0.019024</td>
      <td>0.507380</td>
    </tr>
    <tr>
      <td>2433.1399</td>
      <td>0.006899</td>
      <td>0.504426</td>
    </tr>
    <tr>
      <td>2438.0062</td>
      <td>-0.005263</td>
      <td>0.501466</td>
    </tr>
    <tr>
      <td>2442.8725</td>
      <td>-0.017339</td>
      <td>0.498526</td>
    </tr>
    <tr>
      <td>2447.7387</td>
      <td>-0.029436</td>
      <td>0.495580</td>
    </tr>
    <tr>
      <td>2452.6050</td>
      <td>-0.041501</td>
      <td>0.492637</td>
    </tr>
    <tr>
      <td>2457.4713</td>
      <td>-0.053566</td>
      <td>0.489706</td>
    </tr>
  </tbody>
</table>