<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2340.0035</td>
      <td>0.083436</td>
      <td>0.521782</td>
    </tr>
    <tr>
      <td>2344.7308</td>
      <td>0.071263</td>
      <td>0.518832</td>
    </tr>
    <tr>
      <td>2349.4581</td>
      <td>0.059079</td>
      <td>0.515880</td>
    </tr>
    <tr>
      <td>2354.1853</td>
      <td>0.046981</td>
      <td>0.512939</td>
    </tr>
    <tr>
      <td>2358.9126</td>
      <td>0.034848</td>
      <td>0.509999</td>
    </tr>
    <tr>
      <td>2363.6399</td>
      <td>0.022731</td>
      <td>0.507055</td>
    </tr>
    <tr>
      <td>2368.3672</td>
      <td>0.010655</td>
      <td>0.504125</td>
    </tr>
    <tr>
      <td>2373.0945</td>
      <td>-0.001379</td>
      <td>0.501201</td>
    </tr>
    <tr>
      <td>2377.8217</td>
      <td>-0.013439</td>
      <td>0.498275</td>
    </tr>
    <tr>
      <td>2382.5490</td>
      <td>-0.025445</td>
      <td>0.495353</td>
    </tr>
    <tr>
      <td>2387.2763</td>
      <td>-0.037453</td>
      <td>0.492442</td>
    </tr>
  </tbody>
</table>