<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2327.6483</td>
      <td>0.011612</td>
      <td>0.512942</td>
    </tr>
    <tr>
      <td>2332.3506</td>
      <td>-0.000561</td>
      <td>0.509985</td>
    </tr>
    <tr>
      <td>2337.0530</td>
      <td>-0.012702</td>
      <td>0.507029</td>
    </tr>
    <tr>
      <td>2341.7553</td>
      <td>-0.024867</td>
      <td>0.504072</td>
    </tr>
    <tr>
      <td>2346.4576</td>
      <td>-0.036947</td>
      <td>0.501134</td>
    </tr>
    <tr>
      <td>2351.1599</td>
      <td>-0.049057</td>
      <td>0.498188</td>
    </tr>
    <tr>
      <td>2355.8622</td>
      <td>-0.061154</td>
      <td>0.495250</td>
    </tr>
    <tr>
      <td>2360.5646</td>
      <td>-0.073200</td>
      <td>0.492316</td>
    </tr>
    <tr>
      <td>2365.2669</td>
      <td>-0.085229</td>
      <td>0.489389</td>
    </tr>
    <tr>
      <td>2369.9692</td>
      <td>-0.097274</td>
      <td>0.486463</td>
    </tr>
    <tr>
      <td>2374.6715</td>
      <td>-0.109249</td>
      <td>0.483550</td>
    </tr>
  </tbody>
</table>