<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2258.0909</td>
      <td>0.104990</td>
      <td>0.529491</td>
    </tr>
    <tr>
      <td>2262.6527</td>
      <td>0.092801</td>
      <td>0.526536</td>
    </tr>
    <tr>
      <td>2267.2145</td>
      <td>0.080650</td>
      <td>0.523586</td>
    </tr>
    <tr>
      <td>2271.7763</td>
      <td>0.068532</td>
      <td>0.520642</td>
    </tr>
    <tr>
      <td>2276.3381</td>
      <td>0.056407</td>
      <td>0.517696</td>
    </tr>
    <tr>
      <td>2280.8999</td>
      <td>0.044307</td>
      <td>0.514755</td>
    </tr>
    <tr>
      <td>2285.4617</td>
      <td>0.032197</td>
      <td>0.511817</td>
    </tr>
    <tr>
      <td>2290.0235</td>
      <td>0.020169</td>
      <td>0.508885</td>
    </tr>
    <tr>
      <td>2294.5853</td>
      <td>0.008092</td>
      <td>0.505948</td>
    </tr>
    <tr>
      <td>2299.1471</td>
      <td>-0.003901</td>
      <td>0.503029</td>
    </tr>
    <tr>
      <td>2303.7089</td>
      <td>-0.015902</td>
      <td>0.500109</td>
    </tr>
  </tbody>
</table>