<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2450.6657</td>
      <td>0.104071</td>
      <td>0.528928</td>
    </tr>
    <tr>
      <td>2455.6166</td>
      <td>0.091904</td>
      <td>0.525983</td>
    </tr>
    <tr>
      <td>2460.5674</td>
      <td>0.079750</td>
      <td>0.523038</td>
    </tr>
    <tr>
      <td>2465.5182</td>
      <td>0.067593</td>
      <td>0.520093</td>
    </tr>
    <tr>
      <td>2470.4691</td>
      <td>0.055458</td>
      <td>0.517155</td>
    </tr>
    <tr>
      <td>2475.4199</td>
      <td>0.043375</td>
      <td>0.514224</td>
    </tr>
    <tr>
      <td>2480.3708</td>
      <td>0.031301</td>
      <td>0.511294</td>
    </tr>
    <tr>
      <td>2485.3216</td>
      <td>0.019232</td>
      <td>0.508361</td>
    </tr>
    <tr>
      <td>2490.2724</td>
      <td>0.007201</td>
      <td>0.505441</td>
    </tr>
    <tr>
      <td>2495.2233</td>
      <td>-0.004862</td>
      <td>0.502510</td>
    </tr>
    <tr>
      <td>2500.1741</td>
      <td>-0.016848</td>
      <td>0.499598</td>
    </tr>
  </tbody>
</table>