<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2657.7244</td>
      <td>0.084952</td>
      <td>0.521042</td>
    </tr>
    <tr>
      <td>2663.0935</td>
      <td>0.072801</td>
      <td>0.518090</td>
    </tr>
    <tr>
      <td>2668.4626</td>
      <td>0.060651</td>
      <td>0.515137</td>
    </tr>
    <tr>
      <td>2673.8318</td>
      <td>0.048576</td>
      <td>0.512200</td>
    </tr>
    <tr>
      <td>2679.2009</td>
      <td>0.036466</td>
      <td>0.509258</td>
    </tr>
    <tr>
      <td>2684.5701</td>
      <td>0.024365</td>
      <td>0.506312</td>
    </tr>
    <tr>
      <td>2689.9392</td>
      <td>0.012308</td>
      <td>0.503378</td>
    </tr>
    <tr>
      <td>2695.3083</td>
      <td>0.000270</td>
      <td>0.500454</td>
    </tr>
    <tr>
      <td>2700.6775</td>
      <td>-0.011733</td>
      <td>0.497530</td>
    </tr>
    <tr>
      <td>2706.0466</td>
      <td>-0.023704</td>
      <td>0.494615</td>
    </tr>
    <tr>
      <td>2711.4158</td>
      <td>-0.035733</td>
      <td>0.491690</td>
    </tr>
  </tbody>
</table>