<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2565.2186</td>
      <td>0.135488</td>
      <td>0.521959</td>
    </tr>
    <tr>
      <td>2570.4008</td>
      <td>0.123327</td>
      <td>0.519011</td>
    </tr>
    <tr>
      <td>2575.5831</td>
      <td>0.111182</td>
      <td>0.516063</td>
    </tr>
    <tr>
      <td>2580.7654</td>
      <td>0.099006</td>
      <td>0.513110</td>
    </tr>
    <tr>
      <td>2585.9476</td>
      <td>0.086877</td>
      <td>0.510164</td>
    </tr>
    <tr>
      <td>2591.1299</td>
      <td>0.074812</td>
      <td>0.507232</td>
    </tr>
    <tr>
      <td>2596.3121</td>
      <td>0.062688</td>
      <td>0.504291</td>
    </tr>
    <tr>
      <td>2601.4944</td>
      <td>0.050637</td>
      <td>0.501362</td>
    </tr>
    <tr>
      <td>2606.6767</td>
      <td>0.038577</td>
      <td>0.498433</td>
    </tr>
    <tr>
      <td>2611.8589</td>
      <td>0.026568</td>
      <td>0.495514</td>
    </tr>
    <tr>
      <td>2617.0412</td>
      <td>0.014541</td>
      <td>0.492591</td>
    </tr>
  </tbody>
</table>