<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2811.9466</td>
      <td>0.048118</td>
      <td>0.529965</td>
    </tr>
    <tr>
      <td>2817.6273</td>
      <td>0.035862</td>
      <td>0.526845</td>
    </tr>
    <tr>
      <td>2823.3080</td>
      <td>0.023687</td>
      <td>0.523741</td>
    </tr>
    <tr>
      <td>2828.9887</td>
      <td>0.011513</td>
      <td>0.520630</td>
    </tr>
    <tr>
      <td>2834.6694</td>
      <td>-0.000677</td>
      <td>0.517520</td>
    </tr>
    <tr>
      <td>2840.3501</td>
      <td>-0.012787</td>
      <td>0.514427</td>
    </tr>
    <tr>
      <td>2846.0308</td>
      <td>-0.024940</td>
      <td>0.511324</td>
    </tr>
    <tr>
      <td>2851.7115</td>
      <td>-0.037030</td>
      <td>0.508231</td>
    </tr>
    <tr>
      <td>2857.3922</td>
      <td>-0.049108</td>
      <td>0.505146</td>
    </tr>
    <tr>
      <td>2863.0729</td>
      <td>-0.061192</td>
      <td>0.502059</td>
    </tr>
    <tr>
      <td>2868.7536</td>
      <td>-0.073242</td>
      <td>0.498979</td>
    </tr>
  </tbody>
</table>