<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2440.4491</td>
      <td>0.084022</td>
      <td>0.517542</td>
    </tr>
    <tr>
      <td>2445.3793</td>
      <td>0.071864</td>
      <td>0.514594</td>
    </tr>
    <tr>
      <td>2450.3095</td>
      <td>0.059729</td>
      <td>0.511649</td>
    </tr>
    <tr>
      <td>2455.2397</td>
      <td>0.047606</td>
      <td>0.508708</td>
    </tr>
    <tr>
      <td>2460.1699</td>
      <td>0.035507</td>
      <td>0.505768</td>
    </tr>
    <tr>
      <td>2465.1001</td>
      <td>0.023448</td>
      <td>0.502839</td>
    </tr>
    <tr>
      <td>2470.0303</td>
      <td>0.011349</td>
      <td>0.499902</td>
    </tr>
    <tr>
      <td>2474.9605</td>
      <td>-0.000665</td>
      <td>0.496981</td>
    </tr>
    <tr>
      <td>2479.8907</td>
      <td>-0.012697</td>
      <td>0.494060</td>
    </tr>
    <tr>
      <td>2484.8209</td>
      <td>-0.024666</td>
      <td>0.491151</td>
    </tr>
    <tr>
      <td>2489.7511</td>
      <td>-0.036666</td>
      <td>0.488236</td>
    </tr>
  </tbody>
</table>