<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2884.8996</td>
      <td>0.029005</td>
      <td>0.511813</td>
    </tr>
    <tr>
      <td>2890.7277</td>
      <td>0.016798</td>
      <td>0.508690</td>
    </tr>
    <tr>
      <td>2896.5558</td>
      <td>0.004611</td>
      <td>0.505573</td>
    </tr>
    <tr>
      <td>2902.3839</td>
      <td>-0.007586</td>
      <td>0.502451</td>
    </tr>
    <tr>
      <td>2908.2120</td>
      <td>-0.019753</td>
      <td>0.499339</td>
    </tr>
    <tr>
      <td>2914.0400</td>
      <td>-0.031927</td>
      <td>0.496226</td>
    </tr>
    <tr>
      <td>2919.8681</td>
      <td>-0.044031</td>
      <td>0.493129</td>
    </tr>
    <tr>
      <td>2925.6962</td>
      <td>-0.056165</td>
      <td>0.490025</td>
    </tr>
    <tr>
      <td>2931.5243</td>
      <td>-0.068232</td>
      <td>0.486940</td>
    </tr>
    <tr>
      <td>2937.3524</td>
      <td>-0.080304</td>
      <td>0.483855</td>
    </tr>
    <tr>
      <td>2943.1804</td>
      <td>-0.092367</td>
      <td>0.480775</td>
    </tr>
  </tbody>
</table>