<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2447.8146</td>
      <td>0.048922</td>
      <td>0.517694</td>
    </tr>
    <tr>
      <td>2452.7597</td>
      <td>0.036741</td>
      <td>0.514741</td>
    </tr>
    <tr>
      <td>2457.7048</td>
      <td>0.024601</td>
      <td>0.511793</td>
    </tr>
    <tr>
      <td>2462.6499</td>
      <td>0.012427</td>
      <td>0.508836</td>
    </tr>
    <tr>
      <td>2467.5950</td>
      <td>0.000321</td>
      <td>0.505898</td>
    </tr>
    <tr>
      <td>2472.5400</td>
      <td>-0.011774</td>
      <td>0.502961</td>
    </tr>
    <tr>
      <td>2477.4851</td>
      <td>-0.023841</td>
      <td>0.500022</td>
    </tr>
    <tr>
      <td>2482.4302</td>
      <td>-0.035867</td>
      <td>0.497105</td>
    </tr>
    <tr>
      <td>2487.3753</td>
      <td>-0.047940</td>
      <td>0.494171</td>
    </tr>
    <tr>
      <td>2492.3204</td>
      <td>-0.059968</td>
      <td>0.491249</td>
    </tr>
    <tr>
      <td>2497.2654</td>
      <td>-0.071939</td>
      <td>0.488339</td>
    </tr>
  </tbody>
</table>