<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2370.0798</td>
      <td>0.152528</td>
      <td>0.525710</td>
    </tr>
    <tr>
      <td>2374.8679</td>
      <td>0.140263</td>
      <td>0.522743</td>
    </tr>
    <tr>
      <td>2379.6559</td>
      <td>0.128011</td>
      <td>0.519781</td>
    </tr>
    <tr>
      <td>2384.4439</td>
      <td>0.115779</td>
      <td>0.516823</td>
    </tr>
    <tr>
      <td>2389.2320</td>
      <td>0.103595</td>
      <td>0.513872</td>
    </tr>
    <tr>
      <td>2394.0200</td>
      <td>0.091383</td>
      <td>0.510915</td>
    </tr>
    <tr>
      <td>2398.8081</td>
      <td>0.079205</td>
      <td>0.507965</td>
    </tr>
    <tr>
      <td>2403.5961</td>
      <td>0.067070</td>
      <td>0.505026</td>
    </tr>
    <tr>
      <td>2408.3841</td>
      <td>0.054965</td>
      <td>0.502093</td>
    </tr>
    <tr>
      <td>2413.1722</td>
      <td>0.042805</td>
      <td>0.499147</td>
    </tr>
    <tr>
      <td>2417.9602</td>
      <td>0.030773</td>
      <td>0.496227</td>
    </tr>
  </tbody>
</table>