<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2411.2540</td>
      <td>0.099238</td>
      <td>0.529019</td>
    </tr>
    <tr>
      <td>2416.1252</td>
      <td>0.087101</td>
      <td>0.526079</td>
    </tr>
    <tr>
      <td>2420.9964</td>
      <td>0.074935</td>
      <td>0.523134</td>
    </tr>
    <tr>
      <td>2425.8677</td>
      <td>0.062803</td>
      <td>0.520191</td>
    </tr>
    <tr>
      <td>2430.7389</td>
      <td>0.050710</td>
      <td>0.517258</td>
    </tr>
    <tr>
      <td>2435.6101</td>
      <td>0.038647</td>
      <td>0.514328</td>
    </tr>
    <tr>
      <td>2440.4813</td>
      <td>0.026559</td>
      <td>0.511394</td>
    </tr>
    <tr>
      <td>2445.3525</td>
      <td>0.014529</td>
      <td>0.508471</td>
    </tr>
    <tr>
      <td>2450.2238</td>
      <td>0.002469</td>
      <td>0.505545</td>
    </tr>
    <tr>
      <td>2455.0950</td>
      <td>-0.009501</td>
      <td>0.502633</td>
    </tr>
    <tr>
      <td>2459.9662</td>
      <td>-0.021516</td>
      <td>0.499714</td>
    </tr>
  </tbody>
</table>