<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2817.6094</td>
      <td>0.048950</td>
      <td>0.513660</td>
    </tr>
    <tr>
      <td>2823.3015</td>
      <td>0.036729</td>
      <td>0.510541</td>
    </tr>
    <tr>
      <td>2828.9936</td>
      <td>0.024503</td>
      <td>0.507422</td>
    </tr>
    <tr>
      <td>2834.6858</td>
      <td>0.012327</td>
      <td>0.504313</td>
    </tr>
    <tr>
      <td>2840.3779</td>
      <td>0.000174</td>
      <td>0.501208</td>
    </tr>
    <tr>
      <td>2846.0701</td>
      <td>-0.011974</td>
      <td>0.498106</td>
    </tr>
    <tr>
      <td>2851.7622</td>
      <td>-0.024111</td>
      <td>0.495011</td>
    </tr>
    <tr>
      <td>2857.4543</td>
      <td>-0.036222</td>
      <td>0.491922</td>
    </tr>
    <tr>
      <td>2863.1465</td>
      <td>-0.048309</td>
      <td>0.488835</td>
    </tr>
    <tr>
      <td>2868.8386</td>
      <td>-0.060369</td>
      <td>0.485756</td>
    </tr>
    <tr>
      <td>2874.5308</td>
      <td>-0.072422</td>
      <td>0.482688</td>
    </tr>
  </tbody>
</table>