<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2603.2744</td>
      <td>0.078950</td>
      <td>0.508731</td>
    </tr>
    <tr>
      <td>2608.5335</td>
      <td>0.066803</td>
      <td>0.505779</td>
    </tr>
    <tr>
      <td>2613.7926</td>
      <td>0.054686</td>
      <td>0.502834</td>
    </tr>
    <tr>
      <td>2619.0518</td>
      <td>0.042569</td>
      <td>0.499885</td>
    </tr>
    <tr>
      <td>2624.3109</td>
      <td>0.030455</td>
      <td>0.496943</td>
    </tr>
    <tr>
      <td>2629.5701</td>
      <td>0.018423</td>
      <td>0.494018</td>
    </tr>
    <tr>
      <td>2634.8292</td>
      <td>0.006360</td>
      <td>0.491083</td>
    </tr>
    <tr>
      <td>2640.0883</td>
      <td>-0.005681</td>
      <td>0.488157</td>
    </tr>
    <tr>
      <td>2645.3475</td>
      <td>-0.017703</td>
      <td>0.485236</td>
    </tr>
    <tr>
      <td>2650.6066</td>
      <td>-0.029685</td>
      <td>0.482324</td>
    </tr>
    <tr>
      <td>2655.8658</td>
      <td>-0.041646</td>
      <td>0.479419</td>
    </tr>
  </tbody>
</table>