<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2700.4428</td>
      <td>0.006675</td>
      <td>0.506933</td>
    </tr>
    <tr>
      <td>2705.8982</td>
      <td>-0.005621</td>
      <td>0.503792</td>
    </tr>
    <tr>
      <td>2711.3537</td>
      <td>-0.017854</td>
      <td>0.500662</td>
    </tr>
    <tr>
      <td>2716.8091</td>
      <td>-0.030111</td>
      <td>0.497531</td>
    </tr>
    <tr>
      <td>2722.2645</td>
      <td>-0.042283</td>
      <td>0.494415</td>
    </tr>
    <tr>
      <td>2727.7200</td>
      <td>-0.054494</td>
      <td>0.491290</td>
    </tr>
    <tr>
      <td>2733.1754</td>
      <td>-0.066662</td>
      <td>0.488182</td>
    </tr>
    <tr>
      <td>2738.6309</td>
      <td>-0.078836</td>
      <td>0.485075</td>
    </tr>
    <tr>
      <td>2744.0863</td>
      <td>-0.090957</td>
      <td>0.481975</td>
    </tr>
    <tr>
      <td>2749.5417</td>
      <td>-0.103088</td>
      <td>0.478878</td>
    </tr>
    <tr>
      <td>2754.9972</td>
      <td>-0.115184</td>
      <td>0.475792</td>
    </tr>
  </tbody>
</table>