<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2523.8368</td>
      <td>0.065681</td>
      <td>0.517172</td>
    </tr>
    <tr>
      <td>2528.9354</td>
      <td>0.053521</td>
      <td>0.514215</td>
    </tr>
    <tr>
      <td>2534.0341</td>
      <td>0.041312</td>
      <td>0.511255</td>
    </tr>
    <tr>
      <td>2539.1328</td>
      <td>0.029128</td>
      <td>0.508295</td>
    </tr>
    <tr>
      <td>2544.2314</td>
      <td>0.017043</td>
      <td>0.505356</td>
    </tr>
    <tr>
      <td>2549.3301</td>
      <td>0.004920</td>
      <td>0.502407</td>
    </tr>
    <tr>
      <td>2554.4287</td>
      <td>-0.007185</td>
      <td>0.499464</td>
    </tr>
    <tr>
      <td>2559.5274</td>
      <td>-0.019255</td>
      <td>0.496531</td>
    </tr>
    <tr>
      <td>2564.6261</td>
      <td>-0.031308</td>
      <td>0.493601</td>
    </tr>
    <tr>
      <td>2569.7247</td>
      <td>-0.043306</td>
      <td>0.490684</td>
    </tr>
    <tr>
      <td>2574.8234</td>
      <td>-0.055363</td>
      <td>0.487755</td>
    </tr>
  </tbody>
</table>