<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2434.5485</td>
      <td>0.092343</td>
      <td>0.518377</td>
    </tr>
    <tr>
      <td>2439.4668</td>
      <td>0.080182</td>
      <td>0.515421</td>
    </tr>
    <tr>
      <td>2444.3851</td>
      <td>0.067994</td>
      <td>0.512459</td>
    </tr>
    <tr>
      <td>2449.3033</td>
      <td>0.055882</td>
      <td>0.509510</td>
    </tr>
    <tr>
      <td>2454.2216</td>
      <td>0.043707</td>
      <td>0.506553</td>
    </tr>
    <tr>
      <td>2459.1399</td>
      <td>0.031648</td>
      <td>0.503617</td>
    </tr>
    <tr>
      <td>2464.0582</td>
      <td>0.019542</td>
      <td>0.500671</td>
    </tr>
    <tr>
      <td>2468.9765</td>
      <td>0.007448</td>
      <td>0.497729</td>
    </tr>
    <tr>
      <td>2473.8947</td>
      <td>-0.004600</td>
      <td>0.494798</td>
    </tr>
    <tr>
      <td>2478.8130</td>
      <td>-0.016642</td>
      <td>0.491867</td>
    </tr>
    <tr>
      <td>2483.7313</td>
      <td>-0.028647</td>
      <td>0.488946</td>
    </tr>
  </tbody>
</table>