<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2324.9655</td>
      <td>0.060163</td>
      <td>0.518999</td>
    </tr>
    <tr>
      <td>2329.6624</td>
      <td>0.048106</td>
      <td>0.516075</td>
    </tr>
    <tr>
      <td>2334.3593</td>
      <td>0.036004</td>
      <td>0.513144</td>
    </tr>
    <tr>
      <td>2339.0562</td>
      <td>0.023974</td>
      <td>0.510226</td>
    </tr>
    <tr>
      <td>2343.7531</td>
      <td>0.011930</td>
      <td>0.507309</td>
    </tr>
    <tr>
      <td>2348.4500</td>
      <td>-0.000098</td>
      <td>0.504391</td>
    </tr>
    <tr>
      <td>2353.1469</td>
      <td>-0.012114</td>
      <td>0.501476</td>
    </tr>
    <tr>
      <td>2357.8438</td>
      <td>-0.024077</td>
      <td>0.498570</td>
    </tr>
    <tr>
      <td>2362.5407</td>
      <td>-0.036017</td>
      <td>0.495672</td>
    </tr>
    <tr>
      <td>2367.2376</td>
      <td>-0.047997</td>
      <td>0.492767</td>
    </tr>
    <tr>
      <td>2371.9345</td>
      <td>-0.059938</td>
      <td>0.489870</td>
    </tr>
  </tbody>
</table>