<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2119.7483</td>
      <td>0.055075</td>
      <td>0.523920</td>
    </tr>
    <tr>
      <td>2124.0306</td>
      <td>0.043449</td>
      <td>0.520904</td>
    </tr>
    <tr>
      <td>2128.3130</td>
      <td>0.031822</td>
      <td>0.517885</td>
    </tr>
    <tr>
      <td>2132.5953</td>
      <td>0.020254</td>
      <td>0.514878</td>
    </tr>
    <tr>
      <td>2136.8776</td>
      <td>0.008673</td>
      <td>0.511874</td>
    </tr>
    <tr>
      <td>2141.1599</td>
      <td>-0.002856</td>
      <td>0.508870</td>
    </tr>
    <tr>
      <td>2145.4422</td>
      <td>-0.014380</td>
      <td>0.505874</td>
    </tr>
    <tr>
      <td>2149.7246</td>
      <td>-0.025918</td>
      <td>0.502875</td>
    </tr>
    <tr>
      <td>2154.0069</td>
      <td>-0.037392</td>
      <td>0.499892</td>
    </tr>
    <tr>
      <td>2158.2892</td>
      <td>-0.048902</td>
      <td>0.496895</td>
    </tr>
    <tr>
      <td>2162.5715</td>
      <td>-0.060347</td>
      <td>0.493918</td>
    </tr>
  </tbody>
</table>