<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2271.7232</td>
      <td>0.048913</td>
      <td>0.524236</td>
    </tr>
    <tr>
      <td>2276.3126</td>
      <td>0.036770</td>
      <td>0.521289</td>
    </tr>
    <tr>
      <td>2280.9019</td>
      <td>0.024623</td>
      <td>0.518339</td>
    </tr>
    <tr>
      <td>2285.4912</td>
      <td>0.012537</td>
      <td>0.515401</td>
    </tr>
    <tr>
      <td>2290.0806</td>
      <td>0.000434</td>
      <td>0.512463</td>
    </tr>
    <tr>
      <td>2294.6699</td>
      <td>-0.011645</td>
      <td>0.509525</td>
    </tr>
    <tr>
      <td>2299.2593</td>
      <td>-0.023700</td>
      <td>0.506594</td>
    </tr>
    <tr>
      <td>2303.8486</td>
      <td>-0.035735</td>
      <td>0.503662</td>
    </tr>
    <tr>
      <td>2308.4379</td>
      <td>-0.047779</td>
      <td>0.500733</td>
    </tr>
    <tr>
      <td>2313.0273</td>
      <td>-0.059752</td>
      <td>0.497817</td>
    </tr>
    <tr>
      <td>2317.6166</td>
      <td>-0.071726</td>
      <td>0.494903</td>
    </tr>
  </tbody>
</table>