<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2105.1458</td>
      <td>0.127244</td>
      <td>0.532525</td>
    </tr>
    <tr>
      <td>2109.3986</td>
      <td>0.115601</td>
      <td>0.529514</td>
    </tr>
    <tr>
      <td>2113.6515</td>
      <td>0.103987</td>
      <td>0.526515</td>
    </tr>
    <tr>
      <td>2117.9043</td>
      <td>0.092403</td>
      <td>0.523518</td>
    </tr>
    <tr>
      <td>2122.1571</td>
      <td>0.080851</td>
      <td>0.520524</td>
    </tr>
    <tr>
      <td>2126.4099</td>
      <td>0.069270</td>
      <td>0.517526</td>
    </tr>
    <tr>
      <td>2130.6627</td>
      <td>0.057689</td>
      <td>0.514531</td>
    </tr>
    <tr>
      <td>2134.9156</td>
      <td>0.046195</td>
      <td>0.511550</td>
    </tr>
    <tr>
      <td>2139.1684</td>
      <td>0.034730</td>
      <td>0.508571</td>
    </tr>
    <tr>
      <td>2143.4212</td>
      <td>0.023232</td>
      <td>0.505593</td>
    </tr>
    <tr>
      <td>2147.6740</td>
      <td>0.011760</td>
      <td>0.502613</td>
    </tr>
  </tbody>
</table>