<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2452.3093</td>
      <td>0.083875</td>
      <td>0.516367</td>
    </tr>
    <tr>
      <td>2457.2634</td>
      <td>0.071733</td>
      <td>0.513422</td>
    </tr>
    <tr>
      <td>2462.2176</td>
      <td>0.059586</td>
      <td>0.510469</td>
    </tr>
    <tr>
      <td>2467.1718</td>
      <td>0.047499</td>
      <td>0.507533</td>
    </tr>
    <tr>
      <td>2472.1259</td>
      <td>0.035374</td>
      <td>0.504586</td>
    </tr>
    <tr>
      <td>2477.0801</td>
      <td>0.023307</td>
      <td>0.501659</td>
    </tr>
    <tr>
      <td>2482.0342</td>
      <td>0.011242</td>
      <td>0.498724</td>
    </tr>
    <tr>
      <td>2486.9884</td>
      <td>-0.000765</td>
      <td>0.495809</td>
    </tr>
    <tr>
      <td>2491.9426</td>
      <td>-0.012803</td>
      <td>0.492882</td>
    </tr>
    <tr>
      <td>2496.8967</td>
      <td>-0.024830</td>
      <td>0.489964</td>
    </tr>
    <tr>
      <td>2501.8509</td>
      <td>-0.036805</td>
      <td>0.487054</td>
    </tr>
  </tbody>
</table>