<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2421.8370</td>
      <td>0.089330</td>
      <td>0.513336</td>
    </tr>
    <tr>
      <td>2426.7296</td>
      <td>0.077145</td>
      <td>0.510385</td>
    </tr>
    <tr>
      <td>2431.6222</td>
      <td>0.065054</td>
      <td>0.507449</td>
    </tr>
    <tr>
      <td>2436.5148</td>
      <td>0.052891</td>
      <td>0.504503</td>
    </tr>
    <tr>
      <td>2441.4074</td>
      <td>0.040824</td>
      <td>0.501570</td>
    </tr>
    <tr>
      <td>2446.3000</td>
      <td>0.028701</td>
      <td>0.498629</td>
    </tr>
    <tr>
      <td>2451.1926</td>
      <td>0.016655</td>
      <td>0.495705</td>
    </tr>
    <tr>
      <td>2456.0852</td>
      <td>0.004636</td>
      <td>0.492790</td>
    </tr>
    <tr>
      <td>2460.9778</td>
      <td>-0.007450</td>
      <td>0.489860</td>
    </tr>
    <tr>
      <td>2465.8704</td>
      <td>-0.019441</td>
      <td>0.486949</td>
    </tr>
    <tr>
      <td>2470.7630</td>
      <td>-0.031390</td>
      <td>0.484050</td>
    </tr>
  </tbody>
</table>