<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2449.2798</td>
      <td>0.100086</td>
      <td>0.526502</td>
    </tr>
    <tr>
      <td>2454.2279</td>
      <td>0.087942</td>
      <td>0.523557</td>
    </tr>
    <tr>
      <td>2459.1759</td>
      <td>0.075798</td>
      <td>0.520616</td>
    </tr>
    <tr>
      <td>2464.1239</td>
      <td>0.063685</td>
      <td>0.517676</td>
    </tr>
    <tr>
      <td>2469.0720</td>
      <td>0.051583</td>
      <td>0.514741</td>
    </tr>
    <tr>
      <td>2474.0200</td>
      <td>0.039487</td>
      <td>0.511804</td>
    </tr>
    <tr>
      <td>2478.9681</td>
      <td>0.027440</td>
      <td>0.508880</td>
    </tr>
    <tr>
      <td>2483.9161</td>
      <td>0.015387</td>
      <td>0.505955</td>
    </tr>
    <tr>
      <td>2488.8641</td>
      <td>0.003371</td>
      <td>0.503036</td>
    </tr>
    <tr>
      <td>2493.8122</td>
      <td>-0.008635</td>
      <td>0.500117</td>
    </tr>
    <tr>
      <td>2498.7602</td>
      <td>-0.020615</td>
      <td>0.497205</td>
    </tr>
  </tbody>
</table>