<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2527.6382</td>
      <td>0.085020</td>
      <td>0.526524</td>
    </tr>
    <tr>
      <td>2532.7446</td>
      <td>0.072856</td>
      <td>0.523573</td>
    </tr>
    <tr>
      <td>2537.8509</td>
      <td>0.060715</td>
      <td>0.520631</td>
    </tr>
    <tr>
      <td>2542.9572</td>
      <td>0.048605</td>
      <td>0.517694</td>
    </tr>
    <tr>
      <td>2548.0636</td>
      <td>0.036485</td>
      <td>0.514751</td>
    </tr>
    <tr>
      <td>2553.1699</td>
      <td>0.024405</td>
      <td>0.511819</td>
    </tr>
    <tr>
      <td>2558.2763</td>
      <td>0.012352</td>
      <td>0.508895</td>
    </tr>
    <tr>
      <td>2563.3826</td>
      <td>0.000302</td>
      <td>0.505964</td>
    </tr>
    <tr>
      <td>2568.4889</td>
      <td>-0.011752</td>
      <td>0.503038</td>
    </tr>
    <tr>
      <td>2573.5953</td>
      <td>-0.023750</td>
      <td>0.500123</td>
    </tr>
    <tr>
      <td>2578.7016</td>
      <td>-0.035707</td>
      <td>0.497214</td>
    </tr>
  </tbody>
</table>