<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2241.1521</td>
      <td>0.096585</td>
      <td>0.524839</td>
    </tr>
    <tr>
      <td>2245.6797</td>
      <td>0.084918</td>
      <td>0.521817</td>
    </tr>
    <tr>
      <td>2250.2073</td>
      <td>0.073331</td>
      <td>0.518814</td>
    </tr>
    <tr>
      <td>2254.7349</td>
      <td>0.061749</td>
      <td>0.515807</td>
    </tr>
    <tr>
      <td>2259.2625</td>
      <td>0.050184</td>
      <td>0.512806</td>
    </tr>
    <tr>
      <td>2263.7900</td>
      <td>0.038626</td>
      <td>0.509804</td>
    </tr>
    <tr>
      <td>2268.3176</td>
      <td>0.027086</td>
      <td>0.506807</td>
    </tr>
    <tr>
      <td>2272.8452</td>
      <td>0.015608</td>
      <td>0.503822</td>
    </tr>
    <tr>
      <td>2277.3728</td>
      <td>0.004126</td>
      <td>0.500837</td>
    </tr>
    <tr>
      <td>2281.9004</td>
      <td>-0.007395</td>
      <td>0.497846</td>
    </tr>
    <tr>
      <td>2286.4279</td>
      <td>-0.018848</td>
      <td>0.494870</td>
    </tr>
  </tbody>
</table>