<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2543.4386</td>
      <td>0.102630</td>
      <td>0.519495</td>
    </tr>
    <tr>
      <td>2548.5768</td>
      <td>0.090443</td>
      <td>0.516540</td>
    </tr>
    <tr>
      <td>2553.7151</td>
      <td>0.078318</td>
      <td>0.513596</td>
    </tr>
    <tr>
      <td>2558.8534</td>
      <td>0.066184</td>
      <td>0.510647</td>
    </tr>
    <tr>
      <td>2563.9916</td>
      <td>0.054093</td>
      <td>0.507713</td>
    </tr>
    <tr>
      <td>2569.1299</td>
      <td>0.041984</td>
      <td>0.504771</td>
    </tr>
    <tr>
      <td>2574.2681</td>
      <td>0.029920</td>
      <td>0.501843</td>
    </tr>
    <tr>
      <td>2579.4064</td>
      <td>0.017899</td>
      <td>0.498920</td>
    </tr>
    <tr>
      <td>2584.5447</td>
      <td>0.005863</td>
      <td>0.495994</td>
    </tr>
    <tr>
      <td>2589.6829</td>
      <td>-0.006136</td>
      <td>0.493078</td>
    </tr>
    <tr>
      <td>2594.8212</td>
      <td>-0.018112</td>
      <td>0.490169</td>
    </tr>
  </tbody>
</table>