<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2558.9917</td>
      <td>0.129484</td>
      <td>0.520248</td>
    </tr>
    <tr>
      <td>2564.1614</td>
      <td>0.117346</td>
      <td>0.517304</td>
    </tr>
    <tr>
      <td>2569.3310</td>
      <td>0.105213</td>
      <td>0.514362</td>
    </tr>
    <tr>
      <td>2574.5007</td>
      <td>0.093109</td>
      <td>0.511426</td>
    </tr>
    <tr>
      <td>2579.6704</td>
      <td>0.081004</td>
      <td>0.508486</td>
    </tr>
    <tr>
      <td>2584.8401</td>
      <td>0.068977</td>
      <td>0.505566</td>
    </tr>
    <tr>
      <td>2590.0098</td>
      <td>0.056899</td>
      <td>0.502632</td>
    </tr>
    <tr>
      <td>2595.1794</td>
      <td>0.044858</td>
      <td>0.499712</td>
    </tr>
    <tr>
      <td>2600.3491</td>
      <td>0.032853</td>
      <td>0.496792</td>
    </tr>
    <tr>
      <td>2605.5188</td>
      <td>0.020848</td>
      <td>0.493879</td>
    </tr>
    <tr>
      <td>2610.6885</td>
      <td>0.008881</td>
      <td>0.490970</td>
    </tr>
  </tbody>
</table>