<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2274.4457</td>
      <td>0.019691</td>
      <td>0.524229</td>
    </tr>
    <tr>
      <td>2279.0406</td>
      <td>0.007536</td>
      <td>0.521285</td>
    </tr>
    <tr>
      <td>2283.6354</td>
      <td>-0.004626</td>
      <td>0.518342</td>
    </tr>
    <tr>
      <td>2288.2302</td>
      <td>-0.016693</td>
      <td>0.515414</td>
    </tr>
    <tr>
      <td>2292.8251</td>
      <td>-0.028766</td>
      <td>0.512482</td>
    </tr>
    <tr>
      <td>2297.4199</td>
      <td>-0.040846</td>
      <td>0.509554</td>
    </tr>
    <tr>
      <td>2302.0148</td>
      <td>-0.052896</td>
      <td>0.506627</td>
    </tr>
    <tr>
      <td>2306.6096</td>
      <td>-0.064919</td>
      <td>0.503709</td>
    </tr>
    <tr>
      <td>2311.2044</td>
      <td>-0.076909</td>
      <td>0.500795</td>
    </tr>
    <tr>
      <td>2315.7993</td>
      <td>-0.088920</td>
      <td>0.497877</td>
    </tr>
    <tr>
      <td>2320.3941</td>
      <td>-0.100887</td>
      <td>0.494970</td>
    </tr>
  </tbody>
</table>