<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2630.3014</td>
      <td>-0.084481</td>
      <td>0.477207</td>
    </tr>
    <tr>
      <td>2635.6152</td>
      <td>-0.096559</td>
      <td>0.474127</td>
    </tr>
    <tr>
      <td>2640.9289</td>
      <td>-0.108707</td>
      <td>0.471033</td>
    </tr>
    <tr>
      <td>2646.2426</td>
      <td>-0.120742</td>
      <td>0.467968</td>
    </tr>
    <tr>
      <td>2651.5564</td>
      <td>-0.132805</td>
      <td>0.464900</td>
    </tr>
    <tr>
      <td>2656.8701</td>
      <td>-0.144840</td>
      <td>0.461836</td>
    </tr>
    <tr>
      <td>2662.1839</td>
      <td>-0.156822</td>
      <td>0.458793</td>
    </tr>
    <tr>
      <td>2667.4976</td>
      <td>-0.168841</td>
      <td>0.455745</td>
    </tr>
    <tr>
      <td>2672.8113</td>
      <td>-0.180820</td>
      <td>0.452714</td>
    </tr>
    <tr>
      <td>2678.1251</td>
      <td>-0.192801</td>
      <td>0.449679</td>
    </tr>
    <tr>
      <td>2683.4388</td>
      <td>-0.204738</td>
      <td>0.446661</td>
    </tr>
  </tbody>
</table>