<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2334.9844</td>
      <td>0.101851</td>
      <td>0.537954</td>
    </tr>
    <tr>
      <td>2339.7015</td>
      <td>0.089683</td>
      <td>0.535013</td>
    </tr>
    <tr>
      <td>2344.4186</td>
      <td>0.077595</td>
      <td>0.532087</td>
    </tr>
    <tr>
      <td>2349.1358</td>
      <td>0.065450</td>
      <td>0.529150</td>
    </tr>
    <tr>
      <td>2353.8529</td>
      <td>0.053370</td>
      <td>0.526227</td>
    </tr>
    <tr>
      <td>2358.5701</td>
      <td>0.041253</td>
      <td>0.523288</td>
    </tr>
    <tr>
      <td>2363.2872</td>
      <td>0.029209</td>
      <td>0.520367</td>
    </tr>
    <tr>
      <td>2368.0043</td>
      <td>0.017161</td>
      <td>0.517444</td>
    </tr>
    <tr>
      <td>2372.7215</td>
      <td>0.005125</td>
      <td>0.514522</td>
    </tr>
    <tr>
      <td>2377.4386</td>
      <td>-0.006856</td>
      <td>0.511612</td>
    </tr>
    <tr>
      <td>2382.1558</td>
      <td>-0.018870</td>
      <td>0.508696</td>
    </tr>
  </tbody>
</table>