<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2182.6629</td>
      <td>0.144099</td>
      <td>0.523449</td>
    </tr>
    <tr>
      <td>2187.0723</td>
      <td>0.132493</td>
      <td>0.520441</td>
    </tr>
    <tr>
      <td>2191.4817</td>
      <td>0.120863</td>
      <td>0.517430</td>
    </tr>
    <tr>
      <td>2195.8911</td>
      <td>0.109300</td>
      <td>0.514437</td>
    </tr>
    <tr>
      <td>2200.3005</td>
      <td>0.097739</td>
      <td>0.511433</td>
    </tr>
    <tr>
      <td>2204.7100</td>
      <td>0.086172</td>
      <td>0.508439</td>
    </tr>
    <tr>
      <td>2209.1194</td>
      <td>0.074666</td>
      <td>0.505451</td>
    </tr>
    <tr>
      <td>2213.5288</td>
      <td>0.063128</td>
      <td>0.502453</td>
    </tr>
    <tr>
      <td>2217.9382</td>
      <td>0.051636</td>
      <td>0.499475</td>
    </tr>
    <tr>
      <td>2222.3476</td>
      <td>0.040159</td>
      <td>0.496494</td>
    </tr>
    <tr>
      <td>2226.7571</td>
      <td>0.028737</td>
      <td>0.493526</td>
    </tr>
  </tbody>
</table>