<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2138.1327</td>
      <td>0.056954</td>
      <td>0.511818</td>
    </tr>
    <tr>
      <td>2142.4521</td>
      <td>0.045410</td>
      <td>0.508817</td>
    </tr>
    <tr>
      <td>2146.7716</td>
      <td>0.033838</td>
      <td>0.505816</td>
    </tr>
    <tr>
      <td>2151.0911</td>
      <td>0.022315</td>
      <td>0.502819</td>
    </tr>
    <tr>
      <td>2155.4105</td>
      <td>0.010764</td>
      <td>0.499823</td>
    </tr>
    <tr>
      <td>2159.7300</td>
      <td>-0.000726</td>
      <td>0.496831</td>
    </tr>
    <tr>
      <td>2164.0494</td>
      <td>-0.012222</td>
      <td>0.493852</td>
    </tr>
    <tr>
      <td>2168.3689</td>
      <td>-0.023709</td>
      <td>0.490864</td>
    </tr>
    <tr>
      <td>2172.6884</td>
      <td>-0.035148</td>
      <td>0.487896</td>
    </tr>
    <tr>
      <td>2177.0078</td>
      <td>-0.046558</td>
      <td>0.484927</td>
    </tr>
    <tr>
      <td>2181.3273</td>
      <td>-0.057990</td>
      <td>0.481963</td>
    </tr>
  </tbody>
</table>