<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2246.2109</td>
      <td>0.107881</td>
      <td>0.531591</td>
    </tr>
    <tr>
      <td>2250.7487</td>
      <td>0.095703</td>
      <td>0.528636</td>
    </tr>
    <tr>
      <td>2255.2865</td>
      <td>0.083477</td>
      <td>0.525673</td>
    </tr>
    <tr>
      <td>2259.8243</td>
      <td>0.071317</td>
      <td>0.522724</td>
    </tr>
    <tr>
      <td>2264.3621</td>
      <td>0.059180</td>
      <td>0.519777</td>
    </tr>
    <tr>
      <td>2268.8999</td>
      <td>0.047094</td>
      <td>0.516837</td>
    </tr>
    <tr>
      <td>2273.4377</td>
      <td>0.035001</td>
      <td>0.513897</td>
    </tr>
    <tr>
      <td>2277.9755</td>
      <td>0.022891</td>
      <td>0.510953</td>
    </tr>
    <tr>
      <td>2282.5133</td>
      <td>0.010856</td>
      <td>0.508025</td>
    </tr>
    <tr>
      <td>2287.0511</td>
      <td>-0.001173</td>
      <td>0.505097</td>
    </tr>
    <tr>
      <td>2291.5889</td>
      <td>-0.013235</td>
      <td>0.502160</td>
    </tr>
  </tbody>
</table>