<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2654.6553</td>
      <td>0.143931</td>
      <td>0.524053</td>
    </tr>
    <tr>
      <td>2660.0182</td>
      <td>0.131678</td>
      <td>0.521086</td>
    </tr>
    <tr>
      <td>2665.3812</td>
      <td>0.119495</td>
      <td>0.518133</td>
    </tr>
    <tr>
      <td>2670.7441</td>
      <td>0.107330</td>
      <td>0.515182</td>
    </tr>
    <tr>
      <td>2676.1070</td>
      <td>0.095142</td>
      <td>0.512226</td>
    </tr>
    <tr>
      <td>2681.4700</td>
      <td>0.083003</td>
      <td>0.509282</td>
    </tr>
    <tr>
      <td>2686.8329</td>
      <td>0.070884</td>
      <td>0.506343</td>
    </tr>
    <tr>
      <td>2692.1959</td>
      <td>0.058764</td>
      <td>0.503392</td>
    </tr>
    <tr>
      <td>2697.5588</td>
      <td>0.046700</td>
      <td>0.500469</td>
    </tr>
    <tr>
      <td>2702.9217</td>
      <td>0.034630</td>
      <td>0.497537</td>
    </tr>
    <tr>
      <td>2708.2847</td>
      <td>0.022562</td>
      <td>0.494608</td>
    </tr>
  </tbody>
</table>