<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2142.8055</td>
      <td>0.059510</td>
      <td>0.509523</td>
    </tr>
    <tr>
      <td>2147.1344</td>
      <td>0.047805</td>
      <td>0.506474</td>
    </tr>
    <tr>
      <td>2151.4633</td>
      <td>0.036146</td>
      <td>0.503434</td>
    </tr>
    <tr>
      <td>2155.7922</td>
      <td>0.024485</td>
      <td>0.500396</td>
    </tr>
    <tr>
      <td>2160.1211</td>
      <td>0.012862</td>
      <td>0.497373</td>
    </tr>
    <tr>
      <td>2164.4500</td>
      <td>0.001223</td>
      <td>0.494338</td>
    </tr>
    <tr>
      <td>2168.7789</td>
      <td>-0.010400</td>
      <td>0.491313</td>
    </tr>
    <tr>
      <td>2173.1078</td>
      <td>-0.021979</td>
      <td>0.488293</td>
    </tr>
    <tr>
      <td>2177.4367</td>
      <td>-0.033525</td>
      <td>0.485287</td>
    </tr>
    <tr>
      <td>2181.7656</td>
      <td>-0.045057</td>
      <td>0.482278</td>
    </tr>
    <tr>
      <td>2186.0945</td>
      <td>-0.056595</td>
      <td>0.479277</td>
    </tr>
  </tbody>
</table>