<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2118.2041</td>
      <td>0.156965</td>
      <td>0.537863</td>
    </tr>
    <tr>
      <td>2122.4833</td>
      <td>0.145322</td>
      <td>0.534867</td>
    </tr>
    <tr>
      <td>2126.7625</td>
      <td>0.133723</td>
      <td>0.531870</td>
    </tr>
    <tr>
      <td>2131.0417</td>
      <td>0.122133</td>
      <td>0.528872</td>
    </tr>
    <tr>
      <td>2135.3209</td>
      <td>0.110559</td>
      <td>0.525876</td>
    </tr>
    <tr>
      <td>2139.6001</td>
      <td>0.099046</td>
      <td>0.522893</td>
    </tr>
    <tr>
      <td>2143.8793</td>
      <td>0.087490</td>
      <td>0.519901</td>
    </tr>
    <tr>
      <td>2148.1585</td>
      <td>0.075941</td>
      <td>0.516911</td>
    </tr>
    <tr>
      <td>2152.4377</td>
      <td>0.064457</td>
      <td>0.513931</td>
    </tr>
    <tr>
      <td>2156.7169</td>
      <td>0.052980</td>
      <td>0.510953</td>
    </tr>
    <tr>
      <td>2160.9961</td>
      <td>0.041526</td>
      <td>0.507977</td>
    </tr>
  </tbody>
</table>