<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2556.3185</td>
      <td>0.147145</td>
      <td>0.526339</td>
    </tr>
    <tr>
      <td>2561.4828</td>
      <td>0.134946</td>
      <td>0.523385</td>
    </tr>
    <tr>
      <td>2566.6471</td>
      <td>0.122811</td>
      <td>0.520448</td>
    </tr>
    <tr>
      <td>2571.8113</td>
      <td>0.110641</td>
      <td>0.517499</td>
    </tr>
    <tr>
      <td>2576.9756</td>
      <td>0.098552</td>
      <td>0.514568</td>
    </tr>
    <tr>
      <td>2582.1399</td>
      <td>0.086418</td>
      <td>0.511628</td>
    </tr>
    <tr>
      <td>2587.3042</td>
      <td>0.074354</td>
      <td>0.508701</td>
    </tr>
    <tr>
      <td>2592.4685</td>
      <td>0.062284</td>
      <td>0.505771</td>
    </tr>
    <tr>
      <td>2597.6327</td>
      <td>0.050266</td>
      <td>0.502853</td>
    </tr>
    <tr>
      <td>2602.7970</td>
      <td>0.038214</td>
      <td>0.499928</td>
    </tr>
    <tr>
      <td>2607.9613</td>
      <td>0.026213</td>
      <td>0.497018</td>
    </tr>
  </tbody>
</table>