<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2246.1911</td>
      <td>0.113097</td>
      <td>0.515663</td>
    </tr>
    <tr>
      <td>2250.7288</td>
      <td>0.101473</td>
      <td>0.512647</td>
    </tr>
    <tr>
      <td>2255.2666</td>
      <td>0.089846</td>
      <td>0.509637</td>
    </tr>
    <tr>
      <td>2259.8044</td>
      <td>0.078291</td>
      <td>0.506634</td>
    </tr>
    <tr>
      <td>2264.3421</td>
      <td>0.066709</td>
      <td>0.503624</td>
    </tr>
    <tr>
      <td>2268.8799</td>
      <td>0.055141</td>
      <td>0.500625</td>
    </tr>
    <tr>
      <td>2273.4176</td>
      <td>0.043611</td>
      <td>0.497636</td>
    </tr>
    <tr>
      <td>2277.9554</td>
      <td>0.032100</td>
      <td>0.494649</td>
    </tr>
    <tr>
      <td>2282.4932</td>
      <td>0.020612</td>
      <td>0.491660</td>
    </tr>
    <tr>
      <td>2287.0309</td>
      <td>0.009102</td>
      <td>0.488676</td>
    </tr>
    <tr>
      <td>2291.5687</td>
      <td>-0.002330</td>
      <td>0.485707</td>
    </tr>
  </tbody>
</table>