<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2549.5074</td>
      <td>0.085295</td>
      <td>0.520665</td>
    </tr>
    <tr>
      <td>2554.6579</td>
      <td>0.073136</td>
      <td>0.517713</td>
    </tr>
    <tr>
      <td>2559.8084</td>
      <td>0.061027</td>
      <td>0.514776</td>
    </tr>
    <tr>
      <td>2564.9590</td>
      <td>0.048883</td>
      <td>0.511823</td>
    </tr>
    <tr>
      <td>2570.1095</td>
      <td>0.036809</td>
      <td>0.508894</td>
    </tr>
    <tr>
      <td>2575.2600</td>
      <td>0.024687</td>
      <td>0.505950</td>
    </tr>
    <tr>
      <td>2580.4105</td>
      <td>0.012664</td>
      <td>0.503024</td>
    </tr>
    <tr>
      <td>2585.5611</td>
      <td>0.000581</td>
      <td>0.500092</td>
    </tr>
    <tr>
      <td>2590.7116</td>
      <td>-0.011437</td>
      <td>0.497167</td>
    </tr>
    <tr>
      <td>2595.8621</td>
      <td>-0.023443</td>
      <td>0.494245</td>
    </tr>
    <tr>
      <td>2601.0126</td>
      <td>-0.035446</td>
      <td>0.491332</td>
    </tr>
  </tbody>
</table>