<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2900.3732</td>
      <td>0.068871</td>
      <td>0.527735</td>
    </tr>
    <tr>
      <td>2906.2326</td>
      <td>0.056616</td>
      <td>0.524610</td>
    </tr>
    <tr>
      <td>2912.0919</td>
      <td>0.044385</td>
      <td>0.521490</td>
    </tr>
    <tr>
      <td>2917.9512</td>
      <td>0.032169</td>
      <td>0.518369</td>
    </tr>
    <tr>
      <td>2923.8106</td>
      <td>0.019979</td>
      <td>0.515257</td>
    </tr>
    <tr>
      <td>2929.6699</td>
      <td>0.007812</td>
      <td>0.512147</td>
    </tr>
    <tr>
      <td>2935.5293</td>
      <td>-0.004368</td>
      <td>0.509034</td>
    </tr>
    <tr>
      <td>2941.3886</td>
      <td>-0.016460</td>
      <td>0.505940</td>
    </tr>
    <tr>
      <td>2947.2479</td>
      <td>-0.028607</td>
      <td>0.502839</td>
    </tr>
    <tr>
      <td>2953.1073</td>
      <td>-0.040676</td>
      <td>0.499752</td>
    </tr>
    <tr>
      <td>2958.9666</td>
      <td>-0.052773</td>
      <td>0.496661</td>
    </tr>
  </tbody>
</table>