<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2615.7680</td>
      <td>0.224189</td>
      <td>0.539662</td>
    </tr>
    <tr>
      <td>2621.0524</td>
      <td>0.211835</td>
      <td>0.536534</td>
    </tr>
    <tr>
      <td>2626.3368</td>
      <td>0.199518</td>
      <td>0.533420</td>
    </tr>
    <tr>
      <td>2631.6212</td>
      <td>0.187230</td>
      <td>0.530303</td>
    </tr>
    <tr>
      <td>2636.9056</td>
      <td>0.174983</td>
      <td>0.527193</td>
    </tr>
    <tr>
      <td>2642.1899</td>
      <td>0.162692</td>
      <td>0.524077</td>
    </tr>
    <tr>
      <td>2647.4743</td>
      <td>0.150436</td>
      <td>0.520965</td>
    </tr>
    <tr>
      <td>2652.7587</td>
      <td>0.138271</td>
      <td>0.517869</td>
    </tr>
    <tr>
      <td>2658.0431</td>
      <td>0.126018</td>
      <td>0.514760</td>
    </tr>
    <tr>
      <td>2663.3275</td>
      <td>0.113844</td>
      <td>0.511664</td>
    </tr>
    <tr>
      <td>2668.6118</td>
      <td>0.101671</td>
      <td>0.508570</td>
    </tr>
  </tbody>
</table>