<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2660.6646</td>
      <td>0.097604</td>
      <td>0.524265</td>
    </tr>
    <tr>
      <td>2666.0397</td>
      <td>0.085447</td>
      <td>0.521319</td>
    </tr>
    <tr>
      <td>2671.4148</td>
      <td>0.073305</td>
      <td>0.518378</td>
    </tr>
    <tr>
      <td>2676.7899</td>
      <td>0.061162</td>
      <td>0.515430</td>
    </tr>
    <tr>
      <td>2682.1650</td>
      <td>0.049076</td>
      <td>0.512499</td>
    </tr>
    <tr>
      <td>2687.5400</td>
      <td>0.037010</td>
      <td>0.509566</td>
    </tr>
    <tr>
      <td>2692.9151</td>
      <td>0.024916</td>
      <td>0.506634</td>
    </tr>
    <tr>
      <td>2698.2902</td>
      <td>0.012892</td>
      <td>0.503706</td>
    </tr>
    <tr>
      <td>2703.6653</td>
      <td>0.000843</td>
      <td>0.500780</td>
    </tr>
    <tr>
      <td>2709.0404</td>
      <td>-0.011130</td>
      <td>0.497870</td>
    </tr>
    <tr>
      <td>2714.4154</td>
      <td>-0.023121</td>
      <td>0.494962</td>
    </tr>
  </tbody>
</table>