<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2329.4205</td>
      <td>0.125542</td>
      <td>0.530177</td>
    </tr>
    <tr>
      <td>2334.1264</td>
      <td>0.113375</td>
      <td>0.527240</td>
    </tr>
    <tr>
      <td>2338.8323</td>
      <td>0.101237</td>
      <td>0.524296</td>
    </tr>
    <tr>
      <td>2343.5382</td>
      <td>0.089083</td>
      <td>0.521358</td>
    </tr>
    <tr>
      <td>2348.2441</td>
      <td>0.076950</td>
      <td>0.518416</td>
    </tr>
    <tr>
      <td>2352.9500</td>
      <td>0.064842</td>
      <td>0.515483</td>
    </tr>
    <tr>
      <td>2357.6559</td>
      <td>0.052777</td>
      <td>0.512560</td>
    </tr>
    <tr>
      <td>2362.3618</td>
      <td>0.040728</td>
      <td>0.509637</td>
    </tr>
    <tr>
      <td>2367.0677</td>
      <td>0.028677</td>
      <td>0.506712</td>
    </tr>
    <tr>
      <td>2371.7736</td>
      <td>0.016665</td>
      <td>0.503798</td>
    </tr>
    <tr>
      <td>2376.4795</td>
      <td>0.004627</td>
      <td>0.500878</td>
    </tr>
  </tbody>
</table>