<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2790.6319</td>
      <td>0.081528</td>
      <td>0.533340</td>
    </tr>
    <tr>
      <td>2796.2695</td>
      <td>0.069276</td>
      <td>0.530215</td>
    </tr>
    <tr>
      <td>2801.9071</td>
      <td>0.057059</td>
      <td>0.527099</td>
    </tr>
    <tr>
      <td>2807.5448</td>
      <td>0.044814</td>
      <td>0.523973</td>
    </tr>
    <tr>
      <td>2813.1824</td>
      <td>0.032650</td>
      <td>0.520868</td>
    </tr>
    <tr>
      <td>2818.8201</td>
      <td>0.020465</td>
      <td>0.517752</td>
    </tr>
    <tr>
      <td>2824.4577</td>
      <td>0.008336</td>
      <td>0.514650</td>
    </tr>
    <tr>
      <td>2830.0953</td>
      <td>-0.003799</td>
      <td>0.511549</td>
    </tr>
    <tr>
      <td>2835.7330</td>
      <td>-0.015943</td>
      <td>0.508445</td>
    </tr>
    <tr>
      <td>2841.3706</td>
      <td>-0.027982</td>
      <td>0.505362</td>
    </tr>
    <tr>
      <td>2847.0083</td>
      <td>-0.040109</td>
      <td>0.502261</td>
    </tr>
  </tbody>
</table>