<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2713.2830</td>
      <td>0.140638</td>
      <td>0.511944</td>
    </tr>
    <tr>
      <td>2718.7644</td>
      <td>0.128436</td>
      <td>0.508836</td>
    </tr>
    <tr>
      <td>2724.2458</td>
      <td>0.116257</td>
      <td>0.505737</td>
    </tr>
    <tr>
      <td>2729.7272</td>
      <td>0.104095</td>
      <td>0.502642</td>
    </tr>
    <tr>
      <td>2735.2086</td>
      <td>0.091954</td>
      <td>0.499549</td>
    </tr>
    <tr>
      <td>2740.6899</td>
      <td>0.079831</td>
      <td>0.496462</td>
    </tr>
    <tr>
      <td>2746.1713</td>
      <td>0.067724</td>
      <td>0.493381</td>
    </tr>
    <tr>
      <td>2751.6527</td>
      <td>0.055639</td>
      <td>0.490313</td>
    </tr>
    <tr>
      <td>2757.1341</td>
      <td>0.043549</td>
      <td>0.487234</td>
    </tr>
    <tr>
      <td>2762.6155</td>
      <td>0.031495</td>
      <td>0.484170</td>
    </tr>
    <tr>
      <td>2768.0968</td>
      <td>0.019494</td>
      <td>0.481116</td>
    </tr>
  </tbody>
</table>