<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2182.6728</td>
      <td>0.118156</td>
      <td>0.518599</td>
    </tr>
    <tr>
      <td>2187.0822</td>
      <td>0.106490</td>
      <td>0.515577</td>
    </tr>
    <tr>
      <td>2191.4917</td>
      <td>0.094806</td>
      <td>0.512543</td>
    </tr>
    <tr>
      <td>2195.9011</td>
      <td>0.083226</td>
      <td>0.509531</td>
    </tr>
    <tr>
      <td>2200.3105</td>
      <td>0.071592</td>
      <td>0.506511</td>
    </tr>
    <tr>
      <td>2204.7200</td>
      <td>0.060010</td>
      <td>0.503506</td>
    </tr>
    <tr>
      <td>2209.1294</td>
      <td>0.048428</td>
      <td>0.500499</td>
    </tr>
    <tr>
      <td>2213.5389</td>
      <td>0.036860</td>
      <td>0.497494</td>
    </tr>
    <tr>
      <td>2217.9483</td>
      <td>0.025287</td>
      <td>0.494486</td>
    </tr>
    <tr>
      <td>2222.3577</td>
      <td>0.013780</td>
      <td>0.491496</td>
    </tr>
    <tr>
      <td>2226.7672</td>
      <td>0.002244</td>
      <td>0.488507</td>
    </tr>
  </tbody>
</table>