<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2385.6525</td>
      <td>0.203386</td>
      <td>0.553068</td>
    </tr>
    <tr>
      <td>2390.4720</td>
      <td>0.191151</td>
      <td>0.550135</td>
    </tr>
    <tr>
      <td>2395.2915</td>
      <td>0.178954</td>
      <td>0.547209</td>
    </tr>
    <tr>
      <td>2400.1110</td>
      <td>0.166797</td>
      <td>0.544281</td>
    </tr>
    <tr>
      <td>2404.9305</td>
      <td>0.154630</td>
      <td>0.541353</td>
    </tr>
    <tr>
      <td>2409.7500</td>
      <td>0.142477</td>
      <td>0.538426</td>
    </tr>
    <tr>
      <td>2414.5695</td>
      <td>0.130328</td>
      <td>0.535501</td>
    </tr>
    <tr>
      <td>2419.3890</td>
      <td>0.118224</td>
      <td>0.532577</td>
    </tr>
    <tr>
      <td>2424.2085</td>
      <td>0.106139</td>
      <td>0.529658</td>
    </tr>
    <tr>
      <td>2429.0280</td>
      <td>0.094090</td>
      <td>0.526743</td>
    </tr>
    <tr>
      <td>2433.8475</td>
      <td>0.082061</td>
      <td>0.523831</td>
    </tr>
  </tbody>
</table>