<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2872.1186</td>
      <td>0.081887</td>
      <td>0.526941</td>
    </tr>
    <tr>
      <td>2877.9208</td>
      <td>0.069609</td>
      <td>0.523810</td>
    </tr>
    <tr>
      <td>2883.7231</td>
      <td>0.057380</td>
      <td>0.520682</td>
    </tr>
    <tr>
      <td>2889.5254</td>
      <td>0.045155</td>
      <td>0.517559</td>
    </tr>
    <tr>
      <td>2895.3276</td>
      <td>0.032925</td>
      <td>0.514432</td>
    </tr>
    <tr>
      <td>2901.1299</td>
      <td>0.020777</td>
      <td>0.511321</td>
    </tr>
    <tr>
      <td>2906.9321</td>
      <td>0.008610</td>
      <td>0.508206</td>
    </tr>
    <tr>
      <td>2912.7344</td>
      <td>-0.003528</td>
      <td>0.505103</td>
    </tr>
    <tr>
      <td>2918.5367</td>
      <td>-0.015628</td>
      <td>0.502003</td>
    </tr>
    <tr>
      <td>2924.3389</td>
      <td>-0.027745</td>
      <td>0.498901</td>
    </tr>
    <tr>
      <td>2930.1412</td>
      <td>-0.039829</td>
      <td>0.495810</td>
    </tr>
  </tbody>
</table>