<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2651.0617</td>
      <td>0.025467</td>
      <td>0.501676</td>
    </tr>
    <tr>
      <td>2656.4174</td>
      <td>0.013213</td>
      <td>0.498545</td>
    </tr>
    <tr>
      <td>2661.7730</td>
      <td>0.001030</td>
      <td>0.495434</td>
    </tr>
    <tr>
      <td>2667.1287</td>
      <td>-0.011167</td>
      <td>0.492319</td>
    </tr>
    <tr>
      <td>2672.4844</td>
      <td>-0.023310</td>
      <td>0.489216</td>
    </tr>
    <tr>
      <td>2677.8401</td>
      <td>-0.035460</td>
      <td>0.486114</td>
    </tr>
    <tr>
      <td>2683.1958</td>
      <td>-0.047576</td>
      <td>0.483021</td>
    </tr>
    <tr>
      <td>2688.5514</td>
      <td>-0.059690</td>
      <td>0.479928</td>
    </tr>
    <tr>
      <td>2693.9071</td>
      <td>-0.071747</td>
      <td>0.476855</td>
    </tr>
    <tr>
      <td>2699.2628</td>
      <td>-0.083829</td>
      <td>0.473774</td>
    </tr>
    <tr>
      <td>2704.6185</td>
      <td>-0.095851</td>
      <td>0.470713</td>
    </tr>
  </tbody>
</table>