<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2845.9430</td>
      <td>0.047413</td>
      <td>0.513781</td>
    </tr>
    <tr>
      <td>2851.6924</td>
      <td>0.035200</td>
      <td>0.510667</td>
    </tr>
    <tr>
      <td>2857.4418</td>
      <td>0.023023</td>
      <td>0.507554</td>
    </tr>
    <tr>
      <td>2863.1912</td>
      <td>0.010851</td>
      <td>0.504448</td>
    </tr>
    <tr>
      <td>2868.9406</td>
      <td>-0.001258</td>
      <td>0.501354</td>
    </tr>
    <tr>
      <td>2874.6899</td>
      <td>-0.013400</td>
      <td>0.498252</td>
    </tr>
    <tr>
      <td>2880.4393</td>
      <td>-0.025508</td>
      <td>0.495160</td>
    </tr>
    <tr>
      <td>2886.1887</td>
      <td>-0.037608</td>
      <td>0.492073</td>
    </tr>
    <tr>
      <td>2891.9381</td>
      <td>-0.049646</td>
      <td>0.488996</td>
    </tr>
    <tr>
      <td>2897.6875</td>
      <td>-0.061723</td>
      <td>0.485916</td>
    </tr>
    <tr>
      <td>2903.4368</td>
      <td>-0.073755</td>
      <td>0.482844</td>
    </tr>
  </tbody>
</table>