<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2624.0346</td>
      <td>0.075553</td>
      <td>0.548432</td>
    </tr>
    <tr>
      <td>2629.3357</td>
      <td>0.063359</td>
      <td>0.545340</td>
    </tr>
    <tr>
      <td>2634.6368</td>
      <td>0.051167</td>
      <td>0.542251</td>
    </tr>
    <tr>
      <td>2639.9379</td>
      <td>0.039011</td>
      <td>0.539164</td>
    </tr>
    <tr>
      <td>2645.2390</td>
      <td>0.026836</td>
      <td>0.536074</td>
    </tr>
    <tr>
      <td>2650.5400</td>
      <td>0.014776</td>
      <td>0.533001</td>
    </tr>
    <tr>
      <td>2655.8411</td>
      <td>0.002650</td>
      <td>0.529916</td>
    </tr>
    <tr>
      <td>2661.1422</td>
      <td>-0.009437</td>
      <td>0.526840</td>
    </tr>
    <tr>
      <td>2666.4433</td>
      <td>-0.021488</td>
      <td>0.523765</td>
    </tr>
    <tr>
      <td>2671.7444</td>
      <td>-0.033541</td>
      <td>0.520696</td>
    </tr>
    <tr>
      <td>2677.0454</td>
      <td>-0.045540</td>
      <td>0.517632</td>
    </tr>
  </tbody>
</table>