<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
    <tr>
      <td>2560.3999</td>
      <td>0.040358</td>
      <td>0.512849</td>
    </tr>
  </tbody>
</table>