<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2409.4521</td>
      <td>0.069707</td>
      <td>0.516995</td>
    </tr>
    <tr>
      <td>2414.3197</td>
      <td>0.057505</td>
      <td>0.514027</td>
    </tr>
    <tr>
      <td>2419.1873</td>
      <td>0.045271</td>
      <td>0.511060</td>
    </tr>
    <tr>
      <td>2424.0549</td>
      <td>0.033075</td>
      <td>0.508097</td>
    </tr>
    <tr>
      <td>2428.9225</td>
      <td>0.020918</td>
      <td>0.505140</td>
    </tr>
    <tr>
      <td>2433.7900</td>
      <td>0.008765</td>
      <td>0.502183</td>
    </tr>
    <tr>
      <td>2438.6576</td>
      <td>-0.003342</td>
      <td>0.499239</td>
    </tr>
    <tr>
      <td>2443.5252</td>
      <td>-0.015466</td>
      <td>0.496292</td>
    </tr>
    <tr>
      <td>2448.3928</td>
      <td>-0.027555</td>
      <td>0.493354</td>
    </tr>
    <tr>
      <td>2453.2604</td>
      <td>-0.039649</td>
      <td>0.490415</td>
    </tr>
    <tr>
      <td>2458.1279</td>
      <td>-0.051693</td>
      <td>0.487487</td>
    </tr>
  </tbody>
</table>