<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2180.9105</td>
      <td>0.062826</td>
      <td>0.504563</td>
    </tr>
    <tr>
      <td>2185.3164</td>
      <td>0.051202</td>
      <td>0.501540</td>
    </tr>
    <tr>
      <td>2189.7223</td>
      <td>0.039617</td>
      <td>0.498523</td>
    </tr>
    <tr>
      <td>2194.1282</td>
      <td>0.027983</td>
      <td>0.495507</td>
    </tr>
    <tr>
      <td>2198.5341</td>
      <td>0.016430</td>
      <td>0.492500</td>
    </tr>
    <tr>
      <td>2202.9399</td>
      <td>0.004879</td>
      <td>0.489496</td>
    </tr>
    <tr>
      <td>2207.3458</td>
      <td>-0.006698</td>
      <td>0.486491</td>
    </tr>
    <tr>
      <td>2211.7517</td>
      <td>-0.018217</td>
      <td>0.483499</td>
    </tr>
    <tr>
      <td>2216.1576</td>
      <td>-0.029718</td>
      <td>0.480514</td>
    </tr>
    <tr>
      <td>2220.5635</td>
      <td>-0.041190</td>
      <td>0.477533</td>
    </tr>
    <tr>
      <td>2224.9693</td>
      <td>-0.052666</td>
      <td>0.474553</td>
    </tr>
  </tbody>
</table>