<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2138.3306</td>
      <td>0.040288</td>
      <td>0.506382</td>
    </tr>
    <tr>
      <td>2142.6505</td>
      <td>0.028743</td>
      <td>0.503368</td>
    </tr>
    <tr>
      <td>2146.9704</td>
      <td>0.017188</td>
      <td>0.500358</td>
    </tr>
    <tr>
      <td>2151.2902</td>
      <td>0.005686</td>
      <td>0.497357</td>
    </tr>
    <tr>
      <td>2155.6101</td>
      <td>-0.005830</td>
      <td>0.494352</td>
    </tr>
    <tr>
      <td>2159.9299</td>
      <td>-0.017284</td>
      <td>0.491367</td>
    </tr>
    <tr>
      <td>2164.2498</td>
      <td>-0.028756</td>
      <td>0.488370</td>
    </tr>
    <tr>
      <td>2168.5697</td>
      <td>-0.040210</td>
      <td>0.485390</td>
    </tr>
    <tr>
      <td>2172.8895</td>
      <td>-0.051614</td>
      <td>0.482415</td>
    </tr>
    <tr>
      <td>2177.2094</td>
      <td>-0.063050</td>
      <td>0.479436</td>
    </tr>
    <tr>
      <td>2181.5292</td>
      <td>-0.074429</td>
      <td>0.476472</td>
    </tr>
  </tbody>
</table>