<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2419.5996</td>
      <td>0.121721</td>
      <td>0.536676</td>
    </tr>
    <tr>
      <td>2424.4877</td>
      <td>0.109543</td>
      <td>0.533736</td>
    </tr>
    <tr>
      <td>2429.3758</td>
      <td>0.097361</td>
      <td>0.530796</td>
    </tr>
    <tr>
      <td>2434.2639</td>
      <td>0.085206</td>
      <td>0.527855</td>
    </tr>
    <tr>
      <td>2439.1520</td>
      <td>0.073069</td>
      <td>0.524922</td>
    </tr>
    <tr>
      <td>2444.0400</td>
      <td>0.060918</td>
      <td>0.521984</td>
    </tr>
    <tr>
      <td>2448.9281</td>
      <td>0.048838</td>
      <td>0.519059</td>
    </tr>
    <tr>
      <td>2453.8162</td>
      <td>0.036765</td>
      <td>0.516131</td>
    </tr>
    <tr>
      <td>2458.7043</td>
      <td>0.024694</td>
      <td>0.513205</td>
    </tr>
    <tr>
      <td>2463.5924</td>
      <td>0.012650</td>
      <td>0.510284</td>
    </tr>
    <tr>
      <td>2468.4804</td>
      <td>0.000654</td>
      <td>0.507373</td>
    </tr>
  </tbody>
</table>