<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2427.9849</td>
      <td>0.149926</td>
      <td>0.522366</td>
    </tr>
    <tr>
      <td>2432.8899</td>
      <td>0.137774</td>
      <td>0.519434</td>
    </tr>
    <tr>
      <td>2437.7949</td>
      <td>0.125614</td>
      <td>0.516495</td>
    </tr>
    <tr>
      <td>2442.7000</td>
      <td>0.113473</td>
      <td>0.513562</td>
    </tr>
    <tr>
      <td>2447.6050</td>
      <td>0.101373</td>
      <td>0.510632</td>
    </tr>
    <tr>
      <td>2452.5100</td>
      <td>0.089319</td>
      <td>0.507719</td>
    </tr>
    <tr>
      <td>2457.4150</td>
      <td>0.077216</td>
      <td>0.504792</td>
    </tr>
    <tr>
      <td>2462.3201</td>
      <td>0.065181</td>
      <td>0.501875</td>
    </tr>
    <tr>
      <td>2467.2251</td>
      <td>0.053178</td>
      <td>0.498968</td>
    </tr>
    <tr>
      <td>2472.1301</td>
      <td>0.041143</td>
      <td>0.496060</td>
    </tr>
    <tr>
      <td>2477.0351</td>
      <td>0.029146</td>
      <td>0.493157</td>
    </tr>
  </tbody>
</table>