<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2341.7955</td>
      <td>0.113233</td>
      <td>0.537533</td>
    </tr>
    <tr>
      <td>2346.5264</td>
      <td>0.101075</td>
      <td>0.534594</td>
    </tr>
    <tr>
      <td>2351.2573</td>
      <td>0.088881</td>
      <td>0.531650</td>
    </tr>
    <tr>
      <td>2355.9882</td>
      <td>0.076748</td>
      <td>0.528712</td>
    </tr>
    <tr>
      <td>2360.7191</td>
      <td>0.064643</td>
      <td>0.525777</td>
    </tr>
    <tr>
      <td>2365.4500</td>
      <td>0.052489</td>
      <td>0.522837</td>
    </tr>
    <tr>
      <td>2370.1809</td>
      <td>0.040405</td>
      <td>0.519904</td>
    </tr>
    <tr>
      <td>2374.9118</td>
      <td>0.028359</td>
      <td>0.516980</td>
    </tr>
    <tr>
      <td>2379.6427</td>
      <td>0.016322</td>
      <td>0.514055</td>
    </tr>
    <tr>
      <td>2384.3736</td>
      <td>0.004284</td>
      <td>0.511137</td>
    </tr>
    <tr>
      <td>2389.1045</td>
      <td>-0.007724</td>
      <td>0.508221</td>
    </tr>
  </tbody>
</table>