<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2104.8884</td>
      <td>0.132827</td>
      <td>0.521182</td>
    </tr>
    <tr>
      <td>2109.1407</td>
      <td>0.121242</td>
      <td>0.518181</td>
    </tr>
    <tr>
      <td>2113.3930</td>
      <td>0.109628</td>
      <td>0.515175</td>
    </tr>
    <tr>
      <td>2117.6453</td>
      <td>0.098059</td>
      <td>0.512176</td>
    </tr>
    <tr>
      <td>2121.8976</td>
      <td>0.086532</td>
      <td>0.509188</td>
    </tr>
    <tr>
      <td>2126.1499</td>
      <td>0.074993</td>
      <td>0.506196</td>
    </tr>
    <tr>
      <td>2130.4022</td>
      <td>0.063501</td>
      <td>0.503219</td>
    </tr>
    <tr>
      <td>2134.6545</td>
      <td>0.052017</td>
      <td>0.500236</td>
    </tr>
    <tr>
      <td>2138.9068</td>
      <td>0.040550</td>
      <td>0.497261</td>
    </tr>
    <tr>
      <td>2143.1591</td>
      <td>0.029038</td>
      <td>0.494279</td>
    </tr>
    <tr>
      <td>2147.4114</td>
      <td>0.017618</td>
      <td>0.491312</td>
    </tr>
  </tbody>
</table>