<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2561.9617</td>
      <td>0.054879</td>
      <td>0.514029</td>
    </tr>
    <tr>
      <td>2567.1374</td>
      <td>0.042728</td>
      <td>0.511083</td>
    </tr>
    <tr>
      <td>2572.3130</td>
      <td>0.030586</td>
      <td>0.508137</td>
    </tr>
    <tr>
      <td>2577.4887</td>
      <td>0.018458</td>
      <td>0.505189</td>
    </tr>
    <tr>
      <td>2582.6644</td>
      <td>0.006357</td>
      <td>0.502254</td>
    </tr>
    <tr>
      <td>2587.8401</td>
      <td>-0.005732</td>
      <td>0.499319</td>
    </tr>
    <tr>
      <td>2593.0158</td>
      <td>-0.017765</td>
      <td>0.496392</td>
    </tr>
    <tr>
      <td>2598.1914</td>
      <td>-0.029814</td>
      <td>0.493467</td>
    </tr>
    <tr>
      <td>2603.3671</td>
      <td>-0.041847</td>
      <td>0.490547</td>
    </tr>
    <tr>
      <td>2608.5428</td>
      <td>-0.053846</td>
      <td>0.487633</td>
    </tr>
    <tr>
      <td>2613.7185</td>
      <td>-0.065807</td>
      <td>0.484729</td>
    </tr>
  </tbody>
</table>