<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2525.4206</td>
      <td>0.099025</td>
      <td>0.521682</td>
    </tr>
    <tr>
      <td>2530.5225</td>
      <td>0.086851</td>
      <td>0.518735</td>
    </tr>
    <tr>
      <td>2535.6244</td>
      <td>0.074691</td>
      <td>0.515787</td>
    </tr>
    <tr>
      <td>2540.7262</td>
      <td>0.062568</td>
      <td>0.512846</td>
    </tr>
    <tr>
      <td>2545.8281</td>
      <td>0.050453</td>
      <td>0.509904</td>
    </tr>
    <tr>
      <td>2550.9299</td>
      <td>0.038329</td>
      <td>0.506961</td>
    </tr>
    <tr>
      <td>2556.0318</td>
      <td>0.026272</td>
      <td>0.504035</td>
    </tr>
    <tr>
      <td>2561.1337</td>
      <td>0.014170</td>
      <td>0.501099</td>
    </tr>
    <tr>
      <td>2566.2355</td>
      <td>0.002135</td>
      <td>0.498177</td>
    </tr>
    <tr>
      <td>2571.3374</td>
      <td>-0.009908</td>
      <td>0.495253</td>
    </tr>
    <tr>
      <td>2576.4392</td>
      <td>-0.021889</td>
      <td>0.492348</td>
    </tr>
  </tbody>
</table>