<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2445.2108</td>
      <td>0.101227</td>
      <td>0.520039</td>
    </tr>
    <tr>
      <td>2450.1506</td>
      <td>0.089070</td>
      <td>0.517083</td>
    </tr>
    <tr>
      <td>2455.0905</td>
      <td>0.076898</td>
      <td>0.514130</td>
    </tr>
    <tr>
      <td>2460.0303</td>
      <td>0.064769</td>
      <td>0.511184</td>
    </tr>
    <tr>
      <td>2464.9701</td>
      <td>0.052686</td>
      <td>0.508248</td>
    </tr>
    <tr>
      <td>2469.9099</td>
      <td>0.040586</td>
      <td>0.505304</td>
    </tr>
    <tr>
      <td>2474.8497</td>
      <td>0.028539</td>
      <td>0.502379</td>
    </tr>
    <tr>
      <td>2479.7896</td>
      <td>0.016438</td>
      <td>0.499439</td>
    </tr>
    <tr>
      <td>2484.7294</td>
      <td>0.004458</td>
      <td>0.496523</td>
    </tr>
    <tr>
      <td>2489.6692</td>
      <td>-0.007548</td>
      <td>0.493601</td>
    </tr>
    <tr>
      <td>2494.6090</td>
      <td>-0.019541</td>
      <td>0.490686</td>
    </tr>
  </tbody>
</table>