<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2599.8094</td>
      <td>0.087454</td>
      <td>0.514618</td>
    </tr>
    <tr>
      <td>2605.0615</td>
      <td>0.075269</td>
      <td>0.511658</td>
    </tr>
    <tr>
      <td>2610.3136</td>
      <td>0.063041</td>
      <td>0.508692</td>
    </tr>
    <tr>
      <td>2615.5658</td>
      <td>0.050917</td>
      <td>0.505742</td>
    </tr>
    <tr>
      <td>2620.8179</td>
      <td>0.038765</td>
      <td>0.502792</td>
    </tr>
    <tr>
      <td>2626.0701</td>
      <td>0.026677</td>
      <td>0.499853</td>
    </tr>
    <tr>
      <td>2631.3222</td>
      <td>0.014571</td>
      <td>0.496911</td>
    </tr>
    <tr>
      <td>2636.5743</td>
      <td>0.002510</td>
      <td>0.493979</td>
    </tr>
    <tr>
      <td>2641.8265</td>
      <td>-0.009548</td>
      <td>0.491052</td>
    </tr>
    <tr>
      <td>2647.0786</td>
      <td>-0.021653</td>
      <td>0.488113</td>
    </tr>
    <tr>
      <td>2652.3308</td>
      <td>-0.033632</td>
      <td>0.485205</td>
    </tr>
  </tbody>
</table>