<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2512.3626</td>
      <td>0.066902</td>
      <td>0.513616</td>
    </tr>
    <tr>
      <td>2517.4381</td>
      <td>0.054702</td>
      <td>0.510651</td>
    </tr>
    <tr>
      <td>2522.5136</td>
      <td>0.042561</td>
      <td>0.507699</td>
    </tr>
    <tr>
      <td>2527.5890</td>
      <td>0.030412</td>
      <td>0.504747</td>
    </tr>
    <tr>
      <td>2532.6645</td>
      <td>0.018338</td>
      <td>0.501810</td>
    </tr>
    <tr>
      <td>2537.7400</td>
      <td>0.006195</td>
      <td>0.498860</td>
    </tr>
    <tr>
      <td>2542.8155</td>
      <td>-0.005871</td>
      <td>0.495928</td>
    </tr>
    <tr>
      <td>2547.8909</td>
      <td>-0.017952</td>
      <td>0.492984</td>
    </tr>
    <tr>
      <td>2552.9664</td>
      <td>-0.029966</td>
      <td>0.490061</td>
    </tr>
    <tr>
      <td>2558.0419</td>
      <td>-0.041995</td>
      <td>0.487136</td>
    </tr>
    <tr>
      <td>2563.1174</td>
      <td>-0.053987</td>
      <td>0.484225</td>
    </tr>
  </tbody>
</table>