<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2614.4614</td>
      <td>-0.007626</td>
      <td>0.545650</td>
    </tr>
    <tr>
      <td>2619.7432</td>
      <td>-0.019788</td>
      <td>0.542564</td>
    </tr>
    <tr>
      <td>2625.0249</td>
      <td>-0.031849</td>
      <td>0.539487</td>
    </tr>
    <tr>
      <td>2630.3066</td>
      <td>-0.043954</td>
      <td>0.536406</td>
    </tr>
    <tr>
      <td>2635.5884</td>
      <td>-0.056004</td>
      <td>0.533329</td>
    </tr>
    <tr>
      <td>2640.8701</td>
      <td>-0.068020</td>
      <td>0.530264</td>
    </tr>
    <tr>
      <td>2646.1519</td>
      <td>-0.080046</td>
      <td>0.527194</td>
    </tr>
    <tr>
      <td>2651.4336</td>
      <td>-0.092045</td>
      <td>0.524125</td>
    </tr>
    <tr>
      <td>2656.7153</td>
      <td>-0.104015</td>
      <td>0.521064</td>
    </tr>
    <tr>
      <td>2661.9971</td>
      <td>-0.115980</td>
      <td>0.518004</td>
    </tr>
    <tr>
      <td>2667.2788</td>
      <td>-0.127897</td>
      <td>0.514952</td>
    </tr>
  </tbody>
</table>