<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2405.7595</td>
      <td>0.027365</td>
      <td>0.508892</td>
    </tr>
    <tr>
      <td>2410.6196</td>
      <td>0.015126</td>
      <td>0.505916</td>
    </tr>
    <tr>
      <td>2415.4797</td>
      <td>0.002970</td>
      <td>0.502956</td>
    </tr>
    <tr>
      <td>2420.3398</td>
      <td>-0.009221</td>
      <td>0.499993</td>
    </tr>
    <tr>
      <td>2425.1999</td>
      <td>-0.021377</td>
      <td>0.497033</td>
    </tr>
    <tr>
      <td>2430.0601</td>
      <td>-0.033523</td>
      <td>0.494078</td>
    </tr>
    <tr>
      <td>2434.9202</td>
      <td>-0.045625</td>
      <td>0.491135</td>
    </tr>
    <tr>
      <td>2439.7803</td>
      <td>-0.057703</td>
      <td>0.488193</td>
    </tr>
    <tr>
      <td>2444.6404</td>
      <td>-0.069799</td>
      <td>0.485259</td>
    </tr>
    <tr>
      <td>2449.5005</td>
      <td>-0.081827</td>
      <td>0.482334</td>
    </tr>
    <tr>
      <td>2454.3607</td>
      <td>-0.093851</td>
      <td>0.479406</td>
    </tr>
  </tbody>
</table>