<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2655.7939</td>
      <td>0.114422</td>
      <td>0.524610</td>
    </tr>
    <tr>
      <td>2661.1592</td>
      <td>0.102272</td>
      <td>0.521661</td>
    </tr>
    <tr>
      <td>2666.5244</td>
      <td>0.090138</td>
      <td>0.518720</td>
    </tr>
    <tr>
      <td>2671.8896</td>
      <td>0.078010</td>
      <td>0.515782</td>
    </tr>
    <tr>
      <td>2677.2549</td>
      <td>0.065922</td>
      <td>0.512847</td>
    </tr>
    <tr>
      <td>2682.6201</td>
      <td>0.053836</td>
      <td>0.509913</td>
    </tr>
    <tr>
      <td>2687.9854</td>
      <td>0.041771</td>
      <td>0.506984</td>
    </tr>
    <tr>
      <td>2693.3506</td>
      <td>0.029744</td>
      <td>0.504058</td>
    </tr>
    <tr>
      <td>2698.7158</td>
      <td>0.017718</td>
      <td>0.501141</td>
    </tr>
    <tr>
      <td>2704.0811</td>
      <td>0.005685</td>
      <td>0.498214</td>
    </tr>
    <tr>
      <td>2709.4463</td>
      <td>-0.006302</td>
      <td>0.495306</td>
    </tr>
  </tbody>
</table>