<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2387.6820</td>
      <td>0.061994</td>
      <td>0.516508</td>
    </tr>
    <tr>
      <td>2392.5056</td>
      <td>0.049795</td>
      <td>0.513540</td>
    </tr>
    <tr>
      <td>2397.3292</td>
      <td>0.037604</td>
      <td>0.510575</td>
    </tr>
    <tr>
      <td>2402.1528</td>
      <td>0.025420</td>
      <td>0.507607</td>
    </tr>
    <tr>
      <td>2406.9764</td>
      <td>0.013238</td>
      <td>0.504643</td>
    </tr>
    <tr>
      <td>2411.8000</td>
      <td>0.001076</td>
      <td>0.501685</td>
    </tr>
    <tr>
      <td>2416.6236</td>
      <td>-0.011032</td>
      <td>0.498735</td>
    </tr>
    <tr>
      <td>2421.4472</td>
      <td>-0.023150</td>
      <td>0.495784</td>
    </tr>
    <tr>
      <td>2426.2708</td>
      <td>-0.035250</td>
      <td>0.492844</td>
    </tr>
    <tr>
      <td>2431.0944</td>
      <td>-0.047309</td>
      <td>0.489905</td>
    </tr>
    <tr>
      <td>2435.9180</td>
      <td>-0.059380</td>
      <td>0.486970</td>
    </tr>
  </tbody>
</table>