<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2423.4705</td>
      <td>0.100311</td>
      <td>0.533253</td>
    </tr>
    <tr>
      <td>2428.3664</td>
      <td>0.088125</td>
      <td>0.530301</td>
    </tr>
    <tr>
      <td>2433.2623</td>
      <td>0.075983</td>
      <td>0.527361</td>
    </tr>
    <tr>
      <td>2438.1582</td>
      <td>0.063819</td>
      <td>0.524412</td>
    </tr>
    <tr>
      <td>2443.0541</td>
      <td>0.051639</td>
      <td>0.521457</td>
    </tr>
    <tr>
      <td>2447.9500</td>
      <td>0.039515</td>
      <td>0.518517</td>
    </tr>
    <tr>
      <td>2452.8459</td>
      <td>0.027448</td>
      <td>0.515580</td>
    </tr>
    <tr>
      <td>2457.7418</td>
      <td>0.015346</td>
      <td>0.512645</td>
    </tr>
    <tr>
      <td>2462.6377</td>
      <td>0.003284</td>
      <td>0.509715</td>
    </tr>
    <tr>
      <td>2467.5336</td>
      <td>-0.008753</td>
      <td>0.506783</td>
    </tr>
    <tr>
      <td>2472.4295</td>
      <td>-0.020796</td>
      <td>0.503862</td>
    </tr>
  </tbody>
</table>