<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2663.2583</td>
      <td>0.102811</td>
      <td>0.507611</td>
    </tr>
    <tr>
      <td>2668.6386</td>
      <td>0.090639</td>
      <td>0.504655</td>
    </tr>
    <tr>
      <td>2674.0190</td>
      <td>0.078461</td>
      <td>0.501703</td>
    </tr>
    <tr>
      <td>2679.3993</td>
      <td>0.066346</td>
      <td>0.498760</td>
    </tr>
    <tr>
      <td>2684.7796</td>
      <td>0.054207</td>
      <td>0.495809</td>
    </tr>
    <tr>
      <td>2690.1599</td>
      <td>0.042101</td>
      <td>0.492873</td>
    </tr>
    <tr>
      <td>2695.5402</td>
      <td>0.030026</td>
      <td>0.489942</td>
    </tr>
    <tr>
      <td>2700.9206</td>
      <td>0.017975</td>
      <td>0.487017</td>
    </tr>
    <tr>
      <td>2706.3009</td>
      <td>0.005914</td>
      <td>0.484091</td>
    </tr>
    <tr>
      <td>2711.6812</td>
      <td>-0.006091</td>
      <td>0.481178</td>
    </tr>
    <tr>
      <td>2717.0615</td>
      <td>-0.018094</td>
      <td>0.478265</td>
    </tr>
  </tbody>
</table>