<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2318.1742</td>
      <td>0.120253</td>
      <td>0.539641</td>
    </tr>
    <tr>
      <td>2322.8574</td>
      <td>0.108077</td>
      <td>0.536702</td>
    </tr>
    <tr>
      <td>2327.5405</td>
      <td>0.095978</td>
      <td>0.533777</td>
    </tr>
    <tr>
      <td>2332.2237</td>
      <td>0.083837</td>
      <td>0.530849</td>
    </tr>
    <tr>
      <td>2336.9069</td>
      <td>0.071781</td>
      <td>0.527931</td>
    </tr>
    <tr>
      <td>2341.5901</td>
      <td>0.059663</td>
      <td>0.525000</td>
    </tr>
    <tr>
      <td>2346.2733</td>
      <td>0.047668</td>
      <td>0.522091</td>
    </tr>
    <tr>
      <td>2350.9564</td>
      <td>0.035583</td>
      <td>0.519161</td>
    </tr>
    <tr>
      <td>2355.6396</td>
      <td>0.023591</td>
      <td>0.516256</td>
    </tr>
    <tr>
      <td>2360.3228</td>
      <td>0.011572</td>
      <td>0.513343</td>
    </tr>
    <tr>
      <td>2365.0060</td>
      <td>-0.000408</td>
      <td>0.510433</td>
    </tr>
  </tbody>
</table>