<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2453.0518</td>
      <td>0.084741</td>
      <td>0.519039</td>
    </tr>
    <tr>
      <td>2458.0074</td>
      <td>0.072569</td>
      <td>0.516088</td>
    </tr>
    <tr>
      <td>2462.9631</td>
      <td>0.060388</td>
      <td>0.513139</td>
    </tr>
    <tr>
      <td>2467.9188</td>
      <td>0.048292</td>
      <td>0.510203</td>
    </tr>
    <tr>
      <td>2472.8744</td>
      <td>0.036200</td>
      <td>0.507265</td>
    </tr>
    <tr>
      <td>2477.8301</td>
      <td>0.024095</td>
      <td>0.504326</td>
    </tr>
    <tr>
      <td>2482.7857</td>
      <td>0.012014</td>
      <td>0.501393</td>
    </tr>
    <tr>
      <td>2487.7414</td>
      <td>-0.000019</td>
      <td>0.498472</td>
    </tr>
    <tr>
      <td>2492.6971</td>
      <td>-0.012082</td>
      <td>0.495540</td>
    </tr>
    <tr>
      <td>2497.6527</td>
      <td>-0.024093</td>
      <td>0.492626</td>
    </tr>
    <tr>
      <td>2502.6084</td>
      <td>-0.036054</td>
      <td>0.489717</td>
    </tr>
  </tbody>
</table>