<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2115.3627</td>
      <td>0.197018</td>
      <td>0.546887</td>
    </tr>
    <tr>
      <td>2119.6361</td>
      <td>0.185332</td>
      <td>0.543881</td>
    </tr>
    <tr>
      <td>2123.9096</td>
      <td>0.173686</td>
      <td>0.540876</td>
    </tr>
    <tr>
      <td>2128.1831</td>
      <td>0.162007</td>
      <td>0.537867</td>
    </tr>
    <tr>
      <td>2132.4565</td>
      <td>0.150437</td>
      <td>0.534874</td>
    </tr>
    <tr>
      <td>2136.7300</td>
      <td>0.138845</td>
      <td>0.531878</td>
    </tr>
    <tr>
      <td>2141.0034</td>
      <td>0.127236</td>
      <td>0.528878</td>
    </tr>
    <tr>
      <td>2145.2769</td>
      <td>0.115702</td>
      <td>0.525890</td>
    </tr>
    <tr>
      <td>2149.5504</td>
      <td>0.104142</td>
      <td>0.522892</td>
    </tr>
    <tr>
      <td>2153.8238</td>
      <td>0.092597</td>
      <td>0.519904</td>
    </tr>
    <tr>
      <td>2158.0973</td>
      <td>0.081118</td>
      <td>0.516922</td>
    </tr>
  </tbody>
</table>