<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2600.7696</td>
      <td>0.046560</td>
      <td>0.502160</td>
    </tr>
    <tr>
      <td>2606.0237</td>
      <td>0.034416</td>
      <td>0.499211</td>
    </tr>
    <tr>
      <td>2611.2778</td>
      <td>0.022313</td>
      <td>0.496263</td>
    </tr>
    <tr>
      <td>2616.5319</td>
      <td>0.010174</td>
      <td>0.493316</td>
    </tr>
    <tr>
      <td>2621.7860</td>
      <td>-0.001893</td>
      <td>0.490384</td>
    </tr>
    <tr>
      <td>2627.0400</td>
      <td>-0.013987</td>
      <td>0.487446</td>
    </tr>
    <tr>
      <td>2632.2941</td>
      <td>-0.026010</td>
      <td>0.484524</td>
    </tr>
    <tr>
      <td>2637.5482</td>
      <td>-0.038051</td>
      <td>0.481598</td>
    </tr>
    <tr>
      <td>2642.8023</td>
      <td>-0.050100</td>
      <td>0.478677</td>
    </tr>
    <tr>
      <td>2648.0564</td>
      <td>-0.062060</td>
      <td>0.475769</td>
    </tr>
    <tr>
      <td>2653.3104</td>
      <td>-0.074028</td>
      <td>0.472869</td>
    </tr>
  </tbody>
</table>