<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2223.7280</td>
      <td>0.061791</td>
      <td>0.519542</td>
    </tr>
    <tr>
      <td>2228.2204</td>
      <td>0.050076</td>
      <td>0.516495</td>
    </tr>
    <tr>
      <td>2232.7128</td>
      <td>0.038433</td>
      <td>0.513467</td>
    </tr>
    <tr>
      <td>2237.2052</td>
      <td>0.026783</td>
      <td>0.510437</td>
    </tr>
    <tr>
      <td>2241.6976</td>
      <td>0.015162</td>
      <td>0.507409</td>
    </tr>
    <tr>
      <td>2246.1899</td>
      <td>0.003559</td>
      <td>0.504387</td>
    </tr>
    <tr>
      <td>2250.6823</td>
      <td>-0.008008</td>
      <td>0.501376</td>
    </tr>
    <tr>
      <td>2255.1747</td>
      <td>-0.019584</td>
      <td>0.498362</td>
    </tr>
    <tr>
      <td>2259.6671</td>
      <td>-0.031163</td>
      <td>0.495346</td>
    </tr>
    <tr>
      <td>2264.1595</td>
      <td>-0.042686</td>
      <td>0.492343</td>
    </tr>
    <tr>
      <td>2268.6518</td>
      <td>-0.054228</td>
      <td>0.489339</td>
    </tr>
  </tbody>
</table>