<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2139.5880</td>
      <td>0.148069</td>
      <td>0.535373</td>
    </tr>
    <tr>
      <td>2143.9104</td>
      <td>0.136410</td>
      <td>0.532354</td>
    </tr>
    <tr>
      <td>2148.2328</td>
      <td>0.124780</td>
      <td>0.529341</td>
    </tr>
    <tr>
      <td>2152.5552</td>
      <td>0.113190</td>
      <td>0.526332</td>
    </tr>
    <tr>
      <td>2156.8776</td>
      <td>0.101565</td>
      <td>0.523324</td>
    </tr>
    <tr>
      <td>2161.2000</td>
      <td>0.090012</td>
      <td>0.520322</td>
    </tr>
    <tr>
      <td>2165.5224</td>
      <td>0.078464</td>
      <td>0.517321</td>
    </tr>
    <tr>
      <td>2169.8448</td>
      <td>0.066907</td>
      <td>0.514317</td>
    </tr>
    <tr>
      <td>2174.1672</td>
      <td>0.055394</td>
      <td>0.511325</td>
    </tr>
    <tr>
      <td>2178.4896</td>
      <td>0.043858</td>
      <td>0.508326</td>
    </tr>
    <tr>
      <td>2182.8120</td>
      <td>0.032377</td>
      <td>0.505342</td>
    </tr>
  </tbody>
</table>