<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2142.5580</td>
      <td>-0.003204</td>
      <td>0.473664</td>
    </tr>
    <tr>
      <td>2146.8864</td>
      <td>-0.014797</td>
      <td>0.470650</td>
    </tr>
    <tr>
      <td>2151.2148</td>
      <td>-0.026361</td>
      <td>0.467654</td>
    </tr>
    <tr>
      <td>2155.5432</td>
      <td>-0.037958</td>
      <td>0.464650</td>
    </tr>
    <tr>
      <td>2159.8716</td>
      <td>-0.049497</td>
      <td>0.461659</td>
    </tr>
    <tr>
      <td>2164.2000</td>
      <td>-0.061014</td>
      <td>0.458678</td>
    </tr>
    <tr>
      <td>2168.5284</td>
      <td>-0.072531</td>
      <td>0.455702</td>
    </tr>
    <tr>
      <td>2172.8568</td>
      <td>-0.084033</td>
      <td>0.452737</td>
    </tr>
    <tr>
      <td>2177.1852</td>
      <td>-0.095508</td>
      <td>0.449772</td>
    </tr>
    <tr>
      <td>2181.5136</td>
      <td>-0.106996</td>
      <td>0.446814</td>
    </tr>
    <tr>
      <td>2185.8420</td>
      <td>-0.118389</td>
      <td>0.443877</td>
    </tr>
  </tbody>
</table>