<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2235.4894</td>
      <td>0.052266</td>
      <td>0.512318</td>
    </tr>
    <tr>
      <td>2240.0055</td>
      <td>0.040644</td>
      <td>0.509303</td>
    </tr>
    <tr>
      <td>2244.5216</td>
      <td>0.029126</td>
      <td>0.506304</td>
    </tr>
    <tr>
      <td>2249.0378</td>
      <td>0.017529</td>
      <td>0.503295</td>
    </tr>
    <tr>
      <td>2253.5539</td>
      <td>0.005953</td>
      <td>0.500286</td>
    </tr>
    <tr>
      <td>2258.0701</td>
      <td>-0.005560</td>
      <td>0.497290</td>
    </tr>
    <tr>
      <td>2262.5862</td>
      <td>-0.017113</td>
      <td>0.494296</td>
    </tr>
    <tr>
      <td>2267.1023</td>
      <td>-0.028605</td>
      <td>0.491308</td>
    </tr>
    <tr>
      <td>2271.6185</td>
      <td>-0.040078</td>
      <td>0.488325</td>
    </tr>
    <tr>
      <td>2276.1346</td>
      <td>-0.051556</td>
      <td>0.485343</td>
    </tr>
    <tr>
      <td>2280.6508</td>
      <td>-0.063004</td>
      <td>0.482372</td>
    </tr>
  </tbody>
</table>