<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2284.7914</td>
      <td>0.042362</td>
      <td>0.517929</td>
    </tr>
    <tr>
      <td>2289.4072</td>
      <td>0.030206</td>
      <td>0.514981</td>
    </tr>
    <tr>
      <td>2294.0229</td>
      <td>0.018075</td>
      <td>0.512039</td>
    </tr>
    <tr>
      <td>2298.6386</td>
      <td>0.005937</td>
      <td>0.509089</td>
    </tr>
    <tr>
      <td>2303.2544</td>
      <td>-0.006171</td>
      <td>0.506151</td>
    </tr>
    <tr>
      <td>2307.8701</td>
      <td>-0.018269</td>
      <td>0.503213</td>
    </tr>
    <tr>
      <td>2312.4859</td>
      <td>-0.030317</td>
      <td>0.500286</td>
    </tr>
    <tr>
      <td>2317.1016</td>
      <td>-0.042396</td>
      <td>0.497351</td>
    </tr>
    <tr>
      <td>2321.7173</td>
      <td>-0.054396</td>
      <td>0.494434</td>
    </tr>
    <tr>
      <td>2326.3331</td>
      <td>-0.066429</td>
      <td>0.491513</td>
    </tr>
    <tr>
      <td>2330.9488</td>
      <td>-0.078410</td>
      <td>0.488601</td>
    </tr>
  </tbody>
</table>