<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2122.8471</td>
      <td>0.079175</td>
      <td>0.525101</td>
    </tr>
    <tr>
      <td>2127.1357</td>
      <td>0.067508</td>
      <td>0.522086</td>
    </tr>
    <tr>
      <td>2131.4243</td>
      <td>0.055905</td>
      <td>0.519074</td>
    </tr>
    <tr>
      <td>2135.7129</td>
      <td>0.044317</td>
      <td>0.516066</td>
    </tr>
    <tr>
      <td>2140.0015</td>
      <td>0.032754</td>
      <td>0.513060</td>
    </tr>
    <tr>
      <td>2144.2900</td>
      <td>0.021235</td>
      <td>0.510070</td>
    </tr>
    <tr>
      <td>2148.5786</td>
      <td>0.009665</td>
      <td>0.507066</td>
    </tr>
    <tr>
      <td>2152.8672</td>
      <td>-0.001839</td>
      <td>0.504075</td>
    </tr>
    <tr>
      <td>2157.1558</td>
      <td>-0.013316</td>
      <td>0.501090</td>
    </tr>
    <tr>
      <td>2161.4444</td>
      <td>-0.024814</td>
      <td>0.498101</td>
    </tr>
    <tr>
      <td>2165.7329</td>
      <td>-0.036300</td>
      <td>0.495123</td>
    </tr>
  </tbody>
</table>