<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2532.0635</td>
      <td>0.111781</td>
      <td>0.520208</td>
    </tr>
    <tr>
      <td>2537.1788</td>
      <td>0.099620</td>
      <td>0.517260</td>
    </tr>
    <tr>
      <td>2542.2941</td>
      <td>0.087485</td>
      <td>0.514313</td>
    </tr>
    <tr>
      <td>2547.4093</td>
      <td>0.075372</td>
      <td>0.511371</td>
    </tr>
    <tr>
      <td>2552.5246</td>
      <td>0.063230</td>
      <td>0.508425</td>
    </tr>
    <tr>
      <td>2557.6399</td>
      <td>0.051172</td>
      <td>0.505492</td>
    </tr>
    <tr>
      <td>2562.7552</td>
      <td>0.039106</td>
      <td>0.502561</td>
    </tr>
    <tr>
      <td>2567.8705</td>
      <td>0.027052</td>
      <td>0.499634</td>
    </tr>
    <tr>
      <td>2572.9857</td>
      <td>0.015044</td>
      <td>0.496710</td>
    </tr>
    <tr>
      <td>2578.1010</td>
      <td>0.003071</td>
      <td>0.493801</td>
    </tr>
    <tr>
      <td>2583.2163</td>
      <td>-0.008979</td>
      <td>0.490875</td>
    </tr>
  </tbody>
</table>