<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2576.3957</td>
      <td>0.040284</td>
      <td>0.514048</td>
    </tr>
    <tr>
      <td>2581.6006</td>
      <td>0.028142</td>
      <td>0.511094</td>
    </tr>
    <tr>
      <td>2586.8054</td>
      <td>0.015998</td>
      <td>0.508145</td>
    </tr>
    <tr>
      <td>2592.0102</td>
      <td>0.003910</td>
      <td>0.505206</td>
    </tr>
    <tr>
      <td>2597.2151</td>
      <td>-0.008228</td>
      <td>0.502257</td>
    </tr>
    <tr>
      <td>2602.4199</td>
      <td>-0.020306</td>
      <td>0.499319</td>
    </tr>
    <tr>
      <td>2607.6248</td>
      <td>-0.032364</td>
      <td>0.496388</td>
    </tr>
    <tr>
      <td>2612.8296</td>
      <td>-0.044408</td>
      <td>0.493462</td>
    </tr>
    <tr>
      <td>2618.0344</td>
      <td>-0.056439</td>
      <td>0.490539</td>
    </tr>
    <tr>
      <td>2623.2393</td>
      <td>-0.068443</td>
      <td>0.487624</td>
    </tr>
    <tr>
      <td>2628.4441</td>
      <td>-0.080446</td>
      <td>0.484705</td>
    </tr>
  </tbody>
</table>