<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2451.7845</td>
      <td>0.059895</td>
      <td>0.522062</td>
    </tr>
    <tr>
      <td>2456.7376</td>
      <td>0.047712</td>
      <td>0.519106</td>
    </tr>
    <tr>
      <td>2461.6907</td>
      <td>0.035515</td>
      <td>0.516144</td>
    </tr>
    <tr>
      <td>2466.6438</td>
      <td>0.023369</td>
      <td>0.513197</td>
    </tr>
    <tr>
      <td>2471.5969</td>
      <td>0.011200</td>
      <td>0.510242</td>
    </tr>
    <tr>
      <td>2476.5500</td>
      <td>-0.000901</td>
      <td>0.507301</td>
    </tr>
    <tr>
      <td>2481.5031</td>
      <td>-0.012992</td>
      <td>0.504357</td>
    </tr>
    <tr>
      <td>2486.4562</td>
      <td>-0.025071</td>
      <td>0.501421</td>
    </tr>
    <tr>
      <td>2491.4093</td>
      <td>-0.037113</td>
      <td>0.498494</td>
    </tr>
    <tr>
      <td>2496.3624</td>
      <td>-0.049182</td>
      <td>0.495561</td>
    </tr>
    <tr>
      <td>2501.3155</td>
      <td>-0.061204</td>
      <td>0.492637</td>
    </tr>
  </tbody>
</table>