<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2344.3795</td>
      <td>0.072720</td>
      <td>0.530210</td>
    </tr>
    <tr>
      <td>2349.1156</td>
      <td>0.060538</td>
      <td>0.527261</td>
    </tr>
    <tr>
      <td>2353.8517</td>
      <td>0.048359</td>
      <td>0.524312</td>
    </tr>
    <tr>
      <td>2358.5878</td>
      <td>0.036233</td>
      <td>0.521370</td>
    </tr>
    <tr>
      <td>2363.3239</td>
      <td>0.024096</td>
      <td>0.518424</td>
    </tr>
    <tr>
      <td>2368.0601</td>
      <td>0.011978</td>
      <td>0.515486</td>
    </tr>
    <tr>
      <td>2372.7962</td>
      <td>-0.000124</td>
      <td>0.512549</td>
    </tr>
    <tr>
      <td>2377.5323</td>
      <td>-0.012214</td>
      <td>0.509611</td>
    </tr>
    <tr>
      <td>2382.2684</td>
      <td>-0.024254</td>
      <td>0.506688</td>
    </tr>
    <tr>
      <td>2387.0045</td>
      <td>-0.036270</td>
      <td>0.503763</td>
    </tr>
    <tr>
      <td>2391.7407</td>
      <td>-0.048311</td>
      <td>0.500837</td>
    </tr>
  </tbody>
</table>