<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2117.7881</td>
      <td>0.102640</td>
      <td>0.520958</td>
    </tr>
    <tr>
      <td>2122.0665</td>
      <td>0.091014</td>
      <td>0.517944</td>
    </tr>
    <tr>
      <td>2126.3449</td>
      <td>0.079418</td>
      <td>0.514944</td>
    </tr>
    <tr>
      <td>2130.6232</td>
      <td>0.067909</td>
      <td>0.511957</td>
    </tr>
    <tr>
      <td>2134.9016</td>
      <td>0.056367</td>
      <td>0.508966</td>
    </tr>
    <tr>
      <td>2139.1799</td>
      <td>0.044825</td>
      <td>0.505968</td>
    </tr>
    <tr>
      <td>2143.4583</td>
      <td>0.033319</td>
      <td>0.502987</td>
    </tr>
    <tr>
      <td>2147.7367</td>
      <td>0.021842</td>
      <td>0.500008</td>
    </tr>
    <tr>
      <td>2152.0150</td>
      <td>0.010385</td>
      <td>0.497036</td>
    </tr>
    <tr>
      <td>2156.2934</td>
      <td>-0.001057</td>
      <td>0.494068</td>
    </tr>
    <tr>
      <td>2160.5717</td>
      <td>-0.012505</td>
      <td>0.491094</td>
    </tr>
  </tbody>
</table>