<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2248.5970</td>
      <td>0.062377</td>
      <td>0.530825</td>
    </tr>
    <tr>
      <td>2253.1396</td>
      <td>0.050218</td>
      <td>0.527881</td>
    </tr>
    <tr>
      <td>2257.6822</td>
      <td>0.038062</td>
      <td>0.524943</td>
    </tr>
    <tr>
      <td>2262.2248</td>
      <td>0.025959</td>
      <td>0.522013</td>
    </tr>
    <tr>
      <td>2266.7674</td>
      <td>0.013849</td>
      <td>0.519074</td>
    </tr>
    <tr>
      <td>2271.3101</td>
      <td>0.001782</td>
      <td>0.516150</td>
    </tr>
    <tr>
      <td>2275.8527</td>
      <td>-0.010285</td>
      <td>0.513221</td>
    </tr>
    <tr>
      <td>2280.3953</td>
      <td>-0.022325</td>
      <td>0.510304</td>
    </tr>
    <tr>
      <td>2284.9379</td>
      <td>-0.034359</td>
      <td>0.507383</td>
    </tr>
    <tr>
      <td>2289.4805</td>
      <td>-0.046328</td>
      <td>0.504474</td>
    </tr>
    <tr>
      <td>2294.0232</td>
      <td>-0.058305</td>
      <td>0.501568</td>
    </tr>
  </tbody>
</table>