<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2372.0004</td>
      <td>0.002923</td>
      <td>0.506933</td>
    </tr>
    <tr>
      <td>2376.7923</td>
      <td>-0.009176</td>
      <td>0.503990</td>
    </tr>
    <tr>
      <td>2381.5842</td>
      <td>-0.021294</td>
      <td>0.501046</td>
    </tr>
    <tr>
      <td>2386.3761</td>
      <td>-0.033411</td>
      <td>0.498104</td>
    </tr>
    <tr>
      <td>2391.1680</td>
      <td>-0.045454</td>
      <td>0.495175</td>
    </tr>
    <tr>
      <td>2395.9600</td>
      <td>-0.057503</td>
      <td>0.492246</td>
    </tr>
    <tr>
      <td>2400.7519</td>
      <td>-0.069557</td>
      <td>0.489318</td>
    </tr>
    <tr>
      <td>2405.5438</td>
      <td>-0.081554</td>
      <td>0.486404</td>
    </tr>
    <tr>
      <td>2410.3357</td>
      <td>-0.093571</td>
      <td>0.483483</td>
    </tr>
    <tr>
      <td>2415.1276</td>
      <td>-0.105562</td>
      <td>0.480574</td>
    </tr>
    <tr>
      <td>2419.9196</td>
      <td>-0.117545</td>
      <td>0.477668</td>
    </tr>
  </tbody>
</table>