<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2653.695</td>
      <td>0.136731</td>
      <td>0.519624</td>
    </tr>
    <tr>
      <td>2659.056</td>
      <td>0.124547</td>
      <td>0.516675</td>
    </tr>
    <tr>
      <td>2664.417</td>
      <td>0.112378</td>
      <td>0.513725</td>
    </tr>
    <tr>
      <td>2669.778</td>
      <td>0.100260</td>
      <td>0.510782</td>
    </tr>
    <tr>
      <td>2675.139</td>
      <td>0.088152</td>
      <td>0.507851</td>
    </tr>
    <tr>
      <td>2680.500</td>
      <td>0.076068</td>
      <td>0.504918</td>
    </tr>
    <tr>
      <td>2685.861</td>
      <td>0.063997</td>
      <td>0.501988</td>
    </tr>
    <tr>
      <td>2691.222</td>
      <td>0.051955</td>
      <td>0.499065</td>
    </tr>
    <tr>
      <td>2696.583</td>
      <td>0.039906</td>
      <td>0.496142</td>
    </tr>
    <tr>
      <td>2701.944</td>
      <td>0.027873</td>
      <td>0.493221</td>
    </tr>
    <tr>
      <td>2707.305</td>
      <td>0.015873</td>
      <td>0.490308</td>
    </tr>
  </tbody>
</table>