<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2884.860</td>
      <td>0.076495</td>
      <td>0.514423</td>
    </tr>
    <tr>
      <td>2890.688</td>
      <td>0.064320</td>
      <td>0.511320</td>
    </tr>
    <tr>
      <td>2896.516</td>
      <td>0.052117</td>
      <td>0.508211</td>
    </tr>
    <tr>
      <td>2902.344</td>
      <td>0.039991</td>
      <td>0.505117</td>
    </tr>
    <tr>
      <td>2908.172</td>
      <td>0.027831</td>
      <td>0.502015</td>
    </tr>
    <tr>
      <td>2914.000</td>
      <td>0.015729</td>
      <td>0.498926</td>
    </tr>
    <tr>
      <td>2919.828</td>
      <td>0.003624</td>
      <td>0.495841</td>
    </tr>
    <tr>
      <td>2925.656</td>
      <td>-0.008469</td>
      <td>0.492758</td>
    </tr>
    <tr>
      <td>2931.484</td>
      <td>-0.020501</td>
      <td>0.489685</td>
    </tr>
    <tr>
      <td>2937.312</td>
      <td>-0.032561</td>
      <td>0.486614</td>
    </tr>
    <tr>
      <td>2943.140</td>
      <td>-0.044578</td>
      <td>0.483553</td>
    </tr>
  </tbody>
</table>