<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2413.8279</td>
      <td>0.185291</td>
      <td>0.550586</td>
    </tr>
    <tr>
      <td>2418.7043</td>
      <td>0.173060</td>
      <td>0.547647</td>
    </tr>
    <tr>
      <td>2423.5807</td>
      <td>0.160917</td>
      <td>0.544729</td>
    </tr>
    <tr>
      <td>2428.4571</td>
      <td>0.148756</td>
      <td>0.541797</td>
    </tr>
    <tr>
      <td>2433.3335</td>
      <td>0.136610</td>
      <td>0.538867</td>
    </tr>
    <tr>
      <td>2438.2100</td>
      <td>0.124479</td>
      <td>0.535942</td>
    </tr>
    <tr>
      <td>2443.0864</td>
      <td>0.112398</td>
      <td>0.533021</td>
    </tr>
    <tr>
      <td>2447.9628</td>
      <td>0.100312</td>
      <td>0.530099</td>
    </tr>
    <tr>
      <td>2452.8392</td>
      <td>0.088245</td>
      <td>0.527181</td>
    </tr>
    <tr>
      <td>2457.7156</td>
      <td>0.076215</td>
      <td>0.524262</td>
    </tr>
    <tr>
      <td>2462.5921</td>
      <td>0.064220</td>
      <td>0.521358</td>
    </tr>
  </tbody>
</table>