<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2346.0327</td>
      <td>0.080595</td>
      <td>0.517358</td>
    </tr>
    <tr>
      <td>2350.7721</td>
      <td>0.068424</td>
      <td>0.514407</td>
    </tr>
    <tr>
      <td>2355.5116</td>
      <td>0.056282</td>
      <td>0.511458</td>
    </tr>
    <tr>
      <td>2360.2511</td>
      <td>0.044121</td>
      <td>0.508507</td>
    </tr>
    <tr>
      <td>2364.9905</td>
      <td>0.032008</td>
      <td>0.505565</td>
    </tr>
    <tr>
      <td>2369.7300</td>
      <td>0.019933</td>
      <td>0.502632</td>
    </tr>
    <tr>
      <td>2374.4694</td>
      <td>0.007825</td>
      <td>0.499692</td>
    </tr>
    <tr>
      <td>2379.2089</td>
      <td>-0.004210</td>
      <td>0.496765</td>
    </tr>
    <tr>
      <td>2383.9484</td>
      <td>-0.016228</td>
      <td>0.493844</td>
    </tr>
    <tr>
      <td>2388.6878</td>
      <td>-0.028273</td>
      <td>0.490922</td>
    </tr>
    <tr>
      <td>2393.4273</td>
      <td>-0.040258</td>
      <td>0.488006</td>
    </tr>
  </tbody>
</table>