<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2401.2747</td>
      <td>0.157090</td>
      <td>0.531537</td>
    </tr>
    <tr>
      <td>2406.1258</td>
      <td>0.144894</td>
      <td>0.528588</td>
    </tr>
    <tr>
      <td>2410.9768</td>
      <td>0.132713</td>
      <td>0.525646</td>
    </tr>
    <tr>
      <td>2415.8279</td>
      <td>0.120544</td>
      <td>0.522702</td>
    </tr>
    <tr>
      <td>2420.6790</td>
      <td>0.108408</td>
      <td>0.519764</td>
    </tr>
    <tr>
      <td>2425.5300</td>
      <td>0.096307</td>
      <td>0.516832</td>
    </tr>
    <tr>
      <td>2430.3811</td>
      <td>0.084147</td>
      <td>0.513890</td>
    </tr>
    <tr>
      <td>2435.2321</td>
      <td>0.072087</td>
      <td>0.510967</td>
    </tr>
    <tr>
      <td>2440.0832</td>
      <td>0.060034</td>
      <td>0.508045</td>
    </tr>
    <tr>
      <td>2444.9343</td>
      <td>0.047982</td>
      <td>0.505120</td>
    </tr>
    <tr>
      <td>2449.7853</td>
      <td>0.035967</td>
      <td>0.502207</td>
    </tr>
  </tbody>
</table>