<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2872.5940</td>
      <td>0.126742</td>
      <td>0.535727</td>
    </tr>
    <tr>
      <td>2878.3972</td>
      <td>0.114491</td>
      <td>0.532611</td>
    </tr>
    <tr>
      <td>2884.2004</td>
      <td>0.102280</td>
      <td>0.529501</td>
    </tr>
    <tr>
      <td>2890.0037</td>
      <td>0.090058</td>
      <td>0.526385</td>
    </tr>
    <tr>
      <td>2895.8069</td>
      <td>0.077868</td>
      <td>0.523277</td>
    </tr>
    <tr>
      <td>2901.6101</td>
      <td>0.065752</td>
      <td>0.520179</td>
    </tr>
    <tr>
      <td>2907.4133</td>
      <td>0.053585</td>
      <td>0.517076</td>
    </tr>
    <tr>
      <td>2913.2165</td>
      <td>0.041460</td>
      <td>0.513980</td>
    </tr>
    <tr>
      <td>2919.0198</td>
      <td>0.029369</td>
      <td>0.510888</td>
    </tr>
    <tr>
      <td>2924.8230</td>
      <td>0.017267</td>
      <td>0.507798</td>
    </tr>
    <tr>
      <td>2930.6262</td>
      <td>0.005210</td>
      <td>0.504714</td>
    </tr>
  </tbody>
</table>