<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2809.0655</td>
      <td>0.102354</td>
      <td>0.535229</td>
    </tr>
    <tr>
      <td>2814.7404</td>
      <td>0.090102</td>
      <td>0.532115</td>
    </tr>
    <tr>
      <td>2820.4153</td>
      <td>0.077804</td>
      <td>0.528979</td>
    </tr>
    <tr>
      <td>2826.0902</td>
      <td>0.065591</td>
      <td>0.525867</td>
    </tr>
    <tr>
      <td>2831.7651</td>
      <td>0.053334</td>
      <td>0.522740</td>
    </tr>
    <tr>
      <td>2837.4399</td>
      <td>0.041149</td>
      <td>0.519629</td>
    </tr>
    <tr>
      <td>2843.1148</td>
      <td>0.028990</td>
      <td>0.516525</td>
    </tr>
    <tr>
      <td>2848.7897</td>
      <td>0.016838</td>
      <td>0.513418</td>
    </tr>
    <tr>
      <td>2854.4646</td>
      <td>0.004639</td>
      <td>0.510305</td>
    </tr>
    <tr>
      <td>2860.1395</td>
      <td>-0.007459</td>
      <td>0.507214</td>
    </tr>
    <tr>
      <td>2865.8143</td>
      <td>-0.019540</td>
      <td>0.504120</td>
    </tr>
  </tbody>
</table>