<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2410.155</td>
      <td>0.061441</td>
      <td>0.527121</td>
    </tr>
    <tr>
      <td>2415.024</td>
      <td>0.049312</td>
      <td>0.524174</td>
    </tr>
    <tr>
      <td>2419.893</td>
      <td>0.037179</td>
      <td>0.521235</td>
    </tr>
    <tr>
      <td>2424.762</td>
      <td>0.025059</td>
      <td>0.518293</td>
    </tr>
    <tr>
      <td>2429.631</td>
      <td>0.013008</td>
      <td>0.515362</td>
    </tr>
    <tr>
      <td>2434.500</td>
      <td>0.000908</td>
      <td>0.512422</td>
    </tr>
    <tr>
      <td>2439.369</td>
      <td>-0.011120</td>
      <td>0.509499</td>
    </tr>
    <tr>
      <td>2444.238</td>
      <td>-0.023137</td>
      <td>0.506582</td>
    </tr>
    <tr>
      <td>2449.107</td>
      <td>-0.035130</td>
      <td>0.503660</td>
    </tr>
    <tr>
      <td>2453.976</td>
      <td>-0.047127</td>
      <td>0.500742</td>
    </tr>
    <tr>
      <td>2458.845</td>
      <td>-0.059107</td>
      <td>0.497830</td>
    </tr>
  </tbody>
</table>