<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2252.5669</td>
      <td>0.043437</td>
      <td>0.514542</td>
    </tr>
    <tr>
      <td>2257.1175</td>
      <td>0.031322</td>
      <td>0.511604</td>
    </tr>
    <tr>
      <td>2261.6681</td>
      <td>0.019155</td>
      <td>0.508648</td>
    </tr>
    <tr>
      <td>2266.2188</td>
      <td>0.007057</td>
      <td>0.505709</td>
    </tr>
    <tr>
      <td>2270.7694</td>
      <td>-0.005043</td>
      <td>0.502773</td>
    </tr>
    <tr>
      <td>2275.3201</td>
      <td>-0.017103</td>
      <td>0.499843</td>
    </tr>
    <tr>
      <td>2279.8707</td>
      <td>-0.029109</td>
      <td>0.496927</td>
    </tr>
    <tr>
      <td>2284.4213</td>
      <td>-0.041175</td>
      <td>0.493996</td>
    </tr>
    <tr>
      <td>2288.9720</td>
      <td>-0.053170</td>
      <td>0.491082</td>
    </tr>
    <tr>
      <td>2293.5226</td>
      <td>-0.065180</td>
      <td>0.488164</td>
    </tr>
    <tr>
      <td>2298.0733</td>
      <td>-0.077149</td>
      <td>0.485259</td>
    </tr>
  </tbody>
</table>