<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2483.1576</td>
      <td>0.080828</td>
      <td>0.518485</td>
    </tr>
    <tr>
      <td>2488.1741</td>
      <td>0.068669</td>
      <td>0.515538</td>
    </tr>
    <tr>
      <td>2493.1906</td>
      <td>0.056528</td>
      <td>0.512589</td>
    </tr>
    <tr>
      <td>2498.2070</td>
      <td>0.044371</td>
      <td>0.509637</td>
    </tr>
    <tr>
      <td>2503.2235</td>
      <td>0.032294</td>
      <td>0.506703</td>
    </tr>
    <tr>
      <td>2508.2400</td>
      <td>0.020217</td>
      <td>0.503767</td>
    </tr>
    <tr>
      <td>2513.2565</td>
      <td>0.008138</td>
      <td>0.500835</td>
    </tr>
    <tr>
      <td>2518.2729</td>
      <td>-0.003928</td>
      <td>0.497904</td>
    </tr>
    <tr>
      <td>2523.2894</td>
      <td>-0.015979</td>
      <td>0.494976</td>
    </tr>
    <tr>
      <td>2528.3059</td>
      <td>-0.027980</td>
      <td>0.492061</td>
    </tr>
    <tr>
      <td>2533.3224</td>
      <td>-0.039991</td>
      <td>0.489143</td>
    </tr>
  </tbody>
</table>