<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2256.0814</td>
      <td>0.065534</td>
      <td>0.515327</td>
    </tr>
    <tr>
      <td>2260.6392</td>
      <td>0.053376</td>
      <td>0.512382</td>
    </tr>
    <tr>
      <td>2265.1969</td>
      <td>0.041285</td>
      <td>0.509444</td>
    </tr>
    <tr>
      <td>2269.7546</td>
      <td>0.029170</td>
      <td>0.506500</td>
    </tr>
    <tr>
      <td>2274.3124</td>
      <td>0.017097</td>
      <td>0.503571</td>
    </tr>
    <tr>
      <td>2278.8701</td>
      <td>0.005025</td>
      <td>0.500639</td>
    </tr>
    <tr>
      <td>2283.4279</td>
      <td>-0.007003</td>
      <td>0.497718</td>
    </tr>
    <tr>
      <td>2287.9856</td>
      <td>-0.019069</td>
      <td>0.494786</td>
    </tr>
    <tr>
      <td>2292.5433</td>
      <td>-0.031059</td>
      <td>0.491877</td>
    </tr>
    <tr>
      <td>2297.1011</td>
      <td>-0.043019</td>
      <td>0.488971</td>
    </tr>
    <tr>
      <td>2301.6588</td>
      <td>-0.054992</td>
      <td>0.486063</td>
    </tr>
  </tbody>
</table>