<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2146.5873</td>
      <td>0.026797</td>
      <td>0.521034</td>
    </tr>
    <tr>
      <td>2150.9239</td>
      <td>0.015197</td>
      <td>0.518026</td>
    </tr>
    <tr>
      <td>2155.2604</td>
      <td>0.003637</td>
      <td>0.515024</td>
    </tr>
    <tr>
      <td>2159.5969</td>
      <td>-0.007912</td>
      <td>0.512028</td>
    </tr>
    <tr>
      <td>2163.9335</td>
      <td>-0.019428</td>
      <td>0.509032</td>
    </tr>
    <tr>
      <td>2168.2700</td>
      <td>-0.030947</td>
      <td>0.506035</td>
    </tr>
    <tr>
      <td>2172.6066</td>
      <td>-0.042488</td>
      <td>0.503037</td>
    </tr>
    <tr>
      <td>2176.9431</td>
      <td>-0.053954</td>
      <td>0.500059</td>
    </tr>
    <tr>
      <td>2181.2796</td>
      <td>-0.065430</td>
      <td>0.497074</td>
    </tr>
    <tr>
      <td>2185.6162</td>
      <td>-0.076849</td>
      <td>0.494101</td>
    </tr>
    <tr>
      <td>2189.9527</td>
      <td>-0.088267</td>
      <td>0.491132</td>
    </tr>
  </tbody>
</table>