<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2137.450</td>
      <td>-0.500</td>
      <td>0.500</td>
    </tr>
    <tr>
      <td>2141.768</td>
      <td>-0.503</td>
      <td>0.497</td>
    </tr>
    <tr>
      <td>2146.086</td>
      <td>-0.506</td>
      <td>0.494</td>
    </tr>
    <tr>
      <td>2150.404</td>
      <td>-0.509</td>
      <td>0.491</td>
    </tr>
    <tr>
      <td>2154.722</td>
      <td>-0.512</td>
      <td>0.488</td>
    </tr>
    <tr>
      <td>2159.040</td>
      <td>-0.514</td>
      <td>0.486</td>
    </tr>
    <tr>
      <td>2163.358</td>
      <td>-0.517</td>
      <td>0.483</td>
    </tr>
    <tr>
      <td>2167.676</td>
      <td>-0.520</td>
      <td>0.480</td>
    </tr>
    <tr>
      <td>2171.994</td>
      <td>-0.523</td>
      <td>0.477</td>
    </tr>
    <tr>
      <td>2176.312</td>
      <td>-0.526</td>
      <td>0.474</td>
    </tr>
    <tr>
      <td>2180.630</td>
      <td>-0.529</td>
      <td>0.471</td>
    </tr>
  </tbody>
</table>