<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2575.4057</td>
      <td>0.128662</td>
      <td>0.522045</td>
    </tr>
    <tr>
      <td>2580.6086</td>
      <td>0.116484</td>
      <td>0.519087</td>
    </tr>
    <tr>
      <td>2585.8114</td>
      <td>0.104340</td>
      <td>0.516141</td>
    </tr>
    <tr>
      <td>2591.0142</td>
      <td>0.092223</td>
      <td>0.513193</td>
    </tr>
    <tr>
      <td>2596.2171</td>
      <td>0.080064</td>
      <td>0.510240</td>
    </tr>
    <tr>
      <td>2601.4199</td>
      <td>0.067984</td>
      <td>0.507301</td>
    </tr>
    <tr>
      <td>2606.6228</td>
      <td>0.055929</td>
      <td>0.504369</td>
    </tr>
    <tr>
      <td>2611.8256</td>
      <td>0.043862</td>
      <td>0.501435</td>
    </tr>
    <tr>
      <td>2617.0284</td>
      <td>0.031796</td>
      <td>0.498499</td>
    </tr>
    <tr>
      <td>2622.2313</td>
      <td>0.019783</td>
      <td>0.495581</td>
    </tr>
    <tr>
      <td>2627.4341</td>
      <td>0.007762</td>
      <td>0.492654</td>
    </tr>
  </tbody>
</table>