<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2549.4579</td>
      <td>0.051722</td>
      <td>0.518076</td>
    </tr>
    <tr>
      <td>2554.6083</td>
      <td>0.039589</td>
      <td>0.515135</td>
    </tr>
    <tr>
      <td>2559.7587</td>
      <td>0.027464</td>
      <td>0.512190</td>
    </tr>
    <tr>
      <td>2564.9091</td>
      <td>0.015334</td>
      <td>0.509246</td>
    </tr>
    <tr>
      <td>2570.0595</td>
      <td>0.003226</td>
      <td>0.506305</td>
    </tr>
    <tr>
      <td>2575.2100</td>
      <td>-0.008859</td>
      <td>0.503368</td>
    </tr>
    <tr>
      <td>2580.3604</td>
      <td>-0.020951</td>
      <td>0.500431</td>
    </tr>
    <tr>
      <td>2585.5108</td>
      <td>-0.032959</td>
      <td>0.497511</td>
    </tr>
    <tr>
      <td>2590.6612</td>
      <td>-0.044970</td>
      <td>0.494592</td>
    </tr>
    <tr>
      <td>2595.8116</td>
      <td>-0.056973</td>
      <td>0.491675</td>
    </tr>
    <tr>
      <td>2600.9621</td>
      <td>-0.068975</td>
      <td>0.488758</td>
    </tr>
  </tbody>
</table>