<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2646.8740</td>
      <td>0.135620</td>
      <td>0.535263</td>
    </tr>
    <tr>
      <td>2652.2212</td>
      <td>0.123431</td>
      <td>0.532319</td>
    </tr>
    <tr>
      <td>2657.5684</td>
      <td>0.111258</td>
      <td>0.529372</td>
    </tr>
    <tr>
      <td>2662.9157</td>
      <td>0.099128</td>
      <td>0.526440</td>
    </tr>
    <tr>
      <td>2668.2629</td>
      <td>0.087020</td>
      <td>0.523507</td>
    </tr>
    <tr>
      <td>2673.6101</td>
      <td>0.074870</td>
      <td>0.520567</td>
    </tr>
    <tr>
      <td>2678.9573</td>
      <td>0.062792</td>
      <td>0.517636</td>
    </tr>
    <tr>
      <td>2684.3045</td>
      <td>0.050723</td>
      <td>0.514709</td>
    </tr>
    <tr>
      <td>2689.6518</td>
      <td>0.038652</td>
      <td>0.511783</td>
    </tr>
    <tr>
      <td>2694.9990</td>
      <td>0.026650</td>
      <td>0.508870</td>
    </tr>
    <tr>
      <td>2700.3462</td>
      <td>0.014591</td>
      <td>0.505939</td>
    </tr>
  </tbody>
</table>