<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2629.5391</td>
      <td>0.360143</td>
      <td>0.586374</td>
    </tr>
    <tr>
      <td>2634.8513</td>
      <td>0.347881</td>
      <td>0.583337</td>
    </tr>
    <tr>
      <td>2640.1635</td>
      <td>0.335654</td>
      <td>0.580295</td>
    </tr>
    <tr>
      <td>2645.4757</td>
      <td>0.323398</td>
      <td>0.577249</td>
    </tr>
    <tr>
      <td>2650.7879</td>
      <td>0.311186</td>
      <td>0.574205</td>
    </tr>
    <tr>
      <td>2656.1001</td>
      <td>0.298999</td>
      <td>0.571156</td>
    </tr>
    <tr>
      <td>2661.4123</td>
      <td>0.286839</td>
      <td>0.568118</td>
    </tr>
    <tr>
      <td>2666.7245</td>
      <td>0.274689</td>
      <td>0.565072</td>
    </tr>
    <tr>
      <td>2672.0367</td>
      <td>0.262515</td>
      <td>0.562019</td>
    </tr>
    <tr>
      <td>2677.3489</td>
      <td>0.250414</td>
      <td>0.558972</td>
    </tr>
    <tr>
      <td>2682.6611</td>
      <td>0.238342</td>
      <td>0.555936</td>
    </tr>
  </tbody>
</table>