<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2728.3211</td>
      <td>0.236905</td>
      <td>0.537378</td>
    </tr>
    <tr>
      <td>2733.8328</td>
      <td>0.224676</td>
      <td>0.534274</td>
    </tr>
    <tr>
      <td>2739.3446</td>
      <td>0.212479</td>
      <td>0.531169</td>
    </tr>
    <tr>
      <td>2744.8564</td>
      <td>0.200272</td>
      <td>0.528065</td>
    </tr>
    <tr>
      <td>2750.3681</td>
      <td>0.188091</td>
      <td>0.524962</td>
    </tr>
    <tr>
      <td>2755.8799</td>
      <td>0.175937</td>
      <td>0.521862</td>
    </tr>
    <tr>
      <td>2761.3916</td>
      <td>0.163815</td>
      <td>0.518773</td>
    </tr>
    <tr>
      <td>2766.9034</td>
      <td>0.151719</td>
      <td>0.515688</td>
    </tr>
    <tr>
      <td>2772.4152</td>
      <td>0.139604</td>
      <td>0.512599</td>
    </tr>
    <tr>
      <td>2777.9269</td>
      <td>0.127540</td>
      <td>0.509520</td>
    </tr>
    <tr>
      <td>2783.4387</td>
      <td>0.115456</td>
      <td>0.506438</td>
    </tr>
  </tbody>
</table>