<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2118.3624</td>
      <td>0.154138</td>
      <td>0.546177</td>
    </tr>
    <tr>
      <td>2122.6419</td>
      <td>0.142552</td>
      <td>0.543173</td>
    </tr>
    <tr>
      <td>2126.9214</td>
      <td>0.130927</td>
      <td>0.540168</td>
    </tr>
    <tr>
      <td>2131.2010</td>
      <td>0.119335</td>
      <td>0.537163</td>
    </tr>
    <tr>
      <td>2135.4805</td>
      <td>0.107812</td>
      <td>0.534171</td>
    </tr>
    <tr>
      <td>2139.7600</td>
      <td>0.096244</td>
      <td>0.531168</td>
    </tr>
    <tr>
      <td>2144.0395</td>
      <td>0.084738</td>
      <td>0.528176</td>
    </tr>
    <tr>
      <td>2148.3191</td>
      <td>0.073203</td>
      <td>0.525174</td>
    </tr>
    <tr>
      <td>2152.5986</td>
      <td>0.061712</td>
      <td>0.522184</td>
    </tr>
    <tr>
      <td>2156.8781</td>
      <td>0.050246</td>
      <td>0.519192</td>
    </tr>
    <tr>
      <td>2161.1576</td>
      <td>0.038791</td>
      <td>0.516211</td>
    </tr>
  </tbody>
</table>