<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2447.3791</td>
      <td>0.071431</td>
      <td>0.528962</td>
    </tr>
    <tr>
      <td>2452.3233</td>
      <td>0.059238</td>
      <td>0.526010</td>
    </tr>
    <tr>
      <td>2457.2675</td>
      <td>0.047102</td>
      <td>0.523068</td>
    </tr>
    <tr>
      <td>2462.2117</td>
      <td>0.035004</td>
      <td>0.520131</td>
    </tr>
    <tr>
      <td>2467.1559</td>
      <td>0.022920</td>
      <td>0.517199</td>
    </tr>
    <tr>
      <td>2472.1001</td>
      <td>0.010812</td>
      <td>0.514261</td>
    </tr>
    <tr>
      <td>2477.0443</td>
      <td>-0.001248</td>
      <td>0.511335</td>
    </tr>
    <tr>
      <td>2481.9885</td>
      <td>-0.013310</td>
      <td>0.508403</td>
    </tr>
    <tr>
      <td>2486.9327</td>
      <td>-0.025315</td>
      <td>0.505486</td>
    </tr>
    <tr>
      <td>2491.8769</td>
      <td>-0.037325</td>
      <td>0.502567</td>
    </tr>
    <tr>
      <td>2496.8211</td>
      <td>-0.049328</td>
      <td>0.499649</td>
    </tr>
  </tbody>
</table>