<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2405.0960</td>
      <td>0.115358</td>
      <td>0.525555</td>
    </tr>
    <tr>
      <td>2409.9548</td>
      <td>0.103098</td>
      <td>0.522580</td>
    </tr>
    <tr>
      <td>2414.8136</td>
      <td>0.090887</td>
      <td>0.519618</td>
    </tr>
    <tr>
      <td>2419.6723</td>
      <td>0.078714</td>
      <td>0.516661</td>
    </tr>
    <tr>
      <td>2424.5311</td>
      <td>0.066535</td>
      <td>0.513702</td>
    </tr>
    <tr>
      <td>2429.3899</td>
      <td>0.054410</td>
      <td>0.510756</td>
    </tr>
    <tr>
      <td>2434.2487</td>
      <td>0.042259</td>
      <td>0.507801</td>
    </tr>
    <tr>
      <td>2439.1075</td>
      <td>0.030146</td>
      <td>0.504858</td>
    </tr>
    <tr>
      <td>2443.9662</td>
      <td>0.018083</td>
      <td>0.501922</td>
    </tr>
    <tr>
      <td>2448.8250</td>
      <td>0.005985</td>
      <td>0.498981</td>
    </tr>
    <tr>
      <td>2453.6838</td>
      <td>-0.006086</td>
      <td>0.496045</td>
    </tr>
  </tbody>
</table>