<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2602.9773</td>
      <td>0.143468</td>
      <td>0.521704</td>
    </tr>
    <tr>
      <td>2608.2359</td>
      <td>0.131282</td>
      <td>0.518754</td>
    </tr>
    <tr>
      <td>2613.4944</td>
      <td>0.119114</td>
      <td>0.515807</td>
    </tr>
    <tr>
      <td>2618.7529</td>
      <td>0.107041</td>
      <td>0.512874</td>
    </tr>
    <tr>
      <td>2624.0115</td>
      <td>0.094899</td>
      <td>0.509933</td>
    </tr>
    <tr>
      <td>2629.2700</td>
      <td>0.082817</td>
      <td>0.506999</td>
    </tr>
    <tr>
      <td>2634.5286</td>
      <td>0.070775</td>
      <td>0.504074</td>
    </tr>
    <tr>
      <td>2639.7871</td>
      <td>0.058697</td>
      <td>0.501145</td>
    </tr>
    <tr>
      <td>2645.0456</td>
      <td>0.046687</td>
      <td>0.498229</td>
    </tr>
    <tr>
      <td>2650.3042</td>
      <td>0.034658</td>
      <td>0.495309</td>
    </tr>
    <tr>
      <td>2655.5627</td>
      <td>0.022674</td>
      <td>0.492401</td>
    </tr>
  </tbody>
</table>