<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2450.1707</td>
      <td>0.129383</td>
      <td>0.527214</td>
    </tr>
    <tr>
      <td>2455.1206</td>
      <td>0.117205</td>
      <td>0.524267</td>
    </tr>
    <tr>
      <td>2460.0704</td>
      <td>0.105044</td>
      <td>0.521323</td>
    </tr>
    <tr>
      <td>2465.0202</td>
      <td>0.092915</td>
      <td>0.518380</td>
    </tr>
    <tr>
      <td>2469.9701</td>
      <td>0.080749</td>
      <td>0.515433</td>
    </tr>
    <tr>
      <td>2474.9199</td>
      <td>0.068643</td>
      <td>0.512496</td>
    </tr>
    <tr>
      <td>2479.8698</td>
      <td>0.056567</td>
      <td>0.509567</td>
    </tr>
    <tr>
      <td>2484.8196</td>
      <td>0.044532</td>
      <td>0.506643</td>
    </tr>
    <tr>
      <td>2489.7694</td>
      <td>0.032474</td>
      <td>0.503713</td>
    </tr>
    <tr>
      <td>2494.7193</td>
      <td>0.020430</td>
      <td>0.500792</td>
    </tr>
    <tr>
      <td>2499.6691</td>
      <td>0.008412</td>
      <td>0.497876</td>
    </tr>
  </tbody>
</table>