<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2520.4805</td>
      <td>0.222718</td>
      <td>0.556496</td>
    </tr>
    <tr>
      <td>2525.5724</td>
      <td>0.210550</td>
      <td>0.553423</td>
    </tr>
    <tr>
      <td>2530.6643</td>
      <td>0.198356</td>
      <td>0.550337</td>
    </tr>
    <tr>
      <td>2535.7562</td>
      <td>0.186233</td>
      <td>0.547263</td>
    </tr>
    <tr>
      <td>2540.8481</td>
      <td>0.174093</td>
      <td>0.544184</td>
    </tr>
    <tr>
      <td>2545.9399</td>
      <td>0.161995</td>
      <td>0.541109</td>
    </tr>
    <tr>
      <td>2551.0318</td>
      <td>0.149932</td>
      <td>0.538042</td>
    </tr>
    <tr>
      <td>2556.1237</td>
      <td>0.137855</td>
      <td>0.534968</td>
    </tr>
    <tr>
      <td>2561.2156</td>
      <td>0.125819</td>
      <td>0.531904</td>
    </tr>
    <tr>
      <td>2566.3075</td>
      <td>0.113766</td>
      <td>0.528835</td>
    </tr>
    <tr>
      <td>2571.3993</td>
      <td>0.101800</td>
      <td>0.525782</td>
    </tr>
  </tbody>
</table>