<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2875.9302</td>
      <td>0.075349</td>
      <td>0.530021</td>
    </tr>
    <tr>
      <td>2881.7401</td>
      <td>0.063092</td>
      <td>0.526898</td>
    </tr>
    <tr>
      <td>2887.5501</td>
      <td>0.050892</td>
      <td>0.523782</td>
    </tr>
    <tr>
      <td>2893.3601</td>
      <td>0.038666</td>
      <td>0.520663</td>
    </tr>
    <tr>
      <td>2899.1700</td>
      <td>0.026469</td>
      <td>0.517551</td>
    </tr>
    <tr>
      <td>2904.9800</td>
      <td>0.014307</td>
      <td>0.514439</td>
    </tr>
    <tr>
      <td>2910.7899</td>
      <td>0.002187</td>
      <td>0.511342</td>
    </tr>
    <tr>
      <td>2916.5999</td>
      <td>-0.009949</td>
      <td>0.508242</td>
    </tr>
    <tr>
      <td>2922.4099</td>
      <td>-0.022054</td>
      <td>0.505147</td>
    </tr>
    <tr>
      <td>2928.2198</td>
      <td>-0.034140</td>
      <td>0.502056</td>
    </tr>
    <tr>
      <td>2934.0298</td>
      <td>-0.046209</td>
      <td>0.498970</td>
    </tr>
  </tbody>
</table>