<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2249.1710</td>
      <td>0.066514</td>
      <td>0.526289</td>
    </tr>
    <tr>
      <td>2253.7148</td>
      <td>0.054343</td>
      <td>0.523344</td>
    </tr>
    <tr>
      <td>2258.2586</td>
      <td>0.042225</td>
      <td>0.520406</td>
    </tr>
    <tr>
      <td>2262.8023</td>
      <td>0.030097</td>
      <td>0.517464</td>
    </tr>
    <tr>
      <td>2267.3461</td>
      <td>0.018006</td>
      <td>0.514532</td>
    </tr>
    <tr>
      <td>2271.8899</td>
      <td>0.005930</td>
      <td>0.511599</td>
    </tr>
    <tr>
      <td>2276.4337</td>
      <td>-0.006151</td>
      <td>0.508666</td>
    </tr>
    <tr>
      <td>2280.9775</td>
      <td>-0.018192</td>
      <td>0.505743</td>
    </tr>
    <tr>
      <td>2285.5212</td>
      <td>-0.030185</td>
      <td>0.502830</td>
    </tr>
    <tr>
      <td>2290.0650</td>
      <td>-0.042208</td>
      <td>0.499910</td>
    </tr>
    <tr>
      <td>2294.6088</td>
      <td>-0.054204</td>
      <td>0.496996</td>
    </tr>
  </tbody>
</table>