<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2239.4097</td>
      <td>0.081299</td>
      <td>0.505492</td>
    </tr>
    <tr>
      <td>2243.9338</td>
      <td>0.069679</td>
      <td>0.502470</td>
    </tr>
    <tr>
      <td>2248.4578</td>
      <td>0.058060</td>
      <td>0.499462</td>
    </tr>
    <tr>
      <td>2252.9819</td>
      <td>0.046499</td>
      <td>0.496458</td>
    </tr>
    <tr>
      <td>2257.5060</td>
      <td>0.034923</td>
      <td>0.493452</td>
    </tr>
    <tr>
      <td>2262.0300</td>
      <td>0.023397</td>
      <td>0.490459</td>
    </tr>
    <tr>
      <td>2266.5541</td>
      <td>0.011843</td>
      <td>0.487465</td>
    </tr>
    <tr>
      <td>2271.0781</td>
      <td>0.000335</td>
      <td>0.484480</td>
    </tr>
    <tr>
      <td>2275.6022</td>
      <td>-0.011135</td>
      <td>0.481503</td>
    </tr>
    <tr>
      <td>2280.1263</td>
      <td>-0.022650</td>
      <td>0.478519</td>
    </tr>
    <tr>
      <td>2284.6503</td>
      <td>-0.034113</td>
      <td>0.475547</td>
    </tr>
  </tbody>
</table>