<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2526.5494</td>
      <td>0.043014</td>
      <td>0.509832</td>
    </tr>
    <tr>
      <td>2531.6535</td>
      <td>0.030867</td>
      <td>0.506881</td>
    </tr>
    <tr>
      <td>2536.7576</td>
      <td>0.018713</td>
      <td>0.503924</td>
    </tr>
    <tr>
      <td>2541.8618</td>
      <td>0.006562</td>
      <td>0.500970</td>
    </tr>
    <tr>
      <td>2546.9659</td>
      <td>-0.005527</td>
      <td>0.498032</td>
    </tr>
    <tr>
      <td>2552.0701</td>
      <td>-0.017625</td>
      <td>0.495088</td>
    </tr>
    <tr>
      <td>2557.1742</td>
      <td>-0.029700</td>
      <td>0.492152</td>
    </tr>
    <tr>
      <td>2562.2783</td>
      <td>-0.041739</td>
      <td>0.489224</td>
    </tr>
    <tr>
      <td>2567.3825</td>
      <td>-0.053787</td>
      <td>0.486296</td>
    </tr>
    <tr>
      <td>2572.4866</td>
      <td>-0.065785</td>
      <td>0.483382</td>
    </tr>
    <tr>
      <td>2577.5908</td>
      <td>-0.077768</td>
      <td>0.480469</td>
    </tr>
  </tbody>
</table>