<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2739.4586</td>
      <td>0.103292</td>
      <td>0.530930</td>
    </tr>
    <tr>
      <td>2744.9928</td>
      <td>0.091306</td>
      <td>0.527892</td>
    </tr>
    <tr>
      <td>2750.5271</td>
      <td>0.079275</td>
      <td>0.524839</td>
    </tr>
    <tr>
      <td>2756.0614</td>
      <td>0.067294</td>
      <td>0.521801</td>
    </tr>
    <tr>
      <td>2761.5956</td>
      <td>0.055322</td>
      <td>0.518761</td>
    </tr>
    <tr>
      <td>2767.1299</td>
      <td>0.043370</td>
      <td>0.515724</td>
    </tr>
    <tr>
      <td>2772.6641</td>
      <td>0.031477</td>
      <td>0.512697</td>
    </tr>
    <tr>
      <td>2778.1984</td>
      <td>0.019553</td>
      <td>0.509665</td>
    </tr>
    <tr>
      <td>2783.7327</td>
      <td>0.007679</td>
      <td>0.506647</td>
    </tr>
    <tr>
      <td>2789.2669</td>
      <td>-0.004173</td>
      <td>0.503633</td>
    </tr>
    <tr>
      <td>2794.8012</td>
      <td>-0.016008</td>
      <td>0.500622</td>
    </tr>
  </tbody>
</table>