<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2407.4523</td>
      <td>0.091657</td>
      <td>0.526071</td>
    </tr>
    <tr>
      <td>2412.3159</td>
      <td>0.079428</td>
      <td>0.523108</td>
    </tr>
    <tr>
      <td>2417.1794</td>
      <td>0.067211</td>
      <td>0.520146</td>
    </tr>
    <tr>
      <td>2422.0429</td>
      <td>0.054976</td>
      <td>0.517182</td>
    </tr>
    <tr>
      <td>2426.9065</td>
      <td>0.042783</td>
      <td>0.514222</td>
    </tr>
    <tr>
      <td>2431.7700</td>
      <td>0.030652</td>
      <td>0.511275</td>
    </tr>
    <tr>
      <td>2436.6336</td>
      <td>0.018473</td>
      <td>0.508320</td>
    </tr>
    <tr>
      <td>2441.4971</td>
      <td>0.006375</td>
      <td>0.505375</td>
    </tr>
    <tr>
      <td>2446.3606</td>
      <td>-0.005737</td>
      <td>0.502436</td>
    </tr>
    <tr>
      <td>2451.2242</td>
      <td>-0.017819</td>
      <td>0.499501</td>
    </tr>
    <tr>
      <td>2456.0877</td>
      <td>-0.029893</td>
      <td>0.496565</td>
    </tr>
  </tbody>
</table>