<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2547.1018</td>
      <td>0.187310</td>
      <td>0.534855</td>
    </tr>
    <tr>
      <td>2552.2474</td>
      <td>0.175108</td>
      <td>0.531905</td>
    </tr>
    <tr>
      <td>2557.3931</td>
      <td>0.162898</td>
      <td>0.528952</td>
    </tr>
    <tr>
      <td>2562.5388</td>
      <td>0.150723</td>
      <td>0.526010</td>
    </tr>
    <tr>
      <td>2567.6844</td>
      <td>0.138590</td>
      <td>0.523070</td>
    </tr>
    <tr>
      <td>2572.8301</td>
      <td>0.126384</td>
      <td>0.520116</td>
    </tr>
    <tr>
      <td>2577.9757</td>
      <td>0.114287</td>
      <td>0.517185</td>
    </tr>
    <tr>
      <td>2583.1214</td>
      <td>0.102183</td>
      <td>0.514250</td>
    </tr>
    <tr>
      <td>2588.2671</td>
      <td>0.090079</td>
      <td>0.511315</td>
    </tr>
    <tr>
      <td>2593.4127</td>
      <td>0.078029</td>
      <td>0.508394</td>
    </tr>
    <tr>
      <td>2598.5584</td>
      <td>0.065975</td>
      <td>0.505467</td>
    </tr>
  </tbody>
</table>