<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2636.2117</td>
      <td>0.081108</td>
      <td>0.521328</td>
    </tr>
    <tr>
      <td>2641.5374</td>
      <td>0.068804</td>
      <td>0.518201</td>
    </tr>
    <tr>
      <td>2646.8630</td>
      <td>0.056529</td>
      <td>0.515077</td>
    </tr>
    <tr>
      <td>2652.1887</td>
      <td>0.044252</td>
      <td>0.511952</td>
    </tr>
    <tr>
      <td>2657.5144</td>
      <td>0.031992</td>
      <td>0.508832</td>
    </tr>
    <tr>
      <td>2662.8401</td>
      <td>0.019783</td>
      <td>0.505723</td>
    </tr>
    <tr>
      <td>2668.1658</td>
      <td>0.007575</td>
      <td>0.502611</td>
    </tr>
    <tr>
      <td>2673.4914</td>
      <td>-0.004627</td>
      <td>0.499508</td>
    </tr>
    <tr>
      <td>2678.8171</td>
      <td>-0.016799</td>
      <td>0.496407</td>
    </tr>
    <tr>
      <td>2684.1428</td>
      <td>-0.028930</td>
      <td>0.493313</td>
    </tr>
    <tr>
      <td>2689.4685</td>
      <td>-0.041068</td>
      <td>0.490225</td>
    </tr>
  </tbody>
</table>