<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2553.0814</td>
      <td>0.159683</td>
      <td>0.529979</td>
    </tr>
    <tr>
      <td>2558.2392</td>
      <td>0.147517</td>
      <td>0.527037</td>
    </tr>
    <tr>
      <td>2563.3969</td>
      <td>0.135342</td>
      <td>0.524094</td>
    </tr>
    <tr>
      <td>2568.5546</td>
      <td>0.123210</td>
      <td>0.521159</td>
    </tr>
    <tr>
      <td>2573.7124</td>
      <td>0.111126</td>
      <td>0.518228</td>
    </tr>
    <tr>
      <td>2578.8701</td>
      <td>0.098995</td>
      <td>0.515294</td>
    </tr>
    <tr>
      <td>2584.0279</td>
      <td>0.086936</td>
      <td>0.512363</td>
    </tr>
    <tr>
      <td>2589.1856</td>
      <td>0.074844</td>
      <td>0.509433</td>
    </tr>
    <tr>
      <td>2594.3433</td>
      <td>0.062838</td>
      <td>0.506523</td>
    </tr>
    <tr>
      <td>2599.5011</td>
      <td>0.050795</td>
      <td>0.503600</td>
    </tr>
    <tr>
      <td>2604.6588</td>
      <td>0.038777</td>
      <td>0.500684</td>
    </tr>
  </tbody>
</table>