<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2142.0233</td>
      <td>0.117174</td>
      <td>0.521664</td>
    </tr>
    <tr>
      <td>2146.3506</td>
      <td>0.105583</td>
      <td>0.518654</td>
    </tr>
    <tr>
      <td>2150.6780</td>
      <td>0.094010</td>
      <td>0.515649</td>
    </tr>
    <tr>
      <td>2155.0053</td>
      <td>0.082404</td>
      <td>0.512639</td>
    </tr>
    <tr>
      <td>2159.3326</td>
      <td>0.070874</td>
      <td>0.509646</td>
    </tr>
    <tr>
      <td>2163.6599</td>
      <td>0.059326</td>
      <td>0.506645</td>
    </tr>
    <tr>
      <td>2167.9872</td>
      <td>0.047803</td>
      <td>0.503654</td>
    </tr>
    <tr>
      <td>2172.3146</td>
      <td>0.036299</td>
      <td>0.500667</td>
    </tr>
    <tr>
      <td>2176.6419</td>
      <td>0.024813</td>
      <td>0.497680</td>
    </tr>
    <tr>
      <td>2180.9692</td>
      <td>0.013344</td>
      <td>0.494698</td>
    </tr>
    <tr>
      <td>2185.2965</td>
      <td>0.001882</td>
      <td>0.491719</td>
    </tr>
  </tbody>
</table>