<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2695.8394</td>
      <td>-0.002317</td>
      <td>0.507207</td>
    </tr>
    <tr>
      <td>2701.2855</td>
      <td>-0.014590</td>
      <td>0.504069</td>
    </tr>
    <tr>
      <td>2706.7316</td>
      <td>-0.026800</td>
      <td>0.500944</td>
    </tr>
    <tr>
      <td>2712.1778</td>
      <td>-0.039022</td>
      <td>0.497821</td>
    </tr>
    <tr>
      <td>2717.6239</td>
      <td>-0.051186</td>
      <td>0.494705</td>
    </tr>
    <tr>
      <td>2723.0701</td>
      <td>-0.063317</td>
      <td>0.491600</td>
    </tr>
    <tr>
      <td>2728.5162</td>
      <td>-0.075507</td>
      <td>0.488485</td>
    </tr>
    <tr>
      <td>2733.9623</td>
      <td>-0.087634</td>
      <td>0.485388</td>
    </tr>
    <tr>
      <td>2739.4085</td>
      <td>-0.099764</td>
      <td>0.482286</td>
    </tr>
    <tr>
      <td>2744.8546</td>
      <td>-0.111861</td>
      <td>0.479198</td>
    </tr>
    <tr>
      <td>2750.3008</td>
      <td>-0.123931</td>
      <td>0.476113</td>
    </tr>
  </tbody>
</table>