<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2416.2830</td>
      <td>0.026059</td>
      <td>0.515176</td>
    </tr>
    <tr>
      <td>2421.1644</td>
      <td>0.013942</td>
      <td>0.512235</td>
    </tr>
    <tr>
      <td>2426.0458</td>
      <td>0.001839</td>
      <td>0.509297</td>
    </tr>
    <tr>
      <td>2430.9272</td>
      <td>-0.010238</td>
      <td>0.506360</td>
    </tr>
    <tr>
      <td>2435.8086</td>
      <td>-0.022249</td>
      <td>0.503442</td>
    </tr>
    <tr>
      <td>2440.6899</td>
      <td>-0.034316</td>
      <td>0.500509</td>
    </tr>
    <tr>
      <td>2445.5713</td>
      <td>-0.046345</td>
      <td>0.497589</td>
    </tr>
    <tr>
      <td>2450.4527</td>
      <td>-0.058323</td>
      <td>0.494676</td>
    </tr>
    <tr>
      <td>2455.3341</td>
      <td>-0.070330</td>
      <td>0.491759</td>
    </tr>
    <tr>
      <td>2460.2155</td>
      <td>-0.082222</td>
      <td>0.488869</td>
    </tr>
    <tr>
      <td>2465.0968</td>
      <td>-0.094186</td>
      <td>0.485962</td>
    </tr>
  </tbody>
</table>