<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2609.3132</td>
      <td>0.122622</td>
      <td>0.534764</td>
    </tr>
    <tr>
      <td>2614.5846</td>
      <td>0.110377</td>
      <td>0.531650</td>
    </tr>
    <tr>
      <td>2619.8559</td>
      <td>0.098158</td>
      <td>0.528535</td>
    </tr>
    <tr>
      <td>2625.1272</td>
      <td>0.086005</td>
      <td>0.525435</td>
    </tr>
    <tr>
      <td>2630.3986</td>
      <td>0.073824</td>
      <td>0.522328</td>
    </tr>
    <tr>
      <td>2635.6699</td>
      <td>0.061681</td>
      <td>0.519231</td>
    </tr>
    <tr>
      <td>2640.9413</td>
      <td>0.049542</td>
      <td>0.516133</td>
    </tr>
    <tr>
      <td>2646.2126</td>
      <td>0.037438</td>
      <td>0.513040</td>
    </tr>
    <tr>
      <td>2651.4839</td>
      <td>0.025345</td>
      <td>0.509949</td>
    </tr>
    <tr>
      <td>2656.7553</td>
      <td>0.013282</td>
      <td>0.506868</td>
    </tr>
    <tr>
      <td>2662.0266</td>
      <td>0.001198</td>
      <td>0.503784</td>
    </tr>
  </tbody>
</table>