<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2141.6274</td>
      <td>0.039919</td>
      <td>0.516920</td>
    </tr>
    <tr>
      <td>2145.9539</td>
      <td>0.028194</td>
      <td>0.513877</td>
    </tr>
    <tr>
      <td>2150.2804</td>
      <td>0.016516</td>
      <td>0.510834</td>
    </tr>
    <tr>
      <td>2154.6070</td>
      <td>0.004896</td>
      <td>0.507808</td>
    </tr>
    <tr>
      <td>2158.9335</td>
      <td>-0.006742</td>
      <td>0.504782</td>
    </tr>
    <tr>
      <td>2163.2600</td>
      <td>-0.018333</td>
      <td>0.501764</td>
    </tr>
    <tr>
      <td>2167.5865</td>
      <td>-0.029932</td>
      <td>0.498739</td>
    </tr>
    <tr>
      <td>2171.9131</td>
      <td>-0.041508</td>
      <td>0.495726</td>
    </tr>
    <tr>
      <td>2176.2396</td>
      <td>-0.053047</td>
      <td>0.492725</td>
    </tr>
    <tr>
      <td>2180.5661</td>
      <td>-0.064610</td>
      <td>0.489712</td>
    </tr>
    <tr>
      <td>2184.8926</td>
      <td>-0.076111</td>
      <td>0.486717</td>
    </tr>
  </tbody>
</table>