<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2414.6794</td>
      <td>0.043877</td>
      <td>0.516158</td>
    </tr>
    <tr>
      <td>2419.5575</td>
      <td>0.031595</td>
      <td>0.513181</td>
    </tr>
    <tr>
      <td>2424.4356</td>
      <td>0.019357</td>
      <td>0.510202</td>
    </tr>
    <tr>
      <td>2429.3138</td>
      <td>0.007172</td>
      <td>0.507240</td>
    </tr>
    <tr>
      <td>2434.1919</td>
      <td>-0.005019</td>
      <td>0.504279</td>
    </tr>
    <tr>
      <td>2439.0701</td>
      <td>-0.017180</td>
      <td>0.501318</td>
    </tr>
    <tr>
      <td>2443.9482</td>
      <td>-0.029327</td>
      <td>0.498363</td>
    </tr>
    <tr>
      <td>2448.8263</td>
      <td>-0.041478</td>
      <td>0.495410</td>
    </tr>
    <tr>
      <td>2453.7045</td>
      <td>-0.053617</td>
      <td>0.492460</td>
    </tr>
    <tr>
      <td>2458.5826</td>
      <td>-0.065698</td>
      <td>0.489523</td>
    </tr>
    <tr>
      <td>2463.4608</td>
      <td>-0.077758</td>
      <td>0.486590</td>
    </tr>
  </tbody>
</table>