<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2321.4806</td>
      <td>0.128815</td>
      <td>0.538758</td>
    </tr>
    <tr>
      <td>2326.1705</td>
      <td>0.116626</td>
      <td>0.535815</td>
    </tr>
    <tr>
      <td>2330.8604</td>
      <td>0.104495</td>
      <td>0.532881</td>
    </tr>
    <tr>
      <td>2335.5502</td>
      <td>0.092319</td>
      <td>0.529939</td>
    </tr>
    <tr>
      <td>2340.2401</td>
      <td>0.080224</td>
      <td>0.527010</td>
    </tr>
    <tr>
      <td>2344.9299</td>
      <td>0.068117</td>
      <td>0.524084</td>
    </tr>
    <tr>
      <td>2349.6198</td>
      <td>0.056032</td>
      <td>0.521153</td>
    </tr>
    <tr>
      <td>2354.3097</td>
      <td>0.043954</td>
      <td>0.518226</td>
    </tr>
    <tr>
      <td>2358.9995</td>
      <td>0.031904</td>
      <td>0.515300</td>
    </tr>
    <tr>
      <td>2363.6894</td>
      <td>0.019916</td>
      <td>0.512390</td>
    </tr>
    <tr>
      <td>2368.3792</td>
      <td>0.007926</td>
      <td>0.509479</td>
    </tr>
  </tbody>
</table>