<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2339.3502</td>
      <td>0.057453</td>
      <td>0.516519</td>
    </tr>
    <tr>
      <td>2344.0761</td>
      <td>0.045311</td>
      <td>0.513578</td>
    </tr>
    <tr>
      <td>2348.8021</td>
      <td>0.033181</td>
      <td>0.510640</td>
    </tr>
    <tr>
      <td>2353.5281</td>
      <td>0.021095</td>
      <td>0.507705</td>
    </tr>
    <tr>
      <td>2358.2540</td>
      <td>0.009024</td>
      <td>0.504779</td>
    </tr>
    <tr>
      <td>2362.9800</td>
      <td>-0.003005</td>
      <td>0.501859</td>
    </tr>
    <tr>
      <td>2367.7059</td>
      <td>-0.015033</td>
      <td>0.498943</td>
    </tr>
    <tr>
      <td>2372.4319</td>
      <td>-0.027067</td>
      <td>0.496023</td>
    </tr>
    <tr>
      <td>2377.1579</td>
      <td>-0.039071</td>
      <td>0.493110</td>
    </tr>
    <tr>
      <td>2381.8838</td>
      <td>-0.051054</td>
      <td>0.490202</td>
    </tr>
    <tr>
      <td>2386.6098</td>
      <td>-0.062982</td>
      <td>0.487307</td>
    </tr>
  </tbody>
</table>