<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2625.4899</td>
      <td>0.109229</td>
      <td>0.523319</td>
    </tr>
    <tr>
      <td>2630.7939</td>
      <td>0.097033</td>
      <td>0.520360</td>
    </tr>
    <tr>
      <td>2636.0979</td>
      <td>0.084876</td>
      <td>0.517410</td>
    </tr>
    <tr>
      <td>2641.4020</td>
      <td>0.072763</td>
      <td>0.514471</td>
    </tr>
    <tr>
      <td>2646.7060</td>
      <td>0.060617</td>
      <td>0.511516</td>
    </tr>
    <tr>
      <td>2652.0100</td>
      <td>0.048536</td>
      <td>0.508581</td>
    </tr>
    <tr>
      <td>2657.3140</td>
      <td>0.036447</td>
      <td>0.505641</td>
    </tr>
    <tr>
      <td>2662.6181</td>
      <td>0.024367</td>
      <td>0.502708</td>
    </tr>
    <tr>
      <td>2667.9221</td>
      <td>0.012335</td>
      <td>0.499779</td>
    </tr>
    <tr>
      <td>2673.2261</td>
      <td>0.000331</td>
      <td>0.496863</td>
    </tr>
    <tr>
      <td>2678.5301</td>
      <td>-0.011706</td>
      <td>0.493934</td>
    </tr>
  </tbody>
</table>