<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2247.7355</td>
      <td>0.093278</td>
      <td>0.530389</td>
    </tr>
    <tr>
      <td>2252.2764</td>
      <td>0.081046</td>
      <td>0.527433</td>
    </tr>
    <tr>
      <td>2256.8173</td>
      <td>0.068885</td>
      <td>0.524491</td>
    </tr>
    <tr>
      <td>2261.3582</td>
      <td>0.056742</td>
      <td>0.521552</td>
    </tr>
    <tr>
      <td>2265.8991</td>
      <td>0.044600</td>
      <td>0.518611</td>
    </tr>
    <tr>
      <td>2270.4399</td>
      <td>0.032537</td>
      <td>0.515687</td>
    </tr>
    <tr>
      <td>2274.9808</td>
      <td>0.020430</td>
      <td>0.512750</td>
    </tr>
    <tr>
      <td>2279.5217</td>
      <td>0.008334</td>
      <td>0.509819</td>
    </tr>
    <tr>
      <td>2284.0626</td>
      <td>-0.003739</td>
      <td>0.506886</td>
    </tr>
    <tr>
      <td>2288.6035</td>
      <td>-0.015774</td>
      <td>0.503966</td>
    </tr>
    <tr>
      <td>2293.1443</td>
      <td>-0.027772</td>
      <td>0.501055</td>
    </tr>
  </tbody>
</table>