<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2520.6983</td>
      <td>0.209408</td>
      <td>0.539171</td>
    </tr>
    <tr>
      <td>2525.7906</td>
      <td>0.197298</td>
      <td>0.536103</td>
    </tr>
    <tr>
      <td>2530.8830</td>
      <td>0.185237</td>
      <td>0.533041</td>
    </tr>
    <tr>
      <td>2535.9753</td>
      <td>0.173183</td>
      <td>0.529981</td>
    </tr>
    <tr>
      <td>2541.0676</td>
      <td>0.161127</td>
      <td>0.526918</td>
    </tr>
    <tr>
      <td>2546.1599</td>
      <td>0.149112</td>
      <td>0.523859</td>
    </tr>
    <tr>
      <td>2551.2522</td>
      <td>0.137127</td>
      <td>0.520810</td>
    </tr>
    <tr>
      <td>2556.3446</td>
      <td>0.125099</td>
      <td>0.517750</td>
    </tr>
    <tr>
      <td>2561.4369</td>
      <td>0.113137</td>
      <td>0.514706</td>
    </tr>
    <tr>
      <td>2566.5292</td>
      <td>0.101198</td>
      <td>0.511665</td>
    </tr>
    <tr>
      <td>2571.6215</td>
      <td>0.089268</td>
      <td>0.508627</td>
    </tr>
  </tbody>
</table>