<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2413.5407</td>
      <td>0.101248</td>
      <td>0.528555</td>
    </tr>
    <tr>
      <td>2418.4166</td>
      <td>0.088985</td>
      <td>0.525584</td>
    </tr>
    <tr>
      <td>2423.2924</td>
      <td>0.076787</td>
      <td>0.522622</td>
    </tr>
    <tr>
      <td>2428.1682</td>
      <td>0.064552</td>
      <td>0.519655</td>
    </tr>
    <tr>
      <td>2433.0441</td>
      <td>0.052361</td>
      <td>0.516693</td>
    </tr>
    <tr>
      <td>2437.9199</td>
      <td>0.040185</td>
      <td>0.513735</td>
    </tr>
    <tr>
      <td>2442.7958</td>
      <td>0.028066</td>
      <td>0.510787</td>
    </tr>
    <tr>
      <td>2447.6716</td>
      <td>0.015939</td>
      <td>0.507841</td>
    </tr>
    <tr>
      <td>2452.5474</td>
      <td>0.003802</td>
      <td>0.504891</td>
    </tr>
    <tr>
      <td>2457.4233</td>
      <td>-0.008277</td>
      <td>0.501953</td>
    </tr>
    <tr>
      <td>2462.2991</td>
      <td>-0.020355</td>
      <td>0.499009</td>
    </tr>
  </tbody>
</table>