<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2828.4102</td>
      <td>0.048056</td>
      <td>0.514076</td>
    </tr>
    <tr>
      <td>2834.1241</td>
      <td>0.035854</td>
      <td>0.510958</td>
    </tr>
    <tr>
      <td>2839.8381</td>
      <td>0.023647</td>
      <td>0.507834</td>
    </tr>
    <tr>
      <td>2845.5521</td>
      <td>0.011439</td>
      <td>0.504718</td>
    </tr>
    <tr>
      <td>2851.2660</td>
      <td>-0.000699</td>
      <td>0.501615</td>
    </tr>
    <tr>
      <td>2856.9800</td>
      <td>-0.012852</td>
      <td>0.498504</td>
    </tr>
    <tr>
      <td>2862.6939</td>
      <td>-0.024966</td>
      <td>0.495409</td>
    </tr>
    <tr>
      <td>2868.4079</td>
      <td>-0.037069</td>
      <td>0.492316</td>
    </tr>
    <tr>
      <td>2874.1219</td>
      <td>-0.049135</td>
      <td>0.489229</td>
    </tr>
    <tr>
      <td>2879.8358</td>
      <td>-0.061217</td>
      <td>0.486145</td>
    </tr>
    <tr>
      <td>2885.5498</td>
      <td>-0.073243</td>
      <td>0.483074</td>
    </tr>
  </tbody>
</table>