<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2821.6286</td>
      <td>0.072970</td>
      <td>0.536099</td>
    </tr>
    <tr>
      <td>2827.3288</td>
      <td>0.060735</td>
      <td>0.532986</td>
    </tr>
    <tr>
      <td>2833.0291</td>
      <td>0.048527</td>
      <td>0.529877</td>
    </tr>
    <tr>
      <td>2838.7294</td>
      <td>0.036343</td>
      <td>0.526770</td>
    </tr>
    <tr>
      <td>2844.4296</td>
      <td>0.024184</td>
      <td>0.523670</td>
    </tr>
    <tr>
      <td>2850.1299</td>
      <td>0.012051</td>
      <td>0.520573</td>
    </tr>
    <tr>
      <td>2855.8301</td>
      <td>-0.000092</td>
      <td>0.517476</td>
    </tr>
    <tr>
      <td>2861.5304</td>
      <td>-0.012172</td>
      <td>0.514390</td>
    </tr>
    <tr>
      <td>2867.2307</td>
      <td>-0.024287</td>
      <td>0.511298</td>
    </tr>
    <tr>
      <td>2872.9309</td>
      <td>-0.036367</td>
      <td>0.508205</td>
    </tr>
    <tr>
      <td>2878.6312</td>
      <td>-0.048383</td>
      <td>0.505132</td>
    </tr>
  </tbody>
</table>