<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2331.9846</td>
      <td>0.088801</td>
      <td>0.535923</td>
    </tr>
    <tr>
      <td>2336.6957</td>
      <td>0.076648</td>
      <td>0.532986</td>
    </tr>
    <tr>
      <td>2341.4068</td>
      <td>0.064451</td>
      <td>0.530041</td>
    </tr>
    <tr>
      <td>2346.1179</td>
      <td>0.052341</td>
      <td>0.527108</td>
    </tr>
    <tr>
      <td>2350.8290</td>
      <td>0.040220</td>
      <td>0.524176</td>
    </tr>
    <tr>
      <td>2355.5400</td>
      <td>0.028160</td>
      <td>0.521253</td>
    </tr>
    <tr>
      <td>2360.2511</td>
      <td>0.016049</td>
      <td>0.518320</td>
    </tr>
    <tr>
      <td>2364.9622</td>
      <td>0.004025</td>
      <td>0.515401</td>
    </tr>
    <tr>
      <td>2369.6733</td>
      <td>-0.008031</td>
      <td>0.512475</td>
    </tr>
    <tr>
      <td>2374.3844</td>
      <td>-0.020018</td>
      <td>0.509564</td>
    </tr>
    <tr>
      <td>2379.0954</td>
      <td>-0.032033</td>
      <td>0.506649</td>
    </tr>
  </tbody>
</table>