<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2242.5480</td>
      <td>0.097901</td>
      <td>0.528824</td>
    </tr>
    <tr>
      <td>2247.0784</td>
      <td>0.085727</td>
      <td>0.525876</td>
    </tr>
    <tr>
      <td>2251.6088</td>
      <td>0.073584</td>
      <td>0.522934</td>
    </tr>
    <tr>
      <td>2256.1392</td>
      <td>0.061443</td>
      <td>0.519994</td>
    </tr>
    <tr>
      <td>2260.6696</td>
      <td>0.049344</td>
      <td>0.517059</td>
    </tr>
    <tr>
      <td>2265.2000</td>
      <td>0.037243</td>
      <td>0.514127</td>
    </tr>
    <tr>
      <td>2269.7304</td>
      <td>0.025189</td>
      <td>0.511199</td>
    </tr>
    <tr>
      <td>2274.2608</td>
      <td>0.013166</td>
      <td>0.508278</td>
    </tr>
    <tr>
      <td>2278.7912</td>
      <td>0.001131</td>
      <td>0.505358</td>
    </tr>
    <tr>
      <td>2283.3216</td>
      <td>-0.010902</td>
      <td>0.502437</td>
    </tr>
    <tr>
      <td>2287.8520</td>
      <td>-0.022905</td>
      <td>0.499517</td>
    </tr>
  </tbody>
</table>