<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2645.2007</td>
      <td>0.080086</td>
      <td>0.528058</td>
    </tr>
    <tr>
      <td>2650.5446</td>
      <td>0.067865</td>
      <td>0.524939</td>
    </tr>
    <tr>
      <td>2655.8884</td>
      <td>0.055587</td>
      <td>0.521810</td>
    </tr>
    <tr>
      <td>2661.2322</td>
      <td>0.043393</td>
      <td>0.518700</td>
    </tr>
    <tr>
      <td>2666.5761</td>
      <td>0.031194</td>
      <td>0.515586</td>
    </tr>
    <tr>
      <td>2671.9199</td>
      <td>0.019010</td>
      <td>0.512477</td>
    </tr>
    <tr>
      <td>2677.2638</td>
      <td>0.006838</td>
      <td>0.509366</td>
    </tr>
    <tr>
      <td>2682.6076</td>
      <td>-0.005319</td>
      <td>0.506263</td>
    </tr>
    <tr>
      <td>2687.9514</td>
      <td>-0.017427</td>
      <td>0.503168</td>
    </tr>
    <tr>
      <td>2693.2953</td>
      <td>-0.029560</td>
      <td>0.500071</td>
    </tr>
    <tr>
      <td>2698.6391</td>
      <td>-0.041634</td>
      <td>0.496986</td>
    </tr>
  </tbody>
</table>