<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2342.0628</td>
      <td>0.060837</td>
      <td>0.528043</td>
    </tr>
    <tr>
      <td>2346.7942</td>
      <td>0.048700</td>
      <td>0.525098</td>
    </tr>
    <tr>
      <td>2351.5257</td>
      <td>0.036550</td>
      <td>0.522149</td>
    </tr>
    <tr>
      <td>2356.2571</td>
      <td>0.024440</td>
      <td>0.519208</td>
    </tr>
    <tr>
      <td>2360.9886</td>
      <td>0.012344</td>
      <td>0.516272</td>
    </tr>
    <tr>
      <td>2365.7200</td>
      <td>0.000241</td>
      <td>0.513332</td>
    </tr>
    <tr>
      <td>2370.4514</td>
      <td>-0.011785</td>
      <td>0.510403</td>
    </tr>
    <tr>
      <td>2375.1829</td>
      <td>-0.023812</td>
      <td>0.507477</td>
    </tr>
    <tr>
      <td>2379.9143</td>
      <td>-0.035837</td>
      <td>0.504552</td>
    </tr>
    <tr>
      <td>2384.6458</td>
      <td>-0.047847</td>
      <td>0.501632</td>
    </tr>
    <tr>
      <td>2389.3772</td>
      <td>-0.059818</td>
      <td>0.498717</td>
    </tr>
  </tbody>
</table>