<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2890.1764</td>
      <td>0.141642</td>
      <td>0.530165</td>
    </tr>
    <tr>
      <td>2896.0152</td>
      <td>0.129372</td>
      <td>0.527038</td>
    </tr>
    <tr>
      <td>2901.8539</td>
      <td>0.117090</td>
      <td>0.523907</td>
    </tr>
    <tr>
      <td>2907.6926</td>
      <td>0.104910</td>
      <td>0.520797</td>
    </tr>
    <tr>
      <td>2913.5314</td>
      <td>0.092698</td>
      <td>0.517683</td>
    </tr>
    <tr>
      <td>2919.3701</td>
      <td>0.080535</td>
      <td>0.514571</td>
    </tr>
    <tr>
      <td>2925.2089</td>
      <td>0.068352</td>
      <td>0.511459</td>
    </tr>
    <tr>
      <td>2931.0476</td>
      <td>0.056208</td>
      <td>0.508356</td>
    </tr>
    <tr>
      <td>2936.8863</td>
      <td>0.044084</td>
      <td>0.505253</td>
    </tr>
    <tr>
      <td>2942.7251</td>
      <td>0.031978</td>
      <td>0.502162</td>
    </tr>
    <tr>
      <td>2948.5638</td>
      <td>0.019899</td>
      <td>0.499075</td>
    </tr>
  </tbody>
</table>