<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2357.9127</td>
      <td>0.066945</td>
      <td>0.526304</td>
    </tr>
    <tr>
      <td>2362.6762</td>
      <td>0.054763</td>
      <td>0.523350</td>
    </tr>
    <tr>
      <td>2367.4396</td>
      <td>0.042628</td>
      <td>0.520408</td>
    </tr>
    <tr>
      <td>2372.2031</td>
      <td>0.030481</td>
      <td>0.517462</td>
    </tr>
    <tr>
      <td>2376.9665</td>
      <td>0.018369</td>
      <td>0.514519</td>
    </tr>
    <tr>
      <td>2381.7300</td>
      <td>0.006232</td>
      <td>0.511574</td>
    </tr>
    <tr>
      <td>2386.4935</td>
      <td>-0.005869</td>
      <td>0.508638</td>
    </tr>
    <tr>
      <td>2391.2569</td>
      <td>-0.017894</td>
      <td>0.505716</td>
    </tr>
    <tr>
      <td>2396.0204</td>
      <td>-0.029972</td>
      <td>0.502782</td>
    </tr>
    <tr>
      <td>2400.7838</td>
      <td>-0.042005</td>
      <td>0.499859</td>
    </tr>
    <tr>
      <td>2405.5473</td>
      <td>-0.053998</td>
      <td>0.496942</td>
    </tr>
  </tbody>
</table>