<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
    <tr>
      <td>2381.73</td>
      <td>-0.049798</td>
      <td>0.504634</td>
    </tr>
  </tbody>
</table>