<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2901.4425</td>
      <td>0.051314</td>
      <td>0.510129</td>
    </tr>
    <tr>
      <td>2907.3040</td>
      <td>0.039115</td>
      <td>0.507018</td>
    </tr>
    <tr>
      <td>2913.1655</td>
      <td>0.026907</td>
      <td>0.503903</td>
    </tr>
    <tr>
      <td>2919.0270</td>
      <td>0.014725</td>
      <td>0.500790</td>
    </tr>
    <tr>
      <td>2924.8885</td>
      <td>0.002554</td>
      <td>0.497688</td>
    </tr>
    <tr>
      <td>2930.7500</td>
      <td>-0.009575</td>
      <td>0.494592</td>
    </tr>
    <tr>
      <td>2936.6115</td>
      <td>-0.021684</td>
      <td>0.491502</td>
    </tr>
    <tr>
      <td>2942.4730</td>
      <td>-0.033823</td>
      <td>0.488411</td>
    </tr>
    <tr>
      <td>2948.3345</td>
      <td>-0.045909</td>
      <td>0.485328</td>
    </tr>
    <tr>
      <td>2954.1960</td>
      <td>-0.057965</td>
      <td>0.482251</td>
    </tr>
    <tr>
      <td>2960.0575</td>
      <td>-0.070021</td>
      <td>0.479184</td>
    </tr>
  </tbody>
</table>