<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2124.6391</td>
      <td>0.070765</td>
      <td>0.526347</td>
    </tr>
    <tr>
      <td>2128.9313</td>
      <td>0.059145</td>
      <td>0.523315</td>
    </tr>
    <tr>
      <td>2133.2235</td>
      <td>0.047551</td>
      <td>0.520296</td>
    </tr>
    <tr>
      <td>2137.5157</td>
      <td>0.035987</td>
      <td>0.517278</td>
    </tr>
    <tr>
      <td>2141.8079</td>
      <td>0.024398</td>
      <td>0.514259</td>
    </tr>
    <tr>
      <td>2146.1001</td>
      <td>0.012915</td>
      <td>0.511257</td>
    </tr>
    <tr>
      <td>2150.3923</td>
      <td>0.001374</td>
      <td>0.508243</td>
    </tr>
    <tr>
      <td>2154.6845</td>
      <td>-0.010148</td>
      <td>0.505237</td>
    </tr>
    <tr>
      <td>2158.9767</td>
      <td>-0.021634</td>
      <td>0.502239</td>
    </tr>
    <tr>
      <td>2163.2689</td>
      <td>-0.033091</td>
      <td>0.499245</td>
    </tr>
    <tr>
      <td>2167.5611</td>
      <td>-0.044541</td>
      <td>0.496253</td>
    </tr>
  </tbody>
</table>