<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2349.7353</td>
      <td>0.132879</td>
      <td>0.536280</td>
    </tr>
    <tr>
      <td>2354.4822</td>
      <td>0.120675</td>
      <td>0.533337</td>
    </tr>
    <tr>
      <td>2359.2292</td>
      <td>0.108507</td>
      <td>0.530396</td>
    </tr>
    <tr>
      <td>2363.9761</td>
      <td>0.096381</td>
      <td>0.527461</td>
    </tr>
    <tr>
      <td>2368.7230</td>
      <td>0.084250</td>
      <td>0.524525</td>
    </tr>
    <tr>
      <td>2373.4700</td>
      <td>0.072163</td>
      <td>0.521598</td>
    </tr>
    <tr>
      <td>2378.2169</td>
      <td>0.060046</td>
      <td>0.518658</td>
    </tr>
    <tr>
      <td>2382.9639</td>
      <td>0.047973</td>
      <td>0.515731</td>
    </tr>
    <tr>
      <td>2387.7108</td>
      <td>0.035944</td>
      <td>0.512815</td>
    </tr>
    <tr>
      <td>2392.4577</td>
      <td>0.023928</td>
      <td>0.509898</td>
    </tr>
    <tr>
      <td>2397.2047</td>
      <td>0.011923</td>
      <td>0.506981</td>
    </tr>
  </tbody>
</table>