<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2436.0040</td>
      <td>0.079250</td>
      <td>0.515861</td>
    </tr>
    <tr>
      <td>2440.9252</td>
      <td>0.067066</td>
      <td>0.512896</td>
    </tr>
    <tr>
      <td>2445.8464</td>
      <td>0.054903</td>
      <td>0.509948</td>
    </tr>
    <tr>
      <td>2450.7677</td>
      <td>0.042751</td>
      <td>0.506989</td>
    </tr>
    <tr>
      <td>2455.6889</td>
      <td>0.030602</td>
      <td>0.504038</td>
    </tr>
    <tr>
      <td>2460.6101</td>
      <td>0.018512</td>
      <td>0.501097</td>
    </tr>
    <tr>
      <td>2465.5313</td>
      <td>0.006450</td>
      <td>0.498165</td>
    </tr>
    <tr>
      <td>2470.4525</td>
      <td>-0.005599</td>
      <td>0.495231</td>
    </tr>
    <tr>
      <td>2475.3738</td>
      <td>-0.017675</td>
      <td>0.492295</td>
    </tr>
    <tr>
      <td>2480.2950</td>
      <td>-0.029689</td>
      <td>0.489372</td>
    </tr>
    <tr>
      <td>2485.2162</td>
      <td>-0.041700</td>
      <td>0.486456</td>
    </tr>
  </tbody>
</table>