<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2564.7335</td>
      <td>0.103362</td>
      <td>0.519403</td>
    </tr>
    <tr>
      <td>2569.9148</td>
      <td>0.091164</td>
      <td>0.516445</td>
    </tr>
    <tr>
      <td>2575.0961</td>
      <td>0.079020</td>
      <td>0.513497</td>
    </tr>
    <tr>
      <td>2580.2773</td>
      <td>0.066896</td>
      <td>0.510554</td>
    </tr>
    <tr>
      <td>2585.4586</td>
      <td>0.054775</td>
      <td>0.507609</td>
    </tr>
    <tr>
      <td>2590.6399</td>
      <td>0.042662</td>
      <td>0.504670</td>
    </tr>
    <tr>
      <td>2595.8212</td>
      <td>0.030587</td>
      <td>0.501734</td>
    </tr>
    <tr>
      <td>2601.0025</td>
      <td>0.018537</td>
      <td>0.498804</td>
    </tr>
    <tr>
      <td>2606.1837</td>
      <td>0.006486</td>
      <td>0.495875</td>
    </tr>
    <tr>
      <td>2611.3650</td>
      <td>-0.005528</td>
      <td>0.492956</td>
    </tr>
    <tr>
      <td>2616.5463</td>
      <td>-0.017557</td>
      <td>0.490035</td>
    </tr>
  </tbody>
</table>