<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2445.5970</td>
      <td>0.127658</td>
      <td>0.526560</td>
    </tr>
    <tr>
      <td>2450.5376</td>
      <td>0.115514</td>
      <td>0.523615</td>
    </tr>
    <tr>
      <td>2455.4782</td>
      <td>0.103370</td>
      <td>0.520674</td>
    </tr>
    <tr>
      <td>2460.4188</td>
      <td>0.091260</td>
      <td>0.517741</td>
    </tr>
    <tr>
      <td>2465.3594</td>
      <td>0.079156</td>
      <td>0.514802</td>
    </tr>
    <tr>
      <td>2470.3000</td>
      <td>0.067044</td>
      <td>0.511862</td>
    </tr>
    <tr>
      <td>2475.2406</td>
      <td>0.055002</td>
      <td>0.508938</td>
    </tr>
    <tr>
      <td>2480.1812</td>
      <td>0.042969</td>
      <td>0.506017</td>
    </tr>
    <tr>
      <td>2485.1218</td>
      <td>0.030907</td>
      <td>0.503090</td>
    </tr>
    <tr>
      <td>2490.0624</td>
      <td>0.018929</td>
      <td>0.500173</td>
    </tr>
    <tr>
      <td>2495.0030</td>
      <td>0.006924</td>
      <td>0.497256</td>
    </tr>
  </tbody>
</table>