<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2535.6474</td>
      <td>0.101255</td>
      <td>0.522628</td>
    </tr>
    <tr>
      <td>2540.7699</td>
      <td>0.089094</td>
      <td>0.519681</td>
    </tr>
    <tr>
      <td>2545.8924</td>
      <td>0.076923</td>
      <td>0.516726</td>
    </tr>
    <tr>
      <td>2551.0150</td>
      <td>0.064779</td>
      <td>0.513783</td>
    </tr>
    <tr>
      <td>2556.1375</td>
      <td>0.052725</td>
      <td>0.510853</td>
    </tr>
    <tr>
      <td>2561.2600</td>
      <td>0.040591</td>
      <td>0.507911</td>
    </tr>
    <tr>
      <td>2566.3825</td>
      <td>0.028566</td>
      <td>0.504983</td>
    </tr>
    <tr>
      <td>2571.5051</td>
      <td>0.016491</td>
      <td>0.502051</td>
    </tr>
    <tr>
      <td>2576.6276</td>
      <td>0.004457</td>
      <td>0.499128</td>
    </tr>
    <tr>
      <td>2581.7501</td>
      <td>-0.007549</td>
      <td>0.496208</td>
    </tr>
    <tr>
      <td>2586.8726</td>
      <td>-0.019560</td>
      <td>0.493296</td>
    </tr>
  </tbody>
</table>