<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2875.2670</td>
      <td>0.055475</td>
      <td>0.509012</td>
    </tr>
    <tr>
      <td>2881.0756</td>
      <td>0.043298</td>
      <td>0.505898</td>
    </tr>
    <tr>
      <td>2886.8842</td>
      <td>0.031117</td>
      <td>0.502789</td>
    </tr>
    <tr>
      <td>2892.6928</td>
      <td>0.018968</td>
      <td>0.499678</td>
    </tr>
    <tr>
      <td>2898.5014</td>
      <td>0.006830</td>
      <td>0.496581</td>
    </tr>
    <tr>
      <td>2904.3101</td>
      <td>-0.005253</td>
      <td>0.493491</td>
    </tr>
    <tr>
      <td>2910.1187</td>
      <td>-0.017365</td>
      <td>0.490397</td>
    </tr>
    <tr>
      <td>2915.9273</td>
      <td>-0.029400</td>
      <td>0.487319</td>
    </tr>
    <tr>
      <td>2921.7359</td>
      <td>-0.041419</td>
      <td>0.484249</td>
    </tr>
    <tr>
      <td>2927.5445</td>
      <td>-0.053480</td>
      <td>0.481170</td>
    </tr>
    <tr>
      <td>2933.3532</td>
      <td>-0.065496</td>
      <td>0.478107</td>
    </tr>
  </tbody>
</table>