<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2320.5402</td>
      <td>0.129303</td>
      <td>0.543564</td>
    </tr>
    <tr>
      <td>2325.2281</td>
      <td>0.117179</td>
      <td>0.540649</td>
    </tr>
    <tr>
      <td>2329.9161</td>
      <td>0.105017</td>
      <td>0.537724</td>
    </tr>
    <tr>
      <td>2334.6041</td>
      <td>0.092837</td>
      <td>0.534791</td>
    </tr>
    <tr>
      <td>2339.2920</td>
      <td>0.080751</td>
      <td>0.531878</td>
    </tr>
    <tr>
      <td>2343.9800</td>
      <td>0.068646</td>
      <td>0.528958</td>
    </tr>
    <tr>
      <td>2348.6679</td>
      <td>0.056569</td>
      <td>0.526046</td>
    </tr>
    <tr>
      <td>2353.3559</td>
      <td>0.044520</td>
      <td>0.523133</td>
    </tr>
    <tr>
      <td>2358.0439</td>
      <td>0.032444</td>
      <td>0.520213</td>
    </tr>
    <tr>
      <td>2362.7318</td>
      <td>0.020429</td>
      <td>0.517307</td>
    </tr>
    <tr>
      <td>2367.4198</td>
      <td>0.008428</td>
      <td>0.514403</td>
    </tr>
  </tbody>
</table>