<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2439.9640</td>
      <td>0.195335</td>
      <td>0.540185</td>
    </tr>
    <tr>
      <td>2444.8932</td>
      <td>0.183119</td>
      <td>0.537243</td>
    </tr>
    <tr>
      <td>2449.8224</td>
      <td>0.170879</td>
      <td>0.534299</td>
    </tr>
    <tr>
      <td>2454.7517</td>
      <td>0.158721</td>
      <td>0.531369</td>
    </tr>
    <tr>
      <td>2459.6809</td>
      <td>0.146548</td>
      <td>0.528431</td>
    </tr>
    <tr>
      <td>2464.6101</td>
      <td>0.134399</td>
      <td>0.525496</td>
    </tr>
    <tr>
      <td>2469.5393</td>
      <td>0.122256</td>
      <td>0.522565</td>
    </tr>
    <tr>
      <td>2474.4685</td>
      <td>0.110146</td>
      <td>0.519641</td>
    </tr>
    <tr>
      <td>2479.3978</td>
      <td>0.098072</td>
      <td>0.516721</td>
    </tr>
    <tr>
      <td>2484.3270</td>
      <td>0.086014</td>
      <td>0.513800</td>
    </tr>
    <tr>
      <td>2489.2562</td>
      <td>0.073950</td>
      <td>0.510879</td>
    </tr>
  </tbody>
</table>