<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2834.3304</td>
      <td>0.044041</td>
      <td>0.515808</td>
    </tr>
    <tr>
      <td>2840.0563</td>
      <td>0.031832</td>
      <td>0.512690</td>
    </tr>
    <tr>
      <td>2845.7822</td>
      <td>0.019616</td>
      <td>0.509563</td>
    </tr>
    <tr>
      <td>2851.5081</td>
      <td>0.007445</td>
      <td>0.506448</td>
    </tr>
    <tr>
      <td>2857.2340</td>
      <td>-0.004717</td>
      <td>0.503337</td>
    </tr>
    <tr>
      <td>2862.9600</td>
      <td>-0.016833</td>
      <td>0.500238</td>
    </tr>
    <tr>
      <td>2868.6859</td>
      <td>-0.028965</td>
      <td>0.497134</td>
    </tr>
    <tr>
      <td>2874.4118</td>
      <td>-0.041075</td>
      <td>0.494032</td>
    </tr>
    <tr>
      <td>2880.1377</td>
      <td>-0.053147</td>
      <td>0.490945</td>
    </tr>
    <tr>
      <td>2885.8636</td>
      <td>-0.065213</td>
      <td>0.487860</td>
    </tr>
    <tr>
      <td>2891.5896</td>
      <td>-0.077244</td>
      <td>0.484784</td>
    </tr>
  </tbody>
</table>