<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2473.3864</td>
      <td>0.070705</td>
      <td>0.519281</td>
    </tr>
    <tr>
      <td>2478.3832</td>
      <td>0.058547</td>
      <td>0.516329</td>
    </tr>
    <tr>
      <td>2483.3799</td>
      <td>0.046338</td>
      <td>0.513366</td>
    </tr>
    <tr>
      <td>2488.3766</td>
      <td>0.034194</td>
      <td>0.510415</td>
    </tr>
    <tr>
      <td>2493.3734</td>
      <td>0.022065</td>
      <td>0.507467</td>
    </tr>
    <tr>
      <td>2498.3701</td>
      <td>0.009915</td>
      <td>0.504517</td>
    </tr>
    <tr>
      <td>2503.3669</td>
      <td>-0.002168</td>
      <td>0.501578</td>
    </tr>
    <tr>
      <td>2508.3636</td>
      <td>-0.014283</td>
      <td>0.498633</td>
    </tr>
    <tr>
      <td>2513.3603</td>
      <td>-0.026316</td>
      <td>0.495706</td>
    </tr>
    <tr>
      <td>2518.3571</td>
      <td>-0.038388</td>
      <td>0.492769</td>
    </tr>
    <tr>
      <td>2523.3538</td>
      <td>-0.050407</td>
      <td>0.489849</td>
    </tr>
  </tbody>
</table>