<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2241.0530</td>
      <td>0.081437</td>
      <td>0.533456</td>
    </tr>
    <tr>
      <td>2245.5804</td>
      <td>0.069285</td>
      <td>0.530518</td>
    </tr>
    <tr>
      <td>2250.1078</td>
      <td>0.057167</td>
      <td>0.527585</td>
    </tr>
    <tr>
      <td>2254.6352</td>
      <td>0.045024</td>
      <td>0.524640</td>
    </tr>
    <tr>
      <td>2259.1626</td>
      <td>0.032944</td>
      <td>0.521715</td>
    </tr>
    <tr>
      <td>2263.6899</td>
      <td>0.020832</td>
      <td>0.518783</td>
    </tr>
    <tr>
      <td>2268.2173</td>
      <td>0.008747</td>
      <td>0.515851</td>
    </tr>
    <tr>
      <td>2272.7447</td>
      <td>-0.003288</td>
      <td>0.512928</td>
    </tr>
    <tr>
      <td>2277.2721</td>
      <td>-0.015339</td>
      <td>0.510004</td>
    </tr>
    <tr>
      <td>2281.7995</td>
      <td>-0.027343</td>
      <td>0.507089</td>
    </tr>
    <tr>
      <td>2286.3268</td>
      <td>-0.039314</td>
      <td>0.504181</td>
    </tr>
  </tbody>
</table>