<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2554.0516</td>
      <td>0.105431</td>
      <td>0.522791</td>
    </tr>
    <tr>
      <td>2559.2113</td>
      <td>0.093264</td>
      <td>0.519843</td>
    </tr>
    <tr>
      <td>2564.3710</td>
      <td>0.081080</td>
      <td>0.516889</td>
    </tr>
    <tr>
      <td>2569.5307</td>
      <td>0.068940</td>
      <td>0.513947</td>
    </tr>
    <tr>
      <td>2574.6904</td>
      <td>0.056814</td>
      <td>0.511004</td>
    </tr>
    <tr>
      <td>2579.8501</td>
      <td>0.044733</td>
      <td>0.508065</td>
    </tr>
    <tr>
      <td>2585.0098</td>
      <td>0.032603</td>
      <td>0.505125</td>
    </tr>
    <tr>
      <td>2590.1695</td>
      <td>0.020575</td>
      <td>0.502202</td>
    </tr>
    <tr>
      <td>2595.3292</td>
      <td>0.008526</td>
      <td>0.499272</td>
    </tr>
    <tr>
      <td>2600.4889</td>
      <td>-0.003492</td>
      <td>0.496352</td>
    </tr>
    <tr>
      <td>2605.6486</td>
      <td>-0.015489</td>
      <td>0.493437</td>
    </tr>
  </tbody>
</table>