<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2470.6639</td>
      <td>0.059230</td>
      <td>0.522526</td>
    </tr>
    <tr>
      <td>2475.6552</td>
      <td>0.047054</td>
      <td>0.519568</td>
    </tr>
    <tr>
      <td>2480.6464</td>
      <td>0.034893</td>
      <td>0.516611</td>
    </tr>
    <tr>
      <td>2485.6376</td>
      <td>0.022748</td>
      <td>0.513658</td>
    </tr>
    <tr>
      <td>2490.6289</td>
      <td>0.010641</td>
      <td>0.510715</td>
    </tr>
    <tr>
      <td>2495.6201</td>
      <td>-0.001472</td>
      <td>0.507763</td>
    </tr>
    <tr>
      <td>2500.6114</td>
      <td>-0.013545</td>
      <td>0.504824</td>
    </tr>
    <tr>
      <td>2505.6026</td>
      <td>-0.025589</td>
      <td>0.501891</td>
    </tr>
    <tr>
      <td>2510.5938</td>
      <td>-0.037641</td>
      <td>0.498957</td>
    </tr>
    <tr>
      <td>2515.5851</td>
      <td>-0.049640</td>
      <td>0.496031</td>
    </tr>
    <tr>
      <td>2520.5763</td>
      <td>-0.061650</td>
      <td>0.493109</td>
    </tr>
  </tbody>
</table>