<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2556.0611</td>
      <td>0.375158</td>
      <td>0.596176</td>
    </tr>
    <tr>
      <td>2561.2248</td>
      <td>0.362842</td>
      <td>0.593141</td>
    </tr>
    <tr>
      <td>2566.3886</td>
      <td>0.350470</td>
      <td>0.590092</td>
    </tr>
    <tr>
      <td>2571.5524</td>
      <td>0.338145</td>
      <td>0.587045</td>
    </tr>
    <tr>
      <td>2576.7161</td>
      <td>0.325837</td>
      <td>0.583993</td>
    </tr>
    <tr>
      <td>2581.8799</td>
      <td>0.313522</td>
      <td>0.580936</td>
    </tr>
    <tr>
      <td>2587.0436</td>
      <td>0.301251</td>
      <td>0.577883</td>
    </tr>
    <tr>
      <td>2592.2074</td>
      <td>0.289000</td>
      <td>0.574827</td>
    </tr>
    <tr>
      <td>2597.3712</td>
      <td>0.276738</td>
      <td>0.571770</td>
    </tr>
    <tr>
      <td>2602.5349</td>
      <td>0.264540</td>
      <td>0.568714</td>
    </tr>
    <tr>
      <td>2607.6987</td>
      <td>0.252345</td>
      <td>0.565662</td>
    </tr>
  </tbody>
</table>