<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2246.2109</td>
      <td>0.048761</td>
      <td>0.512537</td>
    </tr>
    <tr>
      <td>2250.7487</td>
      <td>0.036603</td>
      <td>0.509587</td>
    </tr>
    <tr>
      <td>2255.2865</td>
      <td>0.024450</td>
      <td>0.506633</td>
    </tr>
    <tr>
      <td>2259.8243</td>
      <td>0.012305</td>
      <td>0.503686</td>
    </tr>
    <tr>
      <td>2264.3621</td>
      <td>0.000245</td>
      <td>0.500755</td>
    </tr>
    <tr>
      <td>2268.8999</td>
      <td>-0.011832</td>
      <td>0.497822</td>
    </tr>
    <tr>
      <td>2273.4377</td>
      <td>-0.023940</td>
      <td>0.494880</td>
    </tr>
    <tr>
      <td>2277.9755</td>
      <td>-0.035941</td>
      <td>0.491965</td>
    </tr>
    <tr>
      <td>2282.5133</td>
      <td>-0.047973</td>
      <td>0.489041</td>
    </tr>
    <tr>
      <td>2287.0511</td>
      <td>-0.059984</td>
      <td>0.486124</td>
    </tr>
    <tr>
      <td>2291.5889</td>
      <td>-0.071945</td>
      <td>0.483220</td>
    </tr>
  </tbody>
</table>