<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2191.2166</td>
      <td>0.004772</td>
      <td>0.505732</td>
    </tr>
    <tr>
      <td>2195.6433</td>
      <td>-0.006881</td>
      <td>0.502702</td>
    </tr>
    <tr>
      <td>2200.0700</td>
      <td>-0.018483</td>
      <td>0.499687</td>
    </tr>
    <tr>
      <td>2204.4967</td>
      <td>-0.030036</td>
      <td>0.496679</td>
    </tr>
    <tr>
      <td>2208.9234</td>
      <td>-0.041584</td>
      <td>0.493669</td>
    </tr>
    <tr>
      <td>2213.3501</td>
      <td>-0.053164</td>
      <td>0.490662</td>
    </tr>
    <tr>
      <td>2217.7768</td>
      <td>-0.064716</td>
      <td>0.487658</td>
    </tr>
    <tr>
      <td>2222.2035</td>
      <td>-0.076185</td>
      <td>0.484673</td>
    </tr>
    <tr>
      <td>2226.6302</td>
      <td>-0.087687</td>
      <td>0.481680</td>
    </tr>
    <tr>
      <td>2231.0569</td>
      <td>-0.099169</td>
      <td>0.478696</td>
    </tr>
    <tr>
      <td>2235.4836</td>
      <td>-0.110612</td>
      <td>0.475724</td>
    </tr>
  </tbody>
</table>