<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2533.7665</td>
      <td>0.116146</td>
      <td>0.521529</td>
    </tr>
    <tr>
      <td>2538.8852</td>
      <td>0.103955</td>
      <td>0.518574</td>
    </tr>
    <tr>
      <td>2544.0039</td>
      <td>0.091823</td>
      <td>0.515635</td>
    </tr>
    <tr>
      <td>2549.1227</td>
      <td>0.079665</td>
      <td>0.512683</td>
    </tr>
    <tr>
      <td>2554.2414</td>
      <td>0.067554</td>
      <td>0.509746</td>
    </tr>
    <tr>
      <td>2559.3601</td>
      <td>0.055485</td>
      <td>0.506813</td>
    </tr>
    <tr>
      <td>2564.4788</td>
      <td>0.043368</td>
      <td>0.503874</td>
    </tr>
    <tr>
      <td>2569.5975</td>
      <td>0.031324</td>
      <td>0.500945</td>
    </tr>
    <tr>
      <td>2574.7163</td>
      <td>0.019302</td>
      <td>0.498024</td>
    </tr>
    <tr>
      <td>2579.8350</td>
      <td>0.007300</td>
      <td>0.495109</td>
    </tr>
    <tr>
      <td>2584.9537</td>
      <td>-0.004729</td>
      <td>0.492190</td>
    </tr>
  </tbody>
</table>