<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2856.7144</td>
      <td>0.140956</td>
      <td>0.536639</td>
    </tr>
    <tr>
      <td>2862.4855</td>
      <td>0.128746</td>
      <td>0.533535</td>
    </tr>
    <tr>
      <td>2868.2566</td>
      <td>0.116580</td>
      <td>0.530440</td>
    </tr>
    <tr>
      <td>2874.0278</td>
      <td>0.104375</td>
      <td>0.527330</td>
    </tr>
    <tr>
      <td>2879.7989</td>
      <td>0.092218</td>
      <td>0.524234</td>
    </tr>
    <tr>
      <td>2885.5701</td>
      <td>0.080090</td>
      <td>0.521146</td>
    </tr>
    <tr>
      <td>2891.3412</td>
      <td>0.068023</td>
      <td>0.518066</td>
    </tr>
    <tr>
      <td>2897.1123</td>
      <td>0.055899</td>
      <td>0.514973</td>
    </tr>
    <tr>
      <td>2902.8835</td>
      <td>0.043819</td>
      <td>0.511896</td>
    </tr>
    <tr>
      <td>2908.6546</td>
      <td>0.031752</td>
      <td>0.508812</td>
    </tr>
    <tr>
      <td>2914.4258</td>
      <td>0.019724</td>
      <td>0.505740</td>
    </tr>
  </tbody>
</table>