<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2339.0928</td>
      <td>0.039621</td>
      <td>0.528958</td>
    </tr>
    <tr>
      <td>2343.8182</td>
      <td>0.027448</td>
      <td>0.526008</td>
    </tr>
    <tr>
      <td>2348.5437</td>
      <td>0.015262</td>
      <td>0.523049</td>
    </tr>
    <tr>
      <td>2353.2691</td>
      <td>0.003147</td>
      <td>0.520108</td>
    </tr>
    <tr>
      <td>2357.9945</td>
      <td>-0.009007</td>
      <td>0.517153</td>
    </tr>
    <tr>
      <td>2362.7200</td>
      <td>-0.021105</td>
      <td>0.514219</td>
    </tr>
    <tr>
      <td>2367.4454</td>
      <td>-0.033183</td>
      <td>0.511280</td>
    </tr>
    <tr>
      <td>2372.1709</td>
      <td>-0.045264</td>
      <td>0.508343</td>
    </tr>
    <tr>
      <td>2376.8963</td>
      <td>-0.057272</td>
      <td>0.505422</td>
    </tr>
    <tr>
      <td>2381.6217</td>
      <td>-0.069287</td>
      <td>0.502494</td>
    </tr>
    <tr>
      <td>2386.3472</td>
      <td>-0.081287</td>
      <td>0.499574</td>
    </tr>
  </tbody>
</table>