<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2230.7472</td>
      <td>0.080205</td>
      <td>0.503832</td>
    </tr>
    <tr>
      <td>2235.2538</td>
      <td>0.068521</td>
      <td>0.500795</td>
    </tr>
    <tr>
      <td>2239.7603</td>
      <td>0.056884</td>
      <td>0.497773</td>
    </tr>
    <tr>
      <td>2244.2669</td>
      <td>0.045283</td>
      <td>0.494762</td>
    </tr>
    <tr>
      <td>2248.7735</td>
      <td>0.033671</td>
      <td>0.491743</td>
    </tr>
    <tr>
      <td>2253.2800</td>
      <td>0.022096</td>
      <td>0.488735</td>
    </tr>
    <tr>
      <td>2257.7866</td>
      <td>0.010531</td>
      <td>0.485726</td>
    </tr>
    <tr>
      <td>2262.2931</td>
      <td>-0.000994</td>
      <td>0.482740</td>
    </tr>
    <tr>
      <td>2266.7997</td>
      <td>-0.012541</td>
      <td>0.479740</td>
    </tr>
    <tr>
      <td>2271.3063</td>
      <td>-0.024047</td>
      <td>0.476751</td>
    </tr>
    <tr>
      <td>2275.8128</td>
      <td>-0.035521</td>
      <td>0.473775</td>
    </tr>
  </tbody>
</table>