<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2573.0397</td>
      <td>0.064093</td>
      <td>0.517006</td>
    </tr>
    <tr>
      <td>2578.2378</td>
      <td>0.051956</td>
      <td>0.514057</td>
    </tr>
    <tr>
      <td>2583.4358</td>
      <td>0.039884</td>
      <td>0.511120</td>
    </tr>
    <tr>
      <td>2588.6339</td>
      <td>0.027742</td>
      <td>0.508169</td>
    </tr>
    <tr>
      <td>2593.8320</td>
      <td>0.015670</td>
      <td>0.505236</td>
    </tr>
    <tr>
      <td>2599.0300</td>
      <td>0.003637</td>
      <td>0.502306</td>
    </tr>
    <tr>
      <td>2604.2281</td>
      <td>-0.008475</td>
      <td>0.499362</td>
    </tr>
    <tr>
      <td>2609.4261</td>
      <td>-0.020454</td>
      <td>0.496450</td>
    </tr>
    <tr>
      <td>2614.6242</td>
      <td>-0.032453</td>
      <td>0.493527</td>
    </tr>
    <tr>
      <td>2619.8223</td>
      <td>-0.044460</td>
      <td>0.490608</td>
    </tr>
    <tr>
      <td>2625.0203</td>
      <td>-0.056402</td>
      <td>0.487703</td>
    </tr>
  </tbody>
</table>