<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2859.9120</td>
      <td>0.146637</td>
      <td>0.529193</td>
    </tr>
    <tr>
      <td>2865.6896</td>
      <td>0.134367</td>
      <td>0.526065</td>
    </tr>
    <tr>
      <td>2871.4672</td>
      <td>0.122171</td>
      <td>0.522956</td>
    </tr>
    <tr>
      <td>2877.2448</td>
      <td>0.109933</td>
      <td>0.519833</td>
    </tr>
    <tr>
      <td>2883.0224</td>
      <td>0.097707</td>
      <td>0.516713</td>
    </tr>
    <tr>
      <td>2888.8000</td>
      <td>0.085546</td>
      <td>0.513605</td>
    </tr>
    <tr>
      <td>2894.5776</td>
      <td>0.073412</td>
      <td>0.510506</td>
    </tr>
    <tr>
      <td>2900.3552</td>
      <td>0.061291</td>
      <td>0.507404</td>
    </tr>
    <tr>
      <td>2906.1328</td>
      <td>0.049133</td>
      <td>0.504303</td>
    </tr>
    <tr>
      <td>2911.9104</td>
      <td>0.037053</td>
      <td>0.501214</td>
    </tr>
    <tr>
      <td>2917.6880</td>
      <td>0.024982</td>
      <td>0.498125</td>
    </tr>
  </tbody>
</table>