<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2433.2716</td>
      <td>0.131650</td>
      <td>0.529612</td>
    </tr>
    <tr>
      <td>2438.1873</td>
      <td>0.119449</td>
      <td>0.526656</td>
    </tr>
    <tr>
      <td>2443.1030</td>
      <td>0.107273</td>
      <td>0.523701</td>
    </tr>
    <tr>
      <td>2448.0187</td>
      <td>0.095108</td>
      <td>0.520748</td>
    </tr>
    <tr>
      <td>2452.9344</td>
      <td>0.082975</td>
      <td>0.517803</td>
    </tr>
    <tr>
      <td>2457.8501</td>
      <td>0.070846</td>
      <td>0.514854</td>
    </tr>
    <tr>
      <td>2462.7658</td>
      <td>0.058712</td>
      <td>0.511911</td>
    </tr>
    <tr>
      <td>2467.6815</td>
      <td>0.046636</td>
      <td>0.508972</td>
    </tr>
    <tr>
      <td>2472.5972</td>
      <td>0.034566</td>
      <td>0.506037</td>
    </tr>
    <tr>
      <td>2477.5129</td>
      <td>0.022517</td>
      <td>0.503105</td>
    </tr>
    <tr>
      <td>2482.4286</td>
      <td>0.010473</td>
      <td>0.500176</td>
    </tr>
  </tbody>
</table>