<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2141.4889</td>
      <td>0.019627</td>
      <td>0.507511</td>
    </tr>
    <tr>
      <td>2145.8152</td>
      <td>0.008065</td>
      <td>0.504494</td>
    </tr>
    <tr>
      <td>2150.1414</td>
      <td>-0.003530</td>
      <td>0.501474</td>
    </tr>
    <tr>
      <td>2154.4676</td>
      <td>-0.015052</td>
      <td>0.498469</td>
    </tr>
    <tr>
      <td>2158.7939</td>
      <td>-0.026559</td>
      <td>0.495469</td>
    </tr>
    <tr>
      <td>2163.1201</td>
      <td>-0.038120</td>
      <td>0.492455</td>
    </tr>
    <tr>
      <td>2167.4464</td>
      <td>-0.049589</td>
      <td>0.489467</td>
    </tr>
    <tr>
      <td>2171.7726</td>
      <td>-0.061085</td>
      <td>0.486474</td>
    </tr>
    <tr>
      <td>2176.0988</td>
      <td>-0.072552</td>
      <td>0.483485</td>
    </tr>
    <tr>
      <td>2180.4251</td>
      <td>-0.083977</td>
      <td>0.480507</td>
    </tr>
    <tr>
      <td>2184.7513</td>
      <td>-0.095398</td>
      <td>0.477529</td>
    </tr>
  </tbody>
</table>