<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2859.0110</td>
      <td>0.134854</td>
      <td>0.531437</td>
    </tr>
    <tr>
      <td>2864.7868</td>
      <td>0.122605</td>
      <td>0.528328</td>
    </tr>
    <tr>
      <td>2870.5626</td>
      <td>0.110395</td>
      <td>0.525220</td>
    </tr>
    <tr>
      <td>2876.3383</td>
      <td>0.098192</td>
      <td>0.522112</td>
    </tr>
    <tr>
      <td>2882.1141</td>
      <td>0.086077</td>
      <td>0.519025</td>
    </tr>
    <tr>
      <td>2887.8899</td>
      <td>0.073897</td>
      <td>0.515923</td>
    </tr>
    <tr>
      <td>2893.6657</td>
      <td>0.061773</td>
      <td>0.512835</td>
    </tr>
    <tr>
      <td>2899.4415</td>
      <td>0.049680</td>
      <td>0.509749</td>
    </tr>
    <tr>
      <td>2905.2172</td>
      <td>0.037616</td>
      <td>0.506670</td>
    </tr>
    <tr>
      <td>2910.9930</td>
      <td>0.025528</td>
      <td>0.503586</td>
    </tr>
    <tr>
      <td>2916.7688</td>
      <td>0.013490</td>
      <td>0.500522</td>
    </tr>
  </tbody>
</table>