<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2536.4791</td>
      <td>0.096350</td>
      <td>0.526347</td>
    </tr>
    <tr>
      <td>2541.6033</td>
      <td>0.084201</td>
      <td>0.523400</td>
    </tr>
    <tr>
      <td>2546.7275</td>
      <td>0.072072</td>
      <td>0.520459</td>
    </tr>
    <tr>
      <td>2551.8517</td>
      <td>0.059900</td>
      <td>0.517509</td>
    </tr>
    <tr>
      <td>2556.9759</td>
      <td>0.047831</td>
      <td>0.514576</td>
    </tr>
    <tr>
      <td>2562.1001</td>
      <td>0.035696</td>
      <td>0.511634</td>
    </tr>
    <tr>
      <td>2567.2243</td>
      <td>0.023653</td>
      <td>0.508707</td>
    </tr>
    <tr>
      <td>2572.3485</td>
      <td>0.011563</td>
      <td>0.505772</td>
    </tr>
    <tr>
      <td>2577.4727</td>
      <td>-0.000463</td>
      <td>0.502848</td>
    </tr>
    <tr>
      <td>2582.5969</td>
      <td>-0.012481</td>
      <td>0.499927</td>
    </tr>
    <tr>
      <td>2587.7211</td>
      <td>-0.024438</td>
      <td>0.497018</td>
    </tr>
  </tbody>
</table>