<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2105.235</td>
      <td>0.134162</td>
      <td>0.530191</td>
    </tr>
    <tr>
      <td>2109.488</td>
      <td>0.122549</td>
      <td>0.527194</td>
    </tr>
    <tr>
      <td>2113.741</td>
      <td>0.110961</td>
      <td>0.524189</td>
    </tr>
    <tr>
      <td>2117.994</td>
      <td>0.099380</td>
      <td>0.521198</td>
    </tr>
    <tr>
      <td>2122.247</td>
      <td>0.087817</td>
      <td>0.518205</td>
    </tr>
    <tr>
      <td>2126.500</td>
      <td>0.076302</td>
      <td>0.515219</td>
    </tr>
    <tr>
      <td>2130.753</td>
      <td>0.064775</td>
      <td>0.512228</td>
    </tr>
    <tr>
      <td>2135.006</td>
      <td>0.053310</td>
      <td>0.509253</td>
    </tr>
    <tr>
      <td>2139.259</td>
      <td>0.041791</td>
      <td>0.506266</td>
    </tr>
    <tr>
      <td>2143.512</td>
      <td>0.030337</td>
      <td>0.503294</td>
    </tr>
    <tr>
      <td>2147.765</td>
      <td>0.018908</td>
      <td>0.500327</td>
    </tr>
  </tbody>
</table>