<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2481.9696</td>
      <td>0.085681</td>
      <td>0.521685</td>
    </tr>
    <tr>
      <td>2486.9837</td>
      <td>0.073531</td>
      <td>0.518740</td>
    </tr>
    <tr>
      <td>2491.9978</td>
      <td>0.061414</td>
      <td>0.515802</td>
    </tr>
    <tr>
      <td>2497.0119</td>
      <td>0.049278</td>
      <td>0.512857</td>
    </tr>
    <tr>
      <td>2502.0260</td>
      <td>0.037226</td>
      <td>0.509930</td>
    </tr>
    <tr>
      <td>2507.0400</td>
      <td>0.025155</td>
      <td>0.507003</td>
    </tr>
    <tr>
      <td>2512.0541</td>
      <td>0.013118</td>
      <td>0.504077</td>
    </tr>
    <tr>
      <td>2517.0682</td>
      <td>0.001096</td>
      <td>0.501157</td>
    </tr>
    <tr>
      <td>2522.0823</td>
      <td>-0.010929</td>
      <td>0.498237</td>
    </tr>
    <tr>
      <td>2527.0964</td>
      <td>-0.022929</td>
      <td>0.495325</td>
    </tr>
    <tr>
      <td>2532.1104</td>
      <td>-0.034909</td>
      <td>0.492419</td>
    </tr>
  </tbody>
</table>