<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2408.1354</td>
      <td>0.104670</td>
      <td>0.532634</td>
    </tr>
    <tr>
      <td>2413.0003</td>
      <td>0.092476</td>
      <td>0.529687</td>
    </tr>
    <tr>
      <td>2417.8652</td>
      <td>0.080313</td>
      <td>0.526740</td>
    </tr>
    <tr>
      <td>2422.7301</td>
      <td>0.068173</td>
      <td>0.523803</td>
    </tr>
    <tr>
      <td>2427.5950</td>
      <td>0.056070</td>
      <td>0.520870</td>
    </tr>
    <tr>
      <td>2432.4600</td>
      <td>0.043949</td>
      <td>0.517932</td>
    </tr>
    <tr>
      <td>2437.3249</td>
      <td>0.031847</td>
      <td>0.514995</td>
    </tr>
    <tr>
      <td>2442.1898</td>
      <td>0.019802</td>
      <td>0.512071</td>
    </tr>
    <tr>
      <td>2447.0547</td>
      <td>0.007755</td>
      <td>0.509145</td>
    </tr>
    <tr>
      <td>2451.9196</td>
      <td>-0.004272</td>
      <td>0.506228</td>
    </tr>
    <tr>
      <td>2456.7846</td>
      <td>-0.016276</td>
      <td>0.503311</td>
    </tr>
  </tbody>
</table>