<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2236.9347</td>
      <td>0.018026</td>
      <td>0.505438</td>
    </tr>
    <tr>
      <td>2241.4538</td>
      <td>0.006348</td>
      <td>0.502399</td>
    </tr>
    <tr>
      <td>2245.9728</td>
      <td>-0.005249</td>
      <td>0.499377</td>
    </tr>
    <tr>
      <td>2250.4919</td>
      <td>-0.016925</td>
      <td>0.496339</td>
    </tr>
    <tr>
      <td>2255.0110</td>
      <td>-0.028514</td>
      <td>0.493320</td>
    </tr>
    <tr>
      <td>2259.5300</td>
      <td>-0.040100</td>
      <td>0.490302</td>
    </tr>
    <tr>
      <td>2264.0491</td>
      <td>-0.051700</td>
      <td>0.487281</td>
    </tr>
    <tr>
      <td>2268.5681</td>
      <td>-0.063209</td>
      <td>0.484284</td>
    </tr>
    <tr>
      <td>2273.0872</td>
      <td>-0.074791</td>
      <td>0.481278</td>
    </tr>
    <tr>
      <td>2277.6063</td>
      <td>-0.086307</td>
      <td>0.478275</td>
    </tr>
    <tr>
      <td>2282.1253</td>
      <td>-0.097813</td>
      <td>0.475289</td>
    </tr>
  </tbody>
</table>