<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2146.5873</td>
      <td>0.037707</td>
      <td>0.519752</td>
    </tr>
    <tr>
      <td>2150.9239</td>
      <td>0.026130</td>
      <td>0.516740</td>
    </tr>
    <tr>
      <td>2155.2604</td>
      <td>0.014594</td>
      <td>0.513734</td>
    </tr>
    <tr>
      <td>2159.5969</td>
      <td>0.003068</td>
      <td>0.510735</td>
    </tr>
    <tr>
      <td>2163.9335</td>
      <td>-0.008425</td>
      <td>0.507736</td>
    </tr>
    <tr>
      <td>2168.2700</td>
      <td>-0.019922</td>
      <td>0.504735</td>
    </tr>
    <tr>
      <td>2172.6066</td>
      <td>-0.031440</td>
      <td>0.501734</td>
    </tr>
    <tr>
      <td>2176.9431</td>
      <td>-0.042883</td>
      <td>0.498753</td>
    </tr>
    <tr>
      <td>2181.2796</td>
      <td>-0.054336</td>
      <td>0.495765</td>
    </tr>
    <tr>
      <td>2185.6162</td>
      <td>-0.065732</td>
      <td>0.492790</td>
    </tr>
    <tr>
      <td>2189.9527</td>
      <td>-0.077127</td>
      <td>0.489818</td>
    </tr>
  </tbody>
</table>