<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2556.4770</td>
      <td>0.092327</td>
      <td>0.524248</td>
    </tr>
    <tr>
      <td>2561.6416</td>
      <td>0.080153</td>
      <td>0.521298</td>
    </tr>
    <tr>
      <td>2566.8062</td>
      <td>0.068030</td>
      <td>0.518362</td>
    </tr>
    <tr>
      <td>2571.9708</td>
      <td>0.055874</td>
      <td>0.515415</td>
    </tr>
    <tr>
      <td>2577.1354</td>
      <td>0.043786</td>
      <td>0.512484</td>
    </tr>
    <tr>
      <td>2582.3000</td>
      <td>0.031733</td>
      <td>0.509554</td>
    </tr>
    <tr>
      <td>2587.4646</td>
      <td>0.019685</td>
      <td>0.506631</td>
    </tr>
    <tr>
      <td>2592.6292</td>
      <td>0.007619</td>
      <td>0.503701</td>
    </tr>
    <tr>
      <td>2597.7938</td>
      <td>-0.004414</td>
      <td>0.500779</td>
    </tr>
    <tr>
      <td>2602.9584</td>
      <td>-0.016392</td>
      <td>0.497869</td>
    </tr>
    <tr>
      <td>2608.1230</td>
      <td>-0.028393</td>
      <td>0.494952</td>
    </tr>
  </tbody>
</table>