<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2538.9739</td>
      <td>0.152199</td>
      <td>0.535435</td>
    </tr>
    <tr>
      <td>2544.1032</td>
      <td>0.140063</td>
      <td>0.532504</td>
    </tr>
    <tr>
      <td>2549.2324</td>
      <td>0.127895</td>
      <td>0.529562</td>
    </tr>
    <tr>
      <td>2554.3616</td>
      <td>0.115774</td>
      <td>0.526633</td>
    </tr>
    <tr>
      <td>2559.4909</td>
      <td>0.103671</td>
      <td>0.523701</td>
    </tr>
    <tr>
      <td>2564.6201</td>
      <td>0.091537</td>
      <td>0.520765</td>
    </tr>
    <tr>
      <td>2569.7494</td>
      <td>0.079497</td>
      <td>0.517843</td>
    </tr>
    <tr>
      <td>2574.8786</td>
      <td>0.067454</td>
      <td>0.514927</td>
    </tr>
    <tr>
      <td>2580.0078</td>
      <td>0.055405</td>
      <td>0.512001</td>
    </tr>
    <tr>
      <td>2585.1371</td>
      <td>0.043374</td>
      <td>0.509084</td>
    </tr>
    <tr>
      <td>2590.2663</td>
      <td>0.031391</td>
      <td>0.506179</td>
    </tr>
  </tbody>
</table>