<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2414.6794</td>
      <td>0.096614</td>
      <td>0.517857</td>
    </tr>
    <tr>
      <td>2419.5575</td>
      <td>0.084465</td>
      <td>0.514918</td>
    </tr>
    <tr>
      <td>2424.4356</td>
      <td>0.072320</td>
      <td>0.511972</td>
    </tr>
    <tr>
      <td>2429.3138</td>
      <td>0.060224</td>
      <td>0.509035</td>
    </tr>
    <tr>
      <td>2434.1919</td>
      <td>0.048100</td>
      <td>0.506096</td>
    </tr>
    <tr>
      <td>2439.0701</td>
      <td>0.036030</td>
      <td>0.503164</td>
    </tr>
    <tr>
      <td>2443.9482</td>
      <td>0.023984</td>
      <td>0.500240</td>
    </tr>
    <tr>
      <td>2448.8263</td>
      <td>0.011915</td>
      <td>0.497316</td>
    </tr>
    <tr>
      <td>2453.7045</td>
      <td>-0.000113</td>
      <td>0.494397</td>
    </tr>
    <tr>
      <td>2458.5826</td>
      <td>-0.012115</td>
      <td>0.491482</td>
    </tr>
    <tr>
      <td>2463.4608</td>
      <td>-0.024086</td>
      <td>0.488581</td>
    </tr>
  </tbody>
</table>