<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2143.0430</td>
      <td>0.134068</td>
      <td>0.532362</td>
    </tr>
    <tr>
      <td>2147.3724</td>
      <td>0.122417</td>
      <td>0.529334</td>
    </tr>
    <tr>
      <td>2151.7018</td>
      <td>0.110735</td>
      <td>0.526297</td>
    </tr>
    <tr>
      <td>2156.0312</td>
      <td>0.099083</td>
      <td>0.523270</td>
    </tr>
    <tr>
      <td>2160.3606</td>
      <td>0.087448</td>
      <td>0.520243</td>
    </tr>
    <tr>
      <td>2164.6899</td>
      <td>0.075844</td>
      <td>0.517228</td>
    </tr>
    <tr>
      <td>2169.0193</td>
      <td>0.064233</td>
      <td>0.514200</td>
    </tr>
    <tr>
      <td>2173.3487</td>
      <td>0.052674</td>
      <td>0.511192</td>
    </tr>
    <tr>
      <td>2177.6781</td>
      <td>0.041131</td>
      <td>0.508182</td>
    </tr>
    <tr>
      <td>2182.0075</td>
      <td>0.029597</td>
      <td>0.505174</td>
    </tr>
    <tr>
      <td>2186.3368</td>
      <td>0.018072</td>
      <td>0.502168</td>
    </tr>
  </tbody>
</table>