<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2248.0524</td>
      <td>0.061197</td>
      <td>0.508494</td>
    </tr>
    <tr>
      <td>2252.5939</td>
      <td>0.049597</td>
      <td>0.505478</td>
    </tr>
    <tr>
      <td>2257.1354</td>
      <td>0.037992</td>
      <td>0.502468</td>
    </tr>
    <tr>
      <td>2261.6770</td>
      <td>0.026422</td>
      <td>0.499460</td>
    </tr>
    <tr>
      <td>2266.2185</td>
      <td>0.014867</td>
      <td>0.496465</td>
    </tr>
    <tr>
      <td>2270.7600</td>
      <td>0.003311</td>
      <td>0.493462</td>
    </tr>
    <tr>
      <td>2275.3015</td>
      <td>-0.008165</td>
      <td>0.490477</td>
    </tr>
    <tr>
      <td>2279.8431</td>
      <td>-0.019684</td>
      <td>0.487488</td>
    </tr>
    <tr>
      <td>2284.3846</td>
      <td>-0.031137</td>
      <td>0.484508</td>
    </tr>
    <tr>
      <td>2288.9261</td>
      <td>-0.042624</td>
      <td>0.481531</td>
    </tr>
    <tr>
      <td>2293.4676</td>
      <td>-0.054060</td>
      <td>0.478565</td>
    </tr>
  </tbody>
</table>