<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2723.2821</td>
      <td>0.388604</td>
      <td>0.576637</td>
    </tr>
    <tr>
      <td>2728.7837</td>
      <td>0.376347</td>
      <td>0.573601</td>
    </tr>
    <tr>
      <td>2734.2853</td>
      <td>0.364098</td>
      <td>0.570561</td>
    </tr>
    <tr>
      <td>2739.7869</td>
      <td>0.351881</td>
      <td>0.567525</td>
    </tr>
    <tr>
      <td>2745.2885</td>
      <td>0.339657</td>
      <td>0.564481</td>
    </tr>
    <tr>
      <td>2750.7900</td>
      <td>0.327463</td>
      <td>0.561446</td>
    </tr>
    <tr>
      <td>2756.2916</td>
      <td>0.315349</td>
      <td>0.558417</td>
    </tr>
    <tr>
      <td>2761.7932</td>
      <td>0.303166</td>
      <td>0.555376</td>
    </tr>
    <tr>
      <td>2767.2948</td>
      <td>0.291053</td>
      <td>0.552341</td>
    </tr>
    <tr>
      <td>2772.7964</td>
      <td>0.278949</td>
      <td>0.549307</td>
    </tr>
    <tr>
      <td>2778.2979</td>
      <td>0.266839</td>
      <td>0.546267</td>
    </tr>
  </tbody>
</table>