<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2558.7739</td>
      <td>0.122389</td>
      <td>0.528788</td>
    </tr>
    <tr>
      <td>2563.9432</td>
      <td>0.110219</td>
      <td>0.525839</td>
    </tr>
    <tr>
      <td>2569.1124</td>
      <td>0.098035</td>
      <td>0.522889</td>
    </tr>
    <tr>
      <td>2574.2816</td>
      <td>0.085918</td>
      <td>0.519952</td>
    </tr>
    <tr>
      <td>2579.4509</td>
      <td>0.073766</td>
      <td>0.517003</td>
    </tr>
    <tr>
      <td>2584.6201</td>
      <td>0.061680</td>
      <td>0.514071</td>
    </tr>
    <tr>
      <td>2589.7894</td>
      <td>0.049576</td>
      <td>0.511133</td>
    </tr>
    <tr>
      <td>2594.9586</td>
      <td>0.037505</td>
      <td>0.508199</td>
    </tr>
    <tr>
      <td>2600.1278</td>
      <td>0.025472</td>
      <td>0.505275</td>
    </tr>
    <tr>
      <td>2605.2971</td>
      <td>0.013468</td>
      <td>0.502359</td>
    </tr>
    <tr>
      <td>2610.4663</td>
      <td>0.001448</td>
      <td>0.499439</td>
    </tr>
  </tbody>
</table>