<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2257.2694</td>
      <td>0.075573</td>
      <td>0.524815</td>
    </tr>
    <tr>
      <td>2261.8295</td>
      <td>0.063421</td>
      <td>0.521871</td>
    </tr>
    <tr>
      <td>2266.3896</td>
      <td>0.051262</td>
      <td>0.518923</td>
    </tr>
    <tr>
      <td>2270.9498</td>
      <td>0.039160</td>
      <td>0.515989</td>
    </tr>
    <tr>
      <td>2275.5099</td>
      <td>0.027038</td>
      <td>0.513050</td>
    </tr>
    <tr>
      <td>2280.0701</td>
      <td>0.014953</td>
      <td>0.510114</td>
    </tr>
    <tr>
      <td>2284.6302</td>
      <td>0.002925</td>
      <td>0.507196</td>
    </tr>
    <tr>
      <td>2289.1903</td>
      <td>-0.009172</td>
      <td>0.504261</td>
    </tr>
    <tr>
      <td>2293.7505</td>
      <td>-0.021159</td>
      <td>0.501346</td>
    </tr>
    <tr>
      <td>2298.3106</td>
      <td>-0.033161</td>
      <td>0.498435</td>
    </tr>
    <tr>
      <td>2302.8708</td>
      <td>-0.045171</td>
      <td>0.495519</td>
    </tr>
  </tbody>
</table>