<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2404.7199</td>
      <td>0.123481</td>
      <td>0.522789</td>
    </tr>
    <tr>
      <td>2409.5779</td>
      <td>0.111297</td>
      <td>0.519841</td>
    </tr>
    <tr>
      <td>2414.4359</td>
      <td>0.099185</td>
      <td>0.516906</td>
    </tr>
    <tr>
      <td>2419.2940</td>
      <td>0.087073</td>
      <td>0.513971</td>
    </tr>
    <tr>
      <td>2424.1520</td>
      <td>0.074978</td>
      <td>0.511039</td>
    </tr>
    <tr>
      <td>2429.0100</td>
      <td>0.062921</td>
      <td>0.508117</td>
    </tr>
    <tr>
      <td>2433.8680</td>
      <td>0.050803</td>
      <td>0.505183</td>
    </tr>
    <tr>
      <td>2438.7261</td>
      <td>0.038801</td>
      <td>0.502270</td>
    </tr>
    <tr>
      <td>2443.5841</td>
      <td>0.026811</td>
      <td>0.499356</td>
    </tr>
    <tr>
      <td>2448.4421</td>
      <td>0.014785</td>
      <td>0.496444</td>
    </tr>
    <tr>
      <td>2453.3001</td>
      <td>0.002800</td>
      <td>0.493534</td>
    </tr>
  </tbody>
</table>