<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2149.6564</td>
      <td>0.065712</td>
      <td>0.501757</td>
    </tr>
    <tr>
      <td>2153.9992</td>
      <td>0.054106</td>
      <td>0.498738</td>
    </tr>
    <tr>
      <td>2158.3419</td>
      <td>0.042549</td>
      <td>0.495735</td>
    </tr>
    <tr>
      <td>2162.6846</td>
      <td>0.030972</td>
      <td>0.492720</td>
    </tr>
    <tr>
      <td>2167.0274</td>
      <td>0.019434</td>
      <td>0.489725</td>
    </tr>
    <tr>
      <td>2171.3701</td>
      <td>0.007910</td>
      <td>0.486729</td>
    </tr>
    <tr>
      <td>2175.7129</td>
      <td>-0.003591</td>
      <td>0.483739</td>
    </tr>
    <tr>
      <td>2180.0556</td>
      <td>-0.015083</td>
      <td>0.480754</td>
    </tr>
    <tr>
      <td>2184.3983</td>
      <td>-0.026541</td>
      <td>0.477781</td>
    </tr>
    <tr>
      <td>2188.7411</td>
      <td>-0.037995</td>
      <td>0.474806</td>
    </tr>
    <tr>
      <td>2193.0838</td>
      <td>-0.049411</td>
      <td>0.471842</td>
    </tr>
  </tbody>
</table>