<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2740.1022</td>
      <td>-0.028037</td>
      <td>0.513736</td>
    </tr>
    <tr>
      <td>2745.6378</td>
      <td>-0.040172</td>
      <td>0.510623</td>
    </tr>
    <tr>
      <td>2751.1733</td>
      <td>-0.052313</td>
      <td>0.507512</td>
    </tr>
    <tr>
      <td>2756.7089</td>
      <td>-0.064342</td>
      <td>0.504420</td>
    </tr>
    <tr>
      <td>2762.2445</td>
      <td>-0.076439</td>
      <td>0.501318</td>
    </tr>
    <tr>
      <td>2767.7800</td>
      <td>-0.088481</td>
      <td>0.498228</td>
    </tr>
    <tr>
      <td>2773.3156</td>
      <td>-0.100518</td>
      <td>0.495142</td>
    </tr>
    <tr>
      <td>2778.8511</td>
      <td>-0.112554</td>
      <td>0.492056</td>
    </tr>
    <tr>
      <td>2784.3867</td>
      <td>-0.124528</td>
      <td>0.488982</td>
    </tr>
    <tr>
      <td>2789.9223</td>
      <td>-0.136490</td>
      <td>0.485918</td>
    </tr>
    <tr>
      <td>2795.4578</td>
      <td>-0.148469</td>
      <td>0.482850</td>
    </tr>
  </tbody>
</table>