<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2412.6597</td>
      <td>0.139716</td>
      <td>0.531184</td>
    </tr>
    <tr>
      <td>2417.5338</td>
      <td>0.127525</td>
      <td>0.528236</td>
    </tr>
    <tr>
      <td>2422.4078</td>
      <td>0.115334</td>
      <td>0.525284</td>
    </tr>
    <tr>
      <td>2427.2819</td>
      <td>0.103182</td>
      <td>0.522347</td>
    </tr>
    <tr>
      <td>2432.1560</td>
      <td>0.091030</td>
      <td>0.519402</td>
    </tr>
    <tr>
      <td>2437.0300</td>
      <td>0.078868</td>
      <td>0.516453</td>
    </tr>
    <tr>
      <td>2441.9041</td>
      <td>0.066763</td>
      <td>0.513519</td>
    </tr>
    <tr>
      <td>2446.7781</td>
      <td>0.054656</td>
      <td>0.510584</td>
    </tr>
    <tr>
      <td>2451.6522</td>
      <td>0.042600</td>
      <td>0.507657</td>
    </tr>
    <tr>
      <td>2456.5263</td>
      <td>0.030516</td>
      <td>0.504726</td>
    </tr>
    <tr>
      <td>2461.4003</td>
      <td>0.018531</td>
      <td>0.501813</td>
    </tr>
  </tbody>
</table>