<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2637.3501</td>
      <td>-0.024979</td>
      <td>0.506375</td>
    </tr>
    <tr>
      <td>2642.6781</td>
      <td>-0.037163</td>
      <td>0.503263</td>
    </tr>
    <tr>
      <td>2648.0061</td>
      <td>-0.049340</td>
      <td>0.500153</td>
    </tr>
    <tr>
      <td>2653.3340</td>
      <td>-0.061531</td>
      <td>0.497044</td>
    </tr>
    <tr>
      <td>2658.6620</td>
      <td>-0.073669</td>
      <td>0.493942</td>
    </tr>
    <tr>
      <td>2663.9900</td>
      <td>-0.085790</td>
      <td>0.490844</td>
    </tr>
    <tr>
      <td>2669.3180</td>
      <td>-0.097887</td>
      <td>0.487760</td>
    </tr>
    <tr>
      <td>2674.6459</td>
      <td>-0.109982</td>
      <td>0.484674</td>
    </tr>
    <tr>
      <td>2679.9739</td>
      <td>-0.122062</td>
      <td>0.481592</td>
    </tr>
    <tr>
      <td>2685.3019</td>
      <td>-0.134085</td>
      <td>0.478525</td>
    </tr>
    <tr>
      <td>2690.6299</td>
      <td>-0.146108</td>
      <td>0.475459</td>
    </tr>
  </tbody>
</table>