<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2117.768</td>
      <td>0.151</td>
      <td>0.557</td>
    </tr>
    <tr>
      <td>2122.047</td>
      <td>0.144</td>
      <td>0.555</td>
    </tr>
    <tr>
      <td>2126.325</td>
      <td>0.138</td>
      <td>0.553</td>
    </tr>
    <tr>
      <td>2130.603</td>
      <td>0.131</td>
      <td>0.551</td>
    </tr>
    <tr>
      <td>2134.882</td>
      <td>0.124</td>
      <td>0.550</td>
    </tr>
    <tr>
      <td>2139.160</td>
      <td>0.118</td>
      <td>0.548</td>
    </tr>
    <tr>
      <td>2143.438</td>
      <td>0.111</td>
      <td>0.546</td>
    </tr>
    <tr>
      <td>2147.717</td>
      <td>0.104</td>
      <td>0.544</td>
    </tr>
    <tr>
      <td>2151.995</td>
      <td>0.098</td>
      <td>0.543</td>
    </tr>
    <tr>
      <td>2156.273</td>
      <td>0.091</td>
      <td>0.541</td>
    </tr>
    <tr>
      <td>2160.552</td>
      <td>0.085</td>
      <td>0.539</td>
    </tr>
  </tbody>
</table>