<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2361.4074</td>
      <td>0.028643</td>
      <td>0.519409</td>
    </tr>
    <tr>
      <td>2366.1779</td>
      <td>0.016492</td>
      <td>0.516461</td>
    </tr>
    <tr>
      <td>2370.9484</td>
      <td>0.004395</td>
      <td>0.513522</td>
    </tr>
    <tr>
      <td>2375.7190</td>
      <td>-0.007716</td>
      <td>0.510579</td>
    </tr>
    <tr>
      <td>2380.4895</td>
      <td>-0.019806</td>
      <td>0.507639</td>
    </tr>
    <tr>
      <td>2385.2600</td>
      <td>-0.031860</td>
      <td>0.504711</td>
    </tr>
    <tr>
      <td>2390.0305</td>
      <td>-0.043913</td>
      <td>0.501781</td>
    </tr>
    <tr>
      <td>2394.8011</td>
      <td>-0.055889</td>
      <td>0.498865</td>
    </tr>
    <tr>
      <td>2399.5716</td>
      <td>-0.067915</td>
      <td>0.495943</td>
    </tr>
    <tr>
      <td>2404.3421</td>
      <td>-0.079899</td>
      <td>0.493029</td>
    </tr>
    <tr>
      <td>2409.1126</td>
      <td>-0.091830</td>
      <td>0.490125</td>
    </tr>
  </tbody>
</table>