<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2757.8231</td>
      <td>0.349792</td>
      <td>0.587479</td>
    </tr>
    <tr>
      <td>2763.3945</td>
      <td>0.337488</td>
      <td>0.584431</td>
    </tr>
    <tr>
      <td>2768.9659</td>
      <td>0.325241</td>
      <td>0.581388</td>
    </tr>
    <tr>
      <td>2774.5372</td>
      <td>0.312974</td>
      <td>0.578340</td>
    </tr>
    <tr>
      <td>2780.1086</td>
      <td>0.300745</td>
      <td>0.575291</td>
    </tr>
    <tr>
      <td>2785.6799</td>
      <td>0.288523</td>
      <td>0.572239</td>
    </tr>
    <tr>
      <td>2791.2513</td>
      <td>0.276320</td>
      <td>0.569187</td>
    </tr>
    <tr>
      <td>2796.8227</td>
      <td>0.264126</td>
      <td>0.566134</td>
    </tr>
    <tr>
      <td>2802.3940</td>
      <td>0.251987</td>
      <td>0.563086</td>
    </tr>
    <tr>
      <td>2807.9654</td>
      <td>0.239835</td>
      <td>0.560034</td>
    </tr>
    <tr>
      <td>2813.5367</td>
      <td>0.227728</td>
      <td>0.556984</td>
    </tr>
  </tbody>
</table>