<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2531.5784</td>
      <td>0.117900</td>
      <td>0.528216</td>
    </tr>
    <tr>
      <td>2536.6927</td>
      <td>0.105693</td>
      <td>0.525265</td>
    </tr>
    <tr>
      <td>2541.8070</td>
      <td>0.093572</td>
      <td>0.522326</td>
    </tr>
    <tr>
      <td>2546.9213</td>
      <td>0.081440</td>
      <td>0.519378</td>
    </tr>
    <tr>
      <td>2552.0356</td>
      <td>0.069341</td>
      <td>0.516443</td>
    </tr>
    <tr>
      <td>2557.1499</td>
      <td>0.057244</td>
      <td>0.513508</td>
    </tr>
    <tr>
      <td>2562.2642</td>
      <td>0.045157</td>
      <td>0.510575</td>
    </tr>
    <tr>
      <td>2567.3785</td>
      <td>0.033131</td>
      <td>0.507646</td>
    </tr>
    <tr>
      <td>2572.4928</td>
      <td>0.021110</td>
      <td>0.504726</td>
    </tr>
    <tr>
      <td>2577.6071</td>
      <td>0.009075</td>
      <td>0.501801</td>
    </tr>
    <tr>
      <td>2582.7214</td>
      <td>-0.002900</td>
      <td>0.498892</td>
    </tr>
  </tbody>
</table>