<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2129.6186</td>
      <td>0.173820</td>
      <td>0.533939</td>
    </tr>
    <tr>
      <td>2133.9208</td>
      <td>0.162136</td>
      <td>0.530919</td>
    </tr>
    <tr>
      <td>2138.2231</td>
      <td>0.150469</td>
      <td>0.527903</td>
    </tr>
    <tr>
      <td>2142.5254</td>
      <td>0.138875</td>
      <td>0.524898</td>
    </tr>
    <tr>
      <td>2146.8276</td>
      <td>0.127241</td>
      <td>0.521884</td>
    </tr>
    <tr>
      <td>2151.1299</td>
      <td>0.115679</td>
      <td>0.518885</td>
    </tr>
    <tr>
      <td>2155.4321</td>
      <td>0.104031</td>
      <td>0.515870</td>
    </tr>
    <tr>
      <td>2159.7344</td>
      <td>0.092516</td>
      <td>0.512879</td>
    </tr>
    <tr>
      <td>2164.0367</td>
      <td>0.080963</td>
      <td>0.509878</td>
    </tr>
    <tr>
      <td>2168.3389</td>
      <td>0.069464</td>
      <td>0.506890</td>
    </tr>
    <tr>
      <td>2172.6412</td>
      <td>0.057960</td>
      <td>0.503901</td>
    </tr>
  </tbody>
</table>