<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2270.1493</td>
      <td>0.072525</td>
      <td>0.528017</td>
    </tr>
    <tr>
      <td>2274.7354</td>
      <td>0.060352</td>
      <td>0.525068</td>
    </tr>
    <tr>
      <td>2279.3216</td>
      <td>0.048216</td>
      <td>0.522126</td>
    </tr>
    <tr>
      <td>2283.9078</td>
      <td>0.036063</td>
      <td>0.519177</td>
    </tr>
    <tr>
      <td>2288.4939</td>
      <td>0.023969</td>
      <td>0.516241</td>
    </tr>
    <tr>
      <td>2293.0801</td>
      <td>0.011844</td>
      <td>0.513292</td>
    </tr>
    <tr>
      <td>2297.6662</td>
      <td>-0.000225</td>
      <td>0.510360</td>
    </tr>
    <tr>
      <td>2302.2524</td>
      <td>-0.012270</td>
      <td>0.507434</td>
    </tr>
    <tr>
      <td>2306.8386</td>
      <td>-0.024318</td>
      <td>0.504506</td>
    </tr>
    <tr>
      <td>2311.4247</td>
      <td>-0.036342</td>
      <td>0.501581</td>
    </tr>
    <tr>
      <td>2316.0109</td>
      <td>-0.048341</td>
      <td>0.498662</td>
    </tr>
  </tbody>
</table>