<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2399.1758</td>
      <td>0.096323</td>
      <td>0.531226</td>
    </tr>
    <tr>
      <td>2404.0226</td>
      <td>0.084204</td>
      <td>0.528296</td>
    </tr>
    <tr>
      <td>2408.8695</td>
      <td>0.072057</td>
      <td>0.525362</td>
    </tr>
    <tr>
      <td>2413.7163</td>
      <td>0.059934</td>
      <td>0.522428</td>
    </tr>
    <tr>
      <td>2418.5631</td>
      <td>0.047882</td>
      <td>0.519507</td>
    </tr>
    <tr>
      <td>2423.4099</td>
      <td>0.035758</td>
      <td>0.516575</td>
    </tr>
    <tr>
      <td>2428.2567</td>
      <td>0.023701</td>
      <td>0.513651</td>
    </tr>
    <tr>
      <td>2433.1036</td>
      <td>0.011648</td>
      <td>0.510726</td>
    </tr>
    <tr>
      <td>2437.9504</td>
      <td>-0.000379</td>
      <td>0.507813</td>
    </tr>
    <tr>
      <td>2442.7972</td>
      <td>-0.012353</td>
      <td>0.504908</td>
    </tr>
    <tr>
      <td>2447.6440</td>
      <td>-0.024387</td>
      <td>0.501989</td>
    </tr>
  </tbody>
</table>