<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2176.1981</td>
      <td>0.083728</td>
      <td>0.505367</td>
    </tr>
    <tr>
      <td>2180.5945</td>
      <td>0.072119</td>
      <td>0.502354</td>
    </tr>
    <tr>
      <td>2184.9909</td>
      <td>0.060508</td>
      <td>0.499335</td>
    </tr>
    <tr>
      <td>2189.3872</td>
      <td>0.048930</td>
      <td>0.496327</td>
    </tr>
    <tr>
      <td>2193.7836</td>
      <td>0.037357</td>
      <td>0.493319</td>
    </tr>
    <tr>
      <td>2198.1799</td>
      <td>0.025787</td>
      <td>0.490315</td>
    </tr>
    <tr>
      <td>2202.5763</td>
      <td>0.014254</td>
      <td>0.487316</td>
    </tr>
    <tr>
      <td>2206.9727</td>
      <td>0.002745</td>
      <td>0.484324</td>
    </tr>
    <tr>
      <td>2211.3690</td>
      <td>-0.008783</td>
      <td>0.481335</td>
    </tr>
    <tr>
      <td>2215.7654</td>
      <td>-0.020247</td>
      <td>0.478359</td>
    </tr>
    <tr>
      <td>2220.1617</td>
      <td>-0.031694</td>
      <td>0.475386</td>
    </tr>
  </tbody>
</table>