<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.030218</td>
      <td>0.517639</td>
    </tr>
  </tbody>
</table>