<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2358.1007</td>
      <td>0.092412</td>
      <td>0.532575</td>
    </tr>
    <tr>
      <td>2362.8646</td>
      <td>0.080193</td>
      <td>0.529618</td>
    </tr>
    <tr>
      <td>2367.6284</td>
      <td>0.068027</td>
      <td>0.526669</td>
    </tr>
    <tr>
      <td>2372.3922</td>
      <td>0.055829</td>
      <td>0.523714</td>
    </tr>
    <tr>
      <td>2377.1561</td>
      <td>0.043617</td>
      <td>0.520758</td>
    </tr>
    <tr>
      <td>2381.9199</td>
      <td>0.031496</td>
      <td>0.517817</td>
    </tr>
    <tr>
      <td>2386.6838</td>
      <td>0.019374</td>
      <td>0.514874</td>
    </tr>
    <tr>
      <td>2391.4476</td>
      <td>0.007283</td>
      <td>0.511938</td>
    </tr>
    <tr>
      <td>2396.2114</td>
      <td>-0.004816</td>
      <td>0.509001</td>
    </tr>
    <tr>
      <td>2400.9753</td>
      <td>-0.016902</td>
      <td>0.506066</td>
    </tr>
    <tr>
      <td>2405.7391</td>
      <td>-0.028924</td>
      <td>0.503141</td>
    </tr>
  </tbody>
</table>