<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2867.7726</td>
      <td>0.066681</td>
      <td>0.506565</td>
    </tr>
    <tr>
      <td>2873.5661</td>
      <td>0.054482</td>
      <td>0.503448</td>
    </tr>
    <tr>
      <td>2879.3596</td>
      <td>0.042268</td>
      <td>0.500329</td>
    </tr>
    <tr>
      <td>2885.1530</td>
      <td>0.030060</td>
      <td>0.497213</td>
    </tr>
    <tr>
      <td>2890.9465</td>
      <td>0.017889</td>
      <td>0.494105</td>
    </tr>
    <tr>
      <td>2896.7400</td>
      <td>0.005769</td>
      <td>0.491010</td>
    </tr>
    <tr>
      <td>2902.5335</td>
      <td>-0.006364</td>
      <td>0.487918</td>
    </tr>
    <tr>
      <td>2908.3269</td>
      <td>-0.018473</td>
      <td>0.484826</td>
    </tr>
    <tr>
      <td>2914.1204</td>
      <td>-0.030589</td>
      <td>0.481737</td>
    </tr>
    <tr>
      <td>2919.9139</td>
      <td>-0.042667</td>
      <td>0.478656</td>
    </tr>
    <tr>
      <td>2925.7074</td>
      <td>-0.054689</td>
      <td>0.475595</td>
    </tr>
  </tbody>
</table>