<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2615.7978</td>
      <td>0.044980</td>
      <td>0.516615</td>
    </tr>
    <tr>
      <td>2621.0822</td>
      <td>0.032763</td>
      <td>0.513643</td>
    </tr>
    <tr>
      <td>2626.3667</td>
      <td>0.020614</td>
      <td>0.510685</td>
    </tr>
    <tr>
      <td>2631.6511</td>
      <td>0.008450</td>
      <td>0.507731</td>
    </tr>
    <tr>
      <td>2636.9355</td>
      <td>-0.003675</td>
      <td>0.504777</td>
    </tr>
    <tr>
      <td>2642.2200</td>
      <td>-0.015779</td>
      <td>0.501828</td>
    </tr>
    <tr>
      <td>2647.5044</td>
      <td>-0.027883</td>
      <td>0.498887</td>
    </tr>
    <tr>
      <td>2652.7889</td>
      <td>-0.039978</td>
      <td>0.495941</td>
    </tr>
    <tr>
      <td>2658.0733</td>
      <td>-0.052007</td>
      <td>0.493014</td>
    </tr>
    <tr>
      <td>2663.3577</td>
      <td>-0.064041</td>
      <td>0.490082</td>
    </tr>
    <tr>
      <td>2668.6422</td>
      <td>-0.076055</td>
      <td>0.487157</td>
    </tr>
  </tbody>
</table>