<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2451.5866</td>
      <td>0.097848</td>
      <td>0.519785</td>
    </tr>
    <tr>
      <td>2456.5393</td>
      <td>0.085716</td>
      <td>0.516843</td>
    </tr>
    <tr>
      <td>2461.4920</td>
      <td>0.073545</td>
      <td>0.513895</td>
    </tr>
    <tr>
      <td>2466.4447</td>
      <td>0.061459</td>
      <td>0.510960</td>
    </tr>
    <tr>
      <td>2471.3974</td>
      <td>0.049347</td>
      <td>0.508023</td>
    </tr>
    <tr>
      <td>2476.3501</td>
      <td>0.037276</td>
      <td>0.505089</td>
    </tr>
    <tr>
      <td>2481.3028</td>
      <td>0.025247</td>
      <td>0.502171</td>
    </tr>
    <tr>
      <td>2486.2555</td>
      <td>0.013193</td>
      <td>0.499243</td>
    </tr>
    <tr>
      <td>2491.2082</td>
      <td>0.001184</td>
      <td>0.496327</td>
    </tr>
    <tr>
      <td>2496.1609</td>
      <td>-0.010790</td>
      <td>0.493418</td>
    </tr>
    <tr>
      <td>2501.1136</td>
      <td>-0.022759</td>
      <td>0.490511</td>
    </tr>
  </tbody>
</table>