<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2618.2430</td>
      <td>0.104229</td>
      <td>0.538659</td>
    </tr>
    <tr>
      <td>2623.5324</td>
      <td>0.092042</td>
      <td>0.535559</td>
    </tr>
    <tr>
      <td>2628.8218</td>
      <td>0.079866</td>
      <td>0.532461</td>
    </tr>
    <tr>
      <td>2634.1112</td>
      <td>0.067668</td>
      <td>0.529357</td>
    </tr>
    <tr>
      <td>2639.4006</td>
      <td>0.055538</td>
      <td>0.526262</td>
    </tr>
    <tr>
      <td>2644.6899</td>
      <td>0.043431</td>
      <td>0.523178</td>
    </tr>
    <tr>
      <td>2649.9793</td>
      <td>0.031300</td>
      <td>0.520079</td>
    </tr>
    <tr>
      <td>2655.2687</td>
      <td>0.019223</td>
      <td>0.516994</td>
    </tr>
    <tr>
      <td>2660.5581</td>
      <td>0.007158</td>
      <td>0.513913</td>
    </tr>
    <tr>
      <td>2665.8475</td>
      <td>-0.004905</td>
      <td>0.510837</td>
    </tr>
    <tr>
      <td>2671.1368</td>
      <td>-0.016949</td>
      <td>0.507756</td>
    </tr>
  </tbody>
</table>