<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2323.7478</td>
      <td>0.017759</td>
      <td>0.513009</td>
    </tr>
    <tr>
      <td>2328.4422</td>
      <td>0.005553</td>
      <td>0.510044</td>
    </tr>
    <tr>
      <td>2333.1367</td>
      <td>-0.006616</td>
      <td>0.507083</td>
    </tr>
    <tr>
      <td>2337.8311</td>
      <td>-0.018752</td>
      <td>0.504128</td>
    </tr>
    <tr>
      <td>2342.5255</td>
      <td>-0.030917</td>
      <td>0.501173</td>
    </tr>
    <tr>
      <td>2347.2200</td>
      <td>-0.043020</td>
      <td>0.498230</td>
    </tr>
    <tr>
      <td>2351.9144</td>
      <td>-0.055104</td>
      <td>0.495283</td>
    </tr>
    <tr>
      <td>2356.6089</td>
      <td>-0.067175</td>
      <td>0.492350</td>
    </tr>
    <tr>
      <td>2361.3033</td>
      <td>-0.079246</td>
      <td>0.489413</td>
    </tr>
    <tr>
      <td>2365.9977</td>
      <td>-0.091268</td>
      <td>0.486488</td>
    </tr>
    <tr>
      <td>2370.6922</td>
      <td>-0.103305</td>
      <td>0.483563</td>
    </tr>
  </tbody>
</table>