<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2314.2043</td>
      <td>0.014238</td>
      <td>0.511810</td>
    </tr>
    <tr>
      <td>2318.8794</td>
      <td>0.002086</td>
      <td>0.508852</td>
    </tr>
    <tr>
      <td>2323.5546</td>
      <td>-0.010085</td>
      <td>0.505893</td>
    </tr>
    <tr>
      <td>2328.2298</td>
      <td>-0.022237</td>
      <td>0.502937</td>
    </tr>
    <tr>
      <td>2332.9049</td>
      <td>-0.034359</td>
      <td>0.499988</td>
    </tr>
    <tr>
      <td>2337.5801</td>
      <td>-0.046443</td>
      <td>0.497044</td>
    </tr>
    <tr>
      <td>2342.2552</td>
      <td>-0.058546</td>
      <td>0.494101</td>
    </tr>
    <tr>
      <td>2346.9304</td>
      <td>-0.070608</td>
      <td>0.491165</td>
    </tr>
    <tr>
      <td>2351.6056</td>
      <td>-0.082632</td>
      <td>0.488239</td>
    </tr>
    <tr>
      <td>2356.2807</td>
      <td>-0.094655</td>
      <td>0.485315</td>
    </tr>
    <tr>
      <td>2360.9559</td>
      <td>-0.106667</td>
      <td>0.482390</td>
    </tr>
  </tbody>
</table>