<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2628.2520</td>
      <td>0.096069</td>
      <td>0.536954</td>
    </tr>
    <tr>
      <td>2633.5616</td>
      <td>0.083885</td>
      <td>0.533849</td>
    </tr>
    <tr>
      <td>2638.8712</td>
      <td>0.071743</td>
      <td>0.530752</td>
    </tr>
    <tr>
      <td>2644.1808</td>
      <td>0.059534</td>
      <td>0.527641</td>
    </tr>
    <tr>
      <td>2649.4904</td>
      <td>0.047400</td>
      <td>0.524539</td>
    </tr>
    <tr>
      <td>2654.8000</td>
      <td>0.035298</td>
      <td>0.521447</td>
    </tr>
    <tr>
      <td>2660.1096</td>
      <td>0.023200</td>
      <td>0.518358</td>
    </tr>
    <tr>
      <td>2665.4192</td>
      <td>0.011079</td>
      <td>0.515262</td>
    </tr>
    <tr>
      <td>2670.7288</td>
      <td>-0.000969</td>
      <td>0.512180</td>
    </tr>
    <tr>
      <td>2676.0384</td>
      <td>-0.013009</td>
      <td>0.509104</td>
    </tr>
    <tr>
      <td>2681.3480</td>
      <td>-0.025046</td>
      <td>0.506020</td>
    </tr>
  </tbody>
</table>