<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2471.6933</td>
      <td>0.141669</td>
      <td>0.525322</td>
    </tr>
    <tr>
      <td>2476.6866</td>
      <td>0.129503</td>
      <td>0.522376</td>
    </tr>
    <tr>
      <td>2481.6800</td>
      <td>0.117343</td>
      <td>0.519429</td>
    </tr>
    <tr>
      <td>2486.6733</td>
      <td>0.105226</td>
      <td>0.516489</td>
    </tr>
    <tr>
      <td>2491.6666</td>
      <td>0.093120</td>
      <td>0.513555</td>
    </tr>
    <tr>
      <td>2496.6599</td>
      <td>0.081054</td>
      <td>0.510626</td>
    </tr>
    <tr>
      <td>2501.6532</td>
      <td>0.068933</td>
      <td>0.507688</td>
    </tr>
    <tr>
      <td>2506.6466</td>
      <td>0.056916</td>
      <td>0.504766</td>
    </tr>
    <tr>
      <td>2511.6399</td>
      <td>0.044876</td>
      <td>0.501843</td>
    </tr>
    <tr>
      <td>2516.6332</td>
      <td>0.032883</td>
      <td>0.498930</td>
    </tr>
    <tr>
      <td>2521.6265</td>
      <td>0.020892</td>
      <td>0.496015</td>
    </tr>
  </tbody>
</table>