<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2611.3428</td>
      <td>0.257451</td>
      <td>0.522612</td>
    </tr>
    <tr>
      <td>2616.6182</td>
      <td>0.245299</td>
      <td>0.519542</td>
    </tr>
    <tr>
      <td>2621.8937</td>
      <td>0.233163</td>
      <td>0.516471</td>
    </tr>
    <tr>
      <td>2627.1691</td>
      <td>0.221071</td>
      <td>0.513414</td>
    </tr>
    <tr>
      <td>2632.4445</td>
      <td>0.208996</td>
      <td>0.510354</td>
    </tr>
    <tr>
      <td>2637.7200</td>
      <td>0.196914</td>
      <td>0.507293</td>
    </tr>
    <tr>
      <td>2642.9954</td>
      <td>0.184859</td>
      <td>0.504243</td>
    </tr>
    <tr>
      <td>2648.2709</td>
      <td>0.172835</td>
      <td>0.501198</td>
    </tr>
    <tr>
      <td>2653.5463</td>
      <td>0.160825</td>
      <td>0.498156</td>
    </tr>
    <tr>
      <td>2658.8217</td>
      <td>0.148827</td>
      <td>0.495118</td>
    </tr>
    <tr>
      <td>2664.0972</td>
      <td>0.136840</td>
      <td>0.492085</td>
    </tr>
  </tbody>
</table>