<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2165.2489</td>
      <td>0.066464</td>
      <td>0.508999</td>
    </tr>
    <tr>
      <td>2169.6232</td>
      <td>0.054803</td>
      <td>0.505980</td>
    </tr>
    <tr>
      <td>2173.9974</td>
      <td>0.043229</td>
      <td>0.502966</td>
    </tr>
    <tr>
      <td>2178.3716</td>
      <td>0.031616</td>
      <td>0.499954</td>
    </tr>
    <tr>
      <td>2182.7459</td>
      <td>0.020018</td>
      <td>0.496942</td>
    </tr>
    <tr>
      <td>2187.1201</td>
      <td>0.008455</td>
      <td>0.493940</td>
    </tr>
    <tr>
      <td>2191.4944</td>
      <td>-0.003096</td>
      <td>0.490937</td>
    </tr>
    <tr>
      <td>2195.8686</td>
      <td>-0.014614</td>
      <td>0.487949</td>
    </tr>
    <tr>
      <td>2200.2428</td>
      <td>-0.026123</td>
      <td>0.484959</td>
    </tr>
    <tr>
      <td>2204.6171</td>
      <td>-0.037620</td>
      <td>0.481981</td>
    </tr>
    <tr>
      <td>2208.9913</td>
      <td>-0.049110</td>
      <td>0.479001</td>
    </tr>
  </tbody>
</table>