<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2155.1705</td>
      <td>0.062827</td>
      <td>0.499504</td>
    </tr>
    <tr>
      <td>2159.5244</td>
      <td>0.051216</td>
      <td>0.496488</td>
    </tr>
    <tr>
      <td>2163.8783</td>
      <td>0.039536</td>
      <td>0.493459</td>
    </tr>
    <tr>
      <td>2168.2322</td>
      <td>0.027947</td>
      <td>0.490450</td>
    </tr>
    <tr>
      <td>2172.5861</td>
      <td>0.016368</td>
      <td>0.487444</td>
    </tr>
    <tr>
      <td>2176.9399</td>
      <td>0.004767</td>
      <td>0.484441</td>
    </tr>
    <tr>
      <td>2181.2938</td>
      <td>-0.006782</td>
      <td>0.481442</td>
    </tr>
    <tr>
      <td>2185.6477</td>
      <td>-0.018333</td>
      <td>0.478448</td>
    </tr>
    <tr>
      <td>2190.0016</td>
      <td>-0.029871</td>
      <td>0.475462</td>
    </tr>
    <tr>
      <td>2194.3555</td>
      <td>-0.041342</td>
      <td>0.472486</td>
    </tr>
    <tr>
      <td>2198.7093</td>
      <td>-0.052829</td>
      <td>0.469517</td>
    </tr>
  </tbody>
</table>