<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2478.8314</td>
      <td>0.075802</td>
      <td>0.503353</td>
    </tr>
    <tr>
      <td>2483.8392</td>
      <td>0.063688</td>
      <td>0.500409</td>
    </tr>
    <tr>
      <td>2488.8469</td>
      <td>0.051534</td>
      <td>0.497459</td>
    </tr>
    <tr>
      <td>2493.8546</td>
      <td>0.039423</td>
      <td>0.494517</td>
    </tr>
    <tr>
      <td>2498.8624</td>
      <td>0.027315</td>
      <td>0.491577</td>
    </tr>
    <tr>
      <td>2503.8701</td>
      <td>0.015262</td>
      <td>0.488646</td>
    </tr>
    <tr>
      <td>2508.8779</td>
      <td>0.003179</td>
      <td>0.485712</td>
    </tr>
    <tr>
      <td>2513.8856</td>
      <td>-0.008868</td>
      <td>0.482791</td>
    </tr>
    <tr>
      <td>2518.8933</td>
      <td>-0.020877</td>
      <td>0.479876</td>
    </tr>
    <tr>
      <td>2523.9011</td>
      <td>-0.032879</td>
      <td>0.476965</td>
    </tr>
    <tr>
      <td>2528.9088</td>
      <td>-0.044852</td>
      <td>0.474064</td>
    </tr>
  </tbody>
</table>