<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2621.1439</td>
      <td>0.100174</td>
      <td>0.552804</td>
    </tr>
    <tr>
      <td>2626.4392</td>
      <td>0.087891</td>
      <td>0.549689</td>
    </tr>
    <tr>
      <td>2631.7344</td>
      <td>0.075655</td>
      <td>0.546585</td>
    </tr>
    <tr>
      <td>2637.0296</td>
      <td>0.063427</td>
      <td>0.543475</td>
    </tr>
    <tr>
      <td>2642.3249</td>
      <td>0.051219</td>
      <td>0.540368</td>
    </tr>
    <tr>
      <td>2647.6201</td>
      <td>0.039031</td>
      <td>0.537258</td>
    </tr>
    <tr>
      <td>2652.9154</td>
      <td>0.026851</td>
      <td>0.534151</td>
    </tr>
    <tr>
      <td>2658.2106</td>
      <td>0.014689</td>
      <td>0.531048</td>
    </tr>
    <tr>
      <td>2663.5058</td>
      <td>0.002564</td>
      <td>0.527953</td>
    </tr>
    <tr>
      <td>2668.8011</td>
      <td>-0.009533</td>
      <td>0.524860</td>
    </tr>
    <tr>
      <td>2674.0963</td>
      <td>-0.021617</td>
      <td>0.521769</td>
    </tr>
  </tbody>
</table>