<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2117.7683</td>
      <td>0.274983</td>
      <td>0.575698</td>
    </tr>
    <tr>
      <td>2122.0466</td>
      <td>0.263297</td>
      <td>0.572728</td>
    </tr>
    <tr>
      <td>2126.3250</td>
      <td>0.251632</td>
      <td>0.569758</td>
    </tr>
    <tr>
      <td>2130.6033</td>
      <td>0.239959</td>
      <td>0.566785</td>
    </tr>
    <tr>
      <td>2134.8816</td>
      <td>0.228319</td>
      <td>0.563807</td>
    </tr>
    <tr>
      <td>2139.1599</td>
      <td>0.216688</td>
      <td>0.560828</td>
    </tr>
    <tr>
      <td>2143.4382</td>
      <td>0.205039</td>
      <td>0.557848</td>
    </tr>
    <tr>
      <td>2147.7166</td>
      <td>0.193484</td>
      <td>0.554878</td>
    </tr>
    <tr>
      <td>2151.9949</td>
      <td>0.181914</td>
      <td>0.551906</td>
    </tr>
    <tr>
      <td>2156.2732</td>
      <td>0.170332</td>
      <td>0.548921</td>
    </tr>
    <tr>
      <td>2160.5515</td>
      <td>0.158778</td>
      <td>0.545948</td>
    </tr>
  </tbody>
</table>