<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2090.6028</td>
      <td>0.204223</td>
      <td>0.543818</td>
    </tr>
    <tr>
      <td>2094.8262</td>
      <td>0.192571</td>
      <td>0.540821</td>
    </tr>
    <tr>
      <td>2099.0497</td>
      <td>0.180935</td>
      <td>0.537827</td>
    </tr>
    <tr>
      <td>2103.2731</td>
      <td>0.169308</td>
      <td>0.534827</td>
    </tr>
    <tr>
      <td>2107.4965</td>
      <td>0.157707</td>
      <td>0.531837</td>
    </tr>
    <tr>
      <td>2111.7200</td>
      <td>0.146167</td>
      <td>0.528852</td>
    </tr>
    <tr>
      <td>2115.9434</td>
      <td>0.134618</td>
      <td>0.525869</td>
    </tr>
    <tr>
      <td>2120.1669</td>
      <td>0.123049</td>
      <td>0.522878</td>
    </tr>
    <tr>
      <td>2124.3903</td>
      <td>0.111557</td>
      <td>0.519903</td>
    </tr>
    <tr>
      <td>2128.6137</td>
      <td>0.100057</td>
      <td>0.516923</td>
    </tr>
    <tr>
      <td>2132.8372</td>
      <td>0.088555</td>
      <td>0.513949</td>
    </tr>
  </tbody>
</table>