<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2182.6133</td>
      <td>0.071434</td>
      <td>0.505076</td>
    </tr>
    <tr>
      <td>2187.0226</td>
      <td>0.059806</td>
      <td>0.502060</td>
    </tr>
    <tr>
      <td>2191.4320</td>
      <td>0.048226</td>
      <td>0.499049</td>
    </tr>
    <tr>
      <td>2195.8413</td>
      <td>0.036614</td>
      <td>0.496037</td>
    </tr>
    <tr>
      <td>2200.2506</td>
      <td>0.025064</td>
      <td>0.493033</td>
    </tr>
    <tr>
      <td>2204.6599</td>
      <td>0.013533</td>
      <td>0.490040</td>
    </tr>
    <tr>
      <td>2209.0692</td>
      <td>0.002025</td>
      <td>0.487054</td>
    </tr>
    <tr>
      <td>2213.4786</td>
      <td>-0.009485</td>
      <td>0.484063</td>
    </tr>
    <tr>
      <td>2217.8879</td>
      <td>-0.020969</td>
      <td>0.481083</td>
    </tr>
    <tr>
      <td>2222.2972</td>
      <td>-0.032439</td>
      <td>0.478107</td>
    </tr>
    <tr>
      <td>2226.7065</td>
      <td>-0.043920</td>
      <td>0.475131</td>
    </tr>
  </tbody>
</table>