<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2335.2517</td>
      <td>0.107303</td>
      <td>0.524221</td>
    </tr>
    <tr>
      <td>2339.9694</td>
      <td>0.095154</td>
      <td>0.521268</td>
    </tr>
    <tr>
      <td>2344.6870</td>
      <td>0.082996</td>
      <td>0.518323</td>
    </tr>
    <tr>
      <td>2349.4047</td>
      <td>0.070873</td>
      <td>0.515376</td>
    </tr>
    <tr>
      <td>2354.1224</td>
      <td>0.058733</td>
      <td>0.512428</td>
    </tr>
    <tr>
      <td>2358.8401</td>
      <td>0.046657</td>
      <td>0.509497</td>
    </tr>
    <tr>
      <td>2363.5578</td>
      <td>0.034602</td>
      <td>0.506566</td>
    </tr>
    <tr>
      <td>2368.2754</td>
      <td>0.022508</td>
      <td>0.503624</td>
    </tr>
    <tr>
      <td>2372.9931</td>
      <td>0.010464</td>
      <td>0.500697</td>
    </tr>
    <tr>
      <td>2377.7108</td>
      <td>-0.001570</td>
      <td>0.497773</td>
    </tr>
    <tr>
      <td>2382.4285</td>
      <td>-0.013551</td>
      <td>0.494856</td>
    </tr>
  </tbody>
</table>