<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2649.0520</td>
      <td>0.026852</td>
      <td>0.503669</td>
    </tr>
    <tr>
      <td>2654.4036</td>
      <td>0.014688</td>
      <td>0.500712</td>
    </tr>
    <tr>
      <td>2659.7552</td>
      <td>0.002603</td>
      <td>0.497774</td>
    </tr>
    <tr>
      <td>2665.1068</td>
      <td>-0.009503</td>
      <td>0.494833</td>
    </tr>
    <tr>
      <td>2670.4584</td>
      <td>-0.021578</td>
      <td>0.491905</td>
    </tr>
    <tr>
      <td>2675.8101</td>
      <td>-0.033624</td>
      <td>0.488977</td>
    </tr>
    <tr>
      <td>2681.1617</td>
      <td>-0.045645</td>
      <td>0.486058</td>
    </tr>
    <tr>
      <td>2686.5133</td>
      <td>-0.057667</td>
      <td>0.483135</td>
    </tr>
    <tr>
      <td>2691.8649</td>
      <td>-0.069661</td>
      <td>0.480225</td>
    </tr>
    <tr>
      <td>2697.2165</td>
      <td>-0.081636</td>
      <td>0.477318</td>
    </tr>
    <tr>
      <td>2702.5682</td>
      <td>-0.093592</td>
      <td>0.474423</td>
    </tr>
  </tbody>
</table>