<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2400.9281</td>
      <td>0.084337</td>
      <td>0.533163</td>
    </tr>
    <tr>
      <td>2405.7785</td>
      <td>0.072214</td>
      <td>0.530229</td>
    </tr>
    <tr>
      <td>2410.6289</td>
      <td>0.060110</td>
      <td>0.527293</td>
    </tr>
    <tr>
      <td>2415.4792</td>
      <td>0.048023</td>
      <td>0.524366</td>
    </tr>
    <tr>
      <td>2420.3296</td>
      <td>0.035916</td>
      <td>0.521432</td>
    </tr>
    <tr>
      <td>2425.1799</td>
      <td>0.023875</td>
      <td>0.518510</td>
    </tr>
    <tr>
      <td>2430.0303</td>
      <td>0.011837</td>
      <td>0.515588</td>
    </tr>
    <tr>
      <td>2434.8807</td>
      <td>-0.000206</td>
      <td>0.512668</td>
    </tr>
    <tr>
      <td>2439.7310</td>
      <td>-0.012203</td>
      <td>0.509751</td>
    </tr>
    <tr>
      <td>2444.5814</td>
      <td>-0.024181</td>
      <td>0.506842</td>
    </tr>
    <tr>
      <td>2449.4317</td>
      <td>-0.036105</td>
      <td>0.503937</td>
    </tr>
  </tbody>
</table>