<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2571.1093</td>
      <td>0.140635</td>
      <td>0.531566</td>
    </tr>
    <tr>
      <td>2576.3034</td>
      <td>0.128464</td>
      <td>0.528620</td>
    </tr>
    <tr>
      <td>2581.4976</td>
      <td>0.116276</td>
      <td>0.525671</td>
    </tr>
    <tr>
      <td>2586.6918</td>
      <td>0.104114</td>
      <td>0.522718</td>
    </tr>
    <tr>
      <td>2591.8859</td>
      <td>0.091957</td>
      <td>0.519771</td>
    </tr>
    <tr>
      <td>2597.0801</td>
      <td>0.079811</td>
      <td>0.516825</td>
    </tr>
    <tr>
      <td>2602.2742</td>
      <td>0.067709</td>
      <td>0.513889</td>
    </tr>
    <tr>
      <td>2607.4684</td>
      <td>0.055583</td>
      <td>0.510946</td>
    </tr>
    <tr>
      <td>2612.6626</td>
      <td>0.043501</td>
      <td>0.508011</td>
    </tr>
    <tr>
      <td>2617.8567</td>
      <td>0.031471</td>
      <td>0.505084</td>
    </tr>
    <tr>
      <td>2623.0509</td>
      <td>0.019441</td>
      <td>0.502162</td>
    </tr>
  </tbody>
</table>