<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2701.0864</td>
      <td>0.288002</td>
      <td>0.577114</td>
    </tr>
    <tr>
      <td>2706.5432</td>
      <td>0.275893</td>
      <td>0.574093</td>
    </tr>
    <tr>
      <td>2711.9999</td>
      <td>0.263756</td>
      <td>0.571064</td>
    </tr>
    <tr>
      <td>2717.4566</td>
      <td>0.251670</td>
      <td>0.568042</td>
    </tr>
    <tr>
      <td>2722.9134</td>
      <td>0.239565</td>
      <td>0.565006</td>
    </tr>
    <tr>
      <td>2728.3701</td>
      <td>0.227504</td>
      <td>0.561978</td>
    </tr>
    <tr>
      <td>2733.8269</td>
      <td>0.215464</td>
      <td>0.558953</td>
    </tr>
    <tr>
      <td>2739.2836</td>
      <td>0.203438</td>
      <td>0.555925</td>
    </tr>
    <tr>
      <td>2744.7403</td>
      <td>0.191421</td>
      <td>0.552899</td>
    </tr>
    <tr>
      <td>2750.1971</td>
      <td>0.179411</td>
      <td>0.549870</td>
    </tr>
    <tr>
      <td>2755.6538</td>
      <td>0.167449</td>
      <td>0.546846</td>
    </tr>
  </tbody>
</table>