<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2434.6773</td>
      <td>0.010997</td>
      <td>0.512361</td>
    </tr>
    <tr>
      <td>2439.5959</td>
      <td>-0.001172</td>
      <td>0.509405</td>
    </tr>
    <tr>
      <td>2444.5144</td>
      <td>-0.013306</td>
      <td>0.506454</td>
    </tr>
    <tr>
      <td>2449.4329</td>
      <td>-0.025485</td>
      <td>0.503495</td>
    </tr>
    <tr>
      <td>2454.3515</td>
      <td>-0.037565</td>
      <td>0.500556</td>
    </tr>
    <tr>
      <td>2459.2700</td>
      <td>-0.049664</td>
      <td>0.497615</td>
    </tr>
    <tr>
      <td>2464.1886</td>
      <td>-0.061733</td>
      <td>0.494681</td>
    </tr>
    <tr>
      <td>2469.1071</td>
      <td>-0.073807</td>
      <td>0.491746</td>
    </tr>
    <tr>
      <td>2474.0256</td>
      <td>-0.085835</td>
      <td>0.488826</td>
    </tr>
    <tr>
      <td>2478.9442</td>
      <td>-0.097867</td>
      <td>0.485899</td>
    </tr>
    <tr>
      <td>2483.8627</td>
      <td>-0.109827</td>
      <td>0.482992</td>
    </tr>
  </tbody>
</table>