<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2239.9047</td>
      <td>0.164437</td>
      <td>0.519150</td>
    </tr>
    <tr>
      <td>2244.4298</td>
      <td>0.152748</td>
      <td>0.516125</td>
    </tr>
    <tr>
      <td>2248.9548</td>
      <td>0.141126</td>
      <td>0.513118</td>
    </tr>
    <tr>
      <td>2253.4799</td>
      <td>0.129496</td>
      <td>0.510103</td>
    </tr>
    <tr>
      <td>2258.0050</td>
      <td>0.117905</td>
      <td>0.507103</td>
    </tr>
    <tr>
      <td>2262.5300</td>
      <td>0.106314</td>
      <td>0.504098</td>
    </tr>
    <tr>
      <td>2267.0551</td>
      <td>0.094808</td>
      <td>0.501113</td>
    </tr>
    <tr>
      <td>2271.5801</td>
      <td>0.083250</td>
      <td>0.498118</td>
    </tr>
    <tr>
      <td>2276.1052</td>
      <td>0.071745</td>
      <td>0.495132</td>
    </tr>
    <tr>
      <td>2280.6303</td>
      <td>0.060235</td>
      <td>0.492146</td>
    </tr>
    <tr>
      <td>2285.1553</td>
      <td>0.048739</td>
      <td>0.489166</td>
    </tr>
  </tbody>
</table>