<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2621.5695</td>
      <td>0.139408</td>
      <td>0.547972</td>
    </tr>
    <tr>
      <td>2626.8656</td>
      <td>0.127147</td>
      <td>0.544865</td>
    </tr>
    <tr>
      <td>2632.1617</td>
      <td>0.114908</td>
      <td>0.541762</td>
    </tr>
    <tr>
      <td>2637.4578</td>
      <td>0.102692</td>
      <td>0.538658</td>
    </tr>
    <tr>
      <td>2642.7539</td>
      <td>0.090495</td>
      <td>0.535558</td>
    </tr>
    <tr>
      <td>2648.0500</td>
      <td>0.078330</td>
      <td>0.532457</td>
    </tr>
    <tr>
      <td>2653.3461</td>
      <td>0.066149</td>
      <td>0.529357</td>
    </tr>
    <tr>
      <td>2658.6422</td>
      <td>0.054021</td>
      <td>0.526264</td>
    </tr>
    <tr>
      <td>2663.9383</td>
      <td>0.041890</td>
      <td>0.523173</td>
    </tr>
    <tr>
      <td>2669.2344</td>
      <td>0.029801</td>
      <td>0.520087</td>
    </tr>
    <tr>
      <td>2674.5305</td>
      <td>0.017700</td>
      <td>0.516998</td>
    </tr>
  </tbody>
</table>