<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2227.4207</td>
      <td>0.164625</td>
      <td>0.532926</td>
    </tr>
    <tr>
      <td>2231.9206</td>
      <td>0.152975</td>
      <td>0.529918</td>
    </tr>
    <tr>
      <td>2236.4204</td>
      <td>0.141321</td>
      <td>0.526907</td>
    </tr>
    <tr>
      <td>2240.9202</td>
      <td>0.129716</td>
      <td>0.523902</td>
    </tr>
    <tr>
      <td>2245.4201</td>
      <td>0.118079</td>
      <td>0.520891</td>
    </tr>
    <tr>
      <td>2249.9199</td>
      <td>0.106523</td>
      <td>0.517897</td>
    </tr>
    <tr>
      <td>2254.4198</td>
      <td>0.094912</td>
      <td>0.514894</td>
    </tr>
    <tr>
      <td>2258.9196</td>
      <td>0.083388</td>
      <td>0.511902</td>
    </tr>
    <tr>
      <td>2263.4194</td>
      <td>0.071868</td>
      <td>0.508915</td>
    </tr>
    <tr>
      <td>2267.9193</td>
      <td>0.060369</td>
      <td>0.505930</td>
    </tr>
    <tr>
      <td>2272.4191</td>
      <td>0.048831</td>
      <td>0.502941</td>
    </tr>
  </tbody>
</table>