<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2529.6876</td>
      <td>0.099857</td>
      <td>0.517519</td>
    </tr>
    <tr>
      <td>2534.7981</td>
      <td>0.087683</td>
      <td>0.514568</td>
    </tr>
    <tr>
      <td>2539.9086</td>
      <td>0.075520</td>
      <td>0.511612</td>
    </tr>
    <tr>
      <td>2545.0190</td>
      <td>0.063400</td>
      <td>0.508672</td>
    </tr>
    <tr>
      <td>2550.1295</td>
      <td>0.051265</td>
      <td>0.505728</td>
    </tr>
    <tr>
      <td>2555.2400</td>
      <td>0.039173</td>
      <td>0.502790</td>
    </tr>
    <tr>
      <td>2560.3505</td>
      <td>0.027107</td>
      <td>0.499860</td>
    </tr>
    <tr>
      <td>2565.4609</td>
      <td>0.015050</td>
      <td>0.496931</td>
    </tr>
    <tr>
      <td>2570.5714</td>
      <td>0.003020</td>
      <td>0.494012</td>
    </tr>
    <tr>
      <td>2575.6819</td>
      <td>-0.009016</td>
      <td>0.491085</td>
    </tr>
    <tr>
      <td>2580.7924</td>
      <td>-0.020997</td>
      <td>0.488176</td>
    </tr>
  </tbody>
</table>