<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2878.8705</td>
      <td>0.107778</td>
      <td>0.522125</td>
    </tr>
    <tr>
      <td>2884.6864</td>
      <td>0.095555</td>
      <td>0.519008</td>
    </tr>
    <tr>
      <td>2890.5023</td>
      <td>0.083349</td>
      <td>0.515889</td>
    </tr>
    <tr>
      <td>2896.3182</td>
      <td>0.071163</td>
      <td>0.512782</td>
    </tr>
    <tr>
      <td>2902.1341</td>
      <td>0.058972</td>
      <td>0.509670</td>
    </tr>
    <tr>
      <td>2907.9500</td>
      <td>0.046825</td>
      <td>0.506568</td>
    </tr>
    <tr>
      <td>2913.7659</td>
      <td>0.034681</td>
      <td>0.503466</td>
    </tr>
    <tr>
      <td>2919.5818</td>
      <td>0.022569</td>
      <td>0.500372</td>
    </tr>
    <tr>
      <td>2925.3977</td>
      <td>0.010484</td>
      <td>0.497288</td>
    </tr>
    <tr>
      <td>2931.2136</td>
      <td>-0.001608</td>
      <td>0.494203</td>
    </tr>
    <tr>
      <td>2937.0295</td>
      <td>-0.013667</td>
      <td>0.491122</td>
    </tr>
  </tbody>
</table>