<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2447.4383</td>
      <td>0.110190</td>
      <td>0.532755</td>
    </tr>
    <tr>
      <td>2452.3826</td>
      <td>0.098014</td>
      <td>0.529809</td>
    </tr>
    <tr>
      <td>2457.3270</td>
      <td>0.085845</td>
      <td>0.526866</td>
    </tr>
    <tr>
      <td>2462.2713</td>
      <td>0.073678</td>
      <td>0.523921</td>
    </tr>
    <tr>
      <td>2467.2156</td>
      <td>0.061562</td>
      <td>0.520985</td>
    </tr>
    <tr>
      <td>2472.1599</td>
      <td>0.049451</td>
      <td>0.518048</td>
    </tr>
    <tr>
      <td>2477.1042</td>
      <td>0.037402</td>
      <td>0.515122</td>
    </tr>
    <tr>
      <td>2482.0486</td>
      <td>0.025327</td>
      <td>0.512198</td>
    </tr>
    <tr>
      <td>2486.9929</td>
      <td>0.013265</td>
      <td>0.509268</td>
    </tr>
    <tr>
      <td>2491.9372</td>
      <td>0.001256</td>
      <td>0.506349</td>
    </tr>
    <tr>
      <td>2496.8815</td>
      <td>-0.010752</td>
      <td>0.503435</td>
    </tr>
  </tbody>
</table>