<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2652.4575</td>
      <td>0.074606</td>
      <td>0.520313</td>
    </tr>
    <tr>
      <td>2657.8160</td>
      <td>0.062451</td>
      <td>0.517363</td>
    </tr>
    <tr>
      <td>2663.1745</td>
      <td>0.050306</td>
      <td>0.514409</td>
    </tr>
    <tr>
      <td>2668.5330</td>
      <td>0.038205</td>
      <td>0.511463</td>
    </tr>
    <tr>
      <td>2673.8915</td>
      <td>0.026076</td>
      <td>0.508517</td>
    </tr>
    <tr>
      <td>2679.2500</td>
      <td>0.013998</td>
      <td>0.505575</td>
    </tr>
    <tr>
      <td>2684.6085</td>
      <td>0.001933</td>
      <td>0.502641</td>
    </tr>
    <tr>
      <td>2689.9670</td>
      <td>-0.010089</td>
      <td>0.499716</td>
    </tr>
    <tr>
      <td>2695.3255</td>
      <td>-0.022130</td>
      <td>0.496783</td>
    </tr>
    <tr>
      <td>2700.6840</td>
      <td>-0.034117</td>
      <td>0.493866</td>
    </tr>
    <tr>
      <td>2706.0425</td>
      <td>-0.046120</td>
      <td>0.490940</td>
    </tr>
  </tbody>
</table>