<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2452.0618</td>
      <td>0.067824</td>
      <td>0.527938</td>
    </tr>
    <tr>
      <td>2457.0154</td>
      <td>0.055725</td>
      <td>0.525005</td>
    </tr>
    <tr>
      <td>2461.9691</td>
      <td>0.043549</td>
      <td>0.522054</td>
    </tr>
    <tr>
      <td>2466.9228</td>
      <td>0.031438</td>
      <td>0.519117</td>
    </tr>
    <tr>
      <td>2471.8764</td>
      <td>0.019365</td>
      <td>0.516187</td>
    </tr>
    <tr>
      <td>2476.8301</td>
      <td>0.007280</td>
      <td>0.513254</td>
    </tr>
    <tr>
      <td>2481.7837</td>
      <td>-0.004769</td>
      <td>0.510325</td>
    </tr>
    <tr>
      <td>2486.7374</td>
      <td>-0.016819</td>
      <td>0.507399</td>
    </tr>
    <tr>
      <td>2491.6911</td>
      <td>-0.028841</td>
      <td>0.504476</td>
    </tr>
    <tr>
      <td>2496.6447</td>
      <td>-0.040847</td>
      <td>0.501563</td>
    </tr>
    <tr>
      <td>2501.5984</td>
      <td>-0.052810</td>
      <td>0.498651</td>
    </tr>
  </tbody>
</table>