<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2475.5941</td>
      <td>0.108409</td>
      <td>0.530018</td>
    </tr>
    <tr>
      <td>2480.5953</td>
      <td>0.096234</td>
      <td>0.527067</td>
    </tr>
    <tr>
      <td>2485.5965</td>
      <td>0.084066</td>
      <td>0.524123</td>
    </tr>
    <tr>
      <td>2490.5977</td>
      <td>0.071921</td>
      <td>0.521177</td>
    </tr>
    <tr>
      <td>2495.5989</td>
      <td>0.059794</td>
      <td>0.518237</td>
    </tr>
    <tr>
      <td>2500.6001</td>
      <td>0.047714</td>
      <td>0.515307</td>
    </tr>
    <tr>
      <td>2505.6013</td>
      <td>0.035602</td>
      <td>0.512363</td>
    </tr>
    <tr>
      <td>2510.6025</td>
      <td>0.023540</td>
      <td>0.509438</td>
    </tr>
    <tr>
      <td>2515.6037</td>
      <td>0.011518</td>
      <td>0.506511</td>
    </tr>
    <tr>
      <td>2520.6049</td>
      <td>-0.000542</td>
      <td>0.503586</td>
    </tr>
    <tr>
      <td>2525.6061</td>
      <td>-0.012545</td>
      <td>0.500669</td>
    </tr>
  </tbody>
</table>