<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2860.0307</td>
      <td>0.126729</td>
      <td>0.535700</td>
    </tr>
    <tr>
      <td>2865.8086</td>
      <td>0.114453</td>
      <td>0.532579</td>
    </tr>
    <tr>
      <td>2871.5864</td>
      <td>0.102228</td>
      <td>0.529470</td>
    </tr>
    <tr>
      <td>2877.3642</td>
      <td>0.090062</td>
      <td>0.526372</td>
    </tr>
    <tr>
      <td>2883.1421</td>
      <td>0.077869</td>
      <td>0.523268</td>
    </tr>
    <tr>
      <td>2888.9199</td>
      <td>0.065712</td>
      <td>0.520170</td>
    </tr>
    <tr>
      <td>2894.6978</td>
      <td>0.053558</td>
      <td>0.517071</td>
    </tr>
    <tr>
      <td>2900.4756</td>
      <td>0.041403</td>
      <td>0.513973</td>
    </tr>
    <tr>
      <td>2906.2534</td>
      <td>0.029326</td>
      <td>0.510888</td>
    </tr>
    <tr>
      <td>2912.0313</td>
      <td>0.017213</td>
      <td>0.507800</td>
    </tr>
    <tr>
      <td>2917.8091</td>
      <td>0.005160</td>
      <td>0.504724</td>
    </tr>
  </tbody>
</table>