<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2821.8959</td>
      <td>0.113758</td>
      <td>0.527673</td>
    </tr>
    <tr>
      <td>2827.5967</td>
      <td>0.101491</td>
      <td>0.524549</td>
    </tr>
    <tr>
      <td>2833.2975</td>
      <td>0.089267</td>
      <td>0.521430</td>
    </tr>
    <tr>
      <td>2838.9983</td>
      <td>0.077043</td>
      <td>0.518312</td>
    </tr>
    <tr>
      <td>2844.6991</td>
      <td>0.064882</td>
      <td>0.515204</td>
    </tr>
    <tr>
      <td>2850.3999</td>
      <td>0.052686</td>
      <td>0.512088</td>
    </tr>
    <tr>
      <td>2856.1007</td>
      <td>0.040541</td>
      <td>0.508985</td>
    </tr>
    <tr>
      <td>2861.8015</td>
      <td>0.028399</td>
      <td>0.505887</td>
    </tr>
    <tr>
      <td>2867.5023</td>
      <td>0.016273</td>
      <td>0.502787</td>
    </tr>
    <tr>
      <td>2873.2031</td>
      <td>0.004160</td>
      <td>0.499693</td>
    </tr>
    <tr>
      <td>2878.9039</td>
      <td>-0.007896</td>
      <td>0.496607</td>
    </tr>
  </tbody>
</table>