<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2656.5067</td>
      <td>0.086027</td>
      <td>0.515774</td>
    </tr>
    <tr>
      <td>2661.8734</td>
      <td>0.073838</td>
      <td>0.512823</td>
    </tr>
    <tr>
      <td>2667.2400</td>
      <td>0.061708</td>
      <td>0.509876</td>
    </tr>
    <tr>
      <td>2672.6067</td>
      <td>0.049617</td>
      <td>0.506942</td>
    </tr>
    <tr>
      <td>2677.9734</td>
      <td>0.037463</td>
      <td>0.503993</td>
    </tr>
    <tr>
      <td>2683.3401</td>
      <td>0.025389</td>
      <td>0.501067</td>
    </tr>
    <tr>
      <td>2688.7068</td>
      <td>0.013294</td>
      <td>0.498129</td>
    </tr>
    <tr>
      <td>2694.0734</td>
      <td>0.001231</td>
      <td>0.495200</td>
    </tr>
    <tr>
      <td>2699.4401</td>
      <td>-0.010786</td>
      <td>0.492280</td>
    </tr>
    <tr>
      <td>2704.8068</td>
      <td>-0.022784</td>
      <td>0.489367</td>
    </tr>
    <tr>
      <td>2710.1735</td>
      <td>-0.034768</td>
      <td>0.486458</td>
    </tr>
  </tbody>
</table>