<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2443.4290</td>
      <td>0.080085</td>
      <td>0.531330</td>
    </tr>
    <tr>
      <td>2448.3652</td>
      <td>0.067925</td>
      <td>0.528388</td>
    </tr>
    <tr>
      <td>2453.3014</td>
      <td>0.055744</td>
      <td>0.525441</td>
    </tr>
    <tr>
      <td>2458.2377</td>
      <td>0.043605</td>
      <td>0.522500</td>
    </tr>
    <tr>
      <td>2463.1739</td>
      <td>0.031499</td>
      <td>0.519561</td>
    </tr>
    <tr>
      <td>2468.1101</td>
      <td>0.019404</td>
      <td>0.516625</td>
    </tr>
    <tr>
      <td>2473.0463</td>
      <td>0.007371</td>
      <td>0.513705</td>
    </tr>
    <tr>
      <td>2477.9825</td>
      <td>-0.004731</td>
      <td>0.510770</td>
    </tr>
    <tr>
      <td>2482.9188</td>
      <td>-0.016732</td>
      <td>0.507852</td>
    </tr>
    <tr>
      <td>2487.8550</td>
      <td>-0.028759</td>
      <td>0.504931</td>
    </tr>
    <tr>
      <td>2492.7912</td>
      <td>-0.040749</td>
      <td>0.502016</td>
    </tr>
  </tbody>
</table>