<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2118.0356</td>
      <td>0.117980</td>
      <td>0.522273</td>
    </tr>
    <tr>
      <td>2122.3145</td>
      <td>0.106353</td>
      <td>0.519258</td>
    </tr>
    <tr>
      <td>2126.5934</td>
      <td>0.094711</td>
      <td>0.516247</td>
    </tr>
    <tr>
      <td>2130.8722</td>
      <td>0.083119</td>
      <td>0.513238</td>
    </tr>
    <tr>
      <td>2135.1511</td>
      <td>0.071566</td>
      <td>0.510240</td>
    </tr>
    <tr>
      <td>2139.4299</td>
      <td>0.059957</td>
      <td>0.507232</td>
    </tr>
    <tr>
      <td>2143.7088</td>
      <td>0.048437</td>
      <td>0.504238</td>
    </tr>
    <tr>
      <td>2147.9877</td>
      <td>0.036899</td>
      <td>0.501243</td>
    </tr>
    <tr>
      <td>2152.2665</td>
      <td>0.025398</td>
      <td>0.498260</td>
    </tr>
    <tr>
      <td>2156.5454</td>
      <td>0.013923</td>
      <td>0.495280</td>
    </tr>
    <tr>
      <td>2160.8242</td>
      <td>0.002432</td>
      <td>0.492296</td>
    </tr>
  </tbody>
</table>