<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2636.7857</td>
      <td>0.012459</td>
      <td>0.512707</td>
    </tr>
    <tr>
      <td>2642.1126</td>
      <td>0.000277</td>
      <td>0.509599</td>
    </tr>
    <tr>
      <td>2647.4394</td>
      <td>-0.011889</td>
      <td>0.506497</td>
    </tr>
    <tr>
      <td>2652.7662</td>
      <td>-0.023967</td>
      <td>0.503414</td>
    </tr>
    <tr>
      <td>2658.0931</td>
      <td>-0.036072</td>
      <td>0.500324</td>
    </tr>
    <tr>
      <td>2663.4199</td>
      <td>-0.048157</td>
      <td>0.497244</td>
    </tr>
    <tr>
      <td>2668.7468</td>
      <td>-0.060229</td>
      <td>0.494166</td>
    </tr>
    <tr>
      <td>2674.0736</td>
      <td>-0.072285</td>
      <td>0.491091</td>
    </tr>
    <tr>
      <td>2679.4004</td>
      <td>-0.084324</td>
      <td>0.488020</td>
    </tr>
    <tr>
      <td>2684.7273</td>
      <td>-0.096291</td>
      <td>0.484968</td>
    </tr>
    <tr>
      <td>2690.0541</td>
      <td>-0.108271</td>
      <td>0.481915</td>
    </tr>
  </tbody>
</table>