<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2774.5741</td>
      <td>0.114449</td>
      <td>0.524636</td>
    </tr>
    <tr>
      <td>2780.1793</td>
      <td>0.102258</td>
      <td>0.521522</td>
    </tr>
    <tr>
      <td>2785.7845</td>
      <td>0.090095</td>
      <td>0.518414</td>
    </tr>
    <tr>
      <td>2791.3897</td>
      <td>0.077909</td>
      <td>0.515301</td>
    </tr>
    <tr>
      <td>2796.9949</td>
      <td>0.065783</td>
      <td>0.512199</td>
    </tr>
    <tr>
      <td>2802.6001</td>
      <td>0.053664</td>
      <td>0.509098</td>
    </tr>
    <tr>
      <td>2808.2053</td>
      <td>0.041554</td>
      <td>0.506002</td>
    </tr>
    <tr>
      <td>2813.8105</td>
      <td>0.029455</td>
      <td>0.502905</td>
    </tr>
    <tr>
      <td>2819.4157</td>
      <td>0.017436</td>
      <td>0.499828</td>
    </tr>
    <tr>
      <td>2825.0209</td>
      <td>0.005355</td>
      <td>0.496738</td>
    </tr>
    <tr>
      <td>2830.6261</td>
      <td>-0.006650</td>
      <td>0.493666</td>
    </tr>
  </tbody>
</table>