<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2351.5570</td>
      <td>0.062576</td>
      <td>0.521165</td>
    </tr>
    <tr>
      <td>2356.3076</td>
      <td>0.050452</td>
      <td>0.518216</td>
    </tr>
    <tr>
      <td>2361.0582</td>
      <td>0.038309</td>
      <td>0.515267</td>
    </tr>
    <tr>
      <td>2365.8088</td>
      <td>0.026187</td>
      <td>0.512318</td>
    </tr>
    <tr>
      <td>2370.5594</td>
      <td>0.014122</td>
      <td>0.509384</td>
    </tr>
    <tr>
      <td>2375.3101</td>
      <td>0.002036</td>
      <td>0.506444</td>
    </tr>
    <tr>
      <td>2380.0607</td>
      <td>-0.010004</td>
      <td>0.503510</td>
    </tr>
    <tr>
      <td>2384.8113</td>
      <td>-0.022021</td>
      <td>0.500587</td>
    </tr>
    <tr>
      <td>2389.5619</td>
      <td>-0.034061</td>
      <td>0.497659</td>
    </tr>
    <tr>
      <td>2394.3125</td>
      <td>-0.046052</td>
      <td>0.494736</td>
    </tr>
    <tr>
      <td>2399.0632</td>
      <td>-0.058021</td>
      <td>0.491823</td>
    </tr>
  </tbody>
</table>