<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2216.4418</td>
      <td>0.127370</td>
      <td>0.536757</td>
    </tr>
    <tr>
      <td>2220.9194</td>
      <td>0.115749</td>
      <td>0.533760</td>
    </tr>
    <tr>
      <td>2225.3971</td>
      <td>0.104148</td>
      <td>0.530762</td>
    </tr>
    <tr>
      <td>2229.8748</td>
      <td>0.092555</td>
      <td>0.527763</td>
    </tr>
    <tr>
      <td>2234.3524</td>
      <td>0.081008</td>
      <td>0.524771</td>
    </tr>
    <tr>
      <td>2238.8301</td>
      <td>0.069481</td>
      <td>0.521783</td>
    </tr>
    <tr>
      <td>2243.3077</td>
      <td>0.057955</td>
      <td>0.518800</td>
    </tr>
    <tr>
      <td>2247.7854</td>
      <td>0.046407</td>
      <td>0.515805</td>
    </tr>
    <tr>
      <td>2252.2631</td>
      <td>0.034927</td>
      <td>0.512827</td>
    </tr>
    <tr>
      <td>2256.7407</td>
      <td>0.023471</td>
      <td>0.509857</td>
    </tr>
    <tr>
      <td>2261.2184</td>
      <td>0.012033</td>
      <td>0.506883</td>
    </tr>
  </tbody>
</table>