<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2428.9254</td>
      <td>0.074743</td>
      <td>0.513641</td>
    </tr>
    <tr>
      <td>2433.8323</td>
      <td>0.062597</td>
      <td>0.510693</td>
    </tr>
    <tr>
      <td>2438.7392</td>
      <td>0.050497</td>
      <td>0.507756</td>
    </tr>
    <tr>
      <td>2443.6461</td>
      <td>0.038365</td>
      <td>0.504809</td>
    </tr>
    <tr>
      <td>2448.5530</td>
      <td>0.026282</td>
      <td>0.501872</td>
    </tr>
    <tr>
      <td>2453.4600</td>
      <td>0.014190</td>
      <td>0.498939</td>
    </tr>
    <tr>
      <td>2458.3669</td>
      <td>0.002134</td>
      <td>0.496009</td>
    </tr>
    <tr>
      <td>2463.2738</td>
      <td>-0.009873</td>
      <td>0.493093</td>
    </tr>
    <tr>
      <td>2468.1807</td>
      <td>-0.021892</td>
      <td>0.490169</td>
    </tr>
    <tr>
      <td>2473.0876</td>
      <td>-0.033890</td>
      <td>0.487259</td>
    </tr>
    <tr>
      <td>2477.9946</td>
      <td>-0.045861</td>
      <td>0.484351</td>
    </tr>
  </tbody>
</table>