<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2610.4122</td>
      <td>0.177947</td>
      <td>0.542204</td>
    </tr>
    <tr>
      <td>2615.6858</td>
      <td>0.165816</td>
      <td>0.539133</td>
    </tr>
    <tr>
      <td>2620.9593</td>
      <td>0.153689</td>
      <td>0.536070</td>
    </tr>
    <tr>
      <td>2626.2329</td>
      <td>0.141628</td>
      <td>0.533014</td>
    </tr>
    <tr>
      <td>2631.5065</td>
      <td>0.129559</td>
      <td>0.529952</td>
    </tr>
    <tr>
      <td>2636.7800</td>
      <td>0.117503</td>
      <td>0.526901</td>
    </tr>
    <tr>
      <td>2642.0536</td>
      <td>0.105464</td>
      <td>0.523844</td>
    </tr>
    <tr>
      <td>2647.3271</td>
      <td>0.093456</td>
      <td>0.520793</td>
    </tr>
    <tr>
      <td>2652.6007</td>
      <td>0.081458</td>
      <td>0.517749</td>
    </tr>
    <tr>
      <td>2657.8743</td>
      <td>0.069483</td>
      <td>0.514703</td>
    </tr>
    <tr>
      <td>2663.1478</td>
      <td>0.057552</td>
      <td>0.511672</td>
    </tr>
  </tbody>
</table>