<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2868.5448</td>
      <td>0.100807</td>
      <td>0.521429</td>
    </tr>
    <tr>
      <td>2874.3399</td>
      <td>0.088534</td>
      <td>0.518295</td>
    </tr>
    <tr>
      <td>2880.1349</td>
      <td>0.076284</td>
      <td>0.515169</td>
    </tr>
    <tr>
      <td>2885.9299</td>
      <td>0.064052</td>
      <td>0.512048</td>
    </tr>
    <tr>
      <td>2891.7250</td>
      <td>0.051873</td>
      <td>0.508936</td>
    </tr>
    <tr>
      <td>2897.5200</td>
      <td>0.039638</td>
      <td>0.505810</td>
    </tr>
    <tr>
      <td>2903.3151</td>
      <td>0.027463</td>
      <td>0.502703</td>
    </tr>
    <tr>
      <td>2909.1101</td>
      <td>0.015335</td>
      <td>0.499605</td>
    </tr>
    <tr>
      <td>2914.9051</td>
      <td>0.003224</td>
      <td>0.496507</td>
    </tr>
    <tr>
      <td>2920.7002</td>
      <td>-0.008915</td>
      <td>0.493412</td>
    </tr>
    <tr>
      <td>2926.4952</td>
      <td>-0.021011</td>
      <td>0.490320</td>
    </tr>
  </tbody>
</table>