<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2416.9069</td>
      <td>0.091193</td>
      <td>0.529138</td>
    </tr>
    <tr>
      <td>2421.7895</td>
      <td>0.079087</td>
      <td>0.526211</td>
    </tr>
    <tr>
      <td>2426.6721</td>
      <td>0.067005</td>
      <td>0.523289</td>
    </tr>
    <tr>
      <td>2431.5548</td>
      <td>0.054934</td>
      <td>0.520364</td>
    </tr>
    <tr>
      <td>2436.4374</td>
      <td>0.042862</td>
      <td>0.517443</td>
    </tr>
    <tr>
      <td>2441.3201</td>
      <td>0.030872</td>
      <td>0.514532</td>
    </tr>
    <tr>
      <td>2446.2027</td>
      <td>0.018844</td>
      <td>0.511614</td>
    </tr>
    <tr>
      <td>2451.0853</td>
      <td>0.006865</td>
      <td>0.508713</td>
    </tr>
    <tr>
      <td>2455.9680</td>
      <td>-0.005141</td>
      <td>0.505801</td>
    </tr>
    <tr>
      <td>2460.8506</td>
      <td>-0.017077</td>
      <td>0.502904</td>
    </tr>
    <tr>
      <td>2465.7333</td>
      <td>-0.029006</td>
      <td>0.500010</td>
    </tr>
  </tbody>
</table>