<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2076.9605</td>
      <td>0.170767</td>
      <td>0.543533</td>
    </tr>
    <tr>
      <td>2081.1564</td>
      <td>0.159167</td>
      <td>0.540549</td>
    </tr>
    <tr>
      <td>2085.3523</td>
      <td>0.147567</td>
      <td>0.537560</td>
    </tr>
    <tr>
      <td>2089.5482</td>
      <td>0.135988</td>
      <td>0.534572</td>
    </tr>
    <tr>
      <td>2093.7441</td>
      <td>0.124453</td>
      <td>0.531595</td>
    </tr>
    <tr>
      <td>2097.9399</td>
      <td>0.112882</td>
      <td>0.528607</td>
    </tr>
    <tr>
      <td>2102.1358</td>
      <td>0.101342</td>
      <td>0.525626</td>
    </tr>
    <tr>
      <td>2106.3317</td>
      <td>0.089861</td>
      <td>0.522653</td>
    </tr>
    <tr>
      <td>2110.5276</td>
      <td>0.078322</td>
      <td>0.519669</td>
    </tr>
    <tr>
      <td>2114.7235</td>
      <td>0.066881</td>
      <td>0.516701</td>
    </tr>
    <tr>
      <td>2118.9193</td>
      <td>0.055441</td>
      <td>0.513738</td>
    </tr>
  </tbody>
</table>