<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2128.9851</td>
      <td>0.156940</td>
      <td>0.526060</td>
    </tr>
    <tr>
      <td>2133.2861</td>
      <td>0.145282</td>
      <td>0.523046</td>
    </tr>
    <tr>
      <td>2137.5871</td>
      <td>0.133630</td>
      <td>0.520036</td>
    </tr>
    <tr>
      <td>2141.8880</td>
      <td>0.122029</td>
      <td>0.517028</td>
    </tr>
    <tr>
      <td>2146.1890</td>
      <td>0.110419</td>
      <td>0.514024</td>
    </tr>
    <tr>
      <td>2150.4900</td>
      <td>0.098858</td>
      <td>0.511026</td>
    </tr>
    <tr>
      <td>2154.7910</td>
      <td>0.087274</td>
      <td>0.508021</td>
    </tr>
    <tr>
      <td>2159.0919</td>
      <td>0.075745</td>
      <td>0.505032</td>
    </tr>
    <tr>
      <td>2163.3929</td>
      <td>0.064220</td>
      <td>0.502045</td>
    </tr>
    <tr>
      <td>2167.6939</td>
      <td>0.052699</td>
      <td>0.499060</td>
    </tr>
    <tr>
      <td>2171.9949</td>
      <td>0.041227</td>
      <td>0.496080</td>
    </tr>
  </tbody>
</table>