<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2463.2290</td>
      <td>0.046780</td>
      <td>0.505432</td>
    </tr>
    <tr>
      <td>2468.2052</td>
      <td>0.034631</td>
      <td>0.502484</td>
    </tr>
    <tr>
      <td>2473.1814</td>
      <td>0.022543</td>
      <td>0.499546</td>
    </tr>
    <tr>
      <td>2478.1577</td>
      <td>0.010486</td>
      <td>0.496617</td>
    </tr>
    <tr>
      <td>2483.1339</td>
      <td>-0.001605</td>
      <td>0.493680</td>
    </tr>
    <tr>
      <td>2488.1101</td>
      <td>-0.013666</td>
      <td>0.490756</td>
    </tr>
    <tr>
      <td>2493.0863</td>
      <td>-0.025696</td>
      <td>0.487829</td>
    </tr>
    <tr>
      <td>2498.0625</td>
      <td>-0.037703</td>
      <td>0.484914</td>
    </tr>
    <tr>
      <td>2503.0388</td>
      <td>-0.049683</td>
      <td>0.482004</td>
    </tr>
    <tr>
      <td>2508.0150</td>
      <td>-0.061637</td>
      <td>0.479105</td>
    </tr>
    <tr>
      <td>2512.9912</td>
      <td>-0.073595</td>
      <td>0.476204</td>
    </tr>
  </tbody>
</table>