<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2357.5661</td>
      <td>0.082501</td>
      <td>0.530048</td>
    </tr>
    <tr>
      <td>2362.3288</td>
      <td>0.070303</td>
      <td>0.527097</td>
    </tr>
    <tr>
      <td>2367.0916</td>
      <td>0.058144</td>
      <td>0.524145</td>
    </tr>
    <tr>
      <td>2371.8544</td>
      <td>0.046004</td>
      <td>0.521203</td>
    </tr>
    <tr>
      <td>2376.6171</td>
      <td>0.033831</td>
      <td>0.518254</td>
    </tr>
    <tr>
      <td>2381.3799</td>
      <td>0.021728</td>
      <td>0.515319</td>
    </tr>
    <tr>
      <td>2386.1426</td>
      <td>0.009633</td>
      <td>0.512380</td>
    </tr>
    <tr>
      <td>2390.9054</td>
      <td>-0.002445</td>
      <td>0.509449</td>
    </tr>
    <tr>
      <td>2395.6682</td>
      <td>-0.014491</td>
      <td>0.506518</td>
    </tr>
    <tr>
      <td>2400.4309</td>
      <td>-0.026547</td>
      <td>0.503593</td>
    </tr>
    <tr>
      <td>2405.1937</td>
      <td>-0.038566</td>
      <td>0.500668</td>
    </tr>
  </tbody>
</table>