<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2269.6345</td>
      <td>0.128312</td>
      <td>0.538622</td>
    </tr>
    <tr>
      <td>2274.2196</td>
      <td>0.116111</td>
      <td>0.535678</td>
    </tr>
    <tr>
      <td>2278.8047</td>
      <td>0.103935</td>
      <td>0.532732</td>
    </tr>
    <tr>
      <td>2283.3898</td>
      <td>0.091766</td>
      <td>0.529790</td>
    </tr>
    <tr>
      <td>2287.9749</td>
      <td>0.079616</td>
      <td>0.526847</td>
    </tr>
    <tr>
      <td>2292.5601</td>
      <td>0.067488</td>
      <td>0.523905</td>
    </tr>
    <tr>
      <td>2297.1452</td>
      <td>0.055383</td>
      <td>0.520973</td>
    </tr>
    <tr>
      <td>2301.7303</td>
      <td>0.043277</td>
      <td>0.518034</td>
    </tr>
    <tr>
      <td>2306.3154</td>
      <td>0.031190</td>
      <td>0.515102</td>
    </tr>
    <tr>
      <td>2310.9005</td>
      <td>0.019129</td>
      <td>0.512175</td>
    </tr>
    <tr>
      <td>2315.4857</td>
      <td>0.007122</td>
      <td>0.509255</td>
    </tr>
  </tbody>
</table>