<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2160.0809</td>
      <td>0.065335</td>
      <td>0.522520</td>
    </tr>
    <tr>
      <td>2164.4447</td>
      <td>0.053718</td>
      <td>0.519500</td>
    </tr>
    <tr>
      <td>2168.8085</td>
      <td>0.042106</td>
      <td>0.516487</td>
    </tr>
    <tr>
      <td>2173.1723</td>
      <td>0.030492</td>
      <td>0.513466</td>
    </tr>
    <tr>
      <td>2177.5361</td>
      <td>0.018892</td>
      <td>0.510454</td>
    </tr>
    <tr>
      <td>2181.8999</td>
      <td>0.007331</td>
      <td>0.507448</td>
    </tr>
    <tr>
      <td>2186.2637</td>
      <td>-0.004214</td>
      <td>0.504445</td>
    </tr>
    <tr>
      <td>2190.6275</td>
      <td>-0.015746</td>
      <td>0.501442</td>
    </tr>
    <tr>
      <td>2194.9913</td>
      <td>-0.027262</td>
      <td>0.498444</td>
    </tr>
    <tr>
      <td>2199.3551</td>
      <td>-0.038776</td>
      <td>0.495450</td>
    </tr>
    <tr>
      <td>2203.7189</td>
      <td>-0.050256</td>
      <td>0.492464</td>
    </tr>
  </tbody>
</table>