<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2804.9472</td>
      <td>0.107612</td>
      <td>0.529002</td>
    </tr>
    <tr>
      <td>2810.6138</td>
      <td>0.095348</td>
      <td>0.525877</td>
    </tr>
    <tr>
      <td>2816.2803</td>
      <td>0.083142</td>
      <td>0.522762</td>
    </tr>
    <tr>
      <td>2821.9469</td>
      <td>0.070986</td>
      <td>0.519661</td>
    </tr>
    <tr>
      <td>2827.6135</td>
      <td>0.058772</td>
      <td>0.516544</td>
    </tr>
    <tr>
      <td>2833.2800</td>
      <td>0.046630</td>
      <td>0.513441</td>
    </tr>
    <tr>
      <td>2838.9466</td>
      <td>0.034506</td>
      <td>0.510347</td>
    </tr>
    <tr>
      <td>2844.6131</td>
      <td>0.022386</td>
      <td>0.507250</td>
    </tr>
    <tr>
      <td>2850.2797</td>
      <td>0.010282</td>
      <td>0.504160</td>
    </tr>
    <tr>
      <td>2855.9463</td>
      <td>-0.001793</td>
      <td>0.501070</td>
    </tr>
    <tr>
      <td>2861.6128</td>
      <td>-0.013853</td>
      <td>0.497989</td>
    </tr>
  </tbody>
</table>