<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2449.0918</td>
      <td>0.016389</td>
      <td>0.502947</td>
    </tr>
    <tr>
      <td>2454.0394</td>
      <td>0.004218</td>
      <td>0.499986</td>
    </tr>
    <tr>
      <td>2458.9871</td>
      <td>-0.007888</td>
      <td>0.497039</td>
    </tr>
    <tr>
      <td>2463.9348</td>
      <td>-0.020013</td>
      <td>0.494096</td>
    </tr>
    <tr>
      <td>2468.8824</td>
      <td>-0.032107</td>
      <td>0.491152</td>
    </tr>
    <tr>
      <td>2473.8301</td>
      <td>-0.044121</td>
      <td>0.488232</td>
    </tr>
    <tr>
      <td>2478.7777</td>
      <td>-0.056214</td>
      <td>0.485296</td>
    </tr>
    <tr>
      <td>2483.7254</td>
      <td>-0.068233</td>
      <td>0.482376</td>
    </tr>
    <tr>
      <td>2488.6731</td>
      <td>-0.080240</td>
      <td>0.479456</td>
    </tr>
    <tr>
      <td>2493.6207</td>
      <td>-0.092226</td>
      <td>0.476549</td>
    </tr>
    <tr>
      <td>2498.5684</td>
      <td>-0.104196</td>
      <td>0.473641</td>
    </tr>
  </tbody>
</table>