<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2305.6605</td>
      <td>0.113396</td>
      <td>0.538554</td>
    </tr>
    <tr>
      <td>2310.3184</td>
      <td>0.101244</td>
      <td>0.535620</td>
    </tr>
    <tr>
      <td>2314.9763</td>
      <td>0.089103</td>
      <td>0.532689</td>
    </tr>
    <tr>
      <td>2319.6342</td>
      <td>0.076986</td>
      <td>0.529757</td>
    </tr>
    <tr>
      <td>2324.2921</td>
      <td>0.064899</td>
      <td>0.526832</td>
    </tr>
    <tr>
      <td>2328.9500</td>
      <td>0.052797</td>
      <td>0.523904</td>
    </tr>
    <tr>
      <td>2333.6079</td>
      <td>0.040728</td>
      <td>0.520979</td>
    </tr>
    <tr>
      <td>2338.2658</td>
      <td>0.028722</td>
      <td>0.518066</td>
    </tr>
    <tr>
      <td>2342.9237</td>
      <td>0.016691</td>
      <td>0.515150</td>
    </tr>
    <tr>
      <td>2347.5816</td>
      <td>0.004655</td>
      <td>0.512232</td>
    </tr>
    <tr>
      <td>2352.2395</td>
      <td>-0.007322</td>
      <td>0.509324</td>
    </tr>
  </tbody>
</table>