<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2829.1230</td>
      <td>0.090379</td>
      <td>0.522857</td>
    </tr>
    <tr>
      <td>2834.8384</td>
      <td>0.078130</td>
      <td>0.519729</td>
    </tr>
    <tr>
      <td>2840.5538</td>
      <td>0.065921</td>
      <td>0.516609</td>
    </tr>
    <tr>
      <td>2846.2692</td>
      <td>0.053711</td>
      <td>0.513485</td>
    </tr>
    <tr>
      <td>2851.9846</td>
      <td>0.041489</td>
      <td>0.510364</td>
    </tr>
    <tr>
      <td>2857.7000</td>
      <td>0.029334</td>
      <td>0.507256</td>
    </tr>
    <tr>
      <td>2863.4154</td>
      <td>0.017185</td>
      <td>0.504145</td>
    </tr>
    <tr>
      <td>2869.1308</td>
      <td>0.005057</td>
      <td>0.501046</td>
    </tr>
    <tr>
      <td>2874.8462</td>
      <td>-0.007073</td>
      <td>0.497945</td>
    </tr>
    <tr>
      <td>2880.5616</td>
      <td>-0.019132</td>
      <td>0.494856</td>
    </tr>
    <tr>
      <td>2886.2770</td>
      <td>-0.031257</td>
      <td>0.491760</td>
    </tr>
  </tbody>
</table>