<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2413.9170</td>
      <td>0.099247</td>
      <td>0.529079</td>
    </tr>
    <tr>
      <td>2418.7936</td>
      <td>0.087073</td>
      <td>0.526137</td>
    </tr>
    <tr>
      <td>2423.6702</td>
      <td>0.074904</td>
      <td>0.523191</td>
    </tr>
    <tr>
      <td>2428.5468</td>
      <td>0.062749</td>
      <td>0.520249</td>
    </tr>
    <tr>
      <td>2433.4234</td>
      <td>0.050680</td>
      <td>0.517327</td>
    </tr>
    <tr>
      <td>2438.3000</td>
      <td>0.038557</td>
      <td>0.514389</td>
    </tr>
    <tr>
      <td>2443.1766</td>
      <td>0.026485</td>
      <td>0.511459</td>
    </tr>
    <tr>
      <td>2448.0532</td>
      <td>0.014433</td>
      <td>0.508538</td>
    </tr>
    <tr>
      <td>2452.9298</td>
      <td>0.002399</td>
      <td>0.505617</td>
    </tr>
    <tr>
      <td>2457.8064</td>
      <td>-0.009605</td>
      <td>0.502700</td>
    </tr>
    <tr>
      <td>2462.6830</td>
      <td>-0.021609</td>
      <td>0.499787</td>
    </tr>
  </tbody>
</table>