<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2374.4357</td>
      <td>0.080834</td>
      <td>0.530837</td>
    </tr>
    <tr>
      <td>2379.2326</td>
      <td>0.068522</td>
      <td>0.527855</td>
    </tr>
    <tr>
      <td>2384.0294</td>
      <td>0.056336</td>
      <td>0.524895</td>
    </tr>
    <tr>
      <td>2388.8262</td>
      <td>0.044109</td>
      <td>0.521934</td>
    </tr>
    <tr>
      <td>2393.6231</td>
      <td>0.031942</td>
      <td>0.518973</td>
    </tr>
    <tr>
      <td>2398.4199</td>
      <td>0.019785</td>
      <td>0.516022</td>
    </tr>
    <tr>
      <td>2403.2168</td>
      <td>0.007607</td>
      <td>0.513060</td>
    </tr>
    <tr>
      <td>2408.0136</td>
      <td>-0.004522</td>
      <td>0.510110</td>
    </tr>
    <tr>
      <td>2412.8104</td>
      <td>-0.016670</td>
      <td>0.507160</td>
    </tr>
    <tr>
      <td>2417.6073</td>
      <td>-0.028754</td>
      <td>0.504217</td>
    </tr>
    <tr>
      <td>2422.4041</td>
      <td>-0.040799</td>
      <td>0.501286</td>
    </tr>
  </tbody>
</table>