<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2359.2889</td>
      <td>0.051639</td>
      <td>0.526077</td>
    </tr>
    <tr>
      <td>2364.0552</td>
      <td>0.039447</td>
      <td>0.523126</td>
    </tr>
    <tr>
      <td>2368.8214</td>
      <td>0.027298</td>
      <td>0.520181</td>
    </tr>
    <tr>
      <td>2373.5876</td>
      <td>0.015154</td>
      <td>0.517231</td>
    </tr>
    <tr>
      <td>2378.3539</td>
      <td>0.003009</td>
      <td>0.514290</td>
    </tr>
    <tr>
      <td>2383.1201</td>
      <td>-0.009068</td>
      <td>0.511350</td>
    </tr>
    <tr>
      <td>2387.8864</td>
      <td>-0.021169</td>
      <td>0.508414</td>
    </tr>
    <tr>
      <td>2392.6526</td>
      <td>-0.033213</td>
      <td>0.505483</td>
    </tr>
    <tr>
      <td>2397.4188</td>
      <td>-0.045238</td>
      <td>0.502562</td>
    </tr>
    <tr>
      <td>2402.1851</td>
      <td>-0.057305</td>
      <td>0.499628</td>
    </tr>
    <tr>
      <td>2406.9513</td>
      <td>-0.069308</td>
      <td>0.496715</td>
    </tr>
  </tbody>
</table>