<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2129.8168</td>
      <td>0.105170</td>
      <td>0.515328</td>
    </tr>
    <tr>
      <td>2134.1194</td>
      <td>0.093559</td>
      <td>0.512312</td>
    </tr>
    <tr>
      <td>2138.4221</td>
      <td>0.081920</td>
      <td>0.509293</td>
    </tr>
    <tr>
      <td>2142.7248</td>
      <td>0.070374</td>
      <td>0.506290</td>
    </tr>
    <tr>
      <td>2147.0274</td>
      <td>0.058757</td>
      <td>0.503277</td>
    </tr>
    <tr>
      <td>2151.3301</td>
      <td>0.047194</td>
      <td>0.500266</td>
    </tr>
    <tr>
      <td>2155.6327</td>
      <td>0.035691</td>
      <td>0.497278</td>
    </tr>
    <tr>
      <td>2159.9354</td>
      <td>0.024149</td>
      <td>0.494275</td>
    </tr>
    <tr>
      <td>2164.2381</td>
      <td>0.012662</td>
      <td>0.491290</td>
    </tr>
    <tr>
      <td>2168.5407</td>
      <td>0.001175</td>
      <td>0.488303</td>
    </tr>
    <tr>
      <td>2172.8434</td>
      <td>-0.010287</td>
      <td>0.485325</td>
    </tr>
  </tbody>
</table>