<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2169.1693</td>
      <td>0.142109</td>
      <td>0.527869</td>
    </tr>
    <tr>
      <td>2173.5514</td>
      <td>0.130501</td>
      <td>0.524867</td>
    </tr>
    <tr>
      <td>2177.9336</td>
      <td>0.118880</td>
      <td>0.521864</td>
    </tr>
    <tr>
      <td>2182.3158</td>
      <td>0.107306</td>
      <td>0.518863</td>
    </tr>
    <tr>
      <td>2186.6979</td>
      <td>0.095708</td>
      <td>0.515859</td>
    </tr>
    <tr>
      <td>2191.0801</td>
      <td>0.084145</td>
      <td>0.512864</td>
    </tr>
    <tr>
      <td>2195.4622</td>
      <td>0.072554</td>
      <td>0.509862</td>
    </tr>
    <tr>
      <td>2199.8444</td>
      <td>0.061032</td>
      <td>0.506878</td>
    </tr>
    <tr>
      <td>2204.2266</td>
      <td>0.049552</td>
      <td>0.503901</td>
    </tr>
    <tr>
      <td>2208.6087</td>
      <td>0.038040</td>
      <td>0.500908</td>
    </tr>
    <tr>
      <td>2212.9909</td>
      <td>0.026568</td>
      <td>0.497934</td>
    </tr>
  </tbody>
</table>