<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2525.1335</td>
      <td>0.073521</td>
      <td>0.511416</td>
    </tr>
    <tr>
      <td>2530.2348</td>
      <td>0.061370</td>
      <td>0.508461</td>
    </tr>
    <tr>
      <td>2535.3361</td>
      <td>0.049271</td>
      <td>0.505522</td>
    </tr>
    <tr>
      <td>2540.4373</td>
      <td>0.037139</td>
      <td>0.502576</td>
    </tr>
    <tr>
      <td>2545.5386</td>
      <td>0.025041</td>
      <td>0.499631</td>
    </tr>
    <tr>
      <td>2550.6399</td>
      <td>0.012970</td>
      <td>0.496698</td>
    </tr>
    <tr>
      <td>2555.7412</td>
      <td>0.000945</td>
      <td>0.493778</td>
    </tr>
    <tr>
      <td>2560.8425</td>
      <td>-0.011076</td>
      <td>0.490850</td>
    </tr>
    <tr>
      <td>2565.9437</td>
      <td>-0.023098</td>
      <td>0.487928</td>
    </tr>
    <tr>
      <td>2571.0450</td>
      <td>-0.035124</td>
      <td>0.485011</td>
    </tr>
    <tr>
      <td>2576.1463</td>
      <td>-0.047064</td>
      <td>0.482107</td>
    </tr>
  </tbody>
</table>