<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2405.0368</td>
      <td>0.078889</td>
      <td>0.523962</td>
    </tr>
    <tr>
      <td>2409.8954</td>
      <td>0.066633</td>
      <td>0.520980</td>
    </tr>
    <tr>
      <td>2414.7541</td>
      <td>0.054447</td>
      <td>0.518016</td>
    </tr>
    <tr>
      <td>2419.6128</td>
      <td>0.042225</td>
      <td>0.515044</td>
    </tr>
    <tr>
      <td>2424.4714</td>
      <td>0.030057</td>
      <td>0.512078</td>
    </tr>
    <tr>
      <td>2429.3301</td>
      <td>0.017897</td>
      <td>0.509119</td>
    </tr>
    <tr>
      <td>2434.1887</td>
      <td>0.005730</td>
      <td>0.506156</td>
    </tr>
    <tr>
      <td>2439.0474</td>
      <td>-0.006371</td>
      <td>0.503207</td>
    </tr>
    <tr>
      <td>2443.9061</td>
      <td>-0.018501</td>
      <td>0.500249</td>
    </tr>
    <tr>
      <td>2448.7647</td>
      <td>-0.030557</td>
      <td>0.497312</td>
    </tr>
    <tr>
      <td>2453.6234</td>
      <td>-0.042628</td>
      <td>0.494371</td>
    </tr>
  </tbody>
</table>