<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2273.7131</td>
      <td>0.085834</td>
      <td>0.534057</td>
    </tr>
    <tr>
      <td>2278.3065</td>
      <td>0.073608</td>
      <td>0.531100</td>
    </tr>
    <tr>
      <td>2282.8999</td>
      <td>0.061379</td>
      <td>0.528143</td>
    </tr>
    <tr>
      <td>2287.4932</td>
      <td>0.049232</td>
      <td>0.525198</td>
    </tr>
    <tr>
      <td>2292.0866</td>
      <td>0.037039</td>
      <td>0.522238</td>
    </tr>
    <tr>
      <td>2296.6799</td>
      <td>0.024891</td>
      <td>0.519295</td>
    </tr>
    <tr>
      <td>2301.2733</td>
      <td>0.012760</td>
      <td>0.516354</td>
    </tr>
    <tr>
      <td>2305.8667</td>
      <td>0.000648</td>
      <td>0.513410</td>
    </tr>
    <tr>
      <td>2310.4600</td>
      <td>-0.011454</td>
      <td>0.510470</td>
    </tr>
    <tr>
      <td>2315.0534</td>
      <td>-0.023501</td>
      <td>0.507545</td>
    </tr>
    <tr>
      <td>2319.6467</td>
      <td>-0.035603</td>
      <td>0.504605</td>
    </tr>
  </tbody>
</table>