<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2875.1381</td>
      <td>0.067505</td>
      <td>0.526125</td>
    </tr>
    <tr>
      <td>2880.9465</td>
      <td>0.055245</td>
      <td>0.523001</td>
    </tr>
    <tr>
      <td>2886.7549</td>
      <td>0.043045</td>
      <td>0.519889</td>
    </tr>
    <tr>
      <td>2892.5632</td>
      <td>0.030891</td>
      <td>0.516785</td>
    </tr>
    <tr>
      <td>2898.3716</td>
      <td>0.018724</td>
      <td>0.513675</td>
    </tr>
    <tr>
      <td>2904.1799</td>
      <td>0.006582</td>
      <td>0.510575</td>
    </tr>
    <tr>
      <td>2909.9883</td>
      <td>-0.005560</td>
      <td>0.507476</td>
    </tr>
    <tr>
      <td>2915.7967</td>
      <td>-0.017670</td>
      <td>0.504382</td>
    </tr>
    <tr>
      <td>2921.6050</td>
      <td>-0.029758</td>
      <td>0.501294</td>
    </tr>
    <tr>
      <td>2927.4134</td>
      <td>-0.041810</td>
      <td>0.498216</td>
    </tr>
    <tr>
      <td>2933.2217</td>
      <td>-0.053852</td>
      <td>0.495137</td>
    </tr>
  </tbody>
</table>