<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2119.9267</td>
      <td>0.141175</td>
      <td>0.535997</td>
    </tr>
    <tr>
      <td>2124.2094</td>
      <td>0.129532</td>
      <td>0.532987</td>
    </tr>
    <tr>
      <td>2128.4920</td>
      <td>0.117856</td>
      <td>0.529970</td>
    </tr>
    <tr>
      <td>2132.7747</td>
      <td>0.106216</td>
      <td>0.526958</td>
    </tr>
    <tr>
      <td>2137.0574</td>
      <td>0.094621</td>
      <td>0.523955</td>
    </tr>
    <tr>
      <td>2141.3401</td>
      <td>0.083020</td>
      <td>0.520951</td>
    </tr>
    <tr>
      <td>2145.6228</td>
      <td>0.071424</td>
      <td>0.517945</td>
    </tr>
    <tr>
      <td>2149.9054</td>
      <td>0.059839</td>
      <td>0.514943</td>
    </tr>
    <tr>
      <td>2154.1881</td>
      <td>0.048337</td>
      <td>0.511957</td>
    </tr>
    <tr>
      <td>2158.4708</td>
      <td>0.036820</td>
      <td>0.508966</td>
    </tr>
    <tr>
      <td>2162.7535</td>
      <td>0.025285</td>
      <td>0.505972</td>
    </tr>
  </tbody>
</table>