<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2256.7545</td>
      <td>0.078575</td>
      <td>0.518978</td>
    </tr>
    <tr>
      <td>2261.3136</td>
      <td>0.066434</td>
      <td>0.516035</td>
    </tr>
    <tr>
      <td>2265.8727</td>
      <td>0.054293</td>
      <td>0.513096</td>
    </tr>
    <tr>
      <td>2270.4318</td>
      <td>0.042193</td>
      <td>0.510160</td>
    </tr>
    <tr>
      <td>2274.9909</td>
      <td>0.030093</td>
      <td>0.507229</td>
    </tr>
    <tr>
      <td>2279.5500</td>
      <td>0.018041</td>
      <td>0.504301</td>
    </tr>
    <tr>
      <td>2284.1091</td>
      <td>0.006003</td>
      <td>0.501384</td>
    </tr>
    <tr>
      <td>2288.6682</td>
      <td>-0.006032</td>
      <td>0.498466</td>
    </tr>
    <tr>
      <td>2293.2273</td>
      <td>-0.018046</td>
      <td>0.495552</td>
    </tr>
    <tr>
      <td>2297.7864</td>
      <td>-0.030022</td>
      <td>0.492646</td>
    </tr>
    <tr>
      <td>2302.3455</td>
      <td>-0.041971</td>
      <td>0.489744</td>
    </tr>
  </tbody>
</table>