<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2251.8935</td>
      <td>0.026033</td>
      <td>0.523478</td>
    </tr>
    <tr>
      <td>2256.4428</td>
      <td>0.013880</td>
      <td>0.520532</td>
    </tr>
    <tr>
      <td>2260.9921</td>
      <td>0.001751</td>
      <td>0.517590</td>
    </tr>
    <tr>
      <td>2265.5413</td>
      <td>-0.010367</td>
      <td>0.514654</td>
    </tr>
    <tr>
      <td>2270.0906</td>
      <td>-0.022488</td>
      <td>0.511709</td>
    </tr>
    <tr>
      <td>2274.6399</td>
      <td>-0.034529</td>
      <td>0.508788</td>
    </tr>
    <tr>
      <td>2279.1892</td>
      <td>-0.046580</td>
      <td>0.505862</td>
    </tr>
    <tr>
      <td>2283.7385</td>
      <td>-0.058643</td>
      <td>0.502933</td>
    </tr>
    <tr>
      <td>2288.2877</td>
      <td>-0.070631</td>
      <td>0.500022</td>
    </tr>
    <tr>
      <td>2292.8370</td>
      <td>-0.082647</td>
      <td>0.497100</td>
    </tr>
    <tr>
      <td>2297.3863</td>
      <td>-0.094664</td>
      <td>0.494185</td>
    </tr>
  </tbody>
</table>