<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2340.1720</td>
      <td>0.030783</td>
      <td>0.516005</td>
    </tr>
    <tr>
      <td>2344.8996</td>
      <td>0.018595</td>
      <td>0.513043</td>
    </tr>
    <tr>
      <td>2349.6272</td>
      <td>0.006422</td>
      <td>0.510090</td>
    </tr>
    <tr>
      <td>2354.3548</td>
      <td>-0.005713</td>
      <td>0.507145</td>
    </tr>
    <tr>
      <td>2359.0824</td>
      <td>-0.017808</td>
      <td>0.504204</td>
    </tr>
    <tr>
      <td>2363.8101</td>
      <td>-0.029889</td>
      <td>0.501269</td>
    </tr>
    <tr>
      <td>2368.5377</td>
      <td>-0.041979</td>
      <td>0.498330</td>
    </tr>
    <tr>
      <td>2373.2653</td>
      <td>-0.054027</td>
      <td>0.495402</td>
    </tr>
    <tr>
      <td>2377.9929</td>
      <td>-0.066090</td>
      <td>0.492471</td>
    </tr>
    <tr>
      <td>2382.7205</td>
      <td>-0.078087</td>
      <td>0.489557</td>
    </tr>
    <tr>
      <td>2387.4482</td>
      <td>-0.090076</td>
      <td>0.486641</td>
    </tr>
  </tbody>
</table>