<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2155.4081</td>
      <td>0.039028</td>
      <td>0.504239</td>
    </tr>
    <tr>
      <td>2159.7625</td>
      <td>0.027433</td>
      <td>0.501216</td>
    </tr>
    <tr>
      <td>2164.1169</td>
      <td>0.015778</td>
      <td>0.498182</td>
    </tr>
    <tr>
      <td>2168.4712</td>
      <td>0.004215</td>
      <td>0.495169</td>
    </tr>
    <tr>
      <td>2172.8256</td>
      <td>-0.007388</td>
      <td>0.492153</td>
    </tr>
    <tr>
      <td>2177.1799</td>
      <td>-0.018937</td>
      <td>0.489141</td>
    </tr>
    <tr>
      <td>2181.5343</td>
      <td>-0.030428</td>
      <td>0.486145</td>
    </tr>
    <tr>
      <td>2185.8887</td>
      <td>-0.041978</td>
      <td>0.483141</td>
    </tr>
    <tr>
      <td>2190.2430</td>
      <td>-0.053461</td>
      <td>0.480153</td>
    </tr>
    <tr>
      <td>2194.5974</td>
      <td>-0.064934</td>
      <td>0.477168</td>
    </tr>
    <tr>
      <td>2198.9517</td>
      <td>-0.076393</td>
      <td>0.474183</td>
    </tr>
  </tbody>
</table>