<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2624.985</td>
      <td>0.105574</td>
      <td>0.525211</td>
    </tr>
    <tr>
      <td>2630.288</td>
      <td>0.093440</td>
      <td>0.522273</td>
    </tr>
    <tr>
      <td>2635.591</td>
      <td>0.081264</td>
      <td>0.519325</td>
    </tr>
    <tr>
      <td>2640.894</td>
      <td>0.069123</td>
      <td>0.516384</td>
    </tr>
    <tr>
      <td>2646.197</td>
      <td>0.057012</td>
      <td>0.513447</td>
    </tr>
    <tr>
      <td>2651.500</td>
      <td>0.044921</td>
      <td>0.510516</td>
    </tr>
    <tr>
      <td>2656.803</td>
      <td>0.032818</td>
      <td>0.507581</td>
    </tr>
    <tr>
      <td>2662.106</td>
      <td>0.020761</td>
      <td>0.504655</td>
    </tr>
    <tr>
      <td>2667.409</td>
      <td>0.008741</td>
      <td>0.501741</td>
    </tr>
    <tr>
      <td>2672.712</td>
      <td>-0.003264</td>
      <td>0.498827</td>
    </tr>
    <tr>
      <td>2678.015</td>
      <td>-0.015323</td>
      <td>0.495899</td>
    </tr>
  </tbody>
</table>