<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2271.7430</td>
      <td>0.000088</td>
      <td>0.521548</td>
    </tr>
    <tr>
      <td>2276.3324</td>
      <td>-0.012112</td>
      <td>0.518588</td>
    </tr>
    <tr>
      <td>2280.9218</td>
      <td>-0.024238</td>
      <td>0.515636</td>
    </tr>
    <tr>
      <td>2285.5112</td>
      <td>-0.036393</td>
      <td>0.512681</td>
    </tr>
    <tr>
      <td>2290.1006</td>
      <td>-0.048500</td>
      <td>0.509738</td>
    </tr>
    <tr>
      <td>2294.6899</td>
      <td>-0.060564</td>
      <td>0.506802</td>
    </tr>
    <tr>
      <td>2299.2793</td>
      <td>-0.072687</td>
      <td>0.503850</td>
    </tr>
    <tr>
      <td>2303.8687</td>
      <td>-0.084719</td>
      <td>0.500921</td>
    </tr>
    <tr>
      <td>2308.4581</td>
      <td>-0.096753</td>
      <td>0.497995</td>
    </tr>
    <tr>
      <td>2313.0475</td>
      <td>-0.108785</td>
      <td>0.495067</td>
    </tr>
    <tr>
      <td>2317.6368</td>
      <td>-0.120791</td>
      <td>0.492142</td>
    </tr>
  </tbody>
</table>