<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2391.6619</td>
      <td>0.055431</td>
      <td>0.518570</td>
    </tr>
    <tr>
      <td>2396.4935</td>
      <td>0.043153</td>
      <td>0.515589</td>
    </tr>
    <tr>
      <td>2401.3251</td>
      <td>0.030916</td>
      <td>0.512609</td>
    </tr>
    <tr>
      <td>2406.1568</td>
      <td>0.018670</td>
      <td>0.509630</td>
    </tr>
    <tr>
      <td>2410.9884</td>
      <td>0.006495</td>
      <td>0.506668</td>
    </tr>
    <tr>
      <td>2415.8201</td>
      <td>-0.005695</td>
      <td>0.503699</td>
    </tr>
    <tr>
      <td>2420.6517</td>
      <td>-0.017846</td>
      <td>0.500741</td>
    </tr>
    <tr>
      <td>2425.4833</td>
      <td>-0.029999</td>
      <td>0.497782</td>
    </tr>
    <tr>
      <td>2430.3150</td>
      <td>-0.042134</td>
      <td>0.494828</td>
    </tr>
    <tr>
      <td>2435.1466</td>
      <td>-0.054255</td>
      <td>0.491878</td>
    </tr>
    <tr>
      <td>2439.9783</td>
      <td>-0.066290</td>
      <td>0.488944</td>
    </tr>
  </tbody>
</table>