<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2603.4327</td>
      <td>0.125383</td>
      <td>0.528100</td>
    </tr>
    <tr>
      <td>2608.6921</td>
      <td>0.113195</td>
      <td>0.525000</td>
    </tr>
    <tr>
      <td>2613.9516</td>
      <td>0.100995</td>
      <td>0.521897</td>
    </tr>
    <tr>
      <td>2619.2111</td>
      <td>0.088830</td>
      <td>0.518802</td>
    </tr>
    <tr>
      <td>2624.4705</td>
      <td>0.076689</td>
      <td>0.515713</td>
    </tr>
    <tr>
      <td>2629.7300</td>
      <td>0.064543</td>
      <td>0.512619</td>
    </tr>
    <tr>
      <td>2634.9894</td>
      <td>0.052430</td>
      <td>0.509529</td>
    </tr>
    <tr>
      <td>2640.2489</td>
      <td>0.040340</td>
      <td>0.506445</td>
    </tr>
    <tr>
      <td>2645.5084</td>
      <td>0.028283</td>
      <td>0.503374</td>
    </tr>
    <tr>
      <td>2650.7678</td>
      <td>0.016198</td>
      <td>0.500295</td>
    </tr>
    <tr>
      <td>2656.0273</td>
      <td>0.004169</td>
      <td>0.497227</td>
    </tr>
  </tbody>
</table>