<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2158.5860</td>
      <td>0.075028</td>
      <td>0.489020</td>
    </tr>
    <tr>
      <td>2162.9468</td>
      <td>0.063425</td>
      <td>0.486010</td>
    </tr>
    <tr>
      <td>2167.3076</td>
      <td>0.051766</td>
      <td>0.482985</td>
    </tr>
    <tr>
      <td>2171.6683</td>
      <td>0.040184</td>
      <td>0.479984</td>
    </tr>
    <tr>
      <td>2176.0291</td>
      <td>0.028601</td>
      <td>0.476983</td>
    </tr>
    <tr>
      <td>2180.3899</td>
      <td>0.017047</td>
      <td>0.473987</td>
    </tr>
    <tr>
      <td>2184.7507</td>
      <td>0.005541</td>
      <td>0.471008</td>
    </tr>
    <tr>
      <td>2189.1115</td>
      <td>-0.005988</td>
      <td>0.468019</td>
    </tr>
    <tr>
      <td>2193.4722</td>
      <td>-0.017479</td>
      <td>0.465049</td>
    </tr>
    <tr>
      <td>2197.8330</td>
      <td>-0.028959</td>
      <td>0.462085</td>
    </tr>
    <tr>
      <td>2202.1938</td>
      <td>-0.040438</td>
      <td>0.459119</td>
    </tr>
  </tbody>
</table>