<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2812.2830</td>
      <td>0.070609</td>
      <td>0.524216</td>
    </tr>
    <tr>
      <td>2817.9644</td>
      <td>0.058425</td>
      <td>0.521117</td>
    </tr>
    <tr>
      <td>2823.6458</td>
      <td>0.046255</td>
      <td>0.518016</td>
    </tr>
    <tr>
      <td>2829.3272</td>
      <td>0.034098</td>
      <td>0.514919</td>
    </tr>
    <tr>
      <td>2835.0086</td>
      <td>0.021977</td>
      <td>0.511829</td>
    </tr>
    <tr>
      <td>2840.6899</td>
      <td>0.009869</td>
      <td>0.508741</td>
    </tr>
    <tr>
      <td>2846.3713</td>
      <td>-0.002225</td>
      <td>0.505660</td>
    </tr>
    <tr>
      <td>2852.0527</td>
      <td>-0.014343</td>
      <td>0.502570</td>
    </tr>
    <tr>
      <td>2857.7341</td>
      <td>-0.026391</td>
      <td>0.499497</td>
    </tr>
    <tr>
      <td>2863.4155</td>
      <td>-0.038434</td>
      <td>0.496427</td>
    </tr>
    <tr>
      <td>2869.0968</td>
      <td>-0.050417</td>
      <td>0.493369</td>
    </tr>
  </tbody>
</table>