<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2695.2354</td>
      <td>0.021833</td>
      <td>0.498761</td>
    </tr>
    <tr>
      <td>2700.6803</td>
      <td>0.009626</td>
      <td>0.495645</td>
    </tr>
    <tr>
      <td>2706.1252</td>
      <td>-0.002549</td>
      <td>0.492536</td>
    </tr>
    <tr>
      <td>2711.5701</td>
      <td>-0.014675</td>
      <td>0.489439</td>
    </tr>
    <tr>
      <td>2717.0150</td>
      <td>-0.026818</td>
      <td>0.486337</td>
    </tr>
    <tr>
      <td>2722.4600</td>
      <td>-0.038894</td>
      <td>0.483251</td>
    </tr>
    <tr>
      <td>2727.9049</td>
      <td>-0.050976</td>
      <td>0.480171</td>
    </tr>
    <tr>
      <td>2733.3498</td>
      <td>-0.063042</td>
      <td>0.477091</td>
    </tr>
    <tr>
      <td>2738.7947</td>
      <td>-0.075125</td>
      <td>0.474015</td>
    </tr>
    <tr>
      <td>2744.2396</td>
      <td>-0.087147</td>
      <td>0.470949</td>
    </tr>
    <tr>
      <td>2749.6846</td>
      <td>-0.099175</td>
      <td>0.467891</td>
    </tr>
  </tbody>
</table>