<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2179.7028</td>
      <td>0.159897</td>
      <td>0.524433</td>
    </tr>
    <tr>
      <td>2184.1062</td>
      <td>0.148251</td>
      <td>0.521406</td>
    </tr>
    <tr>
      <td>2188.5097</td>
      <td>0.136573</td>
      <td>0.518382</td>
    </tr>
    <tr>
      <td>2192.9131</td>
      <td>0.124921</td>
      <td>0.515360</td>
    </tr>
    <tr>
      <td>2197.3165</td>
      <td>0.113325</td>
      <td>0.512345</td>
    </tr>
    <tr>
      <td>2201.7200</td>
      <td>0.101733</td>
      <td>0.509331</td>
    </tr>
    <tr>
      <td>2206.1234</td>
      <td>0.090178</td>
      <td>0.506328</td>
    </tr>
    <tr>
      <td>2210.5269</td>
      <td>0.078573</td>
      <td>0.503318</td>
    </tr>
    <tr>
      <td>2214.9303</td>
      <td>0.067032</td>
      <td>0.500319</td>
    </tr>
    <tr>
      <td>2219.3337</td>
      <td>0.055506</td>
      <td>0.497323</td>
    </tr>
    <tr>
      <td>2223.7372</td>
      <td>0.044008</td>
      <td>0.494332</td>
    </tr>
  </tbody>
</table>