<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2304.9675</td>
      <td>0.065526</td>
      <td>0.516600</td>
    </tr>
    <tr>
      <td>2309.6240</td>
      <td>0.053345</td>
      <td>0.513646</td>
    </tr>
    <tr>
      <td>2314.2805</td>
      <td>0.041194</td>
      <td>0.510692</td>
    </tr>
    <tr>
      <td>2318.9370</td>
      <td>0.029020</td>
      <td>0.507738</td>
    </tr>
    <tr>
      <td>2323.5935</td>
      <td>0.016898</td>
      <td>0.504788</td>
    </tr>
    <tr>
      <td>2328.2500</td>
      <td>0.004804</td>
      <td>0.501847</td>
    </tr>
    <tr>
      <td>2332.9065</td>
      <td>-0.007285</td>
      <td>0.498907</td>
    </tr>
    <tr>
      <td>2337.5630</td>
      <td>-0.019388</td>
      <td>0.495968</td>
    </tr>
    <tr>
      <td>2342.2195</td>
      <td>-0.031439</td>
      <td>0.493038</td>
    </tr>
    <tr>
      <td>2346.8760</td>
      <td>-0.043481</td>
      <td>0.490112</td>
    </tr>
    <tr>
      <td>2351.5325</td>
      <td>-0.055507</td>
      <td>0.487191</td>
    </tr>
  </tbody>
</table>