<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2781.1179</td>
      <td>0.175920</td>
      <td>0.583176</td>
    </tr>
    <tr>
      <td>2786.7363</td>
      <td>0.163649</td>
      <td>0.580117</td>
    </tr>
    <tr>
      <td>2792.3547</td>
      <td>0.151376</td>
      <td>0.577049</td>
    </tr>
    <tr>
      <td>2797.9731</td>
      <td>0.139121</td>
      <td>0.573983</td>
    </tr>
    <tr>
      <td>2803.5915</td>
      <td>0.126890</td>
      <td>0.570915</td>
    </tr>
    <tr>
      <td>2809.2100</td>
      <td>0.114642</td>
      <td>0.567840</td>
    </tr>
    <tr>
      <td>2814.8284</td>
      <td>0.102449</td>
      <td>0.564770</td>
    </tr>
    <tr>
      <td>2820.4468</td>
      <td>0.090311</td>
      <td>0.561712</td>
    </tr>
    <tr>
      <td>2826.0652</td>
      <td>0.078144</td>
      <td>0.558642</td>
    </tr>
    <tr>
      <td>2831.6836</td>
      <td>0.065985</td>
      <td>0.555566</td>
    </tr>
    <tr>
      <td>2837.3021</td>
      <td>0.053880</td>
      <td>0.552501</td>
    </tr>
  </tbody>
</table>