<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2624.5594</td>
      <td>0.334902</td>
      <td>0.583750</td>
    </tr>
    <tr>
      <td>2629.8615</td>
      <td>0.322649</td>
      <td>0.580720</td>
    </tr>
    <tr>
      <td>2635.1636</td>
      <td>0.310380</td>
      <td>0.577684</td>
    </tr>
    <tr>
      <td>2640.4658</td>
      <td>0.298148</td>
      <td>0.574644</td>
    </tr>
    <tr>
      <td>2645.7679</td>
      <td>0.285916</td>
      <td>0.571609</td>
    </tr>
    <tr>
      <td>2651.0701</td>
      <td>0.273735</td>
      <td>0.568577</td>
    </tr>
    <tr>
      <td>2656.3722</td>
      <td>0.261572</td>
      <td>0.565541</td>
    </tr>
    <tr>
      <td>2661.6743</td>
      <td>0.249416</td>
      <td>0.562502</td>
    </tr>
    <tr>
      <td>2666.9765</td>
      <td>0.237280</td>
      <td>0.559466</td>
    </tr>
    <tr>
      <td>2672.2786</td>
      <td>0.225171</td>
      <td>0.556437</td>
    </tr>
    <tr>
      <td>2677.5808</td>
      <td>0.213052</td>
      <td>0.553393</td>
    </tr>
  </tbody>
</table>