<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2064.3281</td>
      <td>0.164152</td>
      <td>0.545419</td>
    </tr>
    <tr>
      <td>2068.4985</td>
      <td>0.152531</td>
      <td>0.542435</td>
    </tr>
    <tr>
      <td>2072.6689</td>
      <td>0.140939</td>
      <td>0.539451</td>
    </tr>
    <tr>
      <td>2076.8392</td>
      <td>0.129389</td>
      <td>0.536478</td>
    </tr>
    <tr>
      <td>2081.0096</td>
      <td>0.117808</td>
      <td>0.533492</td>
    </tr>
    <tr>
      <td>2085.1799</td>
      <td>0.106278</td>
      <td>0.530519</td>
    </tr>
    <tr>
      <td>2089.3503</td>
      <td>0.094786</td>
      <td>0.527554</td>
    </tr>
    <tr>
      <td>2093.5207</td>
      <td>0.083244</td>
      <td>0.524576</td>
    </tr>
    <tr>
      <td>2097.6910</td>
      <td>0.071775</td>
      <td>0.521609</td>
    </tr>
    <tr>
      <td>2101.8614</td>
      <td>0.060327</td>
      <td>0.518648</td>
    </tr>
    <tr>
      <td>2106.0317</td>
      <td>0.048901</td>
      <td>0.515687</td>
    </tr>
  </tbody>
</table>