<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2354.4675</td>
      <td>0.070528</td>
      <td>0.528612</td>
    </tr>
    <tr>
      <td>2359.2240</td>
      <td>0.058364</td>
      <td>0.525672</td>
    </tr>
    <tr>
      <td>2363.9805</td>
      <td>0.046212</td>
      <td>0.522728</td>
    </tr>
    <tr>
      <td>2368.7370</td>
      <td>0.034029</td>
      <td>0.519776</td>
    </tr>
    <tr>
      <td>2373.4935</td>
      <td>0.021902</td>
      <td>0.516836</td>
    </tr>
    <tr>
      <td>2378.2500</td>
      <td>0.009819</td>
      <td>0.513902</td>
    </tr>
    <tr>
      <td>2383.0065</td>
      <td>-0.002284</td>
      <td>0.510965</td>
    </tr>
    <tr>
      <td>2387.7630</td>
      <td>-0.014321</td>
      <td>0.508042</td>
    </tr>
    <tr>
      <td>2392.5195</td>
      <td>-0.026404</td>
      <td>0.505106</td>
    </tr>
    <tr>
      <td>2397.2760</td>
      <td>-0.038445</td>
      <td>0.502186</td>
    </tr>
    <tr>
      <td>2402.0325</td>
      <td>-0.050455</td>
      <td>0.499269</td>
    </tr>
  </tbody>
</table>