<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2573.9505</td>
      <td>0.338925</td>
      <td>0.604814</td>
    </tr>
    <tr>
      <td>2579.1504</td>
      <td>0.326597</td>
      <td>0.601794</td>
    </tr>
    <tr>
      <td>2584.3503</td>
      <td>0.314280</td>
      <td>0.598769</td>
    </tr>
    <tr>
      <td>2589.5502</td>
      <td>0.302021</td>
      <td>0.595754</td>
    </tr>
    <tr>
      <td>2594.7501</td>
      <td>0.289781</td>
      <td>0.592731</td>
    </tr>
    <tr>
      <td>2599.9500</td>
      <td>0.277539</td>
      <td>0.589703</td>
    </tr>
    <tr>
      <td>2605.1499</td>
      <td>0.265298</td>
      <td>0.586672</td>
    </tr>
    <tr>
      <td>2610.3498</td>
      <td>0.253099</td>
      <td>0.583642</td>
    </tr>
    <tr>
      <td>2615.5497</td>
      <td>0.240917</td>
      <td>0.580614</td>
    </tr>
    <tr>
      <td>2620.7496</td>
      <td>0.228749</td>
      <td>0.577575</td>
    </tr>
    <tr>
      <td>2625.9495</td>
      <td>0.216609</td>
      <td>0.574546</td>
    </tr>
  </tbody>
</table>