<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2170.0305</td>
      <td>0.082625</td>
      <td>0.522680</td>
    </tr>
    <tr>
      <td>2174.4144</td>
      <td>0.071006</td>
      <td>0.519674</td>
    </tr>
    <tr>
      <td>2178.7983</td>
      <td>0.059406</td>
      <td>0.516668</td>
    </tr>
    <tr>
      <td>2183.1822</td>
      <td>0.047892</td>
      <td>0.513678</td>
    </tr>
    <tr>
      <td>2187.5661</td>
      <td>0.036336</td>
      <td>0.510683</td>
    </tr>
    <tr>
      <td>2191.9500</td>
      <td>0.024822</td>
      <td>0.507694</td>
    </tr>
    <tr>
      <td>2196.3339</td>
      <td>0.013300</td>
      <td>0.504706</td>
    </tr>
    <tr>
      <td>2200.7178</td>
      <td>0.001802</td>
      <td>0.501722</td>
    </tr>
    <tr>
      <td>2205.1017</td>
      <td>-0.009679</td>
      <td>0.498742</td>
    </tr>
    <tr>
      <td>2209.4856</td>
      <td>-0.021106</td>
      <td>0.495772</td>
    </tr>
    <tr>
      <td>2213.8695</td>
      <td>-0.032575</td>
      <td>0.492796</td>
    </tr>
  </tbody>
</table>