<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2234.3904</td>
      <td>0.051346</td>
      <td>0.498480</td>
    </tr>
    <tr>
      <td>2238.9043</td>
      <td>0.039705</td>
      <td>0.495449</td>
    </tr>
    <tr>
      <td>2243.4182</td>
      <td>0.028064</td>
      <td>0.492414</td>
    </tr>
    <tr>
      <td>2247.9321</td>
      <td>0.016442</td>
      <td>0.489387</td>
    </tr>
    <tr>
      <td>2252.4460</td>
      <td>0.004848</td>
      <td>0.486366</td>
    </tr>
    <tr>
      <td>2256.9600</td>
      <td>-0.006728</td>
      <td>0.483348</td>
    </tr>
    <tr>
      <td>2261.4739</td>
      <td>-0.018262</td>
      <td>0.480349</td>
    </tr>
    <tr>
      <td>2265.9878</td>
      <td>-0.029824</td>
      <td>0.477338</td>
    </tr>
    <tr>
      <td>2270.5017</td>
      <td>-0.041334</td>
      <td>0.474344</td>
    </tr>
    <tr>
      <td>2275.0156</td>
      <td>-0.052858</td>
      <td>0.471354</td>
    </tr>
    <tr>
      <td>2279.5296</td>
      <td>-0.064331</td>
      <td>0.468370</td>
    </tr>
  </tbody>
</table>