<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2330.2422</td>
      <td>0.100577</td>
      <td>0.530523</td>
    </tr>
    <tr>
      <td>2334.9498</td>
      <td>0.088389</td>
      <td>0.527574</td>
    </tr>
    <tr>
      <td>2339.6573</td>
      <td>0.076259</td>
      <td>0.524635</td>
    </tr>
    <tr>
      <td>2344.3649</td>
      <td>0.064126</td>
      <td>0.521693</td>
    </tr>
    <tr>
      <td>2349.0725</td>
      <td>0.052003</td>
      <td>0.518756</td>
    </tr>
    <tr>
      <td>2353.7800</td>
      <td>0.039963</td>
      <td>0.515833</td>
    </tr>
    <tr>
      <td>2358.4876</td>
      <td>0.027870</td>
      <td>0.512898</td>
    </tr>
    <tr>
      <td>2363.1951</td>
      <td>0.015828</td>
      <td>0.509977</td>
    </tr>
    <tr>
      <td>2367.9027</td>
      <td>0.003794</td>
      <td>0.507052</td>
    </tr>
    <tr>
      <td>2372.6103</td>
      <td>-0.008221</td>
      <td>0.504138</td>
    </tr>
    <tr>
      <td>2377.3178</td>
      <td>-0.020228</td>
      <td>0.501219</td>
    </tr>
  </tbody>
</table>