<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2446.9334</td>
      <td>0.045466</td>
      <td>0.518001</td>
    </tr>
    <tr>
      <td>2451.8767</td>
      <td>0.033326</td>
      <td>0.515049</td>
    </tr>
    <tr>
      <td>2456.8200</td>
      <td>0.021156</td>
      <td>0.512099</td>
    </tr>
    <tr>
      <td>2461.7633</td>
      <td>0.009014</td>
      <td>0.509148</td>
    </tr>
    <tr>
      <td>2466.7066</td>
      <td>-0.003044</td>
      <td>0.506215</td>
    </tr>
    <tr>
      <td>2471.6499</td>
      <td>-0.015164</td>
      <td>0.503270</td>
    </tr>
    <tr>
      <td>2476.5932</td>
      <td>-0.027244</td>
      <td>0.500337</td>
    </tr>
    <tr>
      <td>2481.5365</td>
      <td>-0.039299</td>
      <td>0.497405</td>
    </tr>
    <tr>
      <td>2486.4798</td>
      <td>-0.051338</td>
      <td>0.494478</td>
    </tr>
    <tr>
      <td>2491.4231</td>
      <td>-0.063338</td>
      <td>0.491558</td>
    </tr>
    <tr>
      <td>2496.3664</td>
      <td>-0.075355</td>
      <td>0.488639</td>
    </tr>
  </tbody>
</table>