<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2111.6502</td>
      <td>0.159321</td>
      <td>0.538544</td>
    </tr>
    <tr>
      <td>2115.9161</td>
      <td>0.147692</td>
      <td>0.535548</td>
    </tr>
    <tr>
      <td>2120.1821</td>
      <td>0.136087</td>
      <td>0.532556</td>
    </tr>
    <tr>
      <td>2124.4481</td>
      <td>0.124465</td>
      <td>0.529563</td>
    </tr>
    <tr>
      <td>2128.7140</td>
      <td>0.112894</td>
      <td>0.526576</td>
    </tr>
    <tr>
      <td>2132.9800</td>
      <td>0.101330</td>
      <td>0.523591</td>
    </tr>
    <tr>
      <td>2137.2459</td>
      <td>0.089792</td>
      <td>0.520608</td>
    </tr>
    <tr>
      <td>2141.5119</td>
      <td>0.078245</td>
      <td>0.517623</td>
    </tr>
    <tr>
      <td>2145.7779</td>
      <td>0.066710</td>
      <td>0.514638</td>
    </tr>
    <tr>
      <td>2150.0438</td>
      <td>0.055258</td>
      <td>0.511670</td>
    </tr>
    <tr>
      <td>2154.3098</td>
      <td>0.043744</td>
      <td>0.508694</td>
    </tr>
  </tbody>
</table>