<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2176.8220</td>
      <td>0.119432</td>
      <td>0.520613</td>
    </tr>
    <tr>
      <td>2181.2196</td>
      <td>0.107775</td>
      <td>0.517598</td>
    </tr>
    <tr>
      <td>2185.6172</td>
      <td>0.096172</td>
      <td>0.514586</td>
    </tr>
    <tr>
      <td>2190.0148</td>
      <td>0.084615</td>
      <td>0.511584</td>
    </tr>
    <tr>
      <td>2194.4124</td>
      <td>0.073009</td>
      <td>0.508574</td>
    </tr>
    <tr>
      <td>2198.8101</td>
      <td>0.061449</td>
      <td>0.505574</td>
    </tr>
    <tr>
      <td>2203.2077</td>
      <td>0.049918</td>
      <td>0.502577</td>
    </tr>
    <tr>
      <td>2207.6053</td>
      <td>0.038394</td>
      <td>0.499587</td>
    </tr>
    <tr>
      <td>2212.0029</td>
      <td>0.026915</td>
      <td>0.496604</td>
    </tr>
    <tr>
      <td>2216.4005</td>
      <td>0.015423</td>
      <td>0.493621</td>
    </tr>
    <tr>
      <td>2220.7982</td>
      <td>0.003951</td>
      <td>0.490641</td>
    </tr>
  </tbody>
</table>