<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2341.7261</td>
      <td>0.003823</td>
      <td>0.500743</td>
    </tr>
    <tr>
      <td>2346.4568</td>
      <td>-0.008294</td>
      <td>0.497798</td>
    </tr>
    <tr>
      <td>2351.1876</td>
      <td>-0.020440</td>
      <td>0.494843</td>
    </tr>
    <tr>
      <td>2355.9184</td>
      <td>-0.032559</td>
      <td>0.491896</td>
    </tr>
    <tr>
      <td>2360.6491</td>
      <td>-0.044625</td>
      <td>0.488961</td>
    </tr>
    <tr>
      <td>2365.3799</td>
      <td>-0.056708</td>
      <td>0.486022</td>
    </tr>
    <tr>
      <td>2370.1106</td>
      <td>-0.068800</td>
      <td>0.483087</td>
    </tr>
    <tr>
      <td>2374.8414</td>
      <td>-0.080821</td>
      <td>0.480168</td>
    </tr>
    <tr>
      <td>2379.5722</td>
      <td>-0.092843</td>
      <td>0.477249</td>
    </tr>
    <tr>
      <td>2384.3029</td>
      <td>-0.104819</td>
      <td>0.474340</td>
    </tr>
    <tr>
      <td>2389.0337</td>
      <td>-0.116800</td>
      <td>0.471436</td>
    </tr>
  </tbody>
</table>