<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2423.3518</td>
      <td>0.100633</td>
      <td>0.533330</td>
    </tr>
    <tr>
      <td>2428.2474</td>
      <td>0.088443</td>
      <td>0.530377</td>
    </tr>
    <tr>
      <td>2433.1431</td>
      <td>0.076289</td>
      <td>0.527434</td>
    </tr>
    <tr>
      <td>2438.0388</td>
      <td>0.064107</td>
      <td>0.524484</td>
    </tr>
    <tr>
      <td>2442.9344</td>
      <td>0.051961</td>
      <td>0.521534</td>
    </tr>
    <tr>
      <td>2447.8301</td>
      <td>0.039815</td>
      <td>0.518588</td>
    </tr>
    <tr>
      <td>2452.7257</td>
      <td>0.027727</td>
      <td>0.515652</td>
    </tr>
    <tr>
      <td>2457.6214</td>
      <td>0.015657</td>
      <td>0.512720</td>
    </tr>
    <tr>
      <td>2462.5171</td>
      <td>0.003579</td>
      <td>0.509784</td>
    </tr>
    <tr>
      <td>2467.4127</td>
      <td>-0.008454</td>
      <td>0.506854</td>
    </tr>
    <tr>
      <td>2472.3084</td>
      <td>-0.020496</td>
      <td>0.503933</td>
    </tr>
  </tbody>
</table>