<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2503.8289</td>
      <td>0.096140</td>
      <td>0.518517</td>
    </tr>
    <tr>
      <td>2508.8872</td>
      <td>0.083952</td>
      <td>0.515557</td>
    </tr>
    <tr>
      <td>2513.9454</td>
      <td>0.071842</td>
      <td>0.512617</td>
    </tr>
    <tr>
      <td>2519.0036</td>
      <td>0.059680</td>
      <td>0.509662</td>
    </tr>
    <tr>
      <td>2524.0619</td>
      <td>0.047569</td>
      <td>0.506715</td>
    </tr>
    <tr>
      <td>2529.1201</td>
      <td>0.035494</td>
      <td>0.503779</td>
    </tr>
    <tr>
      <td>2534.1784</td>
      <td>0.023382</td>
      <td>0.500830</td>
    </tr>
    <tr>
      <td>2539.2366</td>
      <td>0.011322</td>
      <td>0.497904</td>
    </tr>
    <tr>
      <td>2544.2948</td>
      <td>-0.000700</td>
      <td>0.494975</td>
    </tr>
    <tr>
      <td>2549.3531</td>
      <td>-0.012742</td>
      <td>0.492049</td>
    </tr>
    <tr>
      <td>2554.4113</td>
      <td>-0.024745</td>
      <td>0.489129</td>
    </tr>
  </tbody>
</table>