<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2419.7976</td>
      <td>0.150584</td>
      <td>0.525562</td>
    </tr>
    <tr>
      <td>2424.6861</td>
      <td>0.138411</td>
      <td>0.522613</td>
    </tr>
    <tr>
      <td>2429.5746</td>
      <td>0.126227</td>
      <td>0.519661</td>
    </tr>
    <tr>
      <td>2434.4630</td>
      <td>0.114096</td>
      <td>0.516721</td>
    </tr>
    <tr>
      <td>2439.3515</td>
      <td>0.101964</td>
      <td>0.513774</td>
    </tr>
    <tr>
      <td>2444.2400</td>
      <td>0.089871</td>
      <td>0.510844</td>
    </tr>
    <tr>
      <td>2449.1285</td>
      <td>0.077803</td>
      <td>0.507912</td>
    </tr>
    <tr>
      <td>2454.0169</td>
      <td>0.065727</td>
      <td>0.504981</td>
    </tr>
    <tr>
      <td>2458.9054</td>
      <td>0.053687</td>
      <td>0.502059</td>
    </tr>
    <tr>
      <td>2463.7939</td>
      <td>0.041639</td>
      <td>0.499128</td>
    </tr>
    <tr>
      <td>2468.6824</td>
      <td>0.029681</td>
      <td>0.496224</td>
    </tr>
  </tbody>
</table>