<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2825.0443</td>
      <td>0.057343</td>
      <td>0.515218</td>
    </tr>
    <tr>
      <td>2830.7514</td>
      <td>0.045149</td>
      <td>0.512096</td>
    </tr>
    <tr>
      <td>2836.4586</td>
      <td>0.032923</td>
      <td>0.508973</td>
    </tr>
    <tr>
      <td>2842.1658</td>
      <td>0.020742</td>
      <td>0.505857</td>
    </tr>
    <tr>
      <td>2847.8729</td>
      <td>0.008569</td>
      <td>0.502745</td>
    </tr>
    <tr>
      <td>2853.5801</td>
      <td>-0.003607</td>
      <td>0.499633</td>
    </tr>
    <tr>
      <td>2859.2872</td>
      <td>-0.015699</td>
      <td>0.496540</td>
    </tr>
    <tr>
      <td>2864.9944</td>
      <td>-0.027847</td>
      <td>0.493435</td>
    </tr>
    <tr>
      <td>2870.7016</td>
      <td>-0.039922</td>
      <td>0.490350</td>
    </tr>
    <tr>
      <td>2876.4087</td>
      <td>-0.052010</td>
      <td>0.487259</td>
    </tr>
    <tr>
      <td>2882.1159</td>
      <td>-0.064051</td>
      <td>0.484182</td>
    </tr>
  </tbody>
</table>