<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2610.6102</td>
      <td>0.068043</td>
      <td>0.510531</td>
    </tr>
    <tr>
      <td>2615.8841</td>
      <td>0.055879</td>
      <td>0.507583</td>
    </tr>
    <tr>
      <td>2621.1581</td>
      <td>0.043778</td>
      <td>0.504647</td>
    </tr>
    <tr>
      <td>2626.4321</td>
      <td>0.031674</td>
      <td>0.501710</td>
    </tr>
    <tr>
      <td>2631.7060</td>
      <td>0.019617</td>
      <td>0.498786</td>
    </tr>
    <tr>
      <td>2636.9800</td>
      <td>0.007539</td>
      <td>0.495856</td>
    </tr>
    <tr>
      <td>2642.2539</td>
      <td>-0.004499</td>
      <td>0.492937</td>
    </tr>
    <tr>
      <td>2647.5279</td>
      <td>-0.016536</td>
      <td>0.490016</td>
    </tr>
    <tr>
      <td>2652.8019</td>
      <td>-0.028514</td>
      <td>0.487105</td>
    </tr>
    <tr>
      <td>2658.0758</td>
      <td>-0.040521</td>
      <td>0.484197</td>
    </tr>
    <tr>
      <td>2663.3498</td>
      <td>-0.052459</td>
      <td>0.481302</td>
    </tr>
  </tbody>
</table>