<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2621.1043</td>
      <td>0.049501</td>
      <td>0.510053</td>
    </tr>
    <tr>
      <td>2626.3994</td>
      <td>0.037338</td>
      <td>0.507098</td>
    </tr>
    <tr>
      <td>2631.6946</td>
      <td>0.025165</td>
      <td>0.504139</td>
    </tr>
    <tr>
      <td>2636.9898</td>
      <td>0.013030</td>
      <td>0.501185</td>
    </tr>
    <tr>
      <td>2642.2849</td>
      <td>0.000924</td>
      <td>0.498244</td>
    </tr>
    <tr>
      <td>2647.5801</td>
      <td>-0.011184</td>
      <td>0.495298</td>
    </tr>
    <tr>
      <td>2652.8752</td>
      <td>-0.023262</td>
      <td>0.492360</td>
    </tr>
    <tr>
      <td>2658.1704</td>
      <td>-0.035300</td>
      <td>0.489435</td>
    </tr>
    <tr>
      <td>2663.4656</td>
      <td>-0.047416</td>
      <td>0.486494</td>
    </tr>
    <tr>
      <td>2668.7607</td>
      <td>-0.059426</td>
      <td>0.483573</td>
    </tr>
    <tr>
      <td>2674.0559</td>
      <td>-0.071437</td>
      <td>0.480657</td>
    </tr>
  </tbody>
</table>