<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2436.8156</td>
      <td>0.117066</td>
      <td>0.525287</td>
    </tr>
    <tr>
      <td>2441.7385</td>
      <td>0.104909</td>
      <td>0.522349</td>
    </tr>
    <tr>
      <td>2446.6614</td>
      <td>0.092783</td>
      <td>0.519414</td>
    </tr>
    <tr>
      <td>2451.5842</td>
      <td>0.080575</td>
      <td>0.516461</td>
    </tr>
    <tr>
      <td>2456.5071</td>
      <td>0.068512</td>
      <td>0.513534</td>
    </tr>
    <tr>
      <td>2461.4299</td>
      <td>0.056388</td>
      <td>0.510602</td>
    </tr>
    <tr>
      <td>2466.3528</td>
      <td>0.044294</td>
      <td>0.507667</td>
    </tr>
    <tr>
      <td>2471.2757</td>
      <td>0.032249</td>
      <td>0.504750</td>
    </tr>
    <tr>
      <td>2476.1985</td>
      <td>0.020188</td>
      <td>0.501822</td>
    </tr>
    <tr>
      <td>2481.1214</td>
      <td>0.008134</td>
      <td>0.498902</td>
    </tr>
    <tr>
      <td>2486.0442</td>
      <td>-0.003851</td>
      <td>0.495997</td>
    </tr>
  </tbody>
</table>