<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2349.7353</td>
      <td>0.079691</td>
      <td>0.523562</td>
    </tr>
    <tr>
      <td>2354.4822</td>
      <td>0.067540</td>
      <td>0.520613</td>
    </tr>
    <tr>
      <td>2359.2292</td>
      <td>0.055419</td>
      <td>0.517671</td>
    </tr>
    <tr>
      <td>2363.9761</td>
      <td>0.043290</td>
      <td>0.514727</td>
    </tr>
    <tr>
      <td>2368.7230</td>
      <td>0.031198</td>
      <td>0.511786</td>
    </tr>
    <tr>
      <td>2373.4700</td>
      <td>0.019145</td>
      <td>0.508856</td>
    </tr>
    <tr>
      <td>2378.2169</td>
      <td>0.007056</td>
      <td>0.505919</td>
    </tr>
    <tr>
      <td>2382.9639</td>
      <td>-0.004992</td>
      <td>0.502990</td>
    </tr>
    <tr>
      <td>2387.7108</td>
      <td>-0.017014</td>
      <td>0.500068</td>
    </tr>
    <tr>
      <td>2392.4577</td>
      <td>-0.028987</td>
      <td>0.497152</td>
    </tr>
    <tr>
      <td>2397.2047</td>
      <td>-0.040972</td>
      <td>0.494241</td>
    </tr>
  </tbody>
</table>