<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2343.6667</td>
      <td>0.025681</td>
      <td>0.521755</td>
    </tr>
    <tr>
      <td>2348.4014</td>
      <td>0.013525</td>
      <td>0.518803</td>
    </tr>
    <tr>
      <td>2353.1360</td>
      <td>0.001416</td>
      <td>0.515865</td>
    </tr>
    <tr>
      <td>2357.8707</td>
      <td>-0.010713</td>
      <td>0.512918</td>
    </tr>
    <tr>
      <td>2362.6054</td>
      <td>-0.022802</td>
      <td>0.509982</td>
    </tr>
    <tr>
      <td>2367.3401</td>
      <td>-0.034927</td>
      <td>0.507032</td>
    </tr>
    <tr>
      <td>2372.0748</td>
      <td>-0.047011</td>
      <td>0.504097</td>
    </tr>
    <tr>
      <td>2376.8094</td>
      <td>-0.059025</td>
      <td>0.501175</td>
    </tr>
    <tr>
      <td>2381.5441</td>
      <td>-0.071045</td>
      <td>0.498248</td>
    </tr>
    <tr>
      <td>2386.2788</td>
      <td>-0.083059</td>
      <td>0.495328</td>
    </tr>
    <tr>
      <td>2391.0135</td>
      <td>-0.095054</td>
      <td>0.492411</td>
    </tr>
  </tbody>
</table>