<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2348.8741</td>
      <td>0.043914</td>
      <td>0.527679</td>
    </tr>
    <tr>
      <td>2353.6193</td>
      <td>0.031779</td>
      <td>0.524741</td>
    </tr>
    <tr>
      <td>2358.3645</td>
      <td>0.019638</td>
      <td>0.521802</td>
    </tr>
    <tr>
      <td>2363.1097</td>
      <td>0.007553</td>
      <td>0.518876</td>
    </tr>
    <tr>
      <td>2367.8549</td>
      <td>-0.004546</td>
      <td>0.515945</td>
    </tr>
    <tr>
      <td>2372.6001</td>
      <td>-0.016649</td>
      <td>0.513010</td>
    </tr>
    <tr>
      <td>2377.3453</td>
      <td>-0.028652</td>
      <td>0.510098</td>
    </tr>
    <tr>
      <td>2382.0905</td>
      <td>-0.040689</td>
      <td>0.507177</td>
    </tr>
    <tr>
      <td>2386.8357</td>
      <td>-0.052715</td>
      <td>0.504258</td>
    </tr>
    <tr>
      <td>2391.5809</td>
      <td>-0.064711</td>
      <td>0.501347</td>
    </tr>
    <tr>
      <td>2396.3261</td>
      <td>-0.076697</td>
      <td>0.498437</td>
    </tr>
  </tbody>
</table>