<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2408.2146</td>
      <td>0.155263</td>
      <td>0.538098</td>
    </tr>
    <tr>
      <td>2413.0797</td>
      <td>0.143049</td>
      <td>0.535154</td>
    </tr>
    <tr>
      <td>2417.9448</td>
      <td>0.130865</td>
      <td>0.532209</td>
    </tr>
    <tr>
      <td>2422.8099</td>
      <td>0.118711</td>
      <td>0.529272</td>
    </tr>
    <tr>
      <td>2427.6750</td>
      <td>0.106596</td>
      <td>0.526342</td>
    </tr>
    <tr>
      <td>2432.5400</td>
      <td>0.094454</td>
      <td>0.523405</td>
    </tr>
    <tr>
      <td>2437.4051</td>
      <td>0.082367</td>
      <td>0.520474</td>
    </tr>
    <tr>
      <td>2442.2702</td>
      <td>0.070277</td>
      <td>0.517548</td>
    </tr>
    <tr>
      <td>2447.1353</td>
      <td>0.058228</td>
      <td>0.514626</td>
    </tr>
    <tr>
      <td>2452.0004</td>
      <td>0.046172</td>
      <td>0.511703</td>
    </tr>
    <tr>
      <td>2456.8654</td>
      <td>0.034160</td>
      <td>0.508789</td>
    </tr>
  </tbody>
</table>