<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2190.1077</td>
      <td>0.108474</td>
      <td>0.520438</td>
    </tr>
    <tr>
      <td>2194.5321</td>
      <td>0.096841</td>
      <td>0.517423</td>
    </tr>
    <tr>
      <td>2198.9566</td>
      <td>0.085199</td>
      <td>0.514405</td>
    </tr>
    <tr>
      <td>2203.3811</td>
      <td>0.073621</td>
      <td>0.511398</td>
    </tr>
    <tr>
      <td>2207.8055</td>
      <td>0.062015</td>
      <td>0.508390</td>
    </tr>
    <tr>
      <td>2212.2300</td>
      <td>0.050430</td>
      <td>0.505387</td>
    </tr>
    <tr>
      <td>2216.6544</td>
      <td>0.038899</td>
      <td>0.502388</td>
    </tr>
    <tr>
      <td>2221.0789</td>
      <td>0.027351</td>
      <td>0.499397</td>
    </tr>
    <tr>
      <td>2225.5034</td>
      <td>0.015875</td>
      <td>0.496413</td>
    </tr>
    <tr>
      <td>2229.9278</td>
      <td>0.004359</td>
      <td>0.493420</td>
    </tr>
    <tr>
      <td>2234.3523</td>
      <td>-0.007110</td>
      <td>0.490442</td>
    </tr>
  </tbody>
</table>