<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2067.7733</td>
      <td>0.161941</td>
      <td>0.545251</td>
    </tr>
    <tr>
      <td>2071.9506</td>
      <td>0.150294</td>
      <td>0.542259</td>
    </tr>
    <tr>
      <td>2076.1280</td>
      <td>0.138722</td>
      <td>0.539282</td>
    </tr>
    <tr>
      <td>2080.3053</td>
      <td>0.127186</td>
      <td>0.536301</td>
    </tr>
    <tr>
      <td>2084.4826</td>
      <td>0.115653</td>
      <td>0.533324</td>
    </tr>
    <tr>
      <td>2088.6599</td>
      <td>0.104116</td>
      <td>0.530348</td>
    </tr>
    <tr>
      <td>2092.8372</td>
      <td>0.092576</td>
      <td>0.527366</td>
    </tr>
    <tr>
      <td>2097.0146</td>
      <td>0.081137</td>
      <td>0.524404</td>
    </tr>
    <tr>
      <td>2101.1919</td>
      <td>0.069633</td>
      <td>0.521428</td>
    </tr>
    <tr>
      <td>2105.3692</td>
      <td>0.058194</td>
      <td>0.518465</td>
    </tr>
    <tr>
      <td>2109.5465</td>
      <td>0.046738</td>
      <td>0.515496</td>
    </tr>
  </tbody>
</table>