<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2139.1623</td>
      <td>0.148731</td>
      <td>0.535809</td>
    </tr>
    <tr>
      <td>2143.4839</td>
      <td>0.137085</td>
      <td>0.532798</td>
    </tr>
    <tr>
      <td>2147.8054</td>
      <td>0.125472</td>
      <td>0.529801</td>
    </tr>
    <tr>
      <td>2152.1269</td>
      <td>0.113853</td>
      <td>0.526794</td>
    </tr>
    <tr>
      <td>2156.4485</td>
      <td>0.102269</td>
      <td>0.523792</td>
    </tr>
    <tr>
      <td>2160.7700</td>
      <td>0.090671</td>
      <td>0.520789</td>
    </tr>
    <tr>
      <td>2165.0916</td>
      <td>0.079105</td>
      <td>0.517794</td>
    </tr>
    <tr>
      <td>2169.4131</td>
      <td>0.067561</td>
      <td>0.514804</td>
    </tr>
    <tr>
      <td>2173.7346</td>
      <td>0.056040</td>
      <td>0.511816</td>
    </tr>
    <tr>
      <td>2178.0562</td>
      <td>0.044547</td>
      <td>0.508828</td>
    </tr>
    <tr>
      <td>2182.3777</td>
      <td>0.033032</td>
      <td>0.505847</td>
    </tr>
  </tbody>
</table>