<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2884.8402</td>
      <td>0.115273</td>
      <td>0.533112</td>
    </tr>
    <tr>
      <td>2890.6681</td>
      <td>0.103051</td>
      <td>0.530007</td>
    </tr>
    <tr>
      <td>2896.4961</td>
      <td>0.090862</td>
      <td>0.526904</td>
    </tr>
    <tr>
      <td>2902.3241</td>
      <td>0.078631</td>
      <td>0.523794</td>
    </tr>
    <tr>
      <td>2908.1520</td>
      <td>0.066486</td>
      <td>0.520696</td>
    </tr>
    <tr>
      <td>2913.9800</td>
      <td>0.054332</td>
      <td>0.517605</td>
    </tr>
    <tr>
      <td>2919.8079</td>
      <td>0.042205</td>
      <td>0.514510</td>
    </tr>
    <tr>
      <td>2925.6359</td>
      <td>0.030052</td>
      <td>0.511413</td>
    </tr>
    <tr>
      <td>2931.4639</td>
      <td>0.018003</td>
      <td>0.508336</td>
    </tr>
    <tr>
      <td>2937.2918</td>
      <td>0.005912</td>
      <td>0.505255</td>
    </tr>
    <tr>
      <td>2943.1198</td>
      <td>-0.006146</td>
      <td>0.502180</td>
    </tr>
  </tbody>
</table>