<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2248.0425</td>
      <td>0.050452</td>
      <td>0.524086</td>
    </tr>
    <tr>
      <td>2252.5840</td>
      <td>0.038308</td>
      <td>0.521144</td>
    </tr>
    <tr>
      <td>2257.1255</td>
      <td>0.026151</td>
      <td>0.518198</td>
    </tr>
    <tr>
      <td>2261.6670</td>
      <td>0.013982</td>
      <td>0.515253</td>
    </tr>
    <tr>
      <td>2266.2085</td>
      <td>0.001902</td>
      <td>0.512321</td>
    </tr>
    <tr>
      <td>2270.7500</td>
      <td>-0.010156</td>
      <td>0.509392</td>
    </tr>
    <tr>
      <td>2275.2915</td>
      <td>-0.022237</td>
      <td>0.506464</td>
    </tr>
    <tr>
      <td>2279.8330</td>
      <td>-0.034274</td>
      <td>0.503544</td>
    </tr>
    <tr>
      <td>2284.3745</td>
      <td>-0.046323</td>
      <td>0.500618</td>
    </tr>
    <tr>
      <td>2288.9160</td>
      <td>-0.058326</td>
      <td>0.497700</td>
    </tr>
    <tr>
      <td>2293.4575</td>
      <td>-0.070303</td>
      <td>0.494795</td>
    </tr>
  </tbody>
</table>