<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2390.9194</td>
      <td>-0.006809</td>
      <td>0.513970</td>
    </tr>
    <tr>
      <td>2395.7495</td>
      <td>-0.019045</td>
      <td>0.510987</td>
    </tr>
    <tr>
      <td>2400.5796</td>
      <td>-0.031229</td>
      <td>0.508018</td>
    </tr>
    <tr>
      <td>2405.4098</td>
      <td>-0.043437</td>
      <td>0.505037</td>
    </tr>
    <tr>
      <td>2410.2399</td>
      <td>-0.055584</td>
      <td>0.502077</td>
    </tr>
    <tr>
      <td>2415.0701</td>
      <td>-0.067741</td>
      <td>0.499112</td>
    </tr>
    <tr>
      <td>2419.9002</td>
      <td>-0.079870</td>
      <td>0.496153</td>
    </tr>
    <tr>
      <td>2424.7303</td>
      <td>-0.091981</td>
      <td>0.493199</td>
    </tr>
    <tr>
      <td>2429.5605</td>
      <td>-0.104074</td>
      <td>0.490251</td>
    </tr>
    <tr>
      <td>2434.3906</td>
      <td>-0.116165</td>
      <td>0.487306</td>
    </tr>
    <tr>
      <td>2439.2208</td>
      <td>-0.128198</td>
      <td>0.484370</td>
    </tr>
  </tbody>
</table>