<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2403.1556</td>
      <td>0.094320</td>
      <td>0.520058</td>
    </tr>
    <tr>
      <td>2408.0105</td>
      <td>0.082138</td>
      <td>0.517104</td>
    </tr>
    <tr>
      <td>2412.8654</td>
      <td>0.070027</td>
      <td>0.514169</td>
    </tr>
    <tr>
      <td>2417.7202</td>
      <td>0.057935</td>
      <td>0.511232</td>
    </tr>
    <tr>
      <td>2422.5751</td>
      <td>0.045853</td>
      <td>0.508297</td>
    </tr>
    <tr>
      <td>2427.4299</td>
      <td>0.033752</td>
      <td>0.505360</td>
    </tr>
    <tr>
      <td>2432.2848</td>
      <td>0.021711</td>
      <td>0.502433</td>
    </tr>
    <tr>
      <td>2437.1397</td>
      <td>0.009642</td>
      <td>0.499502</td>
    </tr>
    <tr>
      <td>2441.9945</td>
      <td>-0.002366</td>
      <td>0.496587</td>
    </tr>
    <tr>
      <td>2446.8494</td>
      <td>-0.014376</td>
      <td>0.493667</td>
    </tr>
    <tr>
      <td>2451.7042</td>
      <td>-0.026352</td>
      <td>0.490756</td>
    </tr>
  </tbody>
</table>