<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2344.7060</td>
      <td>0.142964</td>
      <td>0.531277</td>
    </tr>
    <tr>
      <td>2349.4428</td>
      <td>0.130799</td>
      <td>0.528339</td>
    </tr>
    <tr>
      <td>2354.1796</td>
      <td>0.118649</td>
      <td>0.525400</td>
    </tr>
    <tr>
      <td>2358.9163</td>
      <td>0.106476</td>
      <td>0.522451</td>
    </tr>
    <tr>
      <td>2363.6531</td>
      <td>0.094337</td>
      <td>0.519511</td>
    </tr>
    <tr>
      <td>2368.3899</td>
      <td>0.082269</td>
      <td>0.516589</td>
    </tr>
    <tr>
      <td>2373.1267</td>
      <td>0.070158</td>
      <td>0.513649</td>
    </tr>
    <tr>
      <td>2377.8635</td>
      <td>0.058082</td>
      <td>0.510722</td>
    </tr>
    <tr>
      <td>2382.6002</td>
      <td>0.046048</td>
      <td>0.507801</td>
    </tr>
    <tr>
      <td>2387.3370</td>
      <td>0.034030</td>
      <td>0.504882</td>
    </tr>
    <tr>
      <td>2392.0738</td>
      <td>0.022057</td>
      <td>0.501972</td>
    </tr>
  </tbody>
</table>