<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2471.5152</td>
      <td>0.115392</td>
      <td>0.526715</td>
    </tr>
    <tr>
      <td>2476.5081</td>
      <td>0.103212</td>
      <td>0.523757</td>
    </tr>
    <tr>
      <td>2481.5011</td>
      <td>0.091028</td>
      <td>0.520807</td>
    </tr>
    <tr>
      <td>2486.4941</td>
      <td>0.078860</td>
      <td>0.517854</td>
    </tr>
    <tr>
      <td>2491.4870</td>
      <td>0.066704</td>
      <td>0.514904</td>
    </tr>
    <tr>
      <td>2496.4800</td>
      <td>0.054569</td>
      <td>0.511958</td>
    </tr>
    <tr>
      <td>2501.4729</td>
      <td>0.042445</td>
      <td>0.509015</td>
    </tr>
    <tr>
      <td>2506.4659</td>
      <td>0.030386</td>
      <td>0.506085</td>
    </tr>
    <tr>
      <td>2511.4589</td>
      <td>0.018314</td>
      <td>0.503148</td>
    </tr>
    <tr>
      <td>2516.4518</td>
      <td>0.006251</td>
      <td>0.500216</td>
    </tr>
    <tr>
      <td>2521.4448</td>
      <td>-0.005777</td>
      <td>0.497294</td>
    </tr>
  </tbody>
</table>