<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2322.5004</td>
      <td>0.135377</td>
      <td>0.539997</td>
    </tr>
    <tr>
      <td>2327.1923</td>
      <td>0.123252</td>
      <td>0.537080</td>
    </tr>
    <tr>
      <td>2331.8842</td>
      <td>0.111099</td>
      <td>0.534147</td>
    </tr>
    <tr>
      <td>2336.5761</td>
      <td>0.098990</td>
      <td>0.531223</td>
    </tr>
    <tr>
      <td>2341.2680</td>
      <td>0.086911</td>
      <td>0.528307</td>
    </tr>
    <tr>
      <td>2345.9600</td>
      <td>0.074824</td>
      <td>0.525386</td>
    </tr>
    <tr>
      <td>2350.6519</td>
      <td>0.062790</td>
      <td>0.522480</td>
    </tr>
    <tr>
      <td>2355.3438</td>
      <td>0.050757</td>
      <td>0.519562</td>
    </tr>
    <tr>
      <td>2360.0357</td>
      <td>0.038751</td>
      <td>0.516660</td>
    </tr>
    <tr>
      <td>2364.7276</td>
      <td>0.026765</td>
      <td>0.513758</td>
    </tr>
    <tr>
      <td>2369.4196</td>
      <td>0.014784</td>
      <td>0.510851</td>
    </tr>
  </tbody>
</table>