<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2132.2026</td>
      <td>0.085832</td>
      <td>0.525163</td>
    </tr>
    <tr>
      <td>2136.5101</td>
      <td>0.074157</td>
      <td>0.522147</td>
    </tr>
    <tr>
      <td>2140.8176</td>
      <td>0.062518</td>
      <td>0.519134</td>
    </tr>
    <tr>
      <td>2145.1250</td>
      <td>0.050973</td>
      <td>0.516134</td>
    </tr>
    <tr>
      <td>2149.4325</td>
      <td>0.039356</td>
      <td>0.513127</td>
    </tr>
    <tr>
      <td>2153.7400</td>
      <td>0.027807</td>
      <td>0.510130</td>
    </tr>
    <tr>
      <td>2158.0475</td>
      <td>0.016221</td>
      <td>0.507131</td>
    </tr>
    <tr>
      <td>2162.3549</td>
      <td>0.004715</td>
      <td>0.504141</td>
    </tr>
    <tr>
      <td>2166.6624</td>
      <td>-0.006768</td>
      <td>0.501164</td>
    </tr>
    <tr>
      <td>2170.9699</td>
      <td>-0.018294</td>
      <td>0.498170</td>
    </tr>
    <tr>
      <td>2175.2774</td>
      <td>-0.029723</td>
      <td>0.495203</td>
    </tr>
  </tbody>
</table>