<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2433.0142</td>
      <td>0.090062</td>
      <td>0.522614</td>
    </tr>
    <tr>
      <td>2437.9294</td>
      <td>0.077887</td>
      <td>0.519658</td>
    </tr>
    <tr>
      <td>2442.8445</td>
      <td>0.065762</td>
      <td>0.516720</td>
    </tr>
    <tr>
      <td>2447.7597</td>
      <td>0.053612</td>
      <td>0.513767</td>
    </tr>
    <tr>
      <td>2452.6749</td>
      <td>0.041496</td>
      <td>0.510828</td>
    </tr>
    <tr>
      <td>2457.5901</td>
      <td>0.029417</td>
      <td>0.507895</td>
    </tr>
    <tr>
      <td>2462.5053</td>
      <td>0.017369</td>
      <td>0.504971</td>
    </tr>
    <tr>
      <td>2467.4204</td>
      <td>0.005310</td>
      <td>0.502041</td>
    </tr>
    <tr>
      <td>2472.3356</td>
      <td>-0.006723</td>
      <td>0.499121</td>
    </tr>
    <tr>
      <td>2477.2508</td>
      <td>-0.018733</td>
      <td>0.496200</td>
    </tr>
    <tr>
      <td>2482.1660</td>
      <td>-0.030754</td>
      <td>0.493277</td>
    </tr>
  </tbody>
</table>