<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2395.5030</td>
      <td>0.158613</td>
      <td>0.545280</td>
    </tr>
    <tr>
      <td>2400.3424</td>
      <td>0.146442</td>
      <td>0.542352</td>
    </tr>
    <tr>
      <td>2405.1818</td>
      <td>0.134247</td>
      <td>0.539411</td>
    </tr>
    <tr>
      <td>2410.0212</td>
      <td>0.122086</td>
      <td>0.536479</td>
    </tr>
    <tr>
      <td>2414.8606</td>
      <td>0.109945</td>
      <td>0.533544</td>
    </tr>
    <tr>
      <td>2419.7000</td>
      <td>0.097808</td>
      <td>0.530614</td>
    </tr>
    <tr>
      <td>2424.5394</td>
      <td>0.085725</td>
      <td>0.527691</td>
    </tr>
    <tr>
      <td>2429.3788</td>
      <td>0.073630</td>
      <td>0.524763</td>
    </tr>
    <tr>
      <td>2434.2182</td>
      <td>0.061593</td>
      <td>0.521845</td>
    </tr>
    <tr>
      <td>2439.0576</td>
      <td>0.049540</td>
      <td>0.518925</td>
    </tr>
    <tr>
      <td>2443.8970</td>
      <td>0.037526</td>
      <td>0.516013</td>
    </tr>
  </tbody>
</table>