<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2242.5281</td>
      <td>0.170998</td>
      <td>0.537073</td>
    </tr>
    <tr>
      <td>2247.0585</td>
      <td>0.159318</td>
      <td>0.534057</td>
    </tr>
    <tr>
      <td>2251.5889</td>
      <td>0.147636</td>
      <td>0.531039</td>
    </tr>
    <tr>
      <td>2256.1192</td>
      <td>0.136042</td>
      <td>0.528038</td>
    </tr>
    <tr>
      <td>2260.6496</td>
      <td>0.124414</td>
      <td>0.525027</td>
    </tr>
    <tr>
      <td>2265.1799</td>
      <td>0.112819</td>
      <td>0.522023</td>
    </tr>
    <tr>
      <td>2269.7103</td>
      <td>0.101229</td>
      <td>0.519019</td>
    </tr>
    <tr>
      <td>2274.2407</td>
      <td>0.089655</td>
      <td>0.516020</td>
    </tr>
    <tr>
      <td>2278.7710</td>
      <td>0.078130</td>
      <td>0.513026</td>
    </tr>
    <tr>
      <td>2283.3014</td>
      <td>0.066597</td>
      <td>0.510037</td>
    </tr>
    <tr>
      <td>2287.8317</td>
      <td>0.055077</td>
      <td>0.507040</td>
    </tr>
  </tbody>
</table>