<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2333.9151</td>
      <td>0.061388</td>
      <td>0.522665</td>
    </tr>
    <tr>
      <td>2338.6301</td>
      <td>0.049248</td>
      <td>0.519724</td>
    </tr>
    <tr>
      <td>2343.3451</td>
      <td>0.037130</td>
      <td>0.516788</td>
    </tr>
    <tr>
      <td>2348.0600</td>
      <td>0.025017</td>
      <td>0.513851</td>
    </tr>
    <tr>
      <td>2352.7750</td>
      <td>0.012900</td>
      <td>0.510913</td>
    </tr>
    <tr>
      <td>2357.4900</td>
      <td>0.000845</td>
      <td>0.507985</td>
    </tr>
    <tr>
      <td>2362.2050</td>
      <td>-0.011197</td>
      <td>0.505065</td>
    </tr>
    <tr>
      <td>2366.9199</td>
      <td>-0.023229</td>
      <td>0.502145</td>
    </tr>
    <tr>
      <td>2371.6349</td>
      <td>-0.035220</td>
      <td>0.499231</td>
    </tr>
    <tr>
      <td>2376.3499</td>
      <td>-0.047233</td>
      <td>0.496321</td>
    </tr>
    <tr>
      <td>2381.0649</td>
      <td>-0.059197</td>
      <td>0.493414</td>
    </tr>
  </tbody>
</table>