<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2481.8904</td>
      <td>0.338881</td>
      <td>0.566211</td>
    </tr>
    <tr>
      <td>2486.9043</td>
      <td>0.326670</td>
      <td>0.563161</td>
    </tr>
    <tr>
      <td>2491.9182</td>
      <td>0.314470</td>
      <td>0.560107</td>
    </tr>
    <tr>
      <td>2496.9321</td>
      <td>0.302287</td>
      <td>0.557054</td>
    </tr>
    <tr>
      <td>2501.9460</td>
      <td>0.290165</td>
      <td>0.554015</td>
    </tr>
    <tr>
      <td>2506.9600</td>
      <td>0.278010</td>
      <td>0.550961</td>
    </tr>
    <tr>
      <td>2511.9739</td>
      <td>0.265885</td>
      <td>0.547914</td>
    </tr>
    <tr>
      <td>2516.9878</td>
      <td>0.253819</td>
      <td>0.544870</td>
    </tr>
    <tr>
      <td>2522.0017</td>
      <td>0.241721</td>
      <td>0.541825</td>
    </tr>
    <tr>
      <td>2527.0156</td>
      <td>0.229659</td>
      <td>0.538782</td>
    </tr>
    <tr>
      <td>2532.0296</td>
      <td>0.217644</td>
      <td>0.535743</td>
    </tr>
  </tbody>
</table>