<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2341.2214</td>
      <td>0.133048</td>
      <td>0.539355</td>
    </tr>
    <tr>
      <td>2345.9512</td>
      <td>0.120899</td>
      <td>0.536427</td>
    </tr>
    <tr>
      <td>2350.6809</td>
      <td>0.108748</td>
      <td>0.533496</td>
    </tr>
    <tr>
      <td>2355.4106</td>
      <td>0.096643</td>
      <td>0.530569</td>
    </tr>
    <tr>
      <td>2360.1404</td>
      <td>0.084514</td>
      <td>0.527640</td>
    </tr>
    <tr>
      <td>2364.8701</td>
      <td>0.072457</td>
      <td>0.524723</td>
    </tr>
    <tr>
      <td>2369.5999</td>
      <td>0.060367</td>
      <td>0.521797</td>
    </tr>
    <tr>
      <td>2374.3296</td>
      <td>0.048300</td>
      <td>0.518880</td>
    </tr>
    <tr>
      <td>2379.0593</td>
      <td>0.036299</td>
      <td>0.515969</td>
    </tr>
    <tr>
      <td>2383.7891</td>
      <td>0.024266</td>
      <td>0.513050</td>
    </tr>
    <tr>
      <td>2388.5188</td>
      <td>0.012294</td>
      <td>0.510150</td>
    </tr>
  </tbody>
</table>