<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2336.5583</td>
      <td>0.059538</td>
      <td>0.513679</td>
    </tr>
    <tr>
      <td>2341.2786</td>
      <td>0.047407</td>
      <td>0.510731</td>
    </tr>
    <tr>
      <td>2345.9990</td>
      <td>0.035274</td>
      <td>0.507786</td>
    </tr>
    <tr>
      <td>2350.7193</td>
      <td>0.023163</td>
      <td>0.504847</td>
    </tr>
    <tr>
      <td>2355.4396</td>
      <td>0.011078</td>
      <td>0.501911</td>
    </tr>
    <tr>
      <td>2360.1599</td>
      <td>-0.000991</td>
      <td>0.498981</td>
    </tr>
    <tr>
      <td>2364.8802</td>
      <td>-0.013048</td>
      <td>0.496046</td>
    </tr>
    <tr>
      <td>2369.6006</td>
      <td>-0.025077</td>
      <td>0.493126</td>
    </tr>
    <tr>
      <td>2374.3209</td>
      <td>-0.037068</td>
      <td>0.490213</td>
    </tr>
    <tr>
      <td>2379.0412</td>
      <td>-0.049048</td>
      <td>0.487302</td>
    </tr>
    <tr>
      <td>2383.7615</td>
      <td>-0.061029</td>
      <td>0.484391</td>
    </tr>
  </tbody>
</table>