<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2441.1817</td>
      <td>0.093807</td>
      <td>0.515274</td>
    </tr>
    <tr>
      <td>2446.1134</td>
      <td>0.081698</td>
      <td>0.512338</td>
    </tr>
    <tr>
      <td>2451.0450</td>
      <td>0.069601</td>
      <td>0.509409</td>
    </tr>
    <tr>
      <td>2455.9767</td>
      <td>0.057526</td>
      <td>0.506482</td>
    </tr>
    <tr>
      <td>2460.9084</td>
      <td>0.045476</td>
      <td>0.503559</td>
    </tr>
    <tr>
      <td>2465.8401</td>
      <td>0.033424</td>
      <td>0.500637</td>
    </tr>
    <tr>
      <td>2470.7718</td>
      <td>0.021437</td>
      <td>0.497723</td>
    </tr>
    <tr>
      <td>2475.7034</td>
      <td>0.009425</td>
      <td>0.494813</td>
    </tr>
    <tr>
      <td>2480.6351</td>
      <td>-0.002542</td>
      <td>0.491910</td>
    </tr>
    <tr>
      <td>2485.5668</td>
      <td>-0.014459</td>
      <td>0.489020</td>
    </tr>
    <tr>
      <td>2490.4985</td>
      <td>-0.026421</td>
      <td>0.486122</td>
    </tr>
  </tbody>
</table>