<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2855.5856</td>
      <td>0.135649</td>
      <td>0.522635</td>
    </tr>
    <tr>
      <td>2861.3545</td>
      <td>0.123486</td>
      <td>0.519537</td>
    </tr>
    <tr>
      <td>2867.1234</td>
      <td>0.111343</td>
      <td>0.516438</td>
    </tr>
    <tr>
      <td>2872.8922</td>
      <td>0.099205</td>
      <td>0.513341</td>
    </tr>
    <tr>
      <td>2878.6611</td>
      <td>0.087085</td>
      <td>0.510252</td>
    </tr>
    <tr>
      <td>2884.4299</td>
      <td>0.075002</td>
      <td>0.507170</td>
    </tr>
    <tr>
      <td>2890.1988</td>
      <td>0.062892</td>
      <td>0.504079</td>
    </tr>
    <tr>
      <td>2895.9677</td>
      <td>0.050872</td>
      <td>0.501011</td>
    </tr>
    <tr>
      <td>2901.7365</td>
      <td>0.038815</td>
      <td>0.497937</td>
    </tr>
    <tr>
      <td>2907.5054</td>
      <td>0.026787</td>
      <td>0.494866</td>
    </tr>
    <tr>
      <td>2913.2742</td>
      <td>0.014807</td>
      <td>0.491810</td>
    </tr>
  </tbody>
</table>