<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2851.5367</td>
      <td>0.192916</td>
      <td>0.537391</td>
    </tr>
    <tr>
      <td>2857.2974</td>
      <td>0.180698</td>
      <td>0.534296</td>
    </tr>
    <tr>
      <td>2863.0580</td>
      <td>0.168494</td>
      <td>0.531200</td>
    </tr>
    <tr>
      <td>2868.8187</td>
      <td>0.156290</td>
      <td>0.528101</td>
    </tr>
    <tr>
      <td>2874.5794</td>
      <td>0.144175</td>
      <td>0.525022</td>
    </tr>
    <tr>
      <td>2880.3401</td>
      <td>0.132013</td>
      <td>0.521929</td>
    </tr>
    <tr>
      <td>2886.1008</td>
      <td>0.119883</td>
      <td>0.518839</td>
    </tr>
    <tr>
      <td>2891.8614</td>
      <td>0.107790</td>
      <td>0.515765</td>
    </tr>
    <tr>
      <td>2897.6221</td>
      <td>0.095726</td>
      <td>0.512693</td>
    </tr>
    <tr>
      <td>2903.3828</td>
      <td>0.083619</td>
      <td>0.509609</td>
    </tr>
    <tr>
      <td>2909.1435</td>
      <td>0.071601</td>
      <td>0.506548</td>
    </tr>
  </tbody>
</table>