<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2494.1665</td>
      <td>0.056418</td>
      <td>0.523460</td>
    </tr>
    <tr>
      <td>2499.2052</td>
      <td>0.044274</td>
      <td>0.520513</td>
    </tr>
    <tr>
      <td>2504.2439</td>
      <td>0.032122</td>
      <td>0.517566</td>
    </tr>
    <tr>
      <td>2509.2827</td>
      <td>0.020005</td>
      <td>0.514623</td>
    </tr>
    <tr>
      <td>2514.3214</td>
      <td>0.007844</td>
      <td>0.511676</td>
    </tr>
    <tr>
      <td>2519.3601</td>
      <td>-0.004207</td>
      <td>0.508742</td>
    </tr>
    <tr>
      <td>2524.3988</td>
      <td>-0.016311</td>
      <td>0.505803</td>
    </tr>
    <tr>
      <td>2529.4375</td>
      <td>-0.028344</td>
      <td>0.502878</td>
    </tr>
    <tr>
      <td>2534.4763</td>
      <td>-0.040377</td>
      <td>0.499958</td>
    </tr>
    <tr>
      <td>2539.5150</td>
      <td>-0.052403</td>
      <td>0.497035</td>
    </tr>
    <tr>
      <td>2544.5537</td>
      <td>-0.064401</td>
      <td>0.494116</td>
    </tr>
  </tbody>
</table>