<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2226.7674</td>
      <td>0.115369</td>
      <td>0.528994</td>
    </tr>
    <tr>
      <td>2231.2659</td>
      <td>0.103726</td>
      <td>0.525981</td>
    </tr>
    <tr>
      <td>2235.7644</td>
      <td>0.092156</td>
      <td>0.522988</td>
    </tr>
    <tr>
      <td>2240.2630</td>
      <td>0.080581</td>
      <td>0.519985</td>
    </tr>
    <tr>
      <td>2244.7615</td>
      <td>0.069028</td>
      <td>0.516992</td>
    </tr>
    <tr>
      <td>2249.2600</td>
      <td>0.057494</td>
      <td>0.513998</td>
    </tr>
    <tr>
      <td>2253.7585</td>
      <td>0.045982</td>
      <td>0.511012</td>
    </tr>
    <tr>
      <td>2258.2571</td>
      <td>0.034491</td>
      <td>0.508031</td>
    </tr>
    <tr>
      <td>2262.7556</td>
      <td>0.022987</td>
      <td>0.505046</td>
    </tr>
    <tr>
      <td>2267.2541</td>
      <td>0.011553</td>
      <td>0.502075</td>
    </tr>
    <tr>
      <td>2271.7526</td>
      <td>0.000101</td>
      <td>0.499098</td>
    </tr>
  </tbody>
</table>