<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2401.2945</td>
      <td>0.082063</td>
      <td>0.530530</td>
    </tr>
    <tr>
      <td>2406.1456</td>
      <td>0.069959</td>
      <td>0.527601</td>
    </tr>
    <tr>
      <td>2410.9967</td>
      <td>0.057878</td>
      <td>0.524670</td>
    </tr>
    <tr>
      <td>2415.8478</td>
      <td>0.045787</td>
      <td>0.521743</td>
    </tr>
    <tr>
      <td>2420.6989</td>
      <td>0.033729</td>
      <td>0.518816</td>
    </tr>
    <tr>
      <td>2425.5500</td>
      <td>0.021713</td>
      <td>0.515895</td>
    </tr>
    <tr>
      <td>2430.4011</td>
      <td>0.009660</td>
      <td>0.512974</td>
    </tr>
    <tr>
      <td>2435.2522</td>
      <td>-0.002290</td>
      <td>0.510070</td>
    </tr>
    <tr>
      <td>2440.1033</td>
      <td>-0.014272</td>
      <td>0.507156</td>
    </tr>
    <tr>
      <td>2444.9544</td>
      <td>-0.026246</td>
      <td>0.504250</td>
    </tr>
    <tr>
      <td>2449.8055</td>
      <td>-0.038175</td>
      <td>0.501347</td>
    </tr>
  </tbody>
</table>