<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2245.2110</td>
      <td>0.109956</td>
      <td>0.535475</td>
    </tr>
    <tr>
      <td>2249.7468</td>
      <td>0.097736</td>
      <td>0.532521</td>
    </tr>
    <tr>
      <td>2254.2826</td>
      <td>0.085615</td>
      <td>0.529586</td>
    </tr>
    <tr>
      <td>2258.8183</td>
      <td>0.073461</td>
      <td>0.526648</td>
    </tr>
    <tr>
      <td>2263.3541</td>
      <td>0.061399</td>
      <td>0.523721</td>
    </tr>
    <tr>
      <td>2267.8899</td>
      <td>0.049277</td>
      <td>0.520782</td>
    </tr>
    <tr>
      <td>2272.4257</td>
      <td>0.037171</td>
      <td>0.517847</td>
    </tr>
    <tr>
      <td>2276.9615</td>
      <td>0.025123</td>
      <td>0.514919</td>
    </tr>
    <tr>
      <td>2281.4972</td>
      <td>0.013086</td>
      <td>0.512001</td>
    </tr>
    <tr>
      <td>2286.0330</td>
      <td>0.001054</td>
      <td>0.509078</td>
    </tr>
    <tr>
      <td>2290.5688</td>
      <td>-0.010935</td>
      <td>0.506161</td>
    </tr>
  </tbody>
</table>