<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2872.5048</td>
      <td>0.051948</td>
      <td>0.513745</td>
    </tr>
    <tr>
      <td>2878.3079</td>
      <td>0.039694</td>
      <td>0.510613</td>
    </tr>
    <tr>
      <td>2884.1109</td>
      <td>0.027532</td>
      <td>0.507507</td>
    </tr>
    <tr>
      <td>2889.9139</td>
      <td>0.015344</td>
      <td>0.504392</td>
    </tr>
    <tr>
      <td>2895.7170</td>
      <td>0.003179</td>
      <td>0.501280</td>
    </tr>
    <tr>
      <td>2901.5200</td>
      <td>-0.008967</td>
      <td>0.498179</td>
    </tr>
    <tr>
      <td>2907.3231</td>
      <td>-0.021110</td>
      <td>0.495076</td>
    </tr>
    <tr>
      <td>2913.1261</td>
      <td>-0.033204</td>
      <td>0.491985</td>
    </tr>
    <tr>
      <td>2918.9291</td>
      <td>-0.045300</td>
      <td>0.488895</td>
    </tr>
    <tr>
      <td>2924.7322</td>
      <td>-0.057348</td>
      <td>0.485815</td>
    </tr>
    <tr>
      <td>2930.5352</td>
      <td>-0.069439</td>
      <td>0.482734</td>
    </tr>
  </tbody>
</table>