<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2366.9909</td>
      <td>0.076943</td>
      <td>0.527614</td>
    </tr>
    <tr>
      <td>2371.7727</td>
      <td>0.064781</td>
      <td>0.524670</td>
    </tr>
    <tr>
      <td>2376.5545</td>
      <td>0.052666</td>
      <td>0.521739</td>
    </tr>
    <tr>
      <td>2381.3363</td>
      <td>0.040510</td>
      <td>0.518793</td>
    </tr>
    <tr>
      <td>2386.1181</td>
      <td>0.028405</td>
      <td>0.515857</td>
    </tr>
    <tr>
      <td>2390.8999</td>
      <td>0.016337</td>
      <td>0.512930</td>
    </tr>
    <tr>
      <td>2395.6817</td>
      <td>0.004294</td>
      <td>0.510006</td>
    </tr>
    <tr>
      <td>2400.4635</td>
      <td>-0.007755</td>
      <td>0.507082</td>
    </tr>
    <tr>
      <td>2405.2453</td>
      <td>-0.019798</td>
      <td>0.504155</td>
    </tr>
    <tr>
      <td>2410.0271</td>
      <td>-0.031799</td>
      <td>0.501244</td>
    </tr>
    <tr>
      <td>2414.8089</td>
      <td>-0.043815</td>
      <td>0.498325</td>
    </tr>
  </tbody>
</table>