<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2633.3901</td>
      <td>0.107488</td>
      <td>0.518922</td>
    </tr>
    <tr>
      <td>2638.7101</td>
      <td>0.095306</td>
      <td>0.515968</td>
    </tr>
    <tr>
      <td>2644.0301</td>
      <td>0.083136</td>
      <td>0.513015</td>
    </tr>
    <tr>
      <td>2649.3500</td>
      <td>0.071037</td>
      <td>0.510072</td>
    </tr>
    <tr>
      <td>2654.6700</td>
      <td>0.058882</td>
      <td>0.507124</td>
    </tr>
    <tr>
      <td>2659.9900</td>
      <td>0.046793</td>
      <td>0.504186</td>
    </tr>
    <tr>
      <td>2665.3100</td>
      <td>0.034702</td>
      <td>0.501250</td>
    </tr>
    <tr>
      <td>2670.6299</td>
      <td>0.022623</td>
      <td>0.498313</td>
    </tr>
    <tr>
      <td>2675.9499</td>
      <td>0.010589</td>
      <td>0.495389</td>
    </tr>
    <tr>
      <td>2681.2699</td>
      <td>-0.001468</td>
      <td>0.492460</td>
    </tr>
    <tr>
      <td>2686.5899</td>
      <td>-0.013449</td>
      <td>0.489552</td>
    </tr>
  </tbody>
</table>