<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2833.2019</td>
      <td>0.121118</td>
      <td>0.531241</td>
    </tr>
    <tr>
      <td>2838.9255</td>
      <td>0.108873</td>
      <td>0.528119</td>
    </tr>
    <tr>
      <td>2844.6491</td>
      <td>0.096658</td>
      <td>0.525002</td>
    </tr>
    <tr>
      <td>2850.3728</td>
      <td>0.084432</td>
      <td>0.521884</td>
    </tr>
    <tr>
      <td>2856.0964</td>
      <td>0.072233</td>
      <td>0.518769</td>
    </tr>
    <tr>
      <td>2861.8201</td>
      <td>0.060050</td>
      <td>0.515656</td>
    </tr>
    <tr>
      <td>2867.5437</td>
      <td>0.047900</td>
      <td>0.512553</td>
    </tr>
    <tr>
      <td>2873.2673</td>
      <td>0.035777</td>
      <td>0.509454</td>
    </tr>
    <tr>
      <td>2878.9910</td>
      <td>0.023659</td>
      <td>0.506355</td>
    </tr>
    <tr>
      <td>2884.7146</td>
      <td>0.011547</td>
      <td>0.503260</td>
    </tr>
    <tr>
      <td>2890.4383</td>
      <td>-0.000526</td>
      <td>0.500171</td>
    </tr>
  </tbody>
</table>