<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2246.310</td>
      <td>0.108629</td>
      <td>0.543832</td>
    </tr>
    <tr>
      <td>2250.848</td>
      <td>0.096405</td>
      <td>0.540888</td>
    </tr>
    <tr>
      <td>2255.386</td>
      <td>0.084226</td>
      <td>0.537949</td>
    </tr>
    <tr>
      <td>2259.924</td>
      <td>0.072030</td>
      <td>0.535002</td>
    </tr>
    <tr>
      <td>2264.462</td>
      <td>0.059863</td>
      <td>0.532061</td>
    </tr>
    <tr>
      <td>2269.000</td>
      <td>0.047713</td>
      <td>0.529121</td>
    </tr>
    <tr>
      <td>2273.538</td>
      <td>0.035554</td>
      <td>0.526181</td>
    </tr>
    <tr>
      <td>2278.076</td>
      <td>0.023454</td>
      <td>0.523247</td>
    </tr>
    <tr>
      <td>2282.614</td>
      <td>0.011389</td>
      <td>0.520323</td>
    </tr>
    <tr>
      <td>2287.152</td>
      <td>-0.000705</td>
      <td>0.517387</td>
    </tr>
    <tr>
      <td>2291.690</td>
      <td>-0.012742</td>
      <td>0.514468</td>
    </tr>
  </tbody>
</table>