<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2741.0922</td>
      <td>0.217807</td>
      <td>0.576843</td>
    </tr>
    <tr>
      <td>2746.6298</td>
      <td>0.205462</td>
      <td>0.573759</td>
    </tr>
    <tr>
      <td>2752.1673</td>
      <td>0.193158</td>
      <td>0.570672</td>
    </tr>
    <tr>
      <td>2757.7049</td>
      <td>0.180840</td>
      <td>0.567580</td>
    </tr>
    <tr>
      <td>2763.2425</td>
      <td>0.168582</td>
      <td>0.564492</td>
    </tr>
    <tr>
      <td>2768.7800</td>
      <td>0.156286</td>
      <td>0.561398</td>
    </tr>
    <tr>
      <td>2774.3176</td>
      <td>0.144062</td>
      <td>0.558311</td>
    </tr>
    <tr>
      <td>2779.8551</td>
      <td>0.131884</td>
      <td>0.555230</td>
    </tr>
    <tr>
      <td>2785.3927</td>
      <td>0.119648</td>
      <td>0.552139</td>
    </tr>
    <tr>
      <td>2790.9303</td>
      <td>0.107475</td>
      <td>0.549055</td>
    </tr>
    <tr>
      <td>2796.4678</td>
      <td>0.095341</td>
      <td>0.545972</td>
    </tr>
  </tbody>
</table>