<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2118.1645</td>
      <td>0.148657</td>
      <td>0.536334</td>
    </tr>
    <tr>
      <td>2122.4436</td>
      <td>0.136948</td>
      <td>0.533310</td>
    </tr>
    <tr>
      <td>2126.7227</td>
      <td>0.125235</td>
      <td>0.530278</td>
    </tr>
    <tr>
      <td>2131.0018</td>
      <td>0.113587</td>
      <td>0.527262</td>
    </tr>
    <tr>
      <td>2135.2809</td>
      <td>0.101929</td>
      <td>0.524248</td>
    </tr>
    <tr>
      <td>2139.5601</td>
      <td>0.090313</td>
      <td>0.521238</td>
    </tr>
    <tr>
      <td>2143.8392</td>
      <td>0.078704</td>
      <td>0.518228</td>
    </tr>
    <tr>
      <td>2148.1183</td>
      <td>0.067100</td>
      <td>0.515219</td>
    </tr>
    <tr>
      <td>2152.3974</td>
      <td>0.055503</td>
      <td>0.512207</td>
    </tr>
    <tr>
      <td>2156.6765</td>
      <td>0.043975</td>
      <td>0.509213</td>
    </tr>
    <tr>
      <td>2160.9557</td>
      <td>0.032418</td>
      <td>0.506218</td>
    </tr>
  </tbody>
</table>