<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2553.5665</td>
      <td>0.094368</td>
      <td>0.525776</td>
    </tr>
    <tr>
      <td>2558.7252</td>
      <td>0.082213</td>
      <td>0.522826</td>
    </tr>
    <tr>
      <td>2563.8839</td>
      <td>0.070066</td>
      <td>0.519878</td>
    </tr>
    <tr>
      <td>2569.0427</td>
      <td>0.057960</td>
      <td>0.516934</td>
    </tr>
    <tr>
      <td>2574.2014</td>
      <td>0.045825</td>
      <td>0.513987</td>
    </tr>
    <tr>
      <td>2579.3601</td>
      <td>0.033773</td>
      <td>0.511056</td>
    </tr>
    <tr>
      <td>2584.5188</td>
      <td>0.021689</td>
      <td>0.508122</td>
    </tr>
    <tr>
      <td>2589.6775</td>
      <td>0.009634</td>
      <td>0.505184</td>
    </tr>
    <tr>
      <td>2594.8363</td>
      <td>-0.002356</td>
      <td>0.502268</td>
    </tr>
    <tr>
      <td>2599.9950</td>
      <td>-0.014366</td>
      <td>0.499345</td>
    </tr>
    <tr>
      <td>2605.1537</td>
      <td>-0.026381</td>
      <td>0.496422</td>
    </tr>
  </tbody>
</table>