<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2411.7391</td>
      <td>0.111953</td>
      <td>0.522354</td>
    </tr>
    <tr>
      <td>2416.6113</td>
      <td>0.099693</td>
      <td>0.519378</td>
    </tr>
    <tr>
      <td>2421.4835</td>
      <td>0.087445</td>
      <td>0.516402</td>
    </tr>
    <tr>
      <td>2426.3557</td>
      <td>0.075224</td>
      <td>0.513433</td>
    </tr>
    <tr>
      <td>2431.2279</td>
      <td>0.062979</td>
      <td>0.510459</td>
    </tr>
    <tr>
      <td>2436.1001</td>
      <td>0.050831</td>
      <td>0.507502</td>
    </tr>
    <tr>
      <td>2440.9723</td>
      <td>0.038636</td>
      <td>0.504535</td>
    </tr>
    <tr>
      <td>2445.8445</td>
      <td>0.026469</td>
      <td>0.501579</td>
    </tr>
    <tr>
      <td>2450.7167</td>
      <td>0.014357</td>
      <td>0.498628</td>
    </tr>
    <tr>
      <td>2455.5889</td>
      <td>0.002236</td>
      <td>0.495680</td>
    </tr>
    <tr>
      <td>2460.4611</td>
      <td>-0.009881</td>
      <td>0.492734</td>
    </tr>
  </tbody>
</table>