<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2778.9102</td>
      <td>0.100396</td>
      <td>0.518341</td>
    </tr>
    <tr>
      <td>2784.5241</td>
      <td>0.088198</td>
      <td>0.515224</td>
    </tr>
    <tr>
      <td>2790.1381</td>
      <td>0.076038</td>
      <td>0.512116</td>
    </tr>
    <tr>
      <td>2795.7521</td>
      <td>0.063876</td>
      <td>0.509013</td>
    </tr>
    <tr>
      <td>2801.3660</td>
      <td>0.051695</td>
      <td>0.505904</td>
    </tr>
    <tr>
      <td>2806.9800</td>
      <td>0.039579</td>
      <td>0.502809</td>
    </tr>
    <tr>
      <td>2812.5939</td>
      <td>0.027482</td>
      <td>0.499720</td>
    </tr>
    <tr>
      <td>2818.2079</td>
      <td>0.015370</td>
      <td>0.496622</td>
    </tr>
    <tr>
      <td>2823.8219</td>
      <td>0.003313</td>
      <td>0.493545</td>
    </tr>
    <tr>
      <td>2829.4358</td>
      <td>-0.008744</td>
      <td>0.490469</td>
    </tr>
    <tr>
      <td>2835.0498</td>
      <td>-0.020763</td>
      <td>0.487397</td>
    </tr>
  </tbody>
</table>