<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2121.7283</td>
      <td>0.120037</td>
      <td>0.518592</td>
    </tr>
    <tr>
      <td>2126.0146</td>
      <td>0.108430</td>
      <td>0.515580</td>
    </tr>
    <tr>
      <td>2130.3010</td>
      <td>0.096740</td>
      <td>0.512556</td>
    </tr>
    <tr>
      <td>2134.5873</td>
      <td>0.085180</td>
      <td>0.509551</td>
    </tr>
    <tr>
      <td>2138.8736</td>
      <td>0.073563</td>
      <td>0.506540</td>
    </tr>
    <tr>
      <td>2143.1599</td>
      <td>0.061989</td>
      <td>0.503537</td>
    </tr>
    <tr>
      <td>2147.4462</td>
      <td>0.050419</td>
      <td>0.500528</td>
    </tr>
    <tr>
      <td>2151.7326</td>
      <td>0.038859</td>
      <td>0.497528</td>
    </tr>
    <tr>
      <td>2156.0189</td>
      <td>0.027347</td>
      <td>0.494538</td>
    </tr>
    <tr>
      <td>2160.3052</td>
      <td>0.015820</td>
      <td>0.491543</td>
    </tr>
    <tr>
      <td>2164.5915</td>
      <td>0.004383</td>
      <td>0.488573</td>
    </tr>
  </tbody>
</table>