%h1 Compare
%h2 Comparison of Long Only, Linear Regression, Logistic Regression

%p Aggregated Effectiveness Report:
=render 'agg_effectiveness'

%p Detailed Effectiveness Report:
=render 'detailed_effectiveness'

