%h1 Whatif
%p I use a scenario to describe the idea behind this page.

%p What if I visit www.reg4.us on Monday night?

%p I should see predictions (Linear Regression, Logistic Regression) calculated from the Monday closing price.

%p What if I want to predict the prediction values for Tuesday night?

%p Obviously I cannot get those predictions because Tuesday closing price is unknown.

%p What if, however, Tuesday closing price is 0.5% lower than Monday closing price?

%p What if, however, Tuesday closing price is 0.5% higher than Monday closing price?

%p What if, however, Tuesday closing price is same as Monday closing price?

%p I want to calculate three predictions for each of the above scenarios.

%p Why do I want to calculate those three predictions?

%p
  I want those predictions because in some situations (usually when the market is 'quiet'),
  I can anticipate when I should switch the direction of my sentiment.

%p Usually my sentiment is bullish but I do want to know how much of a price-change should happen before I switch to bearish.
